Repository TheOdinProject/curriculum, changes with the labels that .github/labeler.yml gives for each.
All labels: Content: Advanced HTML/CSS, Content: Databases, Content: Getting Hired, Content: Git, Content: Intermediate HTML/CSS, Content: JavaScript, Content: NodeJS, Content: React, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Type: Chore

.github/labeler.yml:

'Content: Advanced HTML/CSS':
  - 'advanced_html_css/**/*'

'Content: Databases':
  - 'databases/**/*'

'Content: Getting Hired':
  - 'getting_hired/**/*'

'Content: Git':
  - 'git/**/*'

'Content: Intermediate HTML/CSS':
  - 'intermediate_html_css/**/*'

'Content: JavaScript':
  - 'javascript/**/*'

'Content: NodeJS':
  - 'nodeJS/**/*'

'Content: React':
  - 'react/**/*'

'Content: Ruby':
  - 'ruby/**/*'

'Content: Ruby on Rails':
  - 'ruby_on_rails/**/*'

'Content: Foundations':
  - 'foundations/**/*'

'Type: Chore':
  - 'archive/**/*'

Introduction To State: Responsive iframe (#26743)
  react/more_react_concepts/refs_and_memoization.md
  react/states_and_effects/introduction_to_state.md
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

Remove extra quotation marks and whitespace (#26577)
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

Move grid terminology video to "Additional Resources"
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

Refine grid terminology video link in "Additional Resources"
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

intermediate_html_css/grid: Add grid terminology video by PeterSommer (#26876)
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

update codeblock delimiter - svg
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS

Fix typo in project_messaging_app.md
  react/react_and_the_backend/project_messaging_app.md
Labels: Content: React

Update dynamic_user_interface_interactions.md
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
Labels: Content: JavaScript

Update dynamic_user_interface_interactions.md (#26879)
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
Labels: Content: JavaScript

update codeblock delimiter - svg (#26878)
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS

Fix typo in project_messaging_app.md (#26877)
  react/react_and_the_backend/project_messaging_app.md
Labels: Content: React

Intermediate HTML and CSS: Update codeblock delimiters per layout style guide
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

update code blocks to follow style guide
  intermediate_html_css/grid/positioning_grid_elements.md
Labels: Content: Intermediate HTML/CSS

Intermediate HTML and CSS: Update codeblock delimiters per layout style guide (#26886)
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

update code blocks to follow style guide (#26887)
  intermediate_html_css/grid/positioning_grid_elements.md
Labels: Content: Intermediate HTML/CSS

Custom Properties Lesson: Update codeblocks delimiters per layout style guide
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

changed ~ to to align with style guide
  intermediate_html_css/grid/advanced_grid_properties.md
Labels: Content: Intermediate HTML/CSS

changed ~ to to align with style guide (#26890)
  intermediate_html_css/grid/advanced_grid_properties.md
Labels: Content: Intermediate HTML/CSS

Custom Properties Lesson: Update codeblocks delimiters per layout style guide (#26889)
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

update Javascript to JavaScript
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

Update how_this_course_will_work.md
  foundations/introduction/how_this_course_will_work.md
Labels: Content: Foundations

update Javascript to JavaScript (#26892)
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

feat: Add a line under title tag
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

Update setting_up_a_react_environment.md
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

Change "I" to "We" in conclusion.md
  nodeJS/final_project/conclusion.md
Labels: Content: NodeJS

Change "I" to "We" in conclusion.md (#26896)
  nodeJS/final_project/conclusion.md
Labels: Content: NodeJS

Clear up example DOM manipulation and events
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

a new additional resource (a freecodecamp code about recursion) addedJavascript course/CS section/Rescursion Methods lesson.
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript

a new additional resource (a freecodecamp code about recursion) addedJavascript course/CS section/Rescursion Methods lesson. (#26900)
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript

Update ruby/advanced_ruby/project_custom_enumerables.md
  ruby/advanced_ruby/project_custom_enumerables.md
Labels: Content: Ruby

Update ruby/advanced_ruby/project_custom_enumerables.md
  ruby/advanced_ruby/project_custom_enumerables.md
Labels: Content: Ruby

Fix typo in frameworks_and_preprocessors.md
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
Labels: Content: Intermediate HTML/CSS

fix: Escape the vertical bar in title subsection
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

Apply suggestions from code review
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Fix grammar mistake
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Update explanasion of comlexity to include Linked List
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Update wording for growth calculation
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Fix map operation name
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Move video to additional resources
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Ensure capacity consistency
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript
