Repository TheOdinProject/curriculum, changes with the labels that .github/labeler.yml gives for each.
All labels: Content: Advanced HTML/CSS, Content: Databases, Content: Getting Hired, Content: Git, Content: Intermediate HTML/CSS, Content: JavaScript, Content: NodeJS, Content: React, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Type: Chore

Fix list indent 3
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

Fix list indent 4
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

Fix list indent 5
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

Fix list indent 6
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

Fix list indent 7
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

Fix list indent 8
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

Fix list indent 9
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

Fix list indent 10
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

Fix codeblock spaces
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

Reword to account for Rails pathway experience
  react/react_and_the_backend/project_messaging_app.md
Labels: Content: React

Fix missing word
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

Node messaging app: Mention expectations regarding real time functionality (#26830)
  react/react_and_the_backend/project_messaging_app.md
Labels: Content: React

Changed styling for note to use markdown styling instead of html to match repo style guide
  nodeJS/mongoDB/intro_to_mongoDB.md
Labels: Content: NodeJS

Update css_functions.md (#26818)
  intermediate_html_css/intermediate_css_concepts/css_functions.md
Labels: Content: Intermediate HTML/CSS

Update more_testing.md
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

Rails Odinbook: Rewrite in line with NodeJS
  ruby_on_rails/mailers_advanced_topics/project_final.md
Labels: Content: Ruby on Rails

Add mention of Gravatar
  nodeJS/final_project/project_odin_book.md
Labels: Content: NodeJS

Add link about img dimensions to add. resources
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

Remove extra line at end of document
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

JavaScript/testing_javascript/more_testing.md - move Jest setup to Additional Resources (#26836)
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

Add Adaptable.io as Node PaaS option
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

Update instructions on 'A Deeper Look at Git'
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

Improve wording for performance limitations
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

Improve consistency of wording against rest of lesson
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

Update installations.md
  foundations/installations/installations.md
Labels: Content: Foundations

Update instructions to include setting up Jest
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS

Installations.md > WSL: Remove step 1.1
  foundations/installations/installations.md
Labels: Content: Foundations

updated codeblock delimiters in advanced selectors lesson
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

Fix typo in installation_overview.md
  foundations/installations/installation_overview.md
Labels: Content: Foundations

updated codeblock delimiters in advanced selectors lesson (#26850)
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

test file added
  test.txt
Labels: none

git_basics:Fixed typo in img
  git/foundations_git/git_basics/imgs/01.png
Labels: Content: Git

Updated the merge sort video resource, from the outdated 2016 version, to the more recent 2023 version
  javascript/computer_science/project_recursion.md
Labels: Content: JavaScript

git_basics: fixed img size
  git/foundations_git/git_basics/imgs/01.png
Labels: Content: Git

fixed default branch in img
  git/foundations_git/git_basics/imgs/01.png
Labels: Content: Git

update to follow the style guide
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

Update codeblocks delimeters in css functions lesson
  intermediate_html_css/intermediate_css_concepts/css_functions.md
Labels: Content: Intermediate HTML/CSS

Update codeblocks delimeters in css functions lesson (#26858)
  intermediate_html_css/intermediate_css_concepts/css_functions.md
Labels: Content: Intermediate HTML/CSS

update to follow the style guide (#26857)
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

added future
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

.github/labeler.yml:

'Content: Advanced HTML/CSS':
  - 'advanced_html_css/**/*'

'Content: Databases':
  - 'databases/**/*'

'Content: Getting Hired':
  - 'getting_hired/**/*'

'Content: Git':
  - 'git/**/*'

'Content: Intermediate HTML/CSS':
  - 'intermediate_html_css/**/*'

'Content: JavaScript':
  - 'javascript/**/*'

'Content: NodeJS':
  - 'nodeJS/**/*'

'Content: React':
  - 'react/**/*'

'Content: Ruby':
  - 'ruby/**/*'

'Content: Ruby on Rails':
  - 'ruby_on_rails/**/*'

'Content: Foundations':
  - 'foundations/**/*'

'Type: Chore':
  - 'archive/**/*'
