Repository TheOdinProject/curriculum, changes with the labels that .github/labeler.yml gives for each.
All labels: Content: Advanced HTML/CSS, Content: Databases, Content: Getting Hired, Content: Git, Content: Intermediate HTML/CSS, Content: JavaScript, Content: NodeJS, Content: React, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Type: Chore

.github/labeler.yml:

'Content: Advanced HTML/CSS':
  - 'advanced_html_css/**/*'

'Content: Databases':
  - 'databases/**/*'

'Content: Getting Hired':
  - 'getting_hired/**/*'

'Content: Git':
  - 'git/**/*'

'Content: Intermediate HTML/CSS':
  - 'intermediate_html_css/**/*'

'Content: JavaScript':
  - 'javascript/**/*'

'Content: NodeJS':
  - 'nodeJS/**/*'

'Content: React':
  - 'react/**/*'

'Content: Ruby':
  - 'ruby/**/*'

'Content: Ruby on Rails':
  - 'ruby_on_rails/**/*'

'Content: Foundations':
  - 'foundations/**/*'

'Type: Chore':
  - 'archive/**/*'

Fix typo in Git Basics assignment
  git/foundations_git/git_basics.md
Labels: Content: Git

Update codeblock delimmiter #26794
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

Feat: Add new lesson
  foundations/javascript_basics/create-website-components.md
Labels: Content: Foundations

Update codeblock delimmiter #26794 (#26814)
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

updated codeblocks in DOM Manipulation & Events lesson
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

Add specific line details for warning message
  foundations/javascript_basics/javascript_developer_tools.md
Labels: Content: Foundations

Clarify sentence
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Fix grammar mistakes
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Fix grammar mistakes
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Move password hashing into a note
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Update hash map mentions to be capital case consistant
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Made a note that informs user they can skip installing MongoDB Compass in the MongoDB University course.
  nodeJS/mongoDB/intro_to_mongoDB.md
Labels: Content: NodeJS

Update css_functions.md
  intermediate_html_css/intermediate_css_concepts/css_functions.md
Labels: Content: Intermediate HTML/CSS

Remove unneccessary mentions, move neccessary mentions
  nodeJS/authentication/security_configuration.md
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

Fix typo
  nodeJS/authentication/security_configuration.md
Labels: Content: NodeJS

Clean up readabilty
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Add reminder about overwritting old values
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Add speicification of returning null for get function
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Improve wording in lesson
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
Labels: Content: Intermediate HTML/CSS

Fix information regarding callbacks. Fixes #26801
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

replaced broken Caesar cipher link with alternative resource
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript

Update Tools for Developers
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

Clarify which repository to be forked
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

Clarify which repository to be forked (#26824)
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

Updated code block deliamiters in rock_paper_scissors project
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

Clarifying the winning condition and accounting for ties
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

Updated code block deliamiters in rock_paper_scissors project (#26825)
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

Fix information regarding callbacks. Fixes #26801 (#26821)
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

Add second resource link so JS matches Ruby
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

replaced broken Caesar cipher link with alternative resource (#26822)
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript

Add template repo section to linting lesson
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

Improve wording
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

Add real time functionality expectations mention
  react/react_and_the_backend/project_messaging_app.md
Labels: Content: React

Implement suggest wording tweaks
  nodeJS/final_project/project_odin_book.md
Labels: Content: NodeJS

Add note about disabling Replit AI
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations

update 03.png image
  foundations/html_css/flexbox/imgs/03.png
Labels: Content: Foundations

moved 'If you wish, you can add Jest...' to Additional Resources
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

modify CSS properties. background => background-color, gap => margin
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations

Fix list indent 1
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

Fix list indent 2
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript
