Repository TheOdinProject/curriculum, changes with the labels that .github/labeler.yml gives for each.
All labels: Content: Advanced HTML/CSS, Content: Databases, Content: Getting Hired, Content: Git, Content: Intermediate HTML/CSS, Content: JavaScript, Content: NodeJS, Content: React, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Type: Chore

Update image to reflect new capacity
  javascript/computer_science/project_hash_map/imgs/01.png
Labels: Content: JavaScript

Update heading level
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Remove cipher exercise mention
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Fix wording
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Update wording
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Update lists per layout style guide
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

fix: Escape the vertical bar in title subsection (#26903)
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

Format note as note box (instead of blockquote)
  intermediate_html_css/grid/advanced_grid_properties.md
Labels: Content: Intermediate HTML/CSS

Update instructions for following along
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

Update wording for clarity
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

update codeblocks
  databases/databases/databases_and_sql.md
Labels: Content: Databases

update codeblocks (#26907)
  databases/databases/databases_and_sql.md
Labels: Content: Databases

Format note as note box (instead of blockquote) (#26906)
  intermediate_html_css/grid/advanced_grid_properties.md
Labels: Content: Intermediate HTML/CSS

Updated article link
  getting_hired/preparing_for_job_search/what_companies_want.md
Labels: Content: Getting Hired

updated cdn link to image: Create new repo using GitHub
  git/foundations_git/git_basics.md
Labels: Content: Git

Update .gitignore file
  .gitignore
Labels: none

Fix grammar and add new path for knight in file project_knights_travails.md
  javascript/computer_science/project_knights_travails.md
Labels: Content: JavaScript

updated cdn link to image: Create new repo using GitHub (#26909)
  git/foundations_git/git_basics.md
Labels: Content: Git

Change the language for the note section and revert grammar back to the original state
  javascript/computer_science/project_knights_travails.md
Labels: Content: JavaScript

Fix grammar and add new path for knight in file project_knights_trava… (#26911)
  javascript/computer_science/project_knights_travails.md
Labels: Content: JavaScript

Update codeblock delimiters: ES6 Modules lesson
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

Add example enumerable method before custom enumerable project
  ruby/advanced_ruby/project_custom_enumerables.md
Labels: Content: Ruby

Fix some spacing and phrasing
  ruby/advanced_ruby/project_custom_enumerables.md
Labels: Content: Ruby

Update codeblock delimiters: ES6 Modules lesson (#26914)
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

Fix minor spelling issues
  ruby/advanced_ruby/project_custom_enumerables.md
Labels: Content: Ruby

Ruby: Custom Enumerables Project: Add example enumerable method before assignment (#26915)
  ruby/advanced_ruby/project_custom_enumerables.md
Labels: Content: Ruby

Update styling to use markdown instead of html styling
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

Update lists per layout style guide
  git/foundations_git/commit_messages.md
Labels: Content: Git

Ruby Course "Using Git in the Real World" Lesson: instructions to encourage follow-along without assigned issues (#26916)
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

Update codeblock delimiters to backtick characters
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

Update using_git_in_the_real_world.md
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

Update markup to follow style guide
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

Update how_this_course_will_work.md
  foundations/introduction/how_this_course_will_work.md
Labels: Content: Foundations

Update codeblock delimiters to backtick characters (#26918)
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

Update markup to follow style guide (#26920)
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

Update using_git_in_the_real_world.md (#26919)
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

Update factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

Update factory_functions_and_module_pattern.md (#26923)
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

Realign ruby and js knight travails content
  javascript/computer_science/project_knights_travails.md
  ruby/computer_science/project_knights_travails.md
Labels: Content: JavaScript, Content: Ruby

Extract lesson from project
  javascript/computer_science/hash_map_data_structure.md
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

.github/labeler.yml:

'Content: Advanced HTML/CSS':
  - 'advanced_html_css/**/*'

'Content: Databases':
  - 'databases/**/*'

'Content: Getting Hired':
  - 'getting_hired/**/*'

'Content: Git':
  - 'git/**/*'

'Content: Intermediate HTML/CSS':
  - 'intermediate_html_css/**/*'

'Content: JavaScript':
  - 'javascript/**/*'

'Content: NodeJS':
  - 'nodeJS/**/*'

'Content: React':
  - 'react/**/*'

'Content: Ruby':
  - 'ruby/**/*'

'Content: Ruby on Rails':
  - 'ruby_on_rails/**/*'

'Content: Foundations':
  - 'foundations/**/*'

'Type: Chore':
  - 'archive/**/*'
