Repository TheOdinProject/curriculum, changes with the labels that .github/labeler.yml gives for each.
All labels: Content: Advanced HTML/CSS, Content: Databases, Content: Getting Hired, Content: Git, Content: Intermediate HTML/CSS, Content: JavaScript, Content: NodeJS, Content: React, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Type: Chore

Lesson Async and Await: Update code-block delimiters per layout style guide (#26945)
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript

Add video resource and change wording
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

Add video resource and change wording (#26946)
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

Apply suggestions from code review
  nodeJS/final_project/project_odin_book.md
Labels: Content: NodeJS

Update codeblock delimeters for Asynchronous Code lesson
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

Revert "Update codeblock delimeters for Asynchronous Code lesson"
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

Update codeblock delimeters for Asynchronous Code lesson
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

Time Complexity: fix link target and formatting (#26828)
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript, Content: Ruby

Apply suggestions from code review
  javascript/computer_science/hash_map_data_structure.md
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Remove unecessary overview
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

Update wording
  javascript/computer_science/hash_map_data_structure.md
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Asynchronous code layout update (#26947)
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

fix: guide to React dev tools fixed
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

Update code delimiters for Working with APIs lesson
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript

Apply suggestions from code review
  nodeJS/final_project/project_odin_book.md
Labels: Content: NodeJS

Update api_basics.md
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS

Update code delimiters for Working with APIs lesson (#26950)
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript

Typo: Fix "ES6 Modules"'s Lesson Overview section bullet line for better grammar
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

Typo: Fix "ES6 Modules"'s Lesson Overview section bullet line for better grammar (#26952)
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

Update api_basics.md (#26951)
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS

Project Landing Page: Added missing word
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

Fixed previous error
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

Project Landing Page: Add missing word (#26953)
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

Update link in assignment
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
Labels: Content: Ruby on Rails

Fix link to the right section
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
Labels: Content: Ruby on Rails

Remove redundant instruction
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript

change the word 'amount' to 'number'
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS

change the word 'amount' to 'number' (#26957)
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS

Replace and remove many simple keywords
  LAYOUT_STYLE_GUIDE.md
  advanced_html_css/accessibility/the_web_content_accessibility_guidelines_wcag.md
  foundations/javascript_basics/DOM_manipulation_and_events.md
  foundations/javascript_basics/fundamentals-5.md
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
  getting_hired/applying_and_interviewing/qualify_leads.md
  git/foundations_git/git_basics.md
  intermediate_html_css/grid/using_flexbox_and_grid.md
  javascript/computer_science/common_data_structures_algorithms.md
  javascript/computer_science/project_linked_lists.md
  nodeJS/express_and_mongoose/deployment.md
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
  nodeJS/express_and_mongoose/introduction_to_express.md
  react/more_react_concepts/reducing_state.md
  ruby/advanced_ruby/blocks.md
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby_projects/project_caesar_cipher.md
  ruby/computer_science/project_linked_lists.md
  ruby/computer_science/recursive_methods.md
  ruby/conclusion/project_ruby_final.md
  ruby/files_and_serialization/project_hangman.md
  ruby/introduction/how_this_course_will_work.md
  ruby/object_oriented_programming_basics/project_tic_tac_toe.md
  ruby/testing_ruby_with_rspec/project_connect_four.md
  ruby_on_rails/advanced_forms_and_activerecord/active_record_associations.md
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
  templates/project-example.md
Labels: Content: Advanced HTML/CSS, Content: Getting Hired, Content: Git, Content: Intermediate HTML/CSS, Content: JavaScript, Content: NodeJS, Content: React, Content: Ruby, Content: Ruby on Rails, Content: Foundations

Reword TS mention
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

Fix Ruby 'Files' lesson assignment 5, references
  ruby/files_and_serialization/files_and_serialization.md
Labels: Content: Ruby

Update turbo.md to fix typo
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

Update turbo.md to fix typo (#26961)
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

Update links and fix section numbers
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
Labels: Content: Ruby on Rails

JavaScript Course: Update codeblock delimiters per layout style guide in Project: Binary Search Trees
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

Update factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

ROR: The Asset Pipeline: Inconsistency of links in the 'Knowledge Check' section with the Assignment
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
Labels: Content: Ruby on Rails

JavaScript Course: Update codeblock delimiters per layout style guide in Project: Binary Search Trees (#26966)
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

ROR: The Asset Pipeline: Inconsistency of links in the 'Knowledge Check' section with the Assignment (#26967)
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
Labels: Content: Ruby on Rails

Use official Ruby 3.2 documentation for all links
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby/predicate_enumerable_methods.md
  ruby/files_and_serialization/project_event_manager.md
Labels: Content: Ruby

.github/labeler.yml:

'Content: Advanced HTML/CSS':
  - 'advanced_html_css/**/*'

'Content: Databases':
  - 'databases/**/*'

'Content: Getting Hired':
  - 'getting_hired/**/*'

'Content: Git':
  - 'git/**/*'

'Content: Intermediate HTML/CSS':
  - 'intermediate_html_css/**/*'

'Content: JavaScript':
  - 'javascript/**/*'

'Content: NodeJS':
  - 'nodeJS/**/*'

'Content: React':
  - 'react/**/*'

'Content: Ruby':
  - 'ruby/**/*'

'Content: Ruby on Rails':
  - 'ruby_on_rails/**/*'

'Content: Foundations':
  - 'foundations/**/*'

'Type: Chore':
  - 'archive/**/*'
