Repository TheOdinProject/curriculum, changes with the labels that .github/labeler.yml gives for each.
All labels: Content: Advanced HTML/CSS, Content: Databases, Content: Getting Hired, Content: Git, Content: Intermediate HTML/CSS, Content: JavaScript, Content: NodeJS, Content: React, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Type: Chore

.github/labeler.yml:

'Content: Advanced HTML/CSS':
  - 'advanced_html_css/**/*'

'Content: Databases':
  - 'databases/**/*'

'Content: Getting Hired':
  - 'getting_hired/**/*'

'Content: Git':
  - 'git/**/*'

'Content: Intermediate HTML/CSS':
  - 'intermediate_html_css/**/*'

'Content: JavaScript':
  - 'javascript/**/*'

'Content: NodeJS':
  - 'nodeJS/**/*'

'Content: React':
  - 'react/**/*'

'Content: Ruby':
  - 'ruby/**/*'

'Content: Ruby on Rails':
  - 'ruby_on_rails/**/*'

'Content: Foundations':
  - 'foundations/**/*'

'Type: Chore':
  - 'archive/**/*'

Fix typo in installation_overview.md (#26852)
  foundations/installations/installation_overview.md
Labels: Content: Foundations

Update instructions on 'A Deeper Look at Git' (#26843)
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

Update specificity explanation
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

Add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Update insertion order information
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Update information about Javascript dynamic arrays
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Add CODE_OF_CONDUCT.md and CONTRIBUTING.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: none

Add CODE_OF_CONDUCT.md and CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Add CODE_OF_CONDUCT.md and CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Add CODE_OF_CONDUCT.md and CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Updated Merge Sort Video Resource for Both Javascript And Ruby
  javascript/computer_science/project_recursion.md
  ruby/computer_science/project_recursion.md
Labels: Content: JavaScript, Content: Ruby

Update specificity explanation (#26861)
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

Node deployment: Add Adaptable.io as PaaS option (#26845)
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

updated image
  git/foundations_git/git_basics/imgs/01.png
Labels: Content: Git

git_basics: Fixed image 01.png
  git/foundations_git/git_basics/imgs/01.png
Labels: Content: Git

Code review + formatting
  ruby_on_rails/mailers_advanced_topics/project_final.md
Labels: Content: Ruby on Rails

modified: javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript

Clarify question
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

Add passport information
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

Add note on user.id
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

Intermediate HTML and CSS Course: Custom Properties Lesson: Update codeblocks delimiters
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS

intermediate_html_css/grid/creating_a_grid.md: Add grid terminology video by PeterSommerhoff
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

Intermediate HTML and CSS Course: Custom Properties Lesson: Update codeblocks delimiters (#26868)
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS

Updated the merge sort video resource, from the outdated 2016 version… (#26855)
  javascript/computer_science/project_recursion.md
  ruby/computer_science/project_recursion.md
Labels: Content: JavaScript, Content: Ruby

added a crash course link for jest testing.
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

git_basics: Fixing typo in image (#26856)
  git/foundations_git/git_basics/imgs/01.png
Labels: Content: Git

Clarify question (#26866)
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

Rails Odinbook: Rewrite in line with NodeJS (#26838)
  ruby_on_rails/mailers_advanced_topics/project_final.md
Labels: Content: Ruby on Rails

Update semantic_html.md
  advanced_html_css/accessibility/semantic_html.md
Labels: Content: Advanced HTML/CSS

Update semantic_html.md (#26871)
  advanced_html_css/accessibility/semantic_html.md
Labels: Content: Advanced HTML/CSS

Remove OpenSSL error instructions from Ruby Debugging lesson
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby

Remove commercial license info
  license.md
Labels: none

Changed relative and absolute link metaphor in link-and-images lesson
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

Remove OpenSSL error instructions from Ruby Debugging lesson (#26872)
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby

Remove commercial license info (#26873)
  license.md
Labels: none

Update links and images lesson
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

intermediate_html_css/grid: Add grid terminology video by PeterSommerhoff
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

add first ruby friend as a resource to networking guide (#26377)
  getting_hired/preparing_for_job_search/professional_networking.md
Labels: Content: Getting Hired

replace anchor tags with markdown links in Node JS Getting Started lesson (#26560)
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

replace anchor tags with markdown links in Introduction to Express lesson (#26562)
  nodeJS/express_and_mongoose/introduction_to_express.md
Labels: Content: NodeJS
