Repository TheOdinProject/curriculum, changes with the labels that .github/labeler.yml gives for each.
All labels: Content: Advanced HTML/CSS, Content: Databases, Content: Getting Hired, Content: Git, Content: Intermediate HTML/CSS, Content: JavaScript, Content: NodeJS, Content: React, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Type: Chore

.github/labeler.yml:

'Content: Advanced HTML/CSS':
  - 'advanced_html_css/**/*'

'Content: Databases':
  - 'databases/**/*'

'Content: Getting Hired':
  - 'getting_hired/**/*'

'Content: Git':
  - 'git/**/*'

'Content: Intermediate HTML/CSS':
  - 'intermediate_html_css/**/*'

'Content: JavaScript':
  - 'javascript/**/*'

'Content: NodeJS':
  - 'nodeJS/**/*'

'Content: React':
  - 'react/**/*'

'Content: Ruby':
  - 'ruby/**/*'

'Content: Ruby on Rails':
  - 'ruby_on_rails/**/*'

'Content: Foundations':
  - 'foundations/**/*'

'Type: Chore':
  - 'archive/**/*'

Update codeblock delimiters to backtick characters
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

Chore: fix typo in lesson-template.md
  templates/lesson-template.md
Labels: none

Javascript - space complexity lesson: Update codeblock to follow style guide
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript

Update codeblock delimiters to backtick characters (#26971)
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

Javascript - space complexity lesson: Update codeblock to follow style guide (#26974)
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript

Add missing lesson-note class
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

JavaScript Course: Update codeblock delimiters per layout style guide: Project Testing Practice
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript

Typo: fix lesson "ES6 Module" 's Knowledge Check section bullet for clearer reading
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

JavaScript Course: Update codeblock delimiters per layout style guide: Project Testing Practice (#26978)
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript

Installations lesson: fix typo in a link
  foundations/installations/installations.md
Labels: Content: Foundations

Installations lesson: fix typo in a link (#26982)
  foundations/installations/installations.md
Labels: Content: Foundations

Typo: fix lesson "ES6 Module" 's Knowledge Check section bullet for clearer reading (#26980)
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

update code blocks according to styleguide
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

Update knowledge check question
  javascript/computer_science/common_data_structures_algorithms.md
Labels: Content: JavaScript
