Repository TheOdinProject/curriculum, changes with the labels that .github/labeler.yml gives for each.
All labels: Content: Advanced HTML/CSS, Content: Databases, Content: Getting Hired, Content: Git, Content: Intermediate HTML/CSS, Content: JavaScript, Content: NodeJS, Content: React, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Type: Chore

Code delimiters updated: OOP principals
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

Update directory naming
  javascript/computer_science/hash_map_data_structure/imgs/00.png
  javascript/computer_science/hash_map_data_structure/imgs/01.png
Labels: Content: JavaScript

Update assignment instructions
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

Implement suggestions
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

Remove resource links from project
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Update headings
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Add knowledge check section
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

Update images pathe
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

Add suggested rewording
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

Update project section with assignment heading
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

Remove unecessary explanation
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

Remove duplicate images
  javascript/computer_science/project_hash_map/imgs/00.png
  javascript/computer_science/project_hash_map/imgs/01.png
Labels: Content: JavaScript

Code delimiters updated: OOP principals (#26925)
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

Realign ruby and js knight travails content (#26924)
  javascript/computer_science/project_knights_travails.md
  ruby/computer_science/project_knights_travails.md
Labels: Content: JavaScript, Content: Ruby

Project Library: Updating CodeBlock Delimiters
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

Use uniform wording when refferring to the Express tutorial
  nodeJS/express_and_mongoose/express_101.md
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
  nodeJS/express_and_mongoose/express_104_view_templates.md
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
Labels: Content: NodeJS

Project Library: Updating CodeBlock Delimiters (#26926)
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

Update project_shopping_cart.md
  react/the_react_ecosystem/project_shopping_cart.md
Labels: Content: React

Add learning outcome section
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

Correct folder name from 'recipe page' to 'recipes directory'
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

advanced html/css / responsive design: add additional resouce suggestion
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

webpack lesson: Update codeblock to follow style guide
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

webpack lesson: Update codeblock to follow style guide (#26933)
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

Update project_shopping_cart.md (#26929)
  react/the_react_ecosystem/project_shopping_cart.md
Labels: Content: React

advanced html/css / responsive design: add additional resouce suggestion (#26932)
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

Remove trailing slash
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

'Intro to CSS': Add missing task to assignment list
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

'Intro to CSS': Add not to not complete exercise 6
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

Remove redundant <> tags, format <svg> tags
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

Remove trailing slash (#26935)
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

Fix knowledge check inconsistency for second question
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

Fix knowledge check inconsistency for second question (#26943)
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

Clarify instruction
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript

Remove escapes 1
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

Remove escapes 2
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

Remove escapes 3
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

Remove escapes 4
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

Remove additional resource
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

Update codeblock delimiters to backtick characters
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript

Remove unnecessary white spaces in code blocks
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript

.github/labeler.yml:

'Content: Advanced HTML/CSS':
  - 'advanced_html_css/**/*'

'Content: Databases':
  - 'databases/**/*'

'Content: Getting Hired':
  - 'getting_hired/**/*'

'Content: Git':
  - 'git/**/*'

'Content: Intermediate HTML/CSS':
  - 'intermediate_html_css/**/*'

'Content: JavaScript':
  - 'javascript/**/*'

'Content: NodeJS':
  - 'nodeJS/**/*'

'Content: React':
  - 'react/**/*'

'Content: Ruby':
  - 'ruby/**/*'

'Content: Ruby on Rails':
  - 'ruby_on_rails/**/*'

'Content: Foundations':
  - 'foundations/**/*'

'Type: Chore':
  - 'archive/**/*'
