Repository TheOdinProject/curriculum, pull requests merged in 2019-09, with the labels that each got.

#11997 update with latest stable ruby release
  web_development_101/installations/installing_ruby.md
Labels: needs review

#12092 Rock-Paper-Scissors
  web_development_101/javascript_basics/project_rock_paper_scissors.md
Labels: awaiting changes

#12159 Add student solution.
  web_development_101/javascript_basics/project_calculator.md
  web_development_101/javascript_basics/project_etch_a_sketch.md
  web_development_101/javascript_basics/project_rock_paper_scissors.md
Labels: awaiting changes

#12176 Project: Rock paper scissors by Kuba Rafinski
  web_development_101/javascript_basics/project_rock_paper_scissors.md
Labels: awaiting changes

#12308 Update installing_node.md
  web_development_101/installations/installing_node.md
Labels: needs review

#11586 Changing bundle.js to main.js due to changes in webpack tutorial
  javascript/organizing-js/es6-modules.md
Labels: needs review, nodeJS

#12301 Updated project RPS
  web_development_101/javascript_basics/project_rock_paper_scissors.md
Labels: awaiting changes

#12419 Add my solution to HTML/CSS exercise
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes
