Repository TheOdinProject/curriculum, pull requests merged in 2020-05, with the labels that each got.

#16513 Update project_calculator.md
  web_development_101/javascript_basics/project_calculator.md
Labels: awaiting changes

#16457 Paper-rock-scissors
  web_development_101/javascript_basics/project_rock_paper_scissors.md
Labels: awaiting changes

#16413 add my etch-a-sketch solution
  web_development_101/javascript_basics/project_etch_a_sketch.md
Labels: awaiting changes

#16564 Add my solution to HTML/CSS exercise
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes

#16560 Add my solution
  web_development_101/javascript_basics/project_rock_paper_scissors.md
Labels: awaiting changes

#16551 Calculator project Jonathan Fallas
  web_development_101/javascript_basics/project_calculator.md
Labels: awaiting changes

#16613 Add my solution to first HTML project
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes

#16550 Rock Paper Jonathan Fallas
  web_development_101/javascript_basics/project_rock_paper_scissors.md
Labels: awaiting changes

#16705 Please add my solution
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes

#16463 Copied Extras section to be included in the Unbuntu installation
  ruby_programming/introduction/installing_ruby.md
Labels: awaiting changes

#16535 Update project_html_css.md
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes

#16683 Ornick Pouth's Solution (@opouth)
  ruby_programming/basic_ruby_projects/caesar_cipher.md
Labels: awaiting changes

#16679 Submit my solution
  web_development_101/javascript_basics/project_calculator.md
Labels: awaiting changes

#16686 Added solutions to tic-tac-toe and restaurant projects
  javascript/organizing-js/restaurant-project.md
Labels: awaiting changes

#16799 Added Solution Link to Google HomePage Clone
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes

#16832 Etch-a-Sketch Solution
  web_development_101/javascript_basics/project_etch_a_sketch.md
Labels: awaiting changes

#16848 My solution (Rock-Paper-Scissors, complex way) + Etch-a-Sketch
  web_development_101/javascript_basics/project_etch_a_sketch.md
  web_development_101/javascript_basics/project_rock_paper_scissors.md
Labels: awaiting changes

#16846 Update project_calculator
  web_development_101/javascript_basics/project_calculator.md
Labels: awaiting changes

#16680 removed div tag typo in extra credit section
  ruby_programming/computer_science/project_linked_lists.md
Labels: awaiting changes

#16859 Addin solution link to the project_etch_a_sketch.md file
  web_development_101/javascript_basics/project_etch_a_sketch.md
Labels: awaiting changes

#16876 Adding my Active record project
  rails_programming/databases_and_activerecord/project_ar_basics.md
Labels: awaiting changes

#16981 Uduak Essien's Solution Added!
  html_css/project_positioning.md
Labels: awaiting changes

#17066 Library solution
  javascript/organizing-js/library-project.md
Labels: awaiting response

#17089 Update project_calculator.md
  web_development_101/javascript_basics/project_calculator.md
Labels: awaiting changes

#16930 clarify instructions for learn.co tutorial
  ruby_programming/basic_ruby/debugging.md
Labels: needs review

#17219 Update project_html_css.md
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes

#17357 Suggestions for lesson improvement
  javascript/organizing-js/restaurant-project.md
Labels: needs review

#17581 miss use in any? method
  ruby_programming/basic_ruby/predicate_enumerable_methods.md
Labels: needs review
