Repository TheOdinProject/curriculum, pull requests merged in 2020-06, with the labels that each got.

#17824 Add my solution to HTML/CSS exercise
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes

#17823 Update project_linked_lists.md
  ruby_programming/computer_science/project_linked_lists.md
Labels: awaiting changes

#17976 solution added
  web_development_101/javascript_basics/project_calculator.md
Labels: awaiting changes

#18068 Added my solution to HTML/CSS exercise
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes

#18104 Add my solution to Etch-a-Sketch Project
  web_development_101/javascript_basics/project_etch_a_sketch.md
Labels: awaiting changes

#16258 Express Mini Messageboard Code Blocks Fix
  nodeJS/express-basics/Express-Mini-Message-Board.md
Labels: needs review

#18253 Marvellous Solution (Easy)
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes

#18342 Added rbenv rehash for users with rbenv installed
  rails_programming/introduction/installing_rails.md
Labels: awaiting response
