Repository TheOdinProject/curriculum, pull requests merged in 2020-07, with the labels that each got.

#18355 Add explanation that addEventListener uses callbacks
  web_development_101/javascript_basics/DOM-manipulation.md
Labels: awaiting response, needs review

#18881 Adding projects to The Odin Project
  javascript/organizing-js/library-project.md
  javascript/organizing-js/restaurant-project.md
  javascript/organizing-js/tic-tac-toe-project.md
  web_development_101/javascript_basics/project_calculator.md
  web_development_101/javascript_basics/project_etch_a_sketch.md
Labels: awaiting changes

#18822 Add project and fix link
  html_css/project_html_forms.md
Labels: awaiting changes

#18256 remove block, add pretty_print and additional resources
  ruby_programming/computer_science/project_data_structures_algorithms.md
Labels: needs review

#18278 Add section on form_with helper tag
  rails_programming/forms_and_authentication/form_basics.md
Labels: awaiting changes, needs review

#19417 Update problem_solving.md
  ruby_programming/basic_ruby/problem_solving.md
Labels: awaiting response

#19407 adding my version of rock paper scissors with a simple UI
  web_development_101/javascript_basics/project_rock_paper_scissors.md
Labels: awaiting changes

#19651 add Carlos Anriquez's solution - weather app
  javascript/async-apis/project.md
Labels: awaiting response

#19719 Update lesson_oop.md
  ruby_programming/intermediate_ruby/lesson_oop.md
Labels: needs review

#18638 changed definition of step 7 from 'depth' to more accurate 'height'
  ruby_programming/computer_science/project_data_structures_algorithms.md
Labels: needs review
