Repository TheOdinProject/curriculum, pull requests merged in 2020-08, with the labels that each got.

#19960 Add link to finished project
  web_development_101/the_front_end/project_html_css.md
Labels: awaiting changes

#20040 Update project_background.md
  html_css/project_backgrounds.md
Labels: awaiting changes

#20317 Update project_data_structures_algorithms.md
  ruby_programming/computer_science/project_data_structures_algorithms.md
Labels: needs review

#20547 add my solution to the list
  html_css/project_responsive.md
Labels: awaiting response
