Repository TheOdinProject/curriculum, pull requests merged in 2021-12, with the labels that each got.

#23131 Move Learning Outcomes to the top
  foundations/javascript_basics/fundamentals-5.md
Labels: awaiting changes

#23084 Update database_basics_lesson.md w/note on SQL vs NoSQL
  databases/database_basics_lesson.md
Labels: awaiting changes

#23125 Add learning outcomes and knowledge checks with links to Ruby/Using Git in the Real World lesson
  ruby_programming/git/lesson_using_git_in_the_real_world.md
Labels: awaiting changes

#23085 solves issue #22929 by adding knowledge checks and links to Ruby/Test Driven Development lesson
  ruby_programming/testing_with_rspec/test_driven_development.md
Labels: awaiting changes

#23086 rephrases second sentence in first assignment in Ruby/Test Driven Development lesson
  ruby_programming/testing_with_rspec/test_driven_development.md
Labels: awaiting changes

#23127 Update rails backend lesson
  javascript/js-rails/rails_backend.md
Labels: awaiting changes

#23157 Add knowledge checks and links to Introduction to RSpec lesson
  ruby_programming/testing_with_rspec/introduction_to_rspec.md
Labels: awaiting changes

#23166 added small warning
  foundations/javascript_basics/fundamentals-3.md
Labels: awaiting changes

#23114 closes #22923 ruby files and serialization add missing knowledge check and links
  ruby_programming/files_and_serialization/lesson_serialization.md
Labels: awaiting changes

#22992 Edit calculator instructions
  foundations/javascript_basics/project_calculator.md
Labels: awaiting response

#23191 Update verbiage and remove content - Transforms lesson
  html_css/v2/main-course/animation/transforms.md
Labels: in progress

#23202 Update head element section in html-boilerplate.md
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: awaiting changes

#23218 remove broken link from add resources
  ruby_programming/files_and_serialization/lesson_serialization.md
Labels: awaiting changes
