Repository TheOdinProject/curriculum, pull requests merged in 2022-11, with the labels that each got.

#24810 Foundations, Fundamentals II: Improve grammar
  foundations/javascript_basics/fundamentals-2.md
Labels: Status: Awaiting Response, Content: Foundations

#24859 Preparing to Interview and Interviewing Lesson: Fix broken link
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
Labels: Status: Accepted, Content: Getting Hired

#24849 Fix grammar errors curriculum/testing_routes_and_controllers.md
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Status: Accepted, Content: NodeJS

#24845 working_with_apis.md: Replace http with https for openweathermap api
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Status: Accepted, Content: JavaScript

#24843 replace router learning outcomes since withRouter section was removed
  javascript/react_js/advanced_concepts.md
Labels: Status: Accepted, Content: JavaScript

#24814 React Revamp: Props lesson
  react/getting_started_with_react/passing_data_between_components/passing_data_between_components.md
Labels: Status: Accepted, Project: React Revamp

#24830 Update controllers.md file from Rails Basic in Curriculum | Fix #24665 controllers.md file
  ruby_on_rails/rails_basics/controllers.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24866 Fixed knowledge check section (Line 60-65)
  ruby/computer_science/common_data_structures_algorithms.md
Labels: Content: Ruby

#24861 Add open-URI note on Assignment 5 text showing Kernel#open deprecation
  ruby/files_and_serialization/files_and_serialization.md
Labels: Content: Ruby

#24842 React Revamp: Add Component Lifecycle Methods lesson
  react/class_components/component_lifecycle_methods.md
Labels: Status: Awaiting Changes, Project: React Revamp

#24881 Growing and Shrinking lesson: Fix typo
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Status: Accepted, Content: Foundations

#24603 Added new unit test lesson for RoR section.
  ruby_on_rails/testing/unit_testing.md
Labels: Status: Awaiting Changes, Content: Ruby on Rails

#24884 Installing Rails: make commits messages follow "commits best practices"
  ruby_on_rails/introduction/project_installing_rails.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24883 Importmaps lesson: Fix capitalizations and sentence flow
  ruby_on_rails/assets_and_navigation/importmap.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24879 getting hired course: fixed dead link in strategy.md
  getting_hired/preparing_for_job_search/strategy.md
Labels: Content: Getting Hired, Status: Needs Triage

#24815 Using Ruby On Rails For Your Back End: Fix link URLs
  javascript/javascript_and_the_backend/using_rails_for_your_backend.md
Labels: Content: Ruby on Rails

#24891 https://www.theodinproject.com/lessons/foundations-calculator: Fixes anchor link for eval
  foundations/javascript_basics/project_calculator.md
Labels: Content: Foundations, Status: Needs Triage

#24887 Foundations> Recipes Project: Link new images from imgs directory
  foundations/html_css/html-foundations/elements-and-tags.md
  foundations/html_css/html-foundations/imgs/element-diagram.png
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations, Status: Needs Triage

#24889 API basics: fix API URI typo
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS, Status: Needs Triage

#24862 JavaScript Developer Tools: Remove 2nd assignment
  foundations/javascript_basics/javascript_developer_tools.md
Labels: Content: Foundations, Status: Needs Triage

#24897 CSS Bundling lesson: Improve grammar, punctuation, and capitalization of words
  ruby_on_rails/rails_sprinkles/css_bundling.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24875 Include explanation for CSS values and their units
  foundations/html_css/css-foundations.md
Labels: Status: Awaiting Changes, Content: Foundations

#24690 Fix Grammar: Problem Solving
  foundations/javascript_basics/problem_solving.md
Labels: Status: Awaiting Response, Content: Foundations

#24900 ruby nested collections: fix broken learn.co link
  ruby/basic_ruby/nested_collections.md
Labels: Content: Ruby, Status: Needs Triage

#24898 Rails: How This Course Will Work | Improve grammar
  ruby_on_rails/introduction/how_this_course_will_work.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24896 Git Basics: Updated to reflect GitHub UI changes for new repositories
  git/foundations_git/git_basics/imgs/01.png
Labels: Status: Needs Triage, Content: Git

#24895 JavaScript Basics - Fundamentals 3: Warn against doing MDN exercises
  foundations/javascript_basics/fundamentals-3.md
Labels: Content: Foundations, Status: Needs Triage

#24903 Project: Blog API: Fix typo
  nodeJS/apis/project_blog_api.md
Labels: Content: NodeJS, Status: Needs Triage

#24893 Intermediate HTML Concepts: Added new svg resource
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24905 Ruby Project Event Manager: Fixed typo in lesson
  ruby/files_and_serialization/project_event_manager.md
Labels: Content: Ruby, Status: Needs Triage

#24907 change href of knowledge check link in introduction to grid lesson
  intermediate_html_css/grid/introduction_to_grid.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24851 Foundations, Git Basics: Clarify what home folder is, style guide improvements
  git/foundations_git/git_basics.md
Labels: Status: Needs Triage, Content: Git

#24910 Ruby Debugging Lesson: remove note regarding `bundle exec`
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby, Status: Needs Triage

#24911 ES6 Modules: Remove note about sample config
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript, Status: Needs Triage

#24872 Installing Node.js: update Node LTS version
  foundations/javascript_basics/installing_nodejs.md
Labels: Status: Awaiting Changes, Content: Foundations

#24916 Installing Ruby: fixes consistent use of $
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby, Status: Needs Triage

#24918 Ruby Blocks lesson: Remove comment with incorrect information
  ruby/advanced_ruby/blocks.md
Labels: Content: Ruby, Status: Needs Triage

#24885 Project: Micro-Reddit: Add tip for using rails c instead of rails console
  ruby_on_rails/active_record_basics/project_micro_reddit.md
Labels: Content: Ruby on Rails

#24920 Chore: Update Heroku Free Plan Deadline
  ruby_on_rails/introduction/preparing_for_deployment.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24921 Intermediate HTML/CSS, SVG: Define React as a JS library, not a framework
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24927 Introduction to MongoDB: Update course assignment
  nodeJS/mongoDB/intro_to_mongoDB.md
Labels: Content: NodeJS, Status: Needs Triage

#24925 Intermediate HTML/CSS,Default Styles: Fix period missing at the end of the sentence
  intermediate_html_css/intermediate_css_concepts/default_styles.md
Labels: Status: Accepted, Status: Needs Triage

#24929 Introduction to Web Development: Add JavaScript to backend language examples
  foundations/introduction/introduction_to_web_development.md
Labels: Status: Accepted, Content: Foundations
