Repository TheOdinProject/curriculum, pull requests merged in 2022-10, with the labels that each got.

#24707 Hanle Inputs. and Render Lists: Change capitalization to fit original file name
  javascript/react_js/handle_inputs_and_render_lists.md
Labels: Content: JavaScript, Status: Needs Triage

#24712 Introduction to Grid: Added Video to Sup. Material
  intermediate_html_css/grid/introduction_to_grid.md
Labels: Status: Accepted, Content: Intermediate HTML/CSS

#24714 Add educative article in additional resources
  javascript/computer_science/project_recursion.md
Labels: Content: JavaScript, Status: Needs Triage

#24718 Recursive Methods: Change wording of Test Yourself section
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript, Status: Needs Triage

#24698 HTML Boilerplate: Replace HTML validator link
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Status: Awaiting Changes, Content: Foundations

#24700 Turbo Drive lesson: Fix punctuation, capitalizations, break up long sentence
  ruby_on_rails/assets_and_navigation/turbo_drive.md
Labels: Status: Awaiting Changes, Content: Ruby on Rails

#24701 Update project_event_manager.md: Fix space between legislators urls
  ruby/files_and_serialization/project_event_manager.md
Labels: Status: Awaiting Response, Content: Ruby

#24649 Foundations: Apply image style guide #24334
  foundations/html_css/css-foundations/imgs/00.jpg
  foundations/installations/installations.md
  foundations/installations/setting_up_git.md
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations, Status: Needs Triage

#24651 React Hooks: changed confusing phrasing about 'useEffect' and ESLint
  javascript/react_js/hooks.md
Labels: Content: JavaScript, Status: Needs Triage

#24704 Foundations Installations: Provide more reassurance about Chrome's terminal behaviour
  foundations/installations/installations.md
Labels: Content: Foundations, Status: Needs Triage

#24705 Foundations Installations and Text Editors: Explain the install notice learner might see
  foundations/installations/installations.md
  foundations/installations/text_editors.md
Labels: Content: Foundations, Status: Needs Triage

#24726 Intro to MongoDB: Add notice regarding Ubuntu 22.04 support
  nodeJS/mongoDB/intro_to_mongoDB.md
Labels: Content: NodeJS, Status: Needs Triage

#24727 Git Basics: add a teaser for future lesson
  git/foundations_git/git_basics.md
Labels: Status: Accepted, Content: Git

#24732 Objects and Object Constructors: fix typo
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript, Status: Needs Triage

#24733 Convert basic css syntax image link to statically link
  foundations/html_css/css-foundations.md
Labels: Content: Foundations, Status: Needs Triage

#24542 Foundations Flexbox growing and shrinking lesson: Knowledge Check Addition
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Status: Awaiting Response, Content: Foundations

#24735 git foundations, commit messages lesson: add conventional commit additional resource
  git/foundations_git/commit_messages.md
Labels: Status: Needs Triage, Content: Git

#24670 Project: Battleship. Change wording of assignment
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript, Status: Needs Triage

#24703 Basic Ruby lesson: word insertion
  ruby/basic_ruby/nested_collections.md
Labels: Content: Ruby, Status: Needs Triage

#24722 Positioning Grid Elements lesson: Fix subheading
  intermediate_html_css/grid/positioning_grid_elements.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24709 Text Editors lesson: Added newline after Headings
  foundations/installations/text_editors.md
Labels: Content: Foundations, Status: Needs Triage

#24710 Command Line Basics lesson: Fixed Headings
  foundations/installations/command_line_basics.md
Labels: Content: Foundations, Status: Needs Triage

#24711 Setting Up GIt lesson: Fixed Headings
  foundations/installations/setting_up_git.md
Labels: Content: Foundations, Status: Needs Triage

#24708 Prerequisites lesson: Inline Sub-Headings fixed
  foundations/installations/installations.md
Labels: Status: Awaiting Changes, Content: Foundations

#24734 Sync foundations README with curriculum
  foundations/README.md
Labels: Content: Foundations, Status: Needs Triage

#24736 Input and Output: Apply correct markdown
  ruby/basic_ruby/input_and_output.md
Labels: Content: Ruby, Status: Needs Triage

#24739 Fundamentals/JS Fundamentals2 clarifying note about conditional reading #3
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations, Status: Needs Triage

#24748 HTML-Boilerplate: Replace dead link with updated content
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations, Status: Needs Triage

#24601 Easy Fix: Clarify instructions in fundamentals-2.md Ex.2
  foundations/javascript_basics/fundamentals-2.md
Labels: Status: Needs Review, Content: Foundations

#24725 Proper description for the additional resources
  foundations/html_css/html-foundations/working-with-text.md
Labels: Status: Awaiting Response, Content: Foundations

#24754 NodeJS: Update links to NodeJS.dev content
  javascript/computer_science/project_recursion.md
  nodeJS/introduction_to_nodeJS/getting_started.md
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: JavaScript, Content: NodeJS, Status: Needs Triage

#24744 Ruby Conclusion Lesson: Update lesson with some nit changes
  ruby/conclusion/conclusion.md
Labels: Content: Ruby, Status: Needs Triage

#24753 Databases, Databases and SQL lesson: Fix capitalization of table name
  databases/databases/databases_and_sql.md
Labels: Content: Databases, Status: Needs Triage

#24740 React State and Props lesson: Add warning about mistake in linked article
  javascript/react_js/state_and_props.md
Labels: Content: JavaScript, Status: Needs Triage

#24743 fix lesson layout according to style guide
  intermediate_html_css/intermediate_html_concepts/emmet.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24752 Rails: Update project_forms to follow style guide
  ruby_on_rails/forms_and_authentication/project_forms.md
Labels: Content: Ruby on Rails

#24758 React Revamp: Replace local image link with Statically link for Setting up a React Environment lesson
  react/introduction/setting_up_a_react_environment.md
Labels: Status: Accepted

#24759 JavaScript Fundamentals Part 2: fix replit typo
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations, Status: Needs Triage

#24715 Introduction to Grid lesson: Fix grammer mistake in subheading
  intermediate_html_css/grid/introduction_to_grid.md
Labels: Status: Awaiting Response, Content: Intermediate HTML/CSS

#24763 Fix knowledge check question answer
  intermediate_html_css/grid/introduction_to_grid.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24762 Git Basics: Fix git basics markdown and sentence clarity
  git/foundations_git/git_basics.md
Labels: Status: Needs Review, Content: Git

#24764 curriculum/ruby_on_rails/rails_basics/views.md: added space to align <% end %> with the if block
  ruby_on_rails/rails_basics/views.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24749 Rails: Update importmap lesson to follow the style guide
  ruby_on_rails/assets_and_navigation/importmap.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24750 Rails: Update turbo_drive lesson to follow the style guide
  ruby_on_rails/assets_and_navigation/turbo_drive.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24751 Rails: Update form_basics lesson to follow the style guide
  ruby_on_rails/forms_and_authentication/form_basics.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24756 Refactoring SVG lesson to fit with TOP styleguide
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24760 Javascript: Update lessons to follow layout style guide
  javascript/introduction/a_quick_review.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
  javascript/organizing_your_javascript_code/organizing_your_javascript_code_introduction.md
Labels: Content: JavaScript, Status: Needs Triage

#24767 Rails Installation: update yarn install instructions
  ruby_on_rails/introduction/project_installing_rails.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24719 Advanced Grid Properties lesson: Change section title and style
  intermediate_html_css/grid/advanced_grid_properties.md
Labels: Status: Awaiting Changes, Content: Intermediate HTML/CSS

#24771 Stimulus: Fix capitalization for consistency
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Status: Accepted, Content: Ruby on Rails

#24761 Basic Ruby: Clarify error on external link
  ruby/basic_ruby/hashes.md
Labels: Status: Awaiting Changes, Content: Ruby

#24769 Fixed some capitilization issue
  ruby_on_rails/introduction/how_this_course_will_work.md
Labels: Content: Ruby on Rails

#24770 Javascript: Update Organizing your JavaScript Code lessons to follow layout style guide
  javascript/organizing_your_javascript_code/classes.md
  javascript/organizing_your_javascript_code/es6_modules.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/oop_principles.md
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript, Status: Needs Triage

#24777 Ruby, Installing Ruby: Change header to match others in the curriculum
  ruby/introduction/installing_ruby.md
Labels: Status: Accepted, Content: Ruby

#24773 Ruby on Rails, A Railsy Web Refresher: Update info on Devise, improve lesson per Style Guide
  ruby_on_rails/introduction/web_refresher.md
Labels: Status: Awaiting Response, Content: Ruby on Rails

#24781 Update a_deeper_look_at_git.md TYPO
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Status: Needs Triage, Content: Git

#24778 Javascript: Update JavaScript in the Real World lessons to follow layout style guide
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
  javascript/javascript_in_the_real_world/linting.md
  javascript/javascript_in_the_real_world/what_is_es6.md
Labels: Content: JavaScript, Status: Needs Triage

#24775 Fix table lesson styleguide
  intermediate_html_css/intermediate_html_concepts/tables.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24780 Installing Ruby: Update homebrew installation to new bash script
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby, Status: Needs Triage

#24784 Setting Up Git: Update instructions to include privacy steps
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#24721 javascript/javascript_in_the_real_world/linting.md: added info about the eslint and prettier conflict when used together and a fix
  javascript/javascript_in_the_real_world/linting.md
Labels: Status: Awaiting Changes, Content: JavaScript

#24787 Nested Collections lesson: Fix additional resources section
  ruby/basic_ruby/nested_collections.md
Labels: Content: Ruby, Status: Needs Triage

#24791 Express 103: Add additional resources section
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
Labels: Content: NodeJS, Status: Needs Triage

#24792 Express 104: Add additional resources section
  nodeJS/express_and_mongoose/express_104_view_templates.md
Labels: Content: NodeJS, Status: Needs Triage

#24794 Installations: update instructions
  foundations/installations/installations.md
Labels: Status: Accepted, Content: Foundations

#24616 React Revamp: Rendering Techniques Lesson
  react/getting_started_with_react/rendering_techniques.md
Labels: Status: Accepted, Project: React Revamp

#24788 Introduction To Git lesson: Fix link text
  git/foundations_git/introduction_to_git.md
Labels: Status: Accepted, Content: Git

#24800 Project Micro Reddit lesson: Change "I'll" to "We'll"
  ruby_on_rails/active_record_basics/project_micro_reddit.md
Labels: Status: Accepted, Content: Ruby on Rails

#24571 JS Fundamentals - Part 1: Add link to explain difference between var, let and const | Add consistent naming to operators
  foundations/javascript_basics/fundamentals-1.md
Labels: Status: Awaiting Changes, Content: Foundations

#24808 Foundations, Installations: temporarily change VirtualBox download link
  foundations/installations/installations.md
Labels: Status: Accepted, Content: Foundations

#24806 Foundations, Introduction to HTML & CSS: Fix broken link in assignment
  foundations/html_css/intro-to-html-css.md
Labels: Status: Accepted, Content: Foundations

#24813 ruby basic enumerable methods lesson: typo fixes
  ruby/basic_ruby/basic_enumerable_methods.md
Labels: Content: Ruby, Status: Needs Triage

#24812 Block and inline lesson: Improve grammar
  foundations/html_css/block-and-inline.md
Labels: Content: Foundations, Status: Needs Triage

#24809 Setting Up Git: Change incorrect wording from "GitHub" to "Git"
  foundations/installations/setting_up_git.md
Labels: Content: Foundations, Status: Needs Triage

#24796 JavaScript: Update a very brief intro to CS to follow style guide
  javascript/computer_science/a_very_brief_intro_to_cs.md
Labels: Content: JavaScript, Status: Needs Triage

#24797 JavaScript: Update Recursive Methods to follow style guide
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript, Status: Needs Triage

#24799 JavaScript: Update Testing Basics to follow style guide
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript, Status: Needs Triage

#24774 Ruby on Rails, Databases: Improve lessons per Style Guide
  databases/databases/databases.md
  databases/databases/databases_and_sql.md
  databases/databases/project_sql_zoo.md
Labels: Status: Discussion, Content: Databases

#24568 Update fundamentals-3.md
  foundations/javascript_basics/fundamentals-3.md
Labels: Status: Awaiting Response, Content: Foundations

#24802 Rails: Install PostgreSQL Lesson
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#24833 Chore: Markdown Knowledge Links
  LAYOUT_STYLE_GUIDE.md
Labels: Status: Needs Review, Type: Chore

#24823 Rails - Kittens API: Rename Your Task to Assignment 1 and Assignment 2
  ruby_on_rails/apis/project_kittens_api.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24834 Update project_blog_api.md old link
  nodeJS/apis/project_blog_api.md
Labels: Status: Awaiting Changes, Content: NodeJS

#24832 Changing repl.it to replit.
  nodeJS/introduction_to_nodeJS/project_basic_informational_site.md
Labels: Content: NodeJS, Status: Needs Triage

#24636 React Revamp: React Introduction
  react/react_introduction_rewrite.md
Labels: Status: Accepted, Project: React Revamp

#24838 OOP Principles lesson: Add an additional resource
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

#24828 Problem Solving lesson: Grammar fixes
  foundations/javascript_basics/problem_solving.md
Labels: Content: Foundations, Status: Needs Triage

#24837 Intermediate HTML and CSS: Intro to Grid: Fixed typo
  intermediate_html_css/grid/introduction_to_grid.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24824 Linting lesson: Replace existing linting article with more professional one
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript, Status: Needs Triage

#24790 JavaScript course conclusion: Clarify conclusion text, add context about other lessons closes #24031
  javascript/finishing_up_with_javascript/conclusion.md
Labels: Status: Discussion, Content: JavaScript

#24798 JavaScript: Update Common Data Structures And Algorithms to follow style guide
  javascript/computer_science/common_data_structures_algorithms.md
Labels: Status: Awaiting Changes, Content: JavaScript

#24818 Add notes for preventDefault() in calculator and library assignment
  foundations/javascript_basics/project_calculator.md
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript, Content: Foundations, Status: Needs Triage

#24785 Javascript: Update Asynchronous JavaScript and APIs lessons to follow layout style guide
  javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
  javascript/asynchronous_javascript_and_apis/json.md
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Status: Awaiting Changes, Content: JavaScript

#24786 Foundations, JavaScript Basics Fundamentals Part 3: Improve example and style
  foundations/javascript_basics/fundamentals-3.md
Labels: Status: Discussion, Content: Foundations

#24776 Foundations, Installations: Improve VM instructions and some Style Guide fixes
  foundations/installations/installations.md
Labels: Status: Discussion, Content: Foundations

#24702 React Revamp: Components Lesson
  react/components.md
  react/imgs/00.png
Labels: Status: Accepted, Project: React Revamp

#24853 Ruby, Advanced Ruby: Changed variable name to be more clear
  ruby/advanced_ruby/blocks.md
Labels: Content: Ruby, Status: Needs Triage

#24854 Chore: Delete code of conduct
  CODE_OF_CONDUCT.md
Labels: Type: Documentation, Status: Needs Triage

#24856 foundations/setting up git: add merge behavior setting instruction
  foundations/installations/setting_up_git.md
Labels: Content: Foundations, Status: Needs Triage

#24840 LAYOUT_STYLE_GUIDE.md: Fix typos in how to create links section
  LAYOUT_STYLE_GUIDE.md
Labels: Status: Needs Triage

#24852 Update pattern_matching.md (Starting at Line 654: Additional Resources)
  ruby/advanced_ruby/pattern_matching.md
Labels: Content: Ruby, Status: Needs Triage

#24850 Foundations, Introduction to HTML & CSS: Revert wayback machine link, style guide improvements
  foundations/html_css/intro-to-html-css.md
Labels: Content: Foundations, Status: Needs Triage
