Repository TheOdinProject/curriculum, pull requests merged in 2022-03, with the labels that each got.

#23672 Html foundations,chapter 5 Links: Deleted a sentence about Internet
  foundations/html_css/html-foundations/links-and-images.md
Labels: Type: Existing Lesson, Status: Under Review

#23332 add lesson for import maps and update readme for rails to include it
  rails_programming/README.md
  rails_programming/rails_basics/importmap.md
Labels: Status: Awaiting Changes

#23655 react-introduction: remove testing content
  javascript/react-js/react-introduction.md
Labels: Type: Existing Lesson

#23663 Update Using Git In The Real World to reflect other changes in the curriculum Git content
  ruby_programming/git/lesson_using_git_in_the_real_world.md
Labels: Status: Needs Review

#23684 commit-messages.md Correct link for subject line
  foundations/html_css/html-foundations/commit-messages.md
Labels: Status: Accepted, Type: Foundations

#23686 HTML foundation links and images: add lang attribute to html element
  foundations/html_css/html-foundations/links-and-images.md
Labels: Status: Accepted, Type: Foundations

#23688 Foundations HTML BOILERPLATE: Improved legibility
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Type: Existing Lesson, Status: Accepted

#23693 Foundation JavaScript Fundementals-1: Fix/Add container to assignment section
  foundations/javascript_basics/fundamentals-1.md
Labels: Type: Existing Lesson, Status: Accepted

#23685 Databases & SQL: Update links to SQLCourse
  databases/databases.md
Labels: Status: Needs Review, Type: Ruby/Rails

#23690 getting_hired: rename lessons & place them in appropriate folders based on the website
  getting_hired/applying_and_interviewing/applying.md
  getting_hired/applying_and_interviewing/collect_leads.md
  getting_hired/applying_and_interviewing/conclusion.md
  getting_hired/applying_and_interviewing/handling_an_offer.md
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
  getting_hired/applying_and_interviewing/project_resume.md
  getting_hired/applying_and_interviewing/qualify_leads.md
  getting_hired/preparing_for_job_search/how_this_course_will_work.md
  getting_hired/preparing_for_job_search/project_portfolio.md
  getting_hired/preparing_for_job_search/starts_with_you.md
  getting_hired/preparing_for_job_search/strategy.md
  getting_hired/preparing_for_job_search/what_companies_want.md
  getting_hired/preparing_for_job_search/what_you_can_do_to_prepare.md
Labels: Type: Epic

#23692 html_css: archive old content including README file
  archive/html_css/README.md
  archive/html_css/accessibility_auditing.md
  archive/html_css/accessible_colors.md
  archive/html_css/aria.md
  archive/html_css/backgrounds.md
  archive/html_css/best_practices.md
  archive/html_css/box_model.md
  archive/html_css/build_tools.md
  archive/html_css/conclusion.md
  archive/html_css/css_basics.md
  archive/html_css/css_frameworks.md
  archive/html_css/css_grids.md
  archive/html_css/design_ux.md
  archive/html_css/flexbox_layout.md
  archive/html_css/floats.md
  archive/html_css/floats_positioning.md
  archive/html_css/grid_layout.md
  archive/html_css/html5_basics.md
  archive/html_css/html_forms.md
  archive/html_css/images.md
  archive/html_css/introduction.md
  archive/html_css/keyboard_navigation.md
  archive/html_css/layout_lesson_template.md
  archive/html_css/links.md
  archive/html_css/lists.md
  archive/html_css/meaningful_text.md
  archive/html_css/new_html5.md
  archive/html_css/preprocessors.md
  archive/html_css/project_backgrounds.md
  archive/html_css/project_bootstrap.md
  archive/html_css/project_css_frameworks.md
  archive/html_css/project_design.md
  archive/html_css/project_html_forms.md
  archive/html_css/project_media.md
  archive/html_css/project_positioning.md
  archive/html_css/project_responsive.md
  archive/html_css/responsive_design.md
  archive/html_css/semantic_html.md
  archive/html_css/stylings.md
  archive/html_css/tables.md
  archive/html_css/typography.md
  archive/html_css/wcag.md
  archive/html_css/web_accessibility.md
Labels: Type: Epic

#23678 Rails importmap lesson: Update to add more beginner friendly terminology
  rails_programming/rails_basics/importmap.md
Labels: Status: Under Review, Type: Ruby/Rails

#23249 Adds Rails 7 lesson on Turbo
  rails_programming/hotwire/turbo.md
Labels: Status: Discussion

#23446 feat: first version of stimulus js lesson
  rails_programming/hotwire/stimulus_js.md
Labels: Status: Do Not Merge

#23601 Feature/add js bundling lesson rails 7 course update
  rails_programming/README.md
  rails_programming/rails_sprinkles/js_bundling.md
Labels: Status: Do Not Merge

#23695 Ruby How This Course Will Work: Remove Optional Ruby Materials
  ruby_programming/introduction/how_this_course_will_work.md
Labels: Status: Under Review, Type: Ruby/Rails

#23676 Prerequisites: why Google Chrome?
  foundations/installations/prerequisites.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23647 Ruby debugging lesson: VSCode update
  ruby_programming/basic_ruby/debugging.md
Labels: Type: Existing Lesson, Status: Do Not Merge

#23697 A Deeper Look at Git lesson: Fix typos and grammatical errors
  ruby_programming/git/lesson_a_deeper_look_at_git.md
Labels: Status: Needs Review

#23665 Rails Mailers: Edit Learning Outcomes for and add Knowledge Checks to lesson
  rails_programming/mailers_advanced_topics/mailers.md
Labels: Type: Existing Lesson, Status: Needs Review

#23699 Foundations JS Problem Solving Lesson: Fix broken pseudocoding link and markdown issues
  foundations/javascript_basics/problem_solving.md
Labels: Status: Accepted

#23696 add cssbundling-rails lesson
  rails_programming/rails_sprinkles/css_bundling.md
Labels: Status: Needs Review, Type: Ruby/Rails

#23703 Change heading type in Introduction to Node
  nodeJS/getting-started/Introduction.md
Labels: Type: Node/JS, Status: Accepted

#23705 Form Basics lesson: make Codepens editable
  html_css/intermediate_html/form-basics.md
Labels: Type: Existing Lesson, Status: Needs Review

#23702 databases: rename & move lesson files to a new databases folder
  databases/databases/databases.md
  databases/databases/databases_and_sql.md
  databases/databases/project_sql_zoo.md
Labels: Type: Epic

#23708 html-boilerplate.md: Add missing space.
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Type: Existing Lesson, Status: Accepted

#23701 Update rails directory structure to match Rails 7 agreed structure
  rails_programming/introduction/web_refresher.md
  rails_programming/rails_sprinkles/stimulus_js.md
  rails_programming/rails_sprinkles/turbo.md
  rails_programming/the_asset_pipeline/asset_pipeline.md
  rails_programming/the_asset_pipeline/importmap.md
Labels: Status: Do Not Merge

#23600 Updated rails blog project link.
  rails_programming/rails_basics/project_blog_app.md
Labels: Status: Do Not Merge

#23602 Rails installation guide update for Rails 7.
  rails_programming/introduction/installing_rails.md
Labels: Status: Do Not Merge

#23718 css_bundling.md in rails_sprinkles folder: fixed typo on line 59
  rails_programming/rails_sprinkles/css_bundling.md
Labels: Status: Accepted

#23720 Turbo lesson: Fix typo on line 348 #23715
  rails_programming/rails_sprinkles/turbo.md
Labels: Status: Accepted

#23710 CSS foundations: Fix typo in Additional Resources
  foundations/html_css/css-foundations.md
Labels: Type: Existing Lesson, Status: Awaiting Response, Type: Easy Fix

#23714 Inspecting HTML and CSS lesson: Fix grammar and punctuation
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
Labels: Type: Existing Lesson, Status: Needs Review

#23721 Git Basics: Fix sentence grammar
  foundations/git_basics/git_basics.md
Labels: Status: Accepted

#23728 Fix markdown rendering - a deeper look at git
  ruby_programming/git/lesson_a_deeper_look_at_git.md
Labels: Status: Accepted, Type: Easy Fix

#23727 Fix list format issues - using git in the real world lesson
  ruby_programming/git/lesson_using_git_in_the_real_world.md
Labels: Status: Accepted, Type: Easy Fix

#23726 Update repl.it to replit.com - node - getting started project
  nodeJS/getting-started/Getting-Started-Project.md
Labels: Status: Accepted, Type: Easy Fix

#23725 Update repl.it to replit.com - foundations - fundamentals 2
  foundations/javascript_basics/fundamentals-2.md
Labels: Status: Accepted, Type: Easy Fix

#23724 Update repl.it to replit.com - ruby-programming course
  ruby_programming/advanced_ruby/blocks.md
  ruby_programming/advanced_ruby/pattern_matching.md
  ruby_programming/basic_ruby/arrays.md
  ruby_programming/basic_ruby/basic_enumerable_methods.md
  ruby_programming/basic_ruby/hashes.md
  ruby_programming/basic_ruby/input_and_output.md
  ruby_programming/basic_ruby/loops.md
  ruby_programming/basic_ruby/predicate_enumerable_methods.md
  ruby_programming/basic_ruby/variables.md
  ruby_programming/basic_ruby_projects/caesar_cipher.md
  ruby_programming/basic_ruby_projects/stock_picker.md
  ruby_programming/basic_ruby_projects/sub_strings.md
Labels: Status: Accepted, Type: Easy Fix

#23723 Update repl.it to replit.com in ruby data types lesson
  ruby_programming/basic_ruby/basic_data_types.md
Labels: Status: Accepted, Type: Easy Fix

#23711 Update oop-concepts.md
  javascript/organizing-js/oop-concepts.md
Labels: Type: Easy Fix

#23731 nodeJs: revamp folder to match course structure on the website
  nodeJS/apis/api_basics.md
  nodeJS/apis/api_security.md
  nodeJS/apis/project_blog_api.md
  nodeJS/authentication/authentication_basics.md
  nodeJS/authentication/project_members_only.md
  nodeJS/authentication/security_configuration.md
  nodeJS/express_and_mongoose/express_101.md
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
  nodeJS/express_and_mongoose/express_104_view_templates.md
  nodeJS/express_and_mongoose/introduction_to_express.md
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
  nodeJS/express_and_mongoose/project_inventory_application.md
  nodeJS/express_and_mongoose/project_mini_message_board.md
  nodeJS/final_project/conclusion.md
  nodeJS/final_project/project_odin_book.md
  nodeJS/introduction_to_nodeJS/debugging_node.md
  nodeJS/introduction_to_nodeJS/getting_started.md
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
  nodeJS/introduction_to_nodeJS/project_basic_informational_site.md
  nodeJS/testing_express/testing_database_operations.md
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Type: Epic

#23713 Enhancing Design with CSS: Fixed CSS capitalization and reworded Line 14 for Clarity
  html_css/intermediate_css/enhancing-design-with-css.md
Labels: Type: Existing Lesson, Status: Accepted

#23739 commit-messages: change "me" to "us"
  foundations/html_css/html-foundations/commit-messages.md
Labels: Status: Accepted, Type: Easy Fix

#23704 Easy Fix - Grammatical Errors
  foundations/introduction/how_this_course_will_work.md
Labels: Status: Accepted, Type: Easy Fix

#23747 Convert additional resources as a bullet list - CSS Math Functions
  html_css/intermediate_css/css_math_functions.md
Labels: Status: Under Review, Type: Easy Fix

#23745 Fix heading markup - advanced selectors - intermediate html css
  html_css/intermediate_css/selectors.md
Labels: Status: Under Review, Type: Easy Fix

#23735 Chrome DevTools lesson: edit exact wording from Chrome and change to the same list order
  foundations/javascript_basics/javascript_developer_tools.md
Labels: Status: Accepted, Type: Foundations

#23719 Project Blog App: Update assigned reading sections of Ruby of Rails Guides
  rails_programming/rails_basics/project_blog_app.md
Labels: Status: Needs Review, Type: Ruby/Rails

#23756 Form Basics lesson: Fix typo
  html_css/intermediate_html/form-basics.md
Labels: Status: Accepted

#23769 Form Basics lesson: Fix typos
  html_css/intermediate_html/form-basics.md
Labels: Status: Accepted

#23768 HTML Boilerplate lesson: Fix typos
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Status: Accepted

#23767 Block and Inline Lesson : Fix link text
  foundations/html_css/block-and-inline.md
Labels: Status: Accepted

#23771 Fix broken knowledge check - grid conclusion - intermediate html & css
  html_css/grid-lessons/grid-conclusion.md
Labels: Type: Existing Lesson, Status: Accepted

#23773 Foundations - Links and Images: Break up a run-on sentence
  foundations/html_css/html-foundations/links-and-images.md
Labels: Status: Accepted

#23764 More Text Styles lesson: Updated font-style subsection
  html_css/intermediate_css/more-text-styles.md
Labels: Type: Enhancement, Status: Accepted

#23778 Links and Images lesson: Fix typos
  foundations/html_css/html-foundations/links-and-images.md
Labels: Type: Existing Lesson, Status: Accepted

#23783 Project: Recipes: Fix typos, break up run-on sentence
  foundations/html_css/html-foundations/project-recipes.md
Labels: Status: Accepted

#23782 CSS Functions lesson: update clamp() section
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23754 Layout Style Guide: Add newline section and update assignment
  LAYOUT_STYLE_GUIDE.md
Labels: Type: Documentation

#23798 Advanced Grid Properties: Moved assignment to CSS Functions lesson
  html_css/grid-lessons/advanced_grid_properties.md
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Existing Lesson, Status: Accepted

#23808 Block and Inline lesson: Fix typo
  foundations/html_css/block-and-inline.md
Labels: Type: Existing Lesson, Status: Accepted

#23814 Fixed typo on line 28 (unnecessary ")
  nodeJS/express_and_mongoose/express_104_view_templates.md
Labels: Status: Needs Review

#23549 Replace a Wrong Term in problem_solving.md
  foundations/javascript_basics/problem_solving.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23818 Lifecycle methods: lifecycle ordering adjustment
  javascript/react-js/lifecycle-methods.md
Labels: Status: Accepted

#23820 Introduction to Flexbox lesson: Capitalize letter
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Status: Accepted

#23812 Introduction to Grid: Fix intro paragraph wording
  html_css/grid-lessons/intro-to-grid.md
Labels: Type: Existing Lesson, Status: Needs Review, Type: Easy Fix

#23825 Flexbox Alignment: Combine Practice section into Assignment section
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review, Type: Foundations

#23824 Getting Started lesson in Node JS course: Fix broken Javascript course link
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Status: Accepted

#23831 React Testing Part 1: Add correct command to execute tests
  javascript/react-js/react-testing-part-one.md
Labels: Type: Existing Lesson, Status: Accepted

#23830 Transitions: moved additional resource to assignment
  html_css/animation/transitions.md
Labels: Type: Existing Lesson, Status: Accepted

#23839 Growing and Shrinking lesson: Add missing period
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Status: Accepted

#23834 Rails Routing: add missing period in additional resources
  rails_programming/rails_basics/routing.md
Labels: Status: Accepted, Type: Ruby/Rails

#23851 Rails Turbo lesson: Remove unused title
  rails_programming/rails_sprinkles/turbo.md
Labels: Status: Accepted, Type: Ruby/Rails

#23855 fixed some typos in rails js bundling lesson
  rails_programming/rails_sprinkles/js_bundling.md
Labels: Type: Existing Lesson, Status: Accepted

#23786 Updated Intermediate HTML and CSS/Creating a Grid/Gap Section
  html_css/grid-lessons/creating-a-grid.md
Labels: Type: Existing Lesson, Status: Accepted

#23856 DOM Manipulation and Events: Update broken DOM Manipulation Site Links
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Type: Enhancement, Status: Needs Review

#23846 ruby: rename files/folder & move unused files/folder to archive
  archive/ruby/future_lessons/advanced_enumerables.md
  archive/ruby/git/lesson_a_deeper_look_at_git.md
  archive/ruby/git/lesson_using_git_in_the_real_world.md
  ruby/README.md
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
  ruby/advanced_ruby/project_custom_enumerables.md
  ruby/automated_testing/introduction.md
  ruby/automated_testing/rspec_part_one_basics.md
  ruby/automated_testing/rspec_part_two_code_sharing.md
  ruby/automated_testing/test_driven_development.md
  ruby/automated_testing/test_driven_development/imgs/00.png
  ruby/automated_testing/test_driven_development/imgs/01.png
  ruby/automated_testing/test_driven_development/imgs/02.png
  ruby/automated_testing/test_driven_development/imgs/03.png
  ruby/automated_testing/test_driven_development/imgs/04.png
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/conditional_logic.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/debugging/imgs/00.png
  ruby/basic_ruby/debugging/imgs/01.png
  ruby/basic_ruby/enumerable_exercises.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/input_and_output.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby/predicate_enumerable_methods.md
  ruby/basic_ruby/variables.md
  ruby/basic_ruby_projects/bubble_sort/imgs/00.gif
  ruby/basic_ruby_projects/project_bubble_sort.md
  ruby/basic_ruby_projects/project_caesar_cipher.md
  ruby/basic_ruby_projects/project_stock_picker.md
  ruby/basic_ruby_projects/project_sub_strings.md
  ruby/computer_science/a_very_brief_intro_to_cs.md
  ruby/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/project_binary_search_trees.md
  ruby/computer_science/project_knights_travails.md
  ruby/computer_science/project_knights_travails/imgs/00.png
  ruby/computer_science/project_knights_travails/imgs/01.png
  ruby/computer_science/project_linked_lists.md
  ruby/computer_science/project_recursion.md
  ruby/computer_science/recursive_methods.md
  ruby/conclusion/conclusion.md
  ruby/conclusion/project_ruby_final.md
  ruby/files_and_serialization/event_attendees.csv
  ruby/files_and_serialization/event_attendees_full.csv
  ruby/files_and_serialization/files_and_serialization.md
  ruby/files_and_serialization/project_event_manager.md
  ruby/files_and_serialization/project_hangman.md
  ruby/introduction/how_this_course_will_work.md
  ruby/introduction/installing_ruby.md
  ruby/object_oriented_programming_basics/object_oriented_programming.md
  ruby/object_oriented_programming_basics/project_mastermind.md
  ruby/object_oriented_programming_basics/project_tic_tac_toe.md
  ruby/testing_ruby_with_rspec/introduction_to_rspec.md
  ruby/testing_ruby_with_rspec/project_connect_four.md
  ruby/testing_ruby_with_rspec/test_driven_development.md
Labels: Type: Epic

#23866 Binary Search Trees Project: Use lazy numbering
  ruby/computer_science/project_binary_search_trees.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#23760 rails_programming: rename files & folders and move webpacker.md to archive
  archive/ruby_on_rails/webpacker.md
  ruby_on_rails/README.md
  ruby_on_rails/active_record_basics/active_record_basics.md
  ruby_on_rails/active_record_basics/project_micro_reddit.md
  ruby_on_rails/advanced_forms_and_activerecord/active_record_associations.md
  ruby_on_rails/advanced_forms_and_activerecord/active_record_callbacks.md
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
  ruby_on_rails/advanced_forms_and_activerecord/project_flight_booker.md
  ruby_on_rails/advanced_forms_and_activerecord/project_private_events.md
  ruby_on_rails/apis/apis_and_building_your_own.md
  ruby_on_rails/apis/project_flickr_api.md
  ruby_on_rails/apis/project_kittens_api.md
  ruby_on_rails/apis/working_with_external_apis.md
  ruby_on_rails/forms_and_authentication/form_basics.md
  ruby_on_rails/forms_and_authentication/project_forms.md
  ruby_on_rails/forms_and_authentication/project_members_only.md
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
  ruby_on_rails/introduction/how_this_course_will_work.md
  ruby_on_rails/introduction/preparing_for_deployment.md
  ruby_on_rails/introduction/project_installing_rails.md
  ruby_on_rails/introduction/web_refresher.md
  ruby_on_rails/mailers_advanced_topics/actioncable_lesson.md
  ruby_on_rails/mailers_advanced_topics/advanced_topics.md
  ruby_on_rails/mailers_advanced_topics/conclusion.md
  ruby_on_rails/mailers_advanced_topics/mailers.md
  ruby_on_rails/mailers_advanced_topics/project_final.md
  ruby_on_rails/mailers_advanced_topics/project_sending_confirmation_emails.md
  ruby_on_rails/mailers_advanced_topics/websockets_and_actioncable.md
  ruby_on_rails/rails_basics/controllers.md
  ruby_on_rails/rails_basics/deployment.md
  ruby_on_rails/rails_basics/project_blog_app.md
  ruby_on_rails/rails_basics/routing.md
  ruby_on_rails/rails_basics/views.md
  ruby_on_rails/rails_sprinkles/css_bundling.md
  ruby_on_rails/rails_sprinkles/js_bundling.md
  ruby_on_rails/rails_sprinkles/stimulus_js.md
  ruby_on_rails/rails_sprinkles/turbo.md
  ruby_on_rails/the_asset_pipeline/asset_pipeline.md
  ruby_on_rails/the_asset_pipeline/importmap.md
Labels: Type: Epic

#23848 Intermediate HTML and CSS introduction: Update to include sentence about advanced HTML and CSS course
  html_css/intermediate_html/Introduction.md
Labels: Type: Existing Lesson, Status: Needs Review

#23871 Websockets and Actioncable lesson: fixed broken assignment link
  ruby_on_rails/mailers_advanced_topics/websockets_and_actioncable.md
Labels: Type: Existing Lesson, Status: Needs Review

#23873 React Testing Pt.2 Lesson : Update Grammar, Word Choice and Punctuation
  javascript/react-js/react-testing-part-two.md
Labels: Type: Existing Lesson, Status: Accepted

#23858 React Router Lesson: Added Knowledge Check Link
  javascript/react-js/router.md
Labels: Type: Existing Lesson, Status: Accepted

#23627 DOM_manipulation_and_events.md: Add two semicolons
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Status: Accepted, Type: Foundations

#23868 Javascript: how this course will work lesson: fixes broken link
  javascript/introduction/introduction.md
Labels: Type: Existing Lesson, Status: Needs Review

#23876 React Router lesson: Added a disclaimer/note to resources that uses React Router v5
  javascript/react-js/router.md
Labels: Type: Existing Lesson, Status: Accepted

#23881 CSS Functions Lesson: Remove duplicate article
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Existing Lesson, Status: Needs Review

#23752 Growing and Shrinking: Complete explanation of `flex: 1 1 auto`
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#23770 CSS Foundations lesson: Fix grammar, punctuation, wordy phrases, white-space, and code example
  foundations/html_css/css-foundations.md
Labels: Type: Existing Lesson, Status: Needs Review, Type: Foundations

#23860 React Testing Part One: Update Grammar, Word Choice and Spelling
  javascript/react-js/react-testing-part-one.md
Labels: Type: Existing Lesson, Status: Accepted

#23843 React Advanced Concepts: remove withRouter section and add article about HOC's
  javascript/react-js/advanced-concepts.md
Labels: Type: Existing Lesson, Status: Accepted

#23888 Working with text lorem ipsum double citation fix
  foundations/html_css/html-foundations/working-with-text.md
Labels: Type: Existing Lesson, Status: Accepted

#23893 Default Styles lesson: Add link, fix grammar and add capitalization
  html_css/intermediate_css/default-styles.md
Labels: Type: Existing Lesson, Status: Accepted

#23892 Join the Odin Community lesson: correct the command syntax for !debug
  foundations/introduction/join_the_odin_community.md
Labels: Type: Existing Lesson, Status: Accepted

#23891 CSS Units lesson: Improve punctuation
  html_css/intermediate_css/css-units.md
Labels: Type: Existing Lesson, Status: Accepted

#23794 Databases & sql: update git book additional resource
  databases/databases/databases_and_sql.md
Labels: Type: Existing Lesson, Status: Needs Review

#23795 Databases & sql: add missing colons
  databases/databases/databases_and_sql.md
Labels: Type: Existing Lesson, Status: Needs Review

#23827 The Box Model lesson: Fix list style and refactor visually, grammar; and Add additional resources
  foundations/html_css/the-box-model/the-box-model.md
Labels: Type: Existing Lesson, Status: Needs Review

#23901 Project Event Manager: fix broken links
  ruby/files_and_serialization/project_event_manager.md
Labels: Type: Existing Lesson

#23900 Join The Odin Community lesson: Fixed command prefixes
  foundations/introduction/join_the_odin_community.md
Labels: Status: Accepted

#23819 React Shopping cart: Add instructions for how to prevent a blank page, when using gh-pages
  javascript/react-js/project-shopping-chart.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23906 More Text Styles lesson: Capitalize 'css'
  html_css/intermediate_css/more-text-styles.md
Labels: Status: Accepted

#23907 Inspecting HTML and CSS lesson: Fix broken URL
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
Labels: Type: Existing Lesson, Status: Accepted

#23895 Advanced Grid Properties: Fix small grammatical error
  html_css/grid-lessons/advanced_grid_properties.md
Labels: Type: Existing Lesson, Status: Needs Review, Type: Easy Fix

#23841 Fix form-project to reflect turbo behavior
  ruby_on_rails/forms_and_authentication/project_forms.md
Labels: Type: Existing Lesson, Status: Needs Review

#23914 Fundamentals Part 2: updated referenced methods from W3Schools exercise
  foundations/javascript_basics/fundamentals-2.md
Labels: Type: Existing Lesson, Status: Accepted

#23908 Let's Flex: Correct text about resizing browser
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Type: Existing Lesson, Status: Accepted

#23915 Intro to Grid: Fixes link url to Growing and Shrinking
  html_css/grid-lessons/intro-to-grid.md
Labels: Status: Needs Review

#23910 Foundations > JavaScript Basics >Fundamentals Part 3: Link edited to right path.
  foundations/javascript_basics/fundamentals-3.md
Labels: Status: Accepted

#23919 Testing Practice: Moved section above assignment
  javascript/testing/testing-practice.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Accepted

#23916 Project Landing Page: Add link to recipe project
  foundations/html_css/project/html-css-foundations-project.md
Labels: Type: Existing Lesson, Status: Awaiting Changes, Type: Foundations
