Repository TheOdinProject/curriculum, pull requests merged in 2022-09, with the labels that each got.

#24555 React JS Hooks lesson: Fix word choice
  javascript/react_js/hooks.md
Labels: Content: JavaScript, Status: Needs Triage

#24612 Fix responsive_design/media_queries.md small typos
  advanced_html_css/responsive_design/media_queries.md
Labels: Status: Accepted, Content: Advanced HTML/CSS

#24611 Responsive images lesson: Fix a typo
  advanced_html_css/responsive_design/responsive_images.md
Labels: Status: Accepted, Content: Advanced HTML/CSS

#24610 Project: Todo List : Fix typo on line 19
  javascript/organizing_your_javascript_code/project_todo_list.md
Labels: Status: Accepted, Content: JavaScript

#24600 OOP Principles: Fix typo on line 13 & 19
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Status: Accepted, Content: JavaScript

#24409 Authentication Basics: Fix bug in authentication_basics.md
  nodeJS/authentication/authentication_basics.md
Labels: Status: Accepted, Content: NodeJS

#24614 NodeJS Getting Started: Fix link
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS, Status: Needs Triage

#24615 javascript/organizing your javascript code/objects and object constructors: Add internal link
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript, Status: Needs Triage

#24618 Intermediate CSS/Positioning: remove mention of chat bubble that no longer exists
  intermediate_html_css/intermediate_css_concepts/positioning.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24619 Intermediate CSS/Positioning: rename heading to 'Introduction'
  intermediate_html_css/intermediate_css_concepts/positioning.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24621 Express 104: View Templates: converted `<a>` to md version
  nodeJS/express_and_mongoose/express_104_view_templates.md
Labels: Content: NodeJS, Status: Needs Triage

#24606 Update advanced_html_css/animation/transitions.md broken link
  advanced_html_css/animation/transitions.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#24576 Javascript Fundamentals Part 2: replaced fork by Remix Repl
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations, Status: Needs Triage

#24605 Changing the wrong link to the correct one
  foundations/javascript_basics/fundamentals-1.md
Labels: Content: Foundations, Status: Needs Triage

#24604 How Does The Web Work: remove duplicate link
  foundations/installations/how_does_the_web_work.md
Labels: Content: Foundations, Status: Needs Triage

#24622 Small typo fix
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations, Status: Needs Triage

#24592 Router lesson: Modify punctuation for consistency
  javascript/react_js/router.md
Labels: Content: JavaScript, Status: Needs Triage

#24445 Classes lesson : Add one knowledge check
  javascript/organizing_your_javascript_code/classes.md
Labels: Status: Awaiting Changes, Content: JavaScript

#24562 Revisiting Rock Paper Scissors Lesson: Replace screenshot link
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations, Status: Needs Triage

#24630 Working with APIs: Fix typo on lines 23 and 39
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Status: Accepted, Content: JavaScript

#24627 add link to solutions branch of JS fundamentals part 5 exercises
  foundations/javascript_basics/fundamentals-5.md
Labels: Status: Accepted, Content: Foundations

#24625 Fixed grammatical mistakes.
  foundations/html_css/html-foundations/project-recipes.md
Labels: Status: Accepted, Content: Foundations

#24624 Javascript - JS In the Real World: Grammar Fix
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
Labels: Status: Accepted, Content: JavaScript

#24597 Handle Inputs and Render Lists: Replace serviceWorker with reportWebVitals
  javascript/react_js/handle_inputs_and_render_lists.md
Labels: Status: Accepted, Content: JavaScript

#24623 intermediate_html_css - forms - form_basics: replace web.archive.org link with live link
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24628 curriculum/intermediate_html_css/forms/form_validations.md: Replace CSS Tricks link: fixes #24058
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24632 Project Weather App: Add styling to code on line 17
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
Labels: Content: JavaScript, Status: Needs Triage

#24639 Update classes.md
  javascript/organizing_your_javascript_code/classes.md
Labels: Content: JavaScript, Status: Needs Triage

#24634 CSS Transforms: Update broken link
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#24626 Foundations> Recipes Project: Add clarifying screenshot for GH pages setup
  foundations/html_css/html-foundations/imgs/00.png
  foundations/html_css/html-foundations/imgs/01.png
Labels: Content: Foundations, Status: Needs Triage

#24643 What is ES6?: fix typo
  javascript/javascript_in_the_real_world/what_is_es6.md
Labels: Content: JavaScript, Status: Needs Triage

#24644 Working with APIs : Add link to create new account
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript, Status: Needs Triage

#24640 Using Git in the real word: Fix typo in additional resources
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Status: Needs Triage, Content: Git

#24653 Fix Rails Guide Blog tutorial instructions
  ruby_on_rails/rails_basics/project_blog_app.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24682 Installations: Increase VM disk size recommendation
  foundations/installations/installations.md
Labels: Content: Foundations, Status: Needs Triage

#24672 The Asset Pipeline lesson: Fix capitalizations
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24675 Correct Grammar: Introduction to Flexbox
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations, Status: Needs Triage

#24673 Reduce Wordiness: CSS Foundations
  foundations/html_css/css-foundations.md
Labels: Content: Foundations, Status: Needs Triage

#24671 Concision: Project Recipes
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations, Status: Needs Triage

#24668 fix links nodejs.dev/learn to nodejs.dev/en/learn
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS, Status: Needs Triage

#24648 Using BaaS for your Back End: swaps section order
  javascript/javascript_and_the_backend/using_baas_for_your_backend.md
Labels: Content: JavaScript, Status: Needs Triage

#24655 Git Basics lesson: Clarify command
  git/foundations_git/git_basics.md
Labels: Status: Needs Triage, Content: Git

#24667 Javascript Path - NodeJS Course - Getting Started Lesson : Fix links to nodejs.dev by adding '/en' to the url
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS, Status: Needs Triage

#24664 Clarify: Links and Images Lesson
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations, Status: Needs Triage

#24666 Clarify: Links and Images Lesson
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations, Status: Needs Triage

#24663 Add Additional Resources: Working With Text
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations, Status: Needs Triage

#24662 Grammar: Working With Text Lesson
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations, Status: Needs Triage

#24660 Clarify: Elements and Tags
  foundations/html_css/html-foundations/elements-and-tags.md
Labels: Content: Foundations, Status: Needs Triage

#24658 A bit of Computer Science: Fix link
  javascript/computer_science/project_recursion.md
Labels: Content: JavaScript, Status: Needs Triage

#24659 Fixed the url so that it would redirect to a correct page
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS, Status: Needs Triage

#24684 Ruby Course - Pattern Matching: Improve Lesson Readability
  ruby/advanced_ruby/pattern_matching.md
Labels: Status: Awaiting Changes, Content: Ruby, Status: Needs Triage

#24686 Foundations - Working with Text: "Additional Resources" link fix
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations, Status: Needs Triage

#24689 Project: Rock Paper Scissors - Change adjective for the game instructions
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations, Status: Needs Triage

#24685 What Is ES6? lesson: Fix word repetition
  javascript/javascript_in_the_real_world/what_is_es6.md
Labels: Content: JavaScript, Status: Needs Triage

#24656 Update flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Content: Foundations, Status: Needs Triage

#24479 Javascript/Objects and object constructors: changed phrasing
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript, Status: Needs Triage

#24512 Debugging Node lesson: Fix - change question to accurate description
  nodeJS/introduction_to_nodeJS/debugging_node.md
Labels: Content: NodeJS, Status: Needs Triage

#24692 Fix Grammar & Streamline Link: DOM Manip & Events
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Status: Accepted, Content: Foundations

#24694 Project Recursion : Replace merging videos
  javascript/computer_science/project_recursion.md
Labels: Content: JavaScript, Status: Needs Triage

#24696 Battleship: Add style to code example
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript, Status: Needs Triage

#24620 Ruby on Rails: Stimulus: Fix a faulty example
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Status: Awaiting Changes, Content: Ruby on Rails
