Repository TheOdinProject/curriculum, pull requests merged in 2022-12, with the labels that each got.

#24935 Project: Odin-Book Fix pronoun
  nodeJS/final_project/project_odin_book.md
Labels: Content: NodeJS, Status: Needs Triage

#24936 Feature/flexbox scrims
  foundations/html_css/flexbox/flexbox-alignment.md
  foundations/html_css/flexbox/flexbox-axes.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations, Status: Needs Triage

#24942 update api_basics.md
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS, Status: Needs Triage

#24805 React section: Adds Class-based components lesson
  react/class_components/class_based_components.md
Labels: Status: Awaiting Changes, Project: React Revamp

#24945 Installing Postgresql: Add ruby comment to config/database.yml file changes
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24944 More Text Styles lesson: Update System Font Stack css to include system-ui
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24948 JavaScript in the Real World: Add note recommending usage of Prettier/ESlint note
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript, Status: Needs Triage

#24954 Fix punctuation
  nodeJS/final_project/project_odin_book.md
  nodeJS/testing_express/testing_database_operations.md
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS, Status: Needs Triage

#24953 Working with APIs lesson: fix minor capitalization nit
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript, Status: Needs Triage

#24956 Using Git in the Real World: Additional JS link
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Status: Needs Triage, Content: Git

#24955 React: Fix typo: Whats -> What's
  react/class_components/class_based_components.md
Labels: Status: Needs Triage

#24958 Update DOM_manipulation_and_events.md
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations, Status: Needs Triage

#24960 Foundations: Installations, Clarify that GuestAdditions improve display resolution
  foundations/installations/installations.md
Labels: Content: Foundations, Status: Needs Triage

#24924 Modify misleading word in Foundations (in "Project: Landing Page", section "Viewing Your Project on the Web")
  foundations/html_css/project/html-css-foundations-project.md
Labels: Content: Foundations, Status: Needs Triage

#24964 React Router lesson: Fixed dead link for React router page
  javascript/react_js/router.md
Labels: Content: JavaScript, Status: Needs Triage

#24963 Introduction to Flexbox lesson: Fix grammatical error
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations, Status: Needs Triage

#24969 Updated Pull Request #24962
  foundations/javascript_basics/problem_solving.md
Labels: Content: Foundations, Status: Needs Triage

#24873 Objects and Object Constructors : Add additional resource
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript, Status: Needs Triage

#24983 Inspecting HTML and CSS: Change section order so A. Resources is last
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
Labels: Content: Foundations, Status: Needs Triage

#24984 MongoDB: Fix typo: it's -> its
  nodeJS/mongoDB/intro_to_mongoDB.md
Labels: Content: NodeJS, Status: Needs Triage

#24985 Fixed "#react-router" link
  javascript/react_js/router.md
Labels: Content: JavaScript, Status: Needs Triage

#24989 Update fundamentals-2.md
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations, Status: Needs Triage

#24988 JavaScript Course: Update dead link.
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript, Status: Needs Triage

#24981 frameworks_and_preprocessors: Update to the latest Bootstrap Documentation.
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24926 Project: Micro-Reddit: Add tips for using Rails short-cut commands
  ruby_on_rails/active_record_basics/project_micro_reddit.md
Labels: Content: Ruby on Rails
