Repository TheOdinProject/curriculum, pull requests merged in 2022-01, with the labels that each got.

#23220 Add Knowledge Checks with links and revise Learning Outcomes in Rails Advanced Forms lesson
  rails_programming/advanced_forms_and_activerecord/forms_advanced.md
Labels: awaiting changes

#23254 Clarify instructions in practice section of DOM Manipulation and Events
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: awaiting changes

#23267 Add missing knowledge checks and learning outcomes to javascript/testing-basics
  javascript/testing/testing-1.md
Labels: awaiting changes

#23278 Updated Foundations 1 section assignment section and linking JS section
  foundations/javascript_basics/fundamentals-1.md
Labels: awaiting changes

#23286 Add lang attribute in html-boilerplate.md
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: awaiting changes

#22640 Adding instructions to enable virtualization in BIOS/UEFI
  foundations/installations/prerequisites.md
Labels: awaiting response

#23360 Improve Sandi Metz books mentions in OOP lesson Additional Resources
  ruby_programming/object_oriented_programming_basics/lesson_oop.md
Labels: needs review

#23323 Slight typo in comments of DOM Methods.
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: awaiting changes

#23214 Fix: Removed reference to username/password authentication with GitHub
  foundations/html_css/html-foundations/project-recipes.md
Labels: awaiting changes

#23376 Included backslash in 'fieldset' example under Intermediate HTML and CSS: Form Basics
  html_css/intermediate_html/form-basics.md
Labels: Status: Accepted

#23386 fix css function name to match lesson in css_math_functions.md
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Enhancement, Status: Accepted

#23209 Fix line 99 and change a link on line 161 of es6-modules.md
  javascript/organizing-js/es6-modules.md
Labels: Status: Awaiting Response

#23399 Fix incorrect knowledge check link in Forms Basics under the intermediate HTML and CSS lesson
  html_css/intermediate_html/form-basics.md
Labels: Type: Enhancement, Status: Accepted

#23367 Small fixes for emmet.md
  html_css/intermediate_html/emmet.md
Labels: Status: Awaiting Changes

#23374 Small fixes for css-units.md
  html_css/intermediate_css/css-units.md
Labels: Status: Awaiting Changes

#23409 Add Knowledge Check links to more-text-styles.md
  html_css/intermediate_css/more-text-styles.md
Labels: Status: Needs Review

#23361 Update es6-modules.md
  javascript/organizing-js/es6-modules.md
Labels: Type: Enhancement, Status: Accepted

#23424 Use a more appropriate dictionary for hangman
  ruby_programming/files_and_serialization/project_file_io.md
Labels: Status: Needs Review

#23331 Instructing to commit changes before merging in Revisiting Rock Paper Scissors lesson
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Type: Enhancement, Status: Accepted

#23423 Fix the id of the first input in checkboxes examples from lesson "Form Basics"
  html_css/intermediate_html/form-basics.md
Labels: Type: Enhancement, Status: Accepted

#23375 Small fixes for more-text-styles.md
  html_css/intermediate_css/more-text-styles.md
Labels: Status: Awaiting Changes

#23382 Update links in Project Signup Form
  html_css/project-sign-up-form/project-sign-up-form.md
Labels: Status: Needs Review, Type: Bug

#23426 Use core Ruby Docs links in Blocks lesson
  ruby_programming/advanced_ruby/blocks.md
Labels: Type: Enhancement, Status: Needs Review

#23412 Fix grammar in Forms Basic lesson
  html_css/intermediate_html/form-basics.md
Labels: Status: Awaiting Changes

#23429 Fixed typo in emmet.md
  html_css/intermediate_html/emmet.md
Labels: Type: Enhancement, Status: Accepted

#23051 Update TOP style guide and template files
  LAYOUT_STYLE_GUIDE.md
  templates/TOPStyleGuide.md
  templates/lesson-example.md
  templates/lesson-template.md
  templates/lesson.md
  templates/project-example.md
  templates/project-template.md
  templates/project.md
Labels: Status: Accepted, Type: Documentation

#23354 Updates learning outcomes and adds knowledge checks to Rails Form Basics lesson
  rails_programming/forms_and_authentication/form_basics.md
Labels: Status: Awaiting Changes

#23435 removed :source from event creation in private events
  rails_programming/advanced_forms_and_activerecord/project_associations.md
Labels: Type: Enhancement, Status: Needs Review

#23425 Fixed Grammatical and Formatting Errors in Intro to Web Development
  foundations/introduction/introduction_to_web_development.md
Labels: Status: Accepted

#23437 Fix 404 link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Status: Accepted, Type: Documentation

#23441 Update it's and its in 3 spots
  html_css/intermediate_css/css-units.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Accepted

#23444 fixed grammar in motivation and mindset
  foundations/introduction/motivation_and_mindset.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Accepted

#23436 Add note on hidden passwords in CL basics
  foundations/installations/command_line_basics.md
Labels: Type: Enhancement, Status: Accepted

#23397 Explained the Regular expressions pattern used in the Pattern Validation section and provided a link to an external resource in the Additional Resources section of form_validation.md
  html_css/intermediate_html/form-validations.md
Labels: Type: Enhancement, Status: Accepted
