Repository TheOdinProject/curriculum, pull requests merged in 2022-07, with the labels that each got.

#24320 html-boilerplate: syntax suggestion
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Status: Accepted, Type: Foundations

#24311 Advanced Grid Properties lesson: Add change zoom levels inline heading
  html_css/grid-lessons/advanced_grid_properties.md
Labels: Type: Existing Lesson, Status: Needs Review

#24310 Workflows: Update stale issue message
  .github/workflows/stale.yml
Labels: Type: Documentation

#24243 Command Line Basics lesson: Fix broken link
  foundations/installations/command_line_basics.md
Labels: Type: Existing Lesson, Status: In Progress

#24248 Style Guide - Foundations/JavaScript Basics 2: Assignments
  foundations/javascript_basics/DOM_manipulation_and_events.md
  foundations/javascript_basics/clean_code.md
  foundations/javascript_basics/fundamentals-4.md
  foundations/javascript_basics/fundamentals-5.md
  foundations/javascript_basics/project_calculator.md
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Status: Awaiting Changes, Project: Style Guide

#24268 Join_the_odin_community: Update assignments
  foundations/introduction/join_the_odin_community.md
Labels: Status: Awaiting Changes

#24315 CSS Foundations Lesson: Added HTML example to explain speceficity better
  foundations/html_css/css-foundations.md
Labels: Type: Enhancement, Status: Needs Review, Type: Foundations

#24345 More Text Styles lesson: Fix grammar and punctuation
  html_css/intermediate_css/more-text-styles.md
Labels: Type: Existing Lesson, Status: Accepted

#24321 Foundations/Javascript Basics: Reformatting of Practice/Assignment Section
  foundations/javascript_basics/fundamentals-1.md
  foundations/javascript_basics/fundamentals-2.md
  foundations/javascript_basics/fundamentals-3.md
  foundations/javascript_basics/understanding_errors.md
Labels: Status: Awaiting Changes

#24272 Command Line Basics, Text Editors lessons: Moved Exercise section to Assignment section
  foundations/installations/command_line_basics.md
  foundations/installations/text_editors.md
Labels: Status: Awaiting Response

#24323 Installations: Directly mention Desktop version in the instructions for dual boot
  foundations/installations/installations.md
Labels: Status: Awaiting Response

#24319 Add lesson-note divs to some places where applicable
  foundations/html_css/flexbox/flexbox-intro.md
  foundations/installations/installations.md
  foundations/javascript_basics/DOM_manipulation_and_events.md
  foundations/javascript_basics/project_calculator.md
  getting_hired/applying_and_interviewing/applying.md
  javascript/react_js/router.md
  ruby/basic_ruby_projects/project_caesar_cipher.md
  ruby/basic_ruby_projects/project_stock_picker.md
  ruby/basic_ruby_projects/project_sub_strings.md
Labels: Type: Enhancement, Status: Accepted

#24324 Form validation with Javascript lesson: Change link
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
Labels: Status: Awaiting Response

#24350 Join the Odin Community: Remove unnecessary backtick
  foundations/introduction/join_the_odin_community.md
Labels: Status: Needs Review

#24361 Fix: 'If you're a logged in' => 'If you're logged in' word typo in re…
  javascript/react_js/react_testing_part_two.md
Labels: Type: Existing Lesson, Status: Accepted

#24363 Advanced HTML and CSS - Transforms lesson: Fix duplicated 'the' typo
  advanced_html_css/animation/transforms.md
Labels: Type: Existing Lesson, Status: Accepted

#24372 Handling a Job Offer: Simply add a space between paragraphs
  getting_hired/applying_and_interviewing/handling_an_offer.md
Labels: Status: Accepted

#24376 A Deeper Look at Git lesson: Fix punctuation
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Status: Accepted

#24348 Ruby on Rails - Active Record Basics lesson: Update second assignment link
  ruby_on_rails/active_record_basics/active_record_basics.md
Labels: Status: Under Review, Type: Ruby/Rails

#24377 Applying for Web Development Jobs: Add missing quote
  getting_hired/applying_and_interviewing/applying.md
Labels: Status: Accepted

#24378 Ruby on rails routing - Rewrite 1st person sentence
  ruby_on_rails/rails_basics/routing.md
Labels: Status: Accepted

#24382 JavaScript Advanced Concepts: Change link text
  javascript/react_js/advanced_concepts.md
Labels: Type: Existing Lesson, Status: Accepted

#24385 Node.js - Getting started: Fix weird punctuation and add missing 'this'
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Type: Existing Lesson, Status: Accepted

#24396 Ruby nested collections: Fix grammatical error
  ruby/basic_ruby/nested_collections.md
Labels: Type: Existing Lesson, Status: Accepted

#24398 More CSS Properties: Add the period
  html_css/intermediate_css/enhancing-design-with-css.md
Labels: Type: Existing Lesson, Status: Accepted

#24399 Foundations/introduction, Foundations/installations: update headings per Style Guide
  foundations/installations/how_does_the_web_work.md
  foundations/introduction/asking_for_help.md
  foundations/introduction/how_this_course_will_work.md
  foundations/introduction/introduction_to_web_development.md
  foundations/introduction/join_the_odin_community.md
  foundations/introduction/motivation_and_mindset.md
Labels: Status: Needs Review, Project: Style Guide

#24392 Style Guide - Foundations/JavaScript Basics 1: Lists and Code Blocks
  foundations/javascript_basics/fundamentals-1.md
  foundations/javascript_basics/fundamentals-2.md
  foundations/javascript_basics/fundamentals-3.md
  foundations/javascript_basics/javascript_developer_tools.md
  foundations/javascript_basics/problem_solving.md
  foundations/javascript_basics/project_rock_paper_scissors.md
  foundations/javascript_basics/understanding_errors.md
Labels: Status: Needs Review, Project: Style Guide

#24406 CSS Functions lesson: Fix grammar
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Existing Lesson, Status: Accepted

#24407 Objects and Object Constructors lesson: Fix link text capitalization
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Type: Existing Lesson, Status: Accepted

#24220 chore: Set permissions for GitHub actions
  .github/workflows/testing.yml
Labels: Type: Enhancement, Status: Needs Review

#24314 Installations: Update distribution versions
  foundations/installations/installations.md
Labels: Type: Existing Lesson, Status: Needs Review

#24190 Update custom-properties.md
  html_css/intermediate_css/custom-properties.md
Labels: Type: Enhancement, Status: Awaiting Changes

#24349 A Deeper look at Git lesson: Update text for consistency
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Status: Needs Review

#24397 Foundations DOM manipulation and events: Fix link target
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Status: Needs Review, Type: Foundations

#24430 Introduction to Git lesson: Fix extra spaces
  git/foundations_git/introduction_to_git.md
Labels: Type: Existing Lesson, Status: Accepted

#24416 Frameworks and Preprocessors: Fix 'your' typo
  html_css/intermediate_css/frameworks-preprocessors.md
Labels: Type: Existing Lesson, Status: Accepted

#24428 Ruby on Rails - Stimulus lesson: Fix not displayed italics
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Status: Accepted

#24439 Project Admin Dashboard: Add the period
  html_css/grid-lessons/project-dashboard/project-dashboard.md
Labels: Status: Accepted

#24437 Add link react_js/lifecycle_methods.md
  javascript/react_js/lifecycle_methods.md
Labels: Status: Accepted

#24417 Clean Code lesson: rewrite style guide for continuation lines
  foundations/javascript_basics/clean_code.md
Labels: Type: Enhancement, Status: Needs Review

#24429 Foundations/DOM Manipulation and Events: Fix missing id 'important-note'
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Status: Needs Review, Type: Foundations

#24354 Moved Twitter code-along to the additional resources section.
  ruby_on_rails/forms_and_authentication/project_members_only.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24352 Debugging Ruby: update assignment instructions to avoid load error
  ruby/basic_ruby/debugging.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24365 Ruby on rails - Installing: Fix "requires the usage of Yarn"sentence
  ruby_on_rails/introduction/project_installing_rails.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24438 Ruby on Rails / Turbo lesson: Add missing 'do' in turbo block
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24440 Foundations / Flexbox Growing and Shrinking lesson: Assignment section creation
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Status: Under Review, Type: Foundations

#24444 ES6 Modules lesson : Add youtube link to understand modules
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Type: Existing Lesson, Status: Accepted

#24400 /curriculum/foundations: small punctuation/grammar change - moving comma location
  foundations/introduction/how_this_course_will_work.md
Labels: Type: Existing Lesson, Status: Accepted

#24424 React Router Lesson: Add small blurp/section on why use router #24210
  javascript/react_js/router.md
Labels: Type: Enhancement, Status: Accepted

#24454 Asking For Help Lesson: fix typo
  foundations/introduction/asking_for_help.md
Labels: Status: Under Review, Type: Easy Fix

#24453 State and Props lesson: Fix typo
  javascript/react_js/state_and_props.md
Labels: Status: Under Review, Type: Easy Fix

#24435 Fundamentals Part 2: Fix links in "knowledge check"
  foundations/javascript_basics/fundamentals-2.md
Labels: Status: Under Review, Type: Foundations

#24458 Workflows: Add Labeler GitHub Action for automatically adding certain labels
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Status: Needs Review

#24460 Add missing span link on react_testing_part_two.md
  javascript/react_js/react_testing_part_two.md
Labels: Status: Accepted, Course: JavaScript

#24465 Chore/convert a tags to markdown links
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  html_css/intermediate_css/positioning.md
  html_css/intermediate_html/emmet.md
  ruby/basic_ruby/debugging.md
  ruby/files_and_serialization/project_event_manager.md
  ruby/files_and_serialization/project_hangman.md
Labels: Course: Intermediate HTML/CSS, Course: Ruby, Course: Foundations, Status: Needs Triage

#24472 Understanding Errors lesson: Fix issue #24250
  foundations/javascript_basics/understanding_errors/imgs/03.png
Labels: Course: Foundations, Status: Needs Triage

#24464 Rails Stimulus Lesson: Fix Stimulus selecting/targeting elements code example
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Course: Ruby on Rails, Status: Needs Triage

#24455 Foundations flexbox growing and shrinking lesson: Flex auto section creation
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Status: Awaiting Response, Type: Foundations, Course: Foundations

#24476 Installations: Specify users need to download iso file
  foundations/installations/installations.md
Labels: Course: Foundations, Status: Needs Triage

#24478 Add image file for Flexbox Growing And Shrinking lesson
  foundations/html_css/flexbox/imgs/10.png
Labels: Status: Under Review, Course: Foundations
