Repository TheOdinProject/curriculum, pull requests merged in 2022-05, with the labels that each got.

#24091 Links and Images lesson: Fix grammar issues
  foundations/html_css/html-foundations/links-and-images.md
Labels: Type: Existing Lesson, Status: Accepted

#24087 Project Sending Confirmation Emails: Fix Flight Booker Project URL
  ruby_on_rails/mailers_advanced_topics/project_sending_confirmation_emails.md
Labels: Status: Accepted, Type: Ruby/Rails

#24086 Intermediate HTML and CSS, positioning lessong : Fix a typo
  html_css/intermediate_css/positioning.md
Labels: Type: Existing Lesson, Status: Accepted

#24079 Javascript finding waldo project: added note for firebase users
  javascript/javascript_and_the_backend/project_wheres_waldo_a_photo_tagging_app.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#24093 Update routing.md
  ruby_on_rails/rails_basics/routing.md
Labels: Status: Under Review, Type: Ruby/Rails, Type: Easy Fix

#24082 setting_up_git.md: Clarify the verify
  foundations/installations/setting_up_git.md
Labels: Type: Existing Lesson, Status: Needs Review

#24009 CSS Functions lesson: Reword the linear-gradient example
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#24100 Project Members Only: fix grammar
  nodeJS/authentication/project_members_only.md
Labels: Type: Easy Fix

#24072 JavaScript folder: rename `async-apis`, `react-js`, and `testing` folders & files within them
  javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
  javascript/asynchronous_javascript_and_apis/json.md
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
  javascript/asynchronous_javascript_and_apis/working_with_apis/imgs/00.png
  javascript/react_js/advanced_concepts.md
  javascript/react_js/handle_inputs_and_render_lists.md
  javascript/react_js/hooks.md
  javascript/react_js/lifecycle_methods.md
  javascript/react_js/project_cv_application.md
  javascript/react_js/project_memory_card.md
  javascript/react_js/project_shopping_cart.md
  javascript/react_js/react_introduction.md
  javascript/react_js/react_introduction/imgs/00.png
  javascript/react_js/react_testing_part_one.md
  javascript/react_js/react_testing_part_two.md
  javascript/react_js/router.md
  javascript/react_js/state_and_props.md
  javascript/testing_javascript/more_testing.md
  javascript/testing_javascript/project_battleship.md
  javascript/testing_javascript/project_testing_practice.md
  javascript/testing_javascript/testing_basics.md
Labels: Type: Epic

#24106 Fix typo in html-tables.md
  html_css/intermediate_html/html-tables.md
Labels: Type: Existing Lesson, Status: Accepted

#24094 Advanced Selectors lesson: fix typos
  html_css/intermediate_css/selectors.md
Labels: Status: Accepted

#24110 Fix Typos in Overflow Subsection of Lesson
  html_css/intermediate_css/enhancing-design-with-css.md
Labels: Type: Existing Lesson, Status: Accepted

#24109 JavaScript folder: update README.md
  javascript/README.md
Labels: Status: Accepted, Type: Documentation

#24121 JavaScript Basics - Fundamentals Part 1: Remove irrelevant backtick
  foundations/javascript_basics/fundamentals-1.md
Labels: Type: Existing Lesson, Status: Accepted

#24099 Command Line Basics: Update assignment resource
  foundations/installations/command_line_basics.md
Labels: Type: Enhancement, Status: Accepted

#24097 HTML Boilerplate lesson: reword sentences
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#24016 CSS Functions lesson: Fix max() function explanation
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Enhancement, Status: Awaiting Changes

#24126 Project: Todo List: Add period to fix grammar
  javascript/organizing_your_javascript_code/project_todo_list.md
Labels: Status: Accepted

#24022 Revisiting Rock Paper Scissors lesson: Add two resources to Additional Resources
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Type: Enhancement, Status: Awaiting Changes

#24096 Rails Stimulus lesson: Fix references link to start at beginning
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Status: Needs Review, Type: Ruby/Rails, Type: Easy Fix

#24138 typo on introduction_what_is_nodeJS.md
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Type: Existing Lesson, Status: Accepted

#24137 stimulus_js : fix typos
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Type: Existing Lesson, Status: Accepted

#24090 fundamentals-3.md: add additional resource
  foundations/javascript_basics/fundamentals-3.md
  foundations/javascript_basics/fundamentals-5.md
Labels: Type: Enhancement, Status: Awaiting Changes

#24053 Update inspecting-html-and-css.md:Providing one additional resource
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#24136 Advanced Grid Properties lesson: fixed a typo and added a supposedly missed word
  html_css/grid-lessons/advanced_grid_properties.md
Labels: Status: Awaiting Changes, Type: Easy Fix

#24145 typo fix in turbo - connecting_to_other_frames
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Type: Existing Lesson, Status: Accepted

#24154 Authentication Basics: Update logout code snippet
  nodeJS/authentication/authentication_basics.md
Labels: Type: Node/JS, Status: Accepted

#24152 WAI-ARIA Lesson: Add missing space between words
  advanced_html_css/accessibility/wai_aria.md
Labels: Type: Existing Lesson, Status: Accepted

#24158 State and Props lesson: Change link
  javascript/react_js/state_and_props.md
Labels: Type: Enhancement, Status: Accepted

#24118 Project Sign-up Form: Add tip (js required)
  html_css/project-sign-up-form/project-sign-up-form.md
Labels: Type: Existing Lesson, Status: Needs Review

#24132 installing_nodejs.md: inclusion of note re. Ubuntu update if required
  foundations/javascript_basics/installing_nodejs.md
Labels: Type: Existing Lesson, Status: Needs Review

#24163 React Testing Part 2 lesson: Fix minor typos
  javascript/react_js/react_testing_part_two.md
Labels: Type: Existing Lesson, Status: Accepted

#24160 Intermediate HTML and CSS: Form Basics | Correct formatting and grammar
  html_css/intermediate_html/form-basics.md
Labels: Type: Existing Lesson, Status: Accepted

#24156 WAI-ARIA: Remove timestamp from youtube link
  advanced_html_css/accessibility/wai_aria.md
Labels: Type: Existing Lesson, Status: Accepted

#24155 Semantic HTML: Fix broken link
  advanced_html_css/accessibility/semantic_html.md
Labels: Type: Existing Lesson, Status: Accepted

#24166 A Very Brief Intro to CS: Change instructions from 'skim' to 'watch' for video assignment
  ruby/computer_science/a_very_brief_intro_to_cs.md
Labels: Type: Existing Lesson, Status: Accepted

#24167 NodeJS Introduction to Express Lesson: Replace word unit with section
  nodeJS/express_and_mongoose/introduction_to_express.md
Labels: Type: Existing Lesson, Status: Accepted

#24169 Introduction to Express: Update wording for 2nd part of Assignment
  nodeJS/express_and_mongoose/introduction_to_express.md
Labels: Type: Enhancement, Status: Accepted

#24170 Choose Your Path Forward: Fix capitalization and punctuation
  foundations/tying_it_all_together/conclusion.md
Labels: Type: Existing Lesson, Status: Accepted

#24172 Express 101: Add link to Pug site & Capitalize Words
  nodeJS/express_and_mongoose/express_101.md
Labels: Type: Node/JS, Status: Accepted

#24173 Express 102: Remove unneeded then from sentence
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
Labels: Type: Node/JS, Status: Accepted

#24178 Preparing For Deployment: Remove unnecessary repetitive sentence
  ruby_on_rails/introduction/preparing_for_deployment.md
Labels: Type: Existing Lesson, Status: Accepted
