Repository TheOdinProject/curriculum, pull requests merged in 2022-06, with the labels that each got.

#24171 NodeJS - Intro to Express: Add video link to additional resources
  nodeJS/express_and_mongoose/introduction_to_express.md
Labels: Type: Node/JS, Status: Accepted

#24176 Introduction To Web Accessibility lesson: fixed a probable typo
  advanced_html_css/accessibility/introduction_to_web_accessibility.md
Labels: Type: Existing Lesson, Status: Accepted

#24153 Foundations/HTML_CSS/Flexbox: Fixed grammar.
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Type: Existing Lesson, Status: Accepted

#24184 Add ID to table - section First Names of Attendees
  ruby/files_and_serialization/project_event_manager.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24181 The Web Content Accessibility Guidelines (WCAG) lesson: fixed some found typos
  advanced_html_css/accessibility/the_web_content_accessibility_guidelines_wcag.md
Labels: Type: Existing Lesson, Status: Under Review

#24127 Advanced Selectors Lesson: Move selection pseudo-element paragraph in pseudo-element list
  html_css/intermediate_css/selectors.md
Labels: Type: Existing Lesson, Status: Accepted

#24113 Foundations/Flexbox: Fix Additional Resources section
  foundations/html_css/flexbox/flexbox-alignment.md
  foundations/html_css/flexbox/flexbox-axes.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
  foundations/html_css/html-foundations/elements-and-tags.md
  foundations/html_css/html-foundations/html-boilerplate.md
  foundations/html_css/html-foundations/links-and-images.md
  foundations/html_css/html-foundations/lists.md
  foundations/html_css/html-foundations/working-with-text.md
Labels: Type: Enhancement, Status: Awaiting Changes

#24142 Project: Knights Travails: Update Assignment verbiage
  ruby/computer_science/project_knights_travails.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24123 Fundamentals Part 5: Add a reminder on how to work with Node.js
  foundations/javascript_basics/fundamentals-5.md
Labels: Type: Enhancement, Status: Accepted

#24189 Rails API lesson: Update "Rendering Nothing or Errors" section
  ruby_on_rails/apis/apis_and_building_your_own.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24151 Additional resource to Rails Basics - Views lesson
  ruby_on_rails/rails_basics/views.md
Labels: Status: Awaiting Changes, Type: Ruby/Rails

#24191 async_and_await.md: Fix typos
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Type: Existing Lesson, Status: Accepted

#24192 async_and_await.md: Fix typo
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Type: Existing Lesson, Status: Accepted

#24199 Project: Installing Rails: Add 'bundle lock' git command to fix heroku deployment issues
  ruby_on_rails/introduction/project_installing_rails.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24088 Action Cable Assignment: Update 'Simple Messaging App' code-along
  ruby_on_rails/mailers_advanced_topics/actioncable_lesson.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24203 introduction_to_the_backend_lesson: ASP.Net -> C#
  foundations/the_back_end/introduction_to_the_backend_lesson.md
Labels: Type: Existing Lesson, Status: Needs Review

#24205 Javascript Basics Fundamentals 1: Grammer Change
  foundations/javascript_basics/fundamentals-1.md
Labels: Status: Needs Review

#24162 Installing Ruby & various lessons: Update to use Ruby 3.1.2
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby/predicate_enumerable_methods.md
  ruby/files_and_serialization/project_event_manager.md
  ruby/introduction/installing_ruby.md
Labels: Type: Ruby/Rails

#24207 Accessibility Auditing lesson: fixed additional resources placement
  advanced_html_css/accessibility/accessibility_auditing.md
Labels: Type: Existing Lesson, Status: Under Review

#24208 Ruby blocks lesson: Fix typo
  ruby/advanced_ruby/blocks.md
Labels: Status: Under Review, Type: Easy Fix

#24111 Intro to HTML and CSS lesson: added a new question in knowledge check!
  foundations/html_css/intro-to-html-css.md
Labels: Type: Enhancement, Status: Under Review

#24218 Git Basics: Move "Changing the Git Commit Message Editor" section before conclusion
  git/foundations_git/git_basics.md
Labels: Type: Enhancement, Status: Accepted

#24215 JavaScript Fundamentals Part 3: Edit headings
  foundations/javascript_basics/fundamentals-3.md
Labels: Type: Existing Lesson, Status: Accepted

#24212 Ruby conditional logic: fix conditions
  ruby/basic_ruby/conditional_logic.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24219 Final NodeJS project: Add extra credit
  nodeJS/final_project/project_odin_book.md
Labels: Type: Node/JS, Status: Accepted

#24216 CSS Foundations section: Block and Inline lesson: Replace web archive link with a speedier main link
  foundations/html_css/block-and-inline.md
Labels: Type: Existing Lesson, Status: Needs Review

#24226 Rails Stimulus lesson: Edit for punctuation and style
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Type: Enhancement, Status: Needs Review, Type: Ruby/Rails

#24230 Advanced Selectors lesson: update CSS comments
  html_css/intermediate_css/selectors.md
Labels: Type: Enhancement, Status: Needs Review

#24182 Layout Style Guide: Add English section with note on American English
  LAYOUT_STYLE_GUIDE.md
Labels: Status: Needs Review, Type: Documentation

#24227 Foundations: Command Line Basics: Clarify 'code .' command
  foundations/installations/command_line_basics.md
Labels: Type: Enhancement, Status: Accepted

#24225 Setting Up Git: Update Git Set Up Page to Ignore .DS_Store Files
  foundations/installations/setting_up_git.md
Labels: Type: Enhancement, Status: Accepted

#24211 Introduction To Responsive Design lesson: fixed additional resources placement on page
  advanced_html_css/responsive_design/introduction_to_responsive_design.md
Labels: Status: Under Review

#24150 Ruby Path - Ruby on Rails -> Project: Flight Booker: Swaps whitelist for allow
  ruby_on_rails/advanced_forms_and_activerecord/project_flight_booker.md
Labels: Type: Existing Lesson, Status: Needs Review

#24130 fixed additional resources subheading: from intermediate css concepts and grid section
  html_css/grid-lessons/advanced_grid_properties.md
  html_css/grid-lessons/creating-a-grid.md
  html_css/grid-lessons/intro-to-grid.md
  html_css/grid-lessons/positioning-grid-items.md
  html_css/intermediate_css/browser-compatibility.md
  html_css/intermediate_css/frameworks-preprocessors.md
Labels: Status: Needs Review

#24245 Advanced HTML and Css Transforms: Corrected typo.md
  advanced_html_css/animation/transforms.md
Labels: Type: Existing Lesson, Status: Accepted

#24235 Webpack: Fix small typos
  javascript/organizing_your_javascript_code/webpack.md
Labels: Status: Awaiting Changes

#24251 NodeJS Members Only Project: Fix inconsistency in instructions
  nodeJS/authentication/project_members_only.md
Labels: Type: Node/JS, Status: Accepted

#24253 Foundations: Introduction to HTML and CSS: Minor rephrasing clarifying the definition of HTML & CSS as programming languages
  foundations/html_css/intro-to-html-css.md
Labels: Status: Needs Review, Type: Foundations

#24249 Databases and SQL: Fix DELETE syntax typo
  databases/databases/databases_and_sql.md
Labels: Type: Existing Lesson, Status: Under Review

#24232 HTML Boilerplate lesson: Warn unexpected behavior with live server
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Status: Awaiting Response

#24274 Responsive Images lesson: fixed Additional resources placement
  advanced_html_css/responsive_design/responsive_images.md
Labels: Type: Enhancement, Status: Accepted

#24283 Spelling Update to Align With File's Localization
  foundations/javascript_basics/understanding_errors.md
Labels: Type: Existing Lesson, Status: Accepted

#24029 Advanced HTML and CSS lesson: Semantic HTML
  advanced_html_css/accessibility/semantic_html.md
  archive/html_css/semantic_html.md
  foundations/html_css/html-foundations/working-with-text.md
Labels: Type: Enhancement, Status: Awaiting Changes, Type: Accessibility

#24265 Rails JS Bundling: Fix minor grammatical errors
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24291 Choose Your Path Foward: Enhances Choice Wheel
  foundations/tying_it_all_together/conclusion.md
  foundations/tying_it_all_together/imgs/wheel_decide.PNG
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#24278 Rails APIs and Building Your Own: Update learning outcomes and knowledge checks
  ruby_on_rails/apis/apis_and_building_your_own.md
Labels: Type: Existing Lesson, Status: Needs Review, Type: Ruby/Rails

#24292 Choose Your Path Forward: Add wheel sharing suggsestion
  foundations/tying_it_all_together/conclusion.md
Labels: Status: Needs Review

#24280 Adjusted "Additional resources" placement
  advanced_html_css/responsive_design/media_queries.md
Labels: Type: Existing Lesson, Status: Awaiting Response

#24284 Foundations: add computer basics lesson
  foundations/installations/computer_basics.md
Labels: Type: New Lesson, Type: Foundations

#24299 Intermediate HTML and CSS Course: create new section called Forms
  html_css/forms/form-basics.md
  html_css/forms/form-validations.md
Labels: Type: Enhancement, Status: Accepted

#24279 Update Ruby Chess Instructions to add reference to popular notation systems
  ruby/conclusion/project_ruby_final.md
Labels: Type: Enhancement, Status: Under Review, Type: Ruby/Rails

#24304 ES6 Modules lesson: Add clarification sentence
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Type: Existing Lesson, Type: Node/JS, Status: Accepted

#24296 ES6 Module lesson: add new item in 'npm' section
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Type: Existing Lesson, Status: Accepted

#24295 Foundations: move how_does_the_web_work.md & rename prerequisites lesson
  foundations/installations/how_does_the_web_work.md
  foundations/installations/installations.md
  foundations/installations/installations/imgs/00.png
  foundations/installations/installations/imgs/01.png
  foundations/installations/installations/imgs/02.png
  foundations/installations/installations/imgs/03.png
  foundations/installations/installations/imgs/04.png
  foundations/installations/installations/imgs/05.png
  foundations/installations/installations/imgs/06.png
  foundations/installations/installations/imgs/07.png
  foundations/installations/installations/imgs/08.png
  foundations/installations/installations/imgs/09.png
  foundations/installations/installations/imgs/10.png
  foundations/installations/installations/imgs/11.png
  foundations/installations/installations/imgs/12.png
  foundations/installations/installations/imgs/13.png
  foundations/installations/installations/imgs/14.png
  foundations/installations/installations/imgs/VM_01.png
  foundations/installations/installations/imgs/VM_02.png
  foundations/installations/installations/imgs/VM_03.png
  foundations/installations/installations/imgs/VM_04.png
  foundations/installations/installations/imgs/whisker_menu_icon.png
Labels: Type: Foundations

#24306 Update curriculum/linting.md fix link and small typos
  javascript/javascript_in_the_real_world/linting.md
Labels: Type: Existing Lesson, Status: Accepted
