Repository TheOdinProject/curriculum, pull requests merged in 2022-08, with the labels that each got.

#24481 Introduction to web development: remove link
  foundations/introduction/introduction_to_web_development.md
Labels: Course: Foundations, Status: Needs Triage

#24395 Flexbox - Growing and Shrinking lesson: flex shorthand
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Status: Under Review, Type: Foundations

#24466 Convert CS lessons to be Javascript specific
  javascript/computer_science/a_very_brief_intro_to_cs.md
  javascript/computer_science/common_data_structures_algorithms.md
  javascript/computer_science/project_binary_search_trees.md
  javascript/computer_science/project_knights_travails.md
  javascript/computer_science/project_knights_travails/imgs/00.png
  javascript/computer_science/project_knights_travails/imgs/01.png
  javascript/computer_science/project_linked_lists.md
  javascript/computer_science/project_recursion.md
  javascript/computer_science/recursive_methods.md
Labels: Status: Awaiting Changes, Content: JavaScript

#24347 syntax clarity suggestion
  foundations/html_css/html-foundations/project-recipes.md
Labels: Status: Needs Review, Type: Foundations

#24383 foundation/CSSfoundation
  foundations/html_css/css-foundations.md
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
  foundations/html_css/intro-to-html-css.md
  foundations/html_css/the-box-model/the-box-model.md
Labels: Status: Awaiting Changes, Project: Style Guide

#24298 Revisiting RPS: rewrite 'sharing code'
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Type: Enhancement, Status: Awaiting Response, Type: Foundations

#24224 Additional Resources_setting_up_git.md
  foundations/installations/setting_up_git.md
Labels: Status: Needs Review, Type: Foundations

#24436 React Js - Lifecycle Methods : Mention a React 18 Strict Mode feature
  javascript/react_js/lifecycle_methods.md
Labels: Type: Enhancement, Status: Needs Review

#24391 Added additional resources on introduction to flexbox curriculum in foundation course
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Status: Needs Review, Type: Foundations

#24446 Installation lesson: Replace Ubuntu's installation guide
  foundations/installations/installations.md
Labels: Type: Enhancement, Status: Needs Review

#24483 Interm. CSS - Text Styles: Additional Resources
  html_css/intermediate_css/more-text-styles.md
Labels: Status: Accepted, Content: Intermediate HTML/CSS

#24480 Form Validation lesson: Improve sentence clarity/grammar
  html_css/forms/form-validations.md
Labels: Status: Accepted, Content: Intermediate HTML/CSS

#24366 Closes #24333 Foundations/Javascript Basics 2: Fix Lists and Code Blocks
  foundations/javascript_basics/DOM_manipulation_and_events.md
  foundations/javascript_basics/clean_code.md
  foundations/javascript_basics/fundamentals-4.md
  foundations/javascript_basics/fundamentals-5.md
  foundations/javascript_basics/installing_nodejs.md
  foundations/javascript_basics/project_calculator.md
  foundations/javascript_basics/project_etch_a_sketch.md
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Status: Awaiting Changes, Project: Style Guide

#24374 Foundations/CSS Foundations: format headings and structure according to style guide
  foundations/html_css/block-and-inline.md
  foundations/html_css/css-foundations.md
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
  foundations/html_css/intro-to-html-css.md
  foundations/html_css/the-box-model/the-box-model.md
Labels: Status: Awaiting Changes, Project: Style Guide

#24470 Update media_queries.md
  advanced_html_css/responsive_design/media_queries.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#24471 HTML Boilerplate Lesson: Fix missing word
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations, Status: Needs Triage

#24451 introduction_to_web_development.md: change Facebook to Meta
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations, Status: Needs Triage

#24474 Style Guide - Foundations/CSS Foundations: Assignments #24239
  foundations/html_css/block-and-inline.md
  foundations/html_css/css-foundations.md
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
  foundations/html_css/the-box-model/the-box-model.md
Labels: Content: Foundations, Status: Needs Triage

#24404 Flexbox Lessons: Fix formatting based on style guide
  foundations/html_css/flexbox/flexbox-alignment.md
  foundations/html_css/flexbox/flexbox-axes.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Status: Needs Review, Project: Style Guide

#24486 Foundations Installations: Update GuestAdditions install instructions for Xubuntu 22.04
  foundations/installations/installations.md
Labels: Content: Foundations, Status: Needs Triage

#24495 Git Basics lesson: fix indentation to properly render list
  git/foundations_git/git_basics.md
Labels: Status: Accepted, Content: Git

#24494 Block & Inline Lesson: Fix duplicate text
  foundations/html_css/block-and-inline.md
Labels: Status: Accepted, Content: Foundations

#24496 Linting lesson: Fix broken link for article 1
  javascript/javascript_in_the_real_world/linting.md
Labels: Status: Accepted, Content: JavaScript

#24293 Ruby Installation Lesson: Update with instructions for updating ruby-build
  ruby/introduction/installing_ruby.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24410 TheOdinProject/curriculum: Modify and add headings and section placement
  foundations/javascript_basics/DOM_manipulation_and_events.md
  foundations/javascript_basics/clean_code.md
  foundations/javascript_basics/fundamentals-5.md
  foundations/javascript_basics/installing_nodejs.md
  foundations/javascript_basics/project_calculator.md
Labels: Status: Awaiting Changes, Project: Style Guide

#24147 Command Line Basics lesson: Fix sub-sub-subheading rendering error
  foundations/installations/command_line_basics.md
Labels: Type: Enhancement, Status: Awaiting Changes, Status: Awaiting Response

#24356 JavaScript Basics 1: Fixing Headings and Section Placement using Style Guide
  foundations/javascript_basics/fundamentals-1.md
  foundations/javascript_basics/fundamentals-2.md
  foundations/javascript_basics/fundamentals-3.md
  foundations/javascript_basics/javascript_developer_tools.md
  foundations/javascript_basics/problem_solving.md
  foundations/javascript_basics/understanding_errors.md
Labels: Status: Awaiting Changes, Project: Style Guide

#24384 Html Foundations Section: lists and code blocks
  foundations/html_css/html-foundations/elements-and-tags.md
  foundations/html_css/html-foundations/html-boilerplate.md
  foundations/html_css/html-foundations/links-and-images.md
  foundations/html_css/html-foundations/lists.md
  foundations/html_css/html-foundations/project-recipes.md
  foundations/html_css/html-foundations/working-with-text.md
  foundations/html_css/intro-to-html-css.md
  git/foundations_git/commit_messages.md
Labels: Status: Awaiting Changes, Project: Style Guide

#24462 recipe project: edit copy, include code examples
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations, Status: Needs Triage

#24357 Closes #24340 Foundations/Flexbox: Headings and Section Placement
  foundations/html_css/flexbox/flexbox-alignment.md
  foundations/html_css/flexbox/flexbox-axes.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
  foundations/html_css/project/html-css-foundations-project.md
Labels: Status: Awaiting Changes, Project: Style Guide

#24507 Fixed article link for the "Linting" course
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript, Status: Needs Triage

#24513 Text Editors: Update video link
  foundations/installations/text_editors.md
Labels: Content: Foundations, Status: Needs Triage

#24510 Easy Fix: Project recipes lesson instructions 'Viewing Your Project on the Web'
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#24501 Form Validation lesson: Improve punctuation and capitalization, expand sentence
  html_css/forms/form-validations.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24503 JS Fundamentals - Part 1: Add Live Server download link for Visual Studio Code
  foundations/javascript_basics/fundamentals-1.md
Labels: Content: Foundations, Status: Needs Triage

#24506 Flexbox Axes Lesson: fix typo
  foundations/html_css/flexbox/flexbox-axes.md
Labels: Content: Foundations, Status: Needs Triage

#24508 Growing And Shrinking: Fix capitalisation of title
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Content: Foundations, Status: Needs Triage

#24511 Revisiting Rock Paper Scissors lesson: Fix typo
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Status: Accepted, Content: Foundations

#24514 Foundations/Installations lesson: Fixed list indentation
  foundations/installations/installation_overview.md
  foundations/installations/installations.md
  foundations/installations/setting_up_git.md
Labels: Content: Foundations, Status: Needs Triage

#24500 project_linked_lists.md: Fix typo
  javascript/computer_science/project_linked_lists.md
Labels: Content: JavaScript, Status: Needs Triage

#24519 Project: Installing Rails: Capitalize all instances of Javascript to JavaScript
  ruby_on_rails/introduction/project_installing_rails.md
Labels: Status: Accepted, Content: Ruby on Rails

#24517 stimulus.js: remove duplicate "the"
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24520 Fixed href of the first question in the knowledge check section
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Status: Accepted, Content: Foundations

#24459 lesson-template.md: Move practice into assignment
  templates/lesson-template.md
Labels: Status: Accepted, Type: Documentation

#24516 Feature: Link to our success stories channel
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#24521 stimulus_js : fix typo
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24518 html_css folder: Update folder structure
  archive/intermediate_html_css/grid_project.md
  intermediate_html_css/forms/form_basics.md
  intermediate_html_css/forms/form_validations.md
  intermediate_html_css/forms/project_sign_up_form.md
  intermediate_html_css/forms/project_sign_up_form/imgs/odin-lined.png
  intermediate_html_css/forms/project_sign_up_form/imgs/sign-up-form.png
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/grid/creating_a_grid.md
  intermediate_html_css/grid/introduction_to_grid.md
  intermediate_html_css/grid/positioning_grid_elements.md
  intermediate_html_css/grid/project_admin_dashboard.md
  intermediate_html_css/grid/project_admin_dashboard/imgs/dashboard-project.png
  intermediate_html_css/grid/using_flexbox_and_grid.md
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
  intermediate_html_css/intermediate_css_concepts/css_functions.md
  intermediate_html_css/intermediate_css_concepts/css_units.md
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
  intermediate_html_css/intermediate_css_concepts/default_styles.md
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
  intermediate_html_css/intermediate_css_concepts/more_css_properties.md
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
  intermediate_html_css/intermediate_css_concepts/positioning.md
  intermediate_html_css/intermediate_html_concepts/emmet.md
  intermediate_html_css/intermediate_html_concepts/emmet/imgs/00.png
  intermediate_html_css/intermediate_html_concepts/emmet/imgs/01.png
  intermediate_html_css/intermediate_html_concepts/emmet/imgs/02.png
  intermediate_html_css/intermediate_html_concepts/emmet/imgs/03.png
  intermediate_html_css/intermediate_html_concepts/introduction.md
  intermediate_html_css/intermediate_html_concepts/svgs.md
  intermediate_html_css/intermediate_html_concepts/tables.md
Labels: Type: Chore

#24528 Routing Lesson: Capitalize a few words
  ruby_on_rails/rails_basics/routing.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24485 Ruby on Rails Controllers lesson: Clearer param values for Post params explanation
  ruby_on_rails/rails_basics/controllers.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24484 Rails Final Project: Update Heroku and Active Storage links
  ruby_on_rails/mailers_advanced_topics/project_final.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24531 Authentication Basics: Fix - typo
  nodeJS/authentication/authentication_basics.md
Labels: Status: Accepted, Content: NodeJS

#24530 JavaScript Classes: Fix link issue
  javascript/organizing_your_javascript_code/classes.md
Labels: Status: Accepted, Content: JavaScript

#24529 Intermediate HTML and CSS Course: Add README.md
  intermediate_html_css/README.md
Labels: Status: Accepted, Content: Intermediate HTML/CSS

#24493 Added explanation for Regex usage.
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations, Status: Needs Triage

#24536 Chore: Adding Opening Introduction Heading to All Node Lessons
  nodeJS/apis/project_blog_api.md
  nodeJS/authentication/authentication_basics.md
  nodeJS/authentication/security_configuration.md
  nodeJS/express_and_mongoose/express_101.md
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
  nodeJS/express_and_mongoose/express_104_view_templates.md
  nodeJS/express_and_mongoose/introduction_to_express.md
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
  nodeJS/express_and_mongoose/project_inventory_application.md
  nodeJS/express_and_mongoose/project_mini_message_board.md
  nodeJS/final_project/project_odin_book.md
  nodeJS/introduction_to_nodeJS/debugging_node.md
  nodeJS/introduction_to_nodeJS/getting_started.md
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
  nodeJS/mongoDB/intro_to_mongoDB.md
  nodeJS/testing_express/testing_database_operations.md
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS, Status: Needs Triage

#24534 Project: Blog App: Fix capitalizations and punctuation
  ruby_on_rails/rails_basics/project_blog_app.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24537 Accessible Colors lesson: Fix typo
  advanced_html_css/accessibility/accessible_colors.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#24535 Growing and Shrinking Lesson: fix typo
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Content: Foundations, Status: Needs Triage

#24533 Accessibility: Semantic HTML: Make sure examples follow the same convention
  advanced_html_css/accessibility/semantic_html.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#24541 Advanced HTML and CSS: Keyboard Navigation: Make sure HTML is spelled correctly
  advanced_html_css/accessibility/keyboard_navigation.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#24522 Understanding Errors lesson: Add statically link to updated image
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations, Status: Needs Triage

#24527 Revisiting Rock Paper Scissors Lesson: Add new screenshot (Related to #24489)
  foundations/javascript_basics/revisiting_rock_paper_scissors/imgs/00.png
Labels: Content: Foundations, Status: Needs Triage

#24545 Intermediate HTML/CSS: Fix typo in README
  intermediate_html_css/README.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24558 Fundamentals Part 3: make it clearer that we pass the animal as a string
  foundations/javascript_basics/fundamentals-3.md
Labels: Status: Accepted, Content: Foundations

#24552 JavaScript Webpack: Add an Assignment Section
  javascript/organizing_your_javascript_code/webpack.md
Labels: Status: Accepted, Content: JavaScript

#24551 turbo_drive.md: fix typo
  ruby_on_rails/assets_and_navigation/turbo_drive.md
Labels: Status: Accepted, Content: Ruby on Rails

#24549 NodeJS Express 104 View Templates: Fixed typo "Describe how routes works"
  nodeJS/express_and_mongoose/express_104_view_templates.md
Labels: Status: Accepted, Content: NodeJS

#24548 Databases: Fix a typo
  databases/databases/databases.md
Labels: Status: Accepted, Content: Databases

#24559 Admin Dashboard Project: Fix dashboard project image link
  intermediate_html_css/grid/project_admin_dashboard.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24540 JavaScript: Binary Search Tree Project: add `prettyPrint()` function translated from Ruby's BST project
  javascript/computer_science/project_binary_search_trees.md
  ruby/computer_science/project_binary_search_trees.md
Labels: Status: Awaiting Changes, Content: JavaScript

#24567 Data Structures Chapter, JS path: change knowledge check question
  javascript/computer_science/common_data_structures_algorithms.md
Labels: Status: Accepted, Content: JavaScript

#24556 Landing Page: Add new screenshot image and format old images
  foundations/html_css/project/imgs/01.png
  foundations/html_css/project/imgs/02.png
  foundations/html_css/project/imgs/03.png
Labels: Content: Foundations, Status: Needs Triage

#24578 Project Admin Dashboard: Fix design file link
  intermediate_html_css/grid/project_admin_dashboard.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24550 Motivation and Mindset lesson: Delete last sentence
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#24584 Installations / Setting Up Git: Update ChromeOS references.
  foundations/installations/installations.md
  foundations/installations/setting_up_git.md
Labels: Content: Foundations, Status: Needs Triage

#24589 ES6 Modules: Add typo on line 23.
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript, Status: Needs Triage

#24583 Foundations Command Line Basics: Clarify wording in the instructions
  foundations/installations/command_line_basics.md
Labels: Content: Foundations, Status: Needs Triage

#24582 Intermediate HTML and CSS Course Form Basics: implement consistent naming in code example
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24509 React Testing Part 2: Fix a typo
  javascript/react_js/react_testing_part_two.md
Labels: Content: JavaScript, Status: Needs Triage

#24543 add additional resource: link to kevin powell vid
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations, Status: Needs Triage

#24574 RoR JS Bundling lesson: Fix link to esbuild docs
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24572 Revisiting Rock Paper Scissors: Fix nested list numeration
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations, Status: Needs Triage

#24573 Update objects_and_object_constructors.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript, Status: Needs Triage

#24566 Foundations - Recipes project: correct directory link in Iteration 2
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations, Status: Needs Triage

#24585 Preparing For Deplyment lesson: Add important note about Heroku
  ruby_on_rails/introduction/preparing_for_deployment.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24591 [ Ruby > Basic Ruby > Debugging ]: Merge consecutive steps
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby, Status: Needs Triage

#24577 Landing Page: Link new images from imgs directory
  foundations/html_css/project/colors_and_stuff.png
  foundations/html_css/project/html-css-foundations-project.md
  foundations/html_css/project/odin-project.png
Labels: Content: Foundations, Status: Needs Triage

#24594 How does the web work? Adding the ' target="blank" ' attribute.
  foundations/installations/how_does_the_web_work.md
Labels: Content: Foundations, Status: Needs Triage

#24598 Foundations Installations: Remove conflicting instruction
  foundations/installations/installations.md
Labels: Content: Foundations, Status: Needs Triage

#24599 relocated the position of the period
  foundations/html_css/block-and-inline.md
Labels: Content: Foundations, Status: Needs Triage

#24579 Adds whitespace around list
  foundations/installations/how_does_the_web_work.md
  foundations/introduction/asking_for_help.md
  foundations/introduction/introduction_to_web_development.md
  foundations/introduction/join_the_odin_community.md
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage
