Repository TheOdinProject/curriculum, pull requests merged in 2022-02, with the labels that each got.

#23466 Fixed minor typo in prerequisites lesson
  foundations/installations/prerequisites.md
Labels: Type: Existing Lesson, Status: Accepted

#23464 Misspelled insensitivity and missing a comma in CSS Selectors lesson | html_css/intermediate_css/selectors.md
  html_css/intermediate_css/selectors.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23428 Fixes typo in Fundamentals Preqrequisites lesson
  foundations/installations/prerequisites.md
Labels: Type: Enhancement

#23471 Fix misspellings of 'pseudocode' in Problem Solving lesson of JavaScript Basics in Foundations
  foundations/javascript_basics/problem_solving.md
Labels: Status: Needs Review

#23479 Remove unnecessary knowledge check from "Introduction to Frameworks" Foundations lesson
  foundations/the_back_end/introduction_to_frameworks.md
Labels: Type: Existing Lesson

#23480 Fixed heading issue for Advanced Grid lesson
  html_css/grid-lessons/advanced_grid_properties.md
Labels: Type: Existing Lesson, Type: Bug

#23463 Fixed selectors in CSS-Selectors lesson
  html_css/intermediate_css/selectors.md
Labels: Type: Existing Lesson

#23478 Add video link on react intro.
  javascript/react-js/react-introduction.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#23477 Fixed console.log() statement in JavaScript OOP Principles lesson
  javascript/organizing-js/oop-concepts.md
Labels: Type: Existing Lesson, Status: Needs Review

#23459 Fixes typos in Form Basics
  html_css/intermediate_html/form-basics.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Awaiting Changes

#23364 Archive old DOM manipulation lesson
  archive/DOM-manipulation.md
Labels: Type: Chore

#23387 Bring disparity b/w the form validation lesson in Intermediate HTML/CSS and the form lesson in JavaScript course
  html_css/intermediate_html/form-validations.md
  javascript/js-in-the-real-world/forms.md
Labels: Type: Enhancement, Type: Existing Lesson

#23485 Fix Typo in Form Basics Lesson
  html_css/intermediate_html/form-basics.md
Labels: Type: Existing Lesson, Status: Accepted, Type: Easy Fix

#23475 Fix sentence structure and a misspelled word in the Installing Node.js lesson in Foundations
  foundations/javascript_basics/installing_nodejs.md
Labels: Type: Existing Lesson, Status: Needs Review

#23474 Add a missing /:postid in the DELETE example of API basics
  nodeJS/APIs/APIs.md
Labels: Type: Existing Lesson, Status: Needs Review

#23410 Add Knowledge Checks to enhancing-design-with-css
  html_css/intermediate_css/enhancing-design-with-css.md
Labels: Status: Needs Review

#23411 Express 102 lesson: add additional resource link
  nodeJS/express-basics/Express-Lesson-2.md
Labels: Status: Awaiting Changes

#23494 Semantic updates to iteration 0 in example 2 of reduce method section in basic_enumerable_methods.md
  ruby_programming/basic_ruby/basic_enumerable_methods.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#23495 Fixes grammar, passive to active voice, & simplify in the Command Line Basics lesson
  foundations/installations/command_line_basics.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#23513 docs: Fixes grammar issues in the Setting Up Git lesson
  foundations/installations/setting_up_git.md
Labels: Type: Existing Lesson, Status: Needs Review, Type: Easy Fix

#23504 Refactor instructions in Project: Rock Paper Scissors
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Awaiting Changes

#23496 Add clarification on specificity notation in selectors lesson
  html_css/intermediate_css/selectors.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#23520 Rename point 4. to 3. for MacOS section in Foundations Setting up Git lesson.
  foundations/installations/setting_up_git.md
Labels: Type: Existing Lesson, Status: Under Review, Type: Easy Fix

#23527 Fix incorrect family ties between Dr. Bert Bos and Wes Bos in Introduction Grid lesson
  html_css/grid-lessons/intro-to-grid.md
Labels: Status: Under Review, Type: Easy Fix

#23431 Grammar fix on line 148 of Intermediate HTML / Form Validation
  html_css/intermediate_html/form-validations.md
Labels: Type: Enhancement, Status: Awaiting Changes

#23530 Closes #23457 remove SOLIDUS character (/) on meta tag in Foundations fundamentals 1 for consistency
  foundations/javascript_basics/fundamentals-1.md
Labels: Type: Enhancement, Status: Awaiting Response

#23528 removed exercise that no longer exists in repo from keyframes.md
  html_css/animation/keyframes.md
Labels: Type: Existing Lesson, Type: Easy Fix

#23536 Fix Intermediate Git Link in JavaScript Introduction
  javascript/introduction/introduction.md
Labels: Type: Existing Lesson, Status: Accepted, Type: Easy Fix

#23535 modified browser-compatibility.md
  html_css/intermediate_css/browser-compatibility.md
Labels: Type: Existing Lesson, Status: Needs Review, Type: Easy Fix

#23542 Fixed Typo in Advanced Grid Properties Lesson
  html_css/grid-lessons/advanced_grid_properties.md
Labels: Status: Accepted, Type: Easy Fix

#23543 Removed duplicate link in the css-functions lesson.
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Existing Lesson, Status: Needs Review

#23523 Fixes transform order in animations lesson.
  html_css/animation/transforms.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23547 Clarification of "methods" in JS Fundamentals 2
  foundations/javascript_basics/fundamentals-2.md
Labels: Type: Existing Lesson, Status: Accepted

#23548 Clarified only vscode is suported for the text editor lesson.
  foundations/installations/text_editors.md
Labels: Type: Existing Lesson, Status: Accepted

#23554 Changed "[OS] of your choice." to "a supported [OS]" in Installation Overview
  foundations/installations/installation_overview.md
Labels: Type: Existing Lesson, Status: Accepted

#23558 Change verbiage and reduce priority of Cracking the Coding Interview
  getting_hired/preparing_to_interview.md
Labels: Type: Existing Lesson, Status: Needs Review

#23555 Updated Text Editors lesson to include VSCode install steps
  foundations/installations/text_editors.md
Labels: Type: Existing Lesson

#23561 Replace fg command with google
  foundations/introduction/join_the_odin_community.md
Labels: Type: Existing Lesson, Status: Needs Review

#23518 Change master in ruby exercises links to main
  ruby_programming/basic_ruby/arrays.md
  ruby_programming/basic_ruby/basic_data_types.md
  ruby_programming/basic_ruby/basic_enumerable_methods.md
  ruby_programming/basic_ruby/hashes.md
  ruby_programming/basic_ruby/methods.md
  ruby_programming/basic_ruby/predicate_enumerable_methods.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23550 Remove CodePen link in Intermediate CSS - CSS Functions
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23546 Add note about node console in node lesson
  foundations/installations/installing_node.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#23563 Added rails methods api documentation link.
  rails_programming/introduction/introduction.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Accepted

#23551 docs: Fixes grammar, punctuations, and hard to read phrases in Git Basics lesson.
  foundations/git_basics/git_basics.md
Labels: Type: Existing Lesson, Status: Needs Review

#23589 Installing Node Instructions update: Move old Installing Node instructions to archive directory
  archive/installing_node.md
Labels: Type: Existing Lesson

#23591 added knowledge check links to responsive images lesson
  html_css/responsive-css/responsive-images.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#23592 CSS Functions Lesson: Added Knowledge Check Links
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#23472 HTML table lesson, add additional resource link
  html_css/intermediate_html/html-tables.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Awaiting Changes

#23597 Accesibility auditing markdown: added knowledge check section and included links to references in lesson
  html_css/accessibility_auditing.md
Labels: Type: Existing Lesson, Status: Needs Review

#23598 add knowledge check links to advanced selectors
  html_css/intermediate_css/selectors.md
Labels: Type: Existing Lesson, Status: Needs Review

#23532 Add additional resources to text editors
  foundations/installations/text_editors.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Awaiting Changes

#23604 Etch-a-Sketch Project in Foundations: Fix capitalization issues
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Status: Accepted

#23607 js-rails: rename folder & split rails_backend lesson
  archive/rails_backend_old.md
  javascript/js-and-the-backend/backend_as_a_service.md
  javascript/js-and-the-backend/project_rails_backend.md
  javascript/js-and-the-backend/rails_backend.md
Labels: Type: Enhancement, Status: Needs Review

#23587 README and Contributing: Update files based on new guides
  README.md
  archive/CONTRIBUTING-old.md
  archive/README-old.md
Labels: Type: Documentation

#23588 JS Fundamentals Part 4: Clarify instructions for TDD exercises
  foundations/javascript_basics/fundamentals-4.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23606 keyboard navigation lesson: added links to knowledge check
  html_css/keyboard_navigation.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Under Review

#23612 Ruby Recursion Project: Add section for Uderstanding Recursive Fibonnaci
  ruby_programming/computer_science/lesson_recursion.md
  ruby_programming/computer_science/project_recursion.md
Labels: Type: Existing Lesson, Status: Under Review

#23461 Adds missing Rails active record associations knowledge checks
  rails_programming/advanced_forms_and_activerecord/active_record_associations.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Needs Review

#23610 Introduction to Web Accessibility lesson: Add Knowledge Checks
  html_css/accessibility/web_accessibility.md
Labels: Type: Existing Lesson, Status: Under Review

#23616 Advanced HTML and CSS/Semantic HTML: Added missing knowledge check links
  html_css/accessibility/semantic_html.md
Labels: Type: Existing Lesson, Status: Under Review

#23608 Browser Compatibility Lesson: Added Knowledge Check Links
  html_css/intermediate_css/browser-compatibility.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Accepted

#23625 html_css/accessibility/keyboard_navigation.md: transferred updated knowledge check changes to lesson markdown in acc…
  html_css/accessibility/keyboard_navigation.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Under Review

#23631 The Web Content Accessibility Guidelines(WCAG): Add Knowledge Check Links
  html_css/accessibility/wcag.md
Labels: Type: Existing Lesson, Status: Under Review

#23617 Advanced HTML/CSS lesson Accessible Colors: added knowledge check links
  html_css/accessibility/accessible_colors.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Under Review

#23438 Edit Learning Outcomes and add Knowledge Checks to Active Record Quer…
  rails_programming/advanced_forms_and_activerecord/active_record_queries.md
Labels: Type: Enhancement, Status: Awaiting Changes

#23624 Fixed correction in wording
  html_css/accessibility/wcag.md
Labels: Type: Existing Lesson, Status: Needs Review, Type: Easy Fix

#23540 fixes a typo in the ADVANCED GRID PROPERTIES lesson
  html_css/grid-lessons/advanced_grid_properties.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Awaiting Changes

#23641 Move Sandi Metz testing video from testing basics to more testing lesson
  javascript/testing/testing-1.md
  javascript/testing/testing-2.md
Labels: Status: Accepted

#23637 Add Merge Sort Visualizer Link and Fix Link Text in Recursion Project
  ruby_programming/computer_science/project_recursion.md
Labels: Type: Existing Lesson, Status: Under Review

#23636 Template Files: Update based on main TOP repo
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Type: Documentation

#23648 Creating a Grid lesson: Fix link and unclear wording in Knowledge Check section
  html_css/grid-lessons/creating-a-grid.md
Labels: Type: Existing Lesson, Status: Needs Review

#23650 Growing and Shrinking lesson: Add missing introduction header
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Type: Existing Lesson, Status: Needs Review

#23440 Add commit message lesson
  foundations/html_css/html-foundations/commit-messages.md
  foundations/html_css/html-foundations/project-recipes.md
  foundations/html_css/project/html-css-foundations-project.md
  foundations/javascript_basics/project_calculator.md
  foundations/javascript_basics/project_etch_a_sketch.md
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Type: New Lesson, Status: In Progress, Status: Awaiting Changes

#23611 HTML Boilerplate: Meta charset should go before title
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Type: Existing Lesson, Status: Needs Review

#23645 Flexbox Alignment: Add resource link
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Type: Existing Lesson, Status: Under Review, Type: Foundations

#23660 Multiple lessons: Fix broken commit messages lesson link
  foundations/html_css/html-foundations/project-recipes.md
  foundations/html_css/project/html-css-foundations-project.md
  foundations/javascript_basics/project_calculator.md
  foundations/javascript_basics/project_etch_a_sketch.md
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Type: Existing Lesson, Status: Needs Review

#23652 Sign up form project: Changed project steps to better reflect expected knowledge
  html_css/project-sign-up-form/project-sign-up-form.md
Labels: Status: Under Review, Type: Easy Fix

#23599 Feature/add new knowledge check and links cookies and serialization rails
  rails_programming/forms_and_authentication/sessions_cookies_authentication.md
Labels: Type: Existing Lesson, Status: Accepted

#23634 Add missing Knowledge Checks, Learning Outcomes, and Knowledge Check links to Ruby on Rails/Deployment
  rails_programming/rails_basics/deployment.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23658 react-testing-part-one: fix minor inconsistencies
  javascript/react-js/react-testing-part-one.md
Labels: Status: Needs Review, Type: Easy Fix
