Repository TheOdinProject/curriculum, pull requests merged in 2022-04, with the labels that each got.

#23947 DOM Manipulation and Events lesson: Remove keypress from useful events
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Type: Existing Lesson, Status: Accepted

#23950 Project Mini Message Board : fix spacing to properly display code block
  nodeJS/express_and_mongoose/project_mini_message_board.md
Labels: Type: Existing Lesson, Status: Accepted

#23944 Form Basics lesson: Add missing word and period
  html_css/intermediate_html/form-basics.md
Labels: Type: Existing Lesson, Status: Accepted

#23955 Where's Waldo: Fixed broken recipes link
  javascript/js-and-the-backend/project_rails_backend.md
Labels: Type: Existing Lesson, Status: Accepted

#23952 Git Basics: Fix link to "Setting Up Git"
  git/foundations_git/git_basics.md
Labels: Type: Existing Lesson, Status: Accepted

#23960 What You Can Do To Prepare : replace dead link with archived version
  getting_hired/preparing_for_job_search/what_you_can_do_to_prepare.md
Labels: Status: Accepted

#23948 Foundations Problem Solving: Fix broken link
  foundations/javascript_basics/problem_solving.md
Labels: Type: Existing Lesson, Status: Needs Review

#23949 Style Guide - Foundations/HTML Foundations: Knowledge Checks and Learning Outcomes Fix
  foundations/html_css/html-foundations/commit-messages.md
  foundations/html_css/html-foundations/elements-and-tags.md
  foundations/html_css/html-foundations/html-boilerplate.md
  foundations/html_css/html-foundations/links-and-images.md
  foundations/html_css/html-foundations/lists.md
  foundations/html_css/html-foundations/working-with-text.md
  foundations/html_css/intro-to-html-css.md
Labels: Status: Needs Review, Project: Style Guide

#23954 Foundations/Javascript Basics: changed formatting for lesson overview and knowledge checks
  foundations/javascript_basics/fundamentals-1.md
  foundations/javascript_basics/fundamentals-2.md
  foundations/javascript_basics/fundamentals-3.md
  foundations/javascript_basics/javascript_developer_tools.md
  foundations/javascript_basics/problem_solving.md
  foundations/javascript_basics/understanding_errors.md
Labels: Status: Needs Review, Project: Style Guide

#23956 Foundations/JavaScript Basics Section 2: Updated in accordance with Style Guide
  foundations/javascript_basics/DOM_manipulation_and_events.md
  foundations/javascript_basics/clean_code.md
  foundations/javascript_basics/fundamentals-4.md
  foundations/javascript_basics/fundamentals-5.md
  foundations/javascript_basics/installing_nodejs.md
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Status: Needs Review, Project: Style Guide

#23897 Foundations, Installations, Prerequisites: Modify link [usage share of web browsers]
  foundations/installations/prerequisites.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23905 React Testing Part 2: Add note about React components written within tests
  javascript/react-js/react-testing-part-two.md
Labels: Type: Existing Lesson, Status: Accepted

#23896 Foundations > CSS Foundations: Add image proportions example
  foundations/html_css/css-foundations.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23927 Ruby - How this course will work: Improvements in grammar and punctuation
  ruby/introduction/how_this_course_will_work.md
Labels: Status: Awaiting Response, Type: Ruby/Rails

#23967 Style Guide - Foundations/HTML Foundations: Fixed lesson overview format
  git/foundations_git/commit_messages.md
Labels: Status: Awaiting Response

#23978 stimulus_js: add missing closing double quote
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Status: Accepted

#23953 Update assignment-CSS: Remove note about outdated CSS Grid section.
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
Labels: Status: Awaiting Changes

#23992 Factory Function lesson: Add a missing word
  javascript/organizing-js/factory-functions.md
Labels: Type: Existing Lesson, Status: Accepted

#23983 Introduction to Flexbox lesson: Fix grammar, punctuation, readability, & format to follow the Layout Style Guide
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23989 Foundations/JavaScript Fundamentals Part 4: Place Additional Resources section before Knowledge Check
  foundations/javascript_basics/fundamentals-4.md
Labels: Status: Needs Review

#23994 Emmet: Replace Imgur for Statically
  html_css/intermediate_html/emmet.md
  html_css/intermediate_html/emmet/imgs/00.png
  html_css/intermediate_html/emmet/imgs/01.png
  html_css/intermediate_html/emmet/imgs/02.png
  html_css/intermediate_html/emmet/imgs/03.png
Labels: Status: Needs Review

#23965 Style Guide - Foundations/Installations: Learning Outcomes and Knowledge Checks
  foundations/installations/command_line_basics.md
Labels: Status: Awaiting Changes

#23986 Foundations/CSS Foundations: Learning Outcomes and Knowledge Checks Style
  foundations/html_css/block-and-inline.md
  foundations/html_css/css-foundations.md
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
  foundations/html_css/the-box-model/the-box-model.md
Labels: Status: Awaiting Changes

#23982 Foundations/Git Basics, The Back End, and Conclusion: Updated verbiage according to Layout Style Guide
  foundations/the_back_end/introduction_to_frameworks.md
  foundations/the_back_end/introduction_to_the_backend_lesson.md
  foundations/tying_it_all_together/conclusion.md
  git/foundations_git/git_basics.md
  git/foundations_git/introduction_to_git.md
Labels: Type: Existing Lesson, Status: Under Review

#23972 Foundations/HTML Foundations: Additional Resources style update
  foundations/html_css/html-foundations/commit-messages.md
  foundations/html_css/html-foundations/elements-and-tags.md
  foundations/html_css/html-foundations/html-boilerplate.md
  foundations/html_css/html-foundations/links-and-images.md
  foundations/html_css/html-foundations/lists.md
  foundations/html_css/html-foundations/working-with-text.md
  foundations/html_css/intro-to-html-css.md
Labels: Type: Existing Lesson, Status: Under Review

#23921 Advanced Selectors: changed description of :only-child
  html_css/intermediate_css/selectors.md
Labels: Status: Awaiting Changes

#23852 Added font file formats explanation paragraph
  html_css/intermediate_css/more-text-styles.md
Labels: Type: Enhancement, Type: Existing Lesson, Status: Accepted

#23999 Basic Data Types: Fix broken Assignemnt Link
  ruby/basic_ruby/basic_data_types.md
Labels: Type: Existing Lesson, Status: Accepted

#23759 Links and Images lesson: Improve description of absolute links and add supplementary example
  foundations/html_css/html-foundations/links-and-images.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#24002 React Testing Part 1 lesson: Change outdated link
  javascript/react-js/react-testing-part-one.md
Labels: Type: Existing Lesson, Status: Accepted

#24001 Remove foundations git lessons from old location
  foundations/git_basics/git_basics.md
  foundations/git_basics/introduction_to_git.md
  foundations/git_basics/project_practicing_git_basics/imgs/00.png
  foundations/git_basics/project_practicing_git_basics/imgs/01.png
  foundations/git_basics/project_practicing_git_basics/imgs/02.png
  foundations/git_basics/project_practicing_git_basics/imgs/03.png
  foundations/git_basics/project_practicing_git_basics/imgs/04.png
  foundations/git_basics/project_practicing_git_basics/imgs/05.png
  foundations/git_basics/project_practicing_git_basics/imgs/06.png
  foundations/git_basics/project_practicing_git_basics/imgs/07.png
  foundations/git_basics/project_practicing_git_basics/imgs/08.png
  foundations/git_basics/project_practicing_git_basics/imgs/09.png
  foundations/git_basics/project_practicing_git_basics/imgs/10.png
  foundations/git_basics/project_practicing_git_basics/imgs/11.png
  foundations/git_basics/project_practicing_git_basics/imgs/12.png
  foundations/git_basics/project_practicing_git_basics/imgs/13.png
  foundations/git_basics/project_practicing_git_basics/imgs/14.png
  foundations/git_basics/project_practicing_git_basics/imgs/15.png
  foundations/git_basics/project_practicing_git_basics/imgs/16.png
  foundations/git_basics/project_practicing_git_basics/imgs/17.png
  foundations/git_basics/project_practicing_git_basics/imgs/18.png
  foundations/git_basics/project_practicing_git_basics/imgs/19.png
  foundations/git_basics/project_practicing_git_basics/imgs/20.png
  foundations/html_css/html-foundations/commit-messages.md
Labels: Status: Accepted, Type: Chore

#23917 Block And Inline lesson: Fix grammar, make sentences easy to read, and format to follow the Layout Style Guide
  foundations/html_css/block-and-inline.md
Labels: Type: Existing Lesson, Status: Awaiting Changes, Type: Easy Fix

#24011 Update installing_nodejs.md: fixed typo
  foundations/javascript_basics/installing_nodejs.md
Labels: Type: Existing Lesson, Status: Accepted

#23979 JavaScript Basics: Updated the format of Knowlegde check, Lesson Overview & renamed it.
  foundations/javascript_basics/DOM_manipulation_and_events.md
  foundations/javascript_basics/clean_code.md
  foundations/javascript_basics/fundamentals-4.md
  foundations/javascript_basics/fundamentals-5.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23998 Foundations/Flexbox Section: Learning Outcomes and Knowledge Checks Style Guide Reformat
  foundations/html_css/flexbox/flexbox-alignment.md
  foundations/html_css/flexbox/flexbox-axes.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Type: Enhancement, Status: Awaiting Changes

#23980 Foundations/Git Basics and The Back End: Changed formatting for lesson overview and knowledge checks
  foundations/the_back_end/introduction_to_frameworks.md
  foundations/the_back_end/introduction_to_the_backend_lesson.md
  git/foundations_git/git_basics.md
  git/foundations_git/introduction_to_git.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#23995 Foundations/Introduction to Flexbox: Add instructions for how to uncomment CSS code
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Status: Awaiting Response

#24010 React Introduction lesson: Add a link to React Developer Tools Chrome Extension
  javascript/react-js/react-introduction.md
Labels: Type: Existing Lesson, Status: Accepted

#24021 Project: Recipes: Changed "site recipe site" to "recipe site".
  foundations/html_css/html-foundations/project-recipes.md
Labels: Type: Existing Lesson, Status: Accepted

#24014 selectors.md line 185: updates formatting of specificity measurement
  html_css/intermediate_css/selectors.md
Labels: Type: Existing Lesson, Status: Accepted

#24028 Archive folder: add README.md file
  archive/README.md
Labels: Type: Documentation

#24027 Git folder: add README.md
  git/README.md
Labels: Type: Documentation

#24032 A Deeper Look at Git lesson: fix word typo
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Type: Existing Lesson, Status: Accepted

#24030 nodeJS/express_and_mongoose/express_101.md: Updated "Using Git" title and section content
  nodeJS/express_and_mongoose/express_101.md
Labels: Type: Existing Lesson, Status: Accepted

#23903 Rails Working With External APIs: Add Knowledge Checks - correct file structure
  ruby_on_rails/apis/working_with_external_apis.md
Labels: Type: Existing Lesson, Status: Needs Review

#24043 Advanced HTML/CSS folder: add README.md
  advanced_html_css/README.md
Labels: Type: Enhancement, Status: Accepted, Type: Documentation

#24046 Ruby Path - Ruby on Rails -> Turbo Drive: Fixes very small typo
  ruby_on_rails/assets_and_navigation/turbo_drive.md
Labels: Status: Accepted

#24039 React Router lesson: Fix example code for index.js
  javascript/react-js/router.md
Labels: Type: Enhancement, Status: Accepted

#24047 Typo git intermediate
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Status: Accepted

#23977 Layout Style Guide: Added unordered lists explanation
  LAYOUT_STYLE_GUIDE.md
Labels: Type: Existing Lesson, Status: Awaiting Changes

#24052 Project Inventory Application: indent nested list by four spaces
  nodeJS/express_and_mongoose/project_inventory_application.md
Labels: Type: Existing Lesson

#24056 Curriculum/databases: updated README.md
  databases/README.md
Labels: Status: Accepted, Type: Documentation

#24057 Rock paper scissor lesson: link step 6 "Remember loops?" text to problem solving lesson.
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Type: Existing Lesson, Status: Accepted

#24051 Update introduction.md
  javascript/introduction/introduction.md
Labels: Type: Existing Lesson, Status: Accepted

#24025 JavaScript ES6 Modules - Npm section: Change "This video" to "This tutorial". Update links to reflect the redirected links.
  javascript/organizing-js/es6-modules.md
Labels: Type: Existing Lesson, Status: Accepted

#24041 Getting Hired folder: update READMe.md
  getting_hired/README.md
Labels: Type: Enhancement, Status: Accepted

#24055 Ruby folder: update README.md
  ruby/README.md
Labels: Status: Accepted, Type: Documentation

#24008 Ruby Path - Ruby on Rails -> Controlers: Swaps whitelist for allowlist
  ruby_on_rails/rails_basics/controllers.md
Labels: Status: Needs Review, Type: Ruby/Rails

#24050 Foundations/Introduction: Style Guide - Additional Resources
  foundations/introduction/asking_for_help.md
  foundations/introduction/how_does_the_web_work.md
  foundations/introduction/how_this_course_will_work.md
  foundations/introduction/introduction_to_web_development.md
  foundations/introduction/join_the_odin_community.md
  foundations/introduction/motivation_and_mindset.md
Labels: Status: Needs Review, Project: Style Guide

#24015 CSS Functions lesson: Clarify min() function behavior
  html_css/intermediate_css/css_math_functions.md
Labels: Type: Enhancement

#24065 Ruby on Rails folder: Updated README.md
  ruby_on_rails/README.md
Labels: Status: Accepted, Type: Documentation

#24062 Ruby Path - Ruby on Rails -> SessionsCookiesAuthentication: Rewords a link
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Status: Under Review, Type: Ruby/Rails

#24007 added couple of commas, to make it sound better
  html_css/intermediate_html/form-basics.md
Labels: Type: Enhancement, Status: Under Review

#24075 javascript_developer_tools: new hyperlinks
  foundations/javascript_basics/javascript_developer_tools.md
Labels: Type: Enhancement, Status: Accepted

#24077 curriculum/ruby_on_rails/rails_sprinkles/stimulus_js: fix typos
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Type: Existing Lesson, Status: Accepted

#24076 Foundations/Introduction section: Fix grammatical errors
  foundations/introduction/asking_for_help.md
  foundations/introduction/how_this_course_will_work.md
  foundations/introduction/motivation_and_mindset.md
Labels: Status: Accepted

#24080 Update project_etch_a_sketch.md
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Status: Under Review, Type: Foundations

#24081 How Does the Web Work lesson: remove duplicate section
  foundations/introduction/how_does_the_web_work.md
Labels: Type: Existing Lesson, Status: Accepted

#24084 Update factory_functions_and_module_pattern.md: Fixes grammar error on line 165
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Status: Accepted
