Repository TheOdinProject/curriculum, pull requests merged in 2023-04, with the labels that each got.

#25301 Time Complexity lesson: Fix typo
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby, Status: Needs Triage

#25304 Full Stack JS React Shopping Cart : Fix un-rendered HTML tags in step 10
  javascript/react_js/project_shopping_cart.md
Labels: Content: JavaScript

#25134 React Testing Part 1: update userEvent example
  javascript/react_js/react_testing_part_one.md
  javascript/react_js/react_testing_part_two.md
Labels: Status: Awaiting Response, Content: JavaScript

#25319 React Testing Part 1: Fix code block render
  javascript/react_js/react_testing_part_one.md
Labels: Content: JavaScript

#25322 Time Complexity: Fix Typo
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25313 Rails Assets Pipeline lesson: Update to reflect CSS/SCSS Files no longer auto-generated in Rails 7
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
Labels: Content: Ruby on Rails

#25309 Update accessibility_auditing.md
  advanced_html_css/accessibility/accessibility_auditing.md
Labels: Content: Advanced HTML/CSS

#25318 SVG lesson: Fix typo
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25323 Changed link of "About browsers on iOS"
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25324 add additional content to css_unit lesson
  intermediate_html_css/intermediate_css_concepts/css_units.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25329 Fix syntax error in passport.use
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS, Status: Needs Triage

#25340 React Revamp: Add Conclusion lesson
  react/conclusion/conclusion.md
Labels: Status: Needs Triage, Project: React Revamp

#25344 Removes resource about using AI for learning
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#25335 Layout Style Guide: Add instructions for using Mermaid diagrams
  LAYOUT_STYLE_GUIDE.md
Labels: Status: Needs Triage

#25061 Update git_basics.md
  git/foundations_git/git_basics.md
Labels: Status: Awaiting Changes, Content: Git

#25346 Ruby OOP: Remove codecademy resource
  ruby/object_oriented_programming_basics/object_oriented_programming.md
Labels: Content: Ruby, Status: Needs Triage

#25348 JS Project Linked Lists: Fix Typo
  javascript/computer_science/project_linked_lists.md
Labels: Content: JavaScript, Status: Needs Triage

#25341 JS Bundling lesson: Rephrase certain sentences to improve flow
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25349 Ruby on Rails Asset Pipeline Lesson: Update content about JS to match Rails 7
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25296 Using Flexbox or Grid Lesson : Change Content vs Layout First Design section
  intermediate_html_css/grid/using_flexbox_and_grid.md
Labels: Content: Intermediate HTML/CSS

#25358 Links And Images: Fix broken link
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations, Status: Needs Triage

#25363 Browser Compatibility lesson: Fix grammatical errors
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25364 Minor grammer fix
  javascript/react_js/hooks.md
Labels: Content: JavaScript, Status: Needs Triage

#25350 JS Bundling lesson: Fix minor grammar and typo errors
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25206 React Revamp: Managing State with Context API
  react/more-react-concepts/managing-state-with-context-api/imgs/00.png
  react/more-react-concepts/managing-state-with-context-api/managing-state-with-context-api.md
Labels: Status: Accepted, Project: React Revamp

#25371 Fix syntax of git pull in using_git_in_the_real_world lesson
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Status: Needs Triage, Content: Git

#25370 Remove capitalization
  javascript/asynchronous_javascript_and_apis/json.md
Labels: Content: JavaScript, Status: Needs Triage

#25040 Lesson: React Ecosystem - React Router
  react/the_react_ecosystem/react_router.md
Labels: Status: Accepted, Project: React Revamp

#25374 Update deployment.md
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS, Status: Needs Triage

#25366 update deployment instructions
  nodeJS/final_project/project_odin_book.md
Labels: Content: NodeJS, Status: Needs Triage

#25362 Form Basics lesson: Fix incorrect sentence regarding option's value attribute
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25360 Collecting Job Leads: Added visual example of the spreadsheet
  getting_hired/applying_and_interviewing/collect_leads.md
Labels: Content: Getting Hired, Status: Needs Triage

#25311 React Revamp: Add How This Course Will Work lesson
  react/introduction/how_this_course_will_work.md
Labels: Project: React Revamp

#24941 Objects and Object Constructors: Update lesson on Prototype and Prototypal Inheritance
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Status: Investigating, Content: JavaScript

#25365 Foundations: Revisiting Rock, Paper, Scissors: Add gitgraph diagram to demonstrate branching
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations, Status: Needs Triage

#25375 HTML Foundations: Replace links to internetingishard with alternative site
  foundations/html_css/html-foundations/links-and-images.md
  intermediate_html_css/forms/form_basics.md
Labels: Status: Awaiting Changes, Content: Intermediate HTML/CSS, Content: Foundations

#25347 HTML Foundations Links and Images Lesson: clarify necessity of img alt attribute
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations, Status: Needs Triage

#25332 Emmet lesson: Add extension source
  intermediate_html_css/intermediate_html_concepts/emmet.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25382 Text Editors Lesson: Removed outdated information about installing VSCode on Linux
  foundations/installations/text_editors.md
Labels: Content: Foundations, Status: Needs Triage

#25368 Added a mnemonic for the 4 a11y principles
  advanced_html_css/accessibility/the_web_content_accessibility_guidelines_wcag.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#25383 Change roadmap title to be timeless
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations, Status: Needs Triage

#25384 Time complexity lesson in "A bit of CS" section : Fix typo
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript, Content: Ruby, Status: Needs Triage

#25385 Update keyframes.md
  advanced_html_css/animation/keyframes.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#25326 Async and Await lesson: Add server example to introduction
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript, Status: Needs Triage

#25386 Update Material Design link in project_admin_dashboard.md
  intermediate_html_css/grid/project_admin_dashboard.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25388 Rails: Asset Pipeline - Modify typo from 'one big one' to 'one big asset'
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25387 Working with API's: Rewrite final paragraph to flow better
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript, Status: Needs Triage

#25381 ES6 Modules lesson: Stress on clarification about dependencies
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Status: Needs Review, Content: JavaScript

#25389 Changed links to markdown links
  databases/databases/databases.md
Labels: Content: Advanced HTML/CSS, Content: Databases, Status: Needs Triage

#25393 Fix: Lesson Assignment Formatting
  javascript/javascript_and_the_backend/using_baas_for_your_backend.md
Labels: Content: JavaScript, Status: Needs Triage

#25331 Update a_deeper_look_at_git.md
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Status: Needs Triage, Content: Git

#25395 Asynchronous JavaScript and APIs: Working With APIs: Remove inactive repo reference, fix wording
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript, Status: Needs Triage

#25399 Full Stack JS Where's Waldo lesson: Fix grammatical mistake
  javascript/javascript_and_the_backend/project_wheres_waldo_a_photo_tagging_app.md
Labels: Content: JavaScript, Status: Needs Triage
