Repository TheOdinProject/curriculum, pull requests merged in 2023-07, with the labels that each got.

#25716 Binary Search Trees: Fix insertion article link
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#25717 JS More Testing lesson: Remove article link
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

#25715 full curriculum: change keyboard shortcuts to new style-guide <kbd> format
  advanced_html_css/accessibility/keyboard_navigation.md
  archive/installing_node.md
  foundations/html_css/html-foundations/html-boilerplate.md
  foundations/html_css/html-foundations/working-with-text.md
  foundations/installations/command_line_basics.md
  foundations/installations/installations.md
  foundations/installations/setting_up_git.md
  foundations/javascript_basics/fundamentals-1.md
  foundations/javascript_basics/installing_nodejs.md
  foundations/javascript_basics/javascript_developer_tools.md
  git/foundations_git/git_basics.md
  intermediate_html_css/intermediate_html_concepts/emmet.md
  ruby/basic_ruby/input_and_output.md
  ruby/introduction/installing_ruby.md
  ruby_on_rails/introduction/project_installing_rails.md
Labels: Type: Chore, Content: Advanced HTML/CSS, Content: Intermediate HTML/CSS, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Content: Git

#25712 JS: Testing JS Project testing practice: add mention of Babel
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript

#25727 Fix: Scrimba Iframes
  foundations/html_css/css-foundations/block-and-inline.md
  foundations/html_css/css-foundations/intro-to-css.md
  foundations/html_css/css-foundations/the-box-model.md
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#25683 Intermediate HTML and CSS Course: Remove title attribute portion
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS

#25711 Advanced Selectors: fix typo in "Parent and Sibling Combinators" heading
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#25679 Intermediate HTML & CSS: Custom Properties: Put additional resource into assignments and change section order
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS

#25721 What You Can Do to Prepare: Fix "How to Explain Your Career Transition by Dorie Clark" Link
  getting_hired/preparing_for_job_search/what_you_can_do_to_prepare.md
Labels: Content: Getting Hired

#25724 More Text Styles lesson: Add an article link on CSS techniques to the additional resources
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

#25731 [deloyment.md] update change in railways plans
  nodeJS/express_and_mongoose/deployment.md
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: NodeJS, Content: Ruby on Rails

#25726 Frameworks and Preprocessors lesson: Move Knowledge Check section above Additional Resources section
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
Labels: Content: Intermediate HTML/CSS

#25714 JS Weather app: add note about WeatherAPI switching to free after 14 days
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
Labels: Content: JavaScript

#25733 Intro to HTML and CSS lesson: Fix first paragraph about selectors
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#25734 Form Basics lesson: Move Knowledge Check section above Additional Resources section
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

#25738 Intermediate HTML and CSS: Fix ordering of sections and spacing around headers
  intermediate_html_css/forms/form_validations.md
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/grid/creating_a_grid.md
  intermediate_html_css/grid/introduction_to_grid.md
  intermediate_html_css/grid/positioning_grid_elements.md
  intermediate_html_css/grid/using_flexbox_and_grid.md
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
  intermediate_html_css/intermediate_css_concepts/css_functions.md
Labels: Content: Intermediate HTML/CSS

#25739 JavaScript Developer Tools: Make assignment clearer on what you can not skip on Chrome DevTools Documentation
  foundations/javascript_basics/javascript_developer_tools.md
Labels: Content: Foundations

#25740 Rails: Update sessions_cookies_authentication to follow style guide
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

#25741 javascript_basics/understanding_errors: Add warning
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations

#25708 Update hooks.md
  javascript/react_js/hooks.md
Labels: Content: JavaScript

#25621 added feature to reading easy code
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#25750 A Deeper Look at Git: Link to Git Basics lesson for setting up the code editor
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#25754 Update clean_code.md
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#25757 Ruby: Installing Ruby: Add `libyaml-dev` build dependency for Ruby
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#25758 Advanced Selectors lesson: Provide a link to documentation on CSS combinators
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#25755 Using BaaS for Your Back End : add warning about firebase codelab
  javascript/javascript_and_the_backend/using_baas_for_your_backend.md
Labels: Content: JavaScript

#25760 Update introduction_to_web_development.md
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

#25728 react/states_and_effects: add cv application project lesson
  react/states_and_effects/project_cv_application.md
Labels: Project: React Revamp

#25729 react/the_react_ecosystem: adds shopping cart lesson
  react/the_react_ecosystem/project_shopping_cart.md
Labels: Project: React Revamp

#25759 JS Using BaaS for your Back End: layout fix
  javascript/javascript_and_the_backend/using_baas_for_your_backend.md
Labels: Content: JavaScript

#25766 Intro to HTML and CSS lesson: correct spelling error
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#25663 React Revamp: Rewrite react course from CRA to Vite
  react/components.md
  react/introduction/setting_up_a_react_environment.md
  react/introduction/setting_up_a_react_environment/imgs/cra_start.png
  react/introduction/setting_up_a_react_environment/imgs/vite_react_homepage.png
Labels: Project: React Revamp

#25773 Understanding Errors lesson : Fixed code blocks appearing as "```"
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations

#25653 Debugging Node: Assignment resources order changed
  nodeJS/introduction_to_nodeJS/debugging_node.md
Labels: Content: NodeJS

#25764 Positioning lesson: Add article link for CSS position to additional resources
  intermediate_html_css/intermediate_css_concepts/positioning.md
Labels: Content: Intermediate HTML/CSS

#25261 React: Add Introduction to State lesson
  react/states_and_effects/introduction_to_state.md
  react/states_and_effects/introduction_to_state/imgs/00.png
Labels: Project: React Revamp

#25777 Advanced HTML and CSS: Change the instruction to be more accurate
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

#25775 Custom Properties lesson: Fix order of tasks in assignments
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS

#25782 Project - Sign-up form: Fix ordering of instructions in step 1
  intermediate_html_css/forms/project_sign_up_form.md
Labels: Content: Intermediate HTML/CSS

#25788 Git basics lesson: add link to additional resources.
  git/foundations_git/git_basics.md
Labels: Content: Git

#25785 Update hooks.md
  javascript/react_js/hooks.md
Labels: Content: JavaScript

#25780 JavaScript: Remove Additional Resources
  javascript/organizing_your_javascript_code/organizing_your_javascript_code_introduction.md
Labels: Content: JavaScript

#25789 React Introduction: Update StackOverflow links
  javascript/react_js/react_introduction.md
  react/react_introduction_rewrite.md
Labels: Content: JavaScript

#25501 React Revamp: Refs and Memoization lesson
  react/more_react_concepts/managing-state-with-context-api/imgs/00.png
  react/more_react_concepts/managing-state-with-context-api/managing-state-with-context-api.md
  react/more_react_concepts/reducing-state/reducing-state.md
  react/more_react_concepts/refs_and_memoization.md
Labels: Project: React Revamp

#25790 Git Basics: Fix a typo
  git/foundations_git/git_basics.md
Labels: Content: Git

#25611 Time Complexity lesson: Improve text in Quadratic/Cubic sections.
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

#25794 Into git basics: Fix Typo
  git/foundations_git/git_basics.md
Labels: Content: Git

#25671 React Revamp: Add mocking callbacks and components lesson
  react/react_testing/mocking_callbacks_and_components.md
Labels: Project: React Revamp

#25769 Update frameworks_and_preprocessors.md
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
Labels: Content: Intermediate HTML/CSS

#25792 Revisiting Rock Paper Scissors Assignment: revise Git instruction
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations

#25795 Installing PostgreSQL: Fix link to Installation Guides
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#25774 Fix react folder structure
  react/getting_started_with_react/passing_data_between_components.md
  react/getting_started_with_react/react_components.md
  react/getting_started_with_react/react_components/imgs/00.png
  react/getting_started_with_react/what_is_jsx.md
  react/introduction/introduction_to_react.md
  react/more_react_concepts/managing_state_with_context_api.md
  react/more_react_concepts/managing_state_with_context_api/imgs/00.png
  react/more_react_concepts/reducing_state.md
  react/react_and_the_backend/project_wheres_waldo_a_photo_tagging_app.md
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Project: React Revamp

#25802 Update project_battleship.md: Fix typo
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript

#25669 React Revamp: Add keys in React lesson
  react/getting_started_with_react/keys_in_react.md
Labels: Project: React Revamp

#25670 React Revamp: Add introduction to react testing lesson
  react/react_testing/introduction_to_react_testing.md
Labels: Project: React Revamp

#25772 React Revamp: Add more on state lesson
  react/states_and_effects/more_on_state.md
  react/states_and_effects/more_on_state/imgs/00.png
Labels: Project: React Revamp

#25339 React Revamp: Add Project Messaging App
  react/react_and_the_backend/project_messaging_app.md
Labels: Project: React Revamp

#25801 JS Recursive Methods: Additional resource
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript, Content: Foundations

#25813 Update frameworks_and_preprocessors.md
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
Labels: Content: Intermediate HTML/CSS

#25793 Motivation and Mindset: Note taking suggestion
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#25808 The Cascade: Remove video and replace resource
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#25814 Foundations: Git Basics: add mention of creating a repo from a local folder
  git/foundations_git/git_basics.md
Labels: Content: Git

#25787 Ruby: Project: Linked Lists lesson: Add minor reason why linked lists aren't necessary in Ruby
  ruby/computer_science/project_linked_lists.md
Labels: Content: Ruby

#25781 JavaScript: Project: Linked Lists lesson: Add minor reason why linked lists aren't necessary in JS
  javascript/computer_science/project_linked_lists.md
Labels: Content: JavaScript

#25811 React Revamp: Fetching Data in React Lesson
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Project: React Revamp

#25827 Add react label
  .github/labeler.yml
Labels: Project: React Revamp

#25819 What is JSX lesson: Fix typo
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

#25824 Setting_up_a_react_environment lesson: Fix grammar mistakes
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#25828 Express 102: Use sentence case in headings
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
Labels: Content: NodeJS

#25832 Express and mongoose: correct headers to sentence case
  nodeJS/express_and_mongoose/deployment.md
  nodeJS/express_and_mongoose/express_101.md
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
  nodeJS/express_and_mongoose/express_104_view_templates.md
  nodeJS/express_and_mongoose/introduction_to_express.md
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
Labels: Content: NodeJS, Content: Foundations

#25786 recursive Methods: add new video that explanation recursion
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript

#25817 few typos and grammar fixes
  react/introduction/introduction_to_react.md
Labels: Content: React

#25831 ADV HTML/CSS: change headings to sentence case
  advanced_html_css/README.md
  advanced_html_css/accessibility/accessibility_auditing.md
  advanced_html_css/accessibility/accessible_colors.md
  advanced_html_css/accessibility/introduction_to_web_accessibility.md
  advanced_html_css/accessibility/keyboard_navigation.md
  advanced_html_css/accessibility/meaningful_text.md
  advanced_html_css/accessibility/semantic_html.md
  advanced_html_css/accessibility/the_web_content_accessibility_guidelines_wcag.md
  advanced_html_css/accessibility/wai_aria.md
  advanced_html_css/animation/keyframes.md
  advanced_html_css/animation/transforms.md
  advanced_html_css/animation/transitions.md
  advanced_html_css/responsive_design/introduction_to_responsive_design.md
  advanced_html_css/responsive_design/media_queries.md
  advanced_html_css/responsive_design/natural_responsiveness.md
  advanced_html_css/responsive_design/project_personal_portfolio.md
  advanced_html_css/responsive_design/responsive_images.md
Labels: Content: Advanced HTML/CSS

#25762 Foundations / Javascript: Expansion to Clean Code lesson
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#25835 What is JSX lesson: Fix typo
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

#25838 Update factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#25840 Update intro-to-css.md
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#25842 How To Deal With Side Effects lesson: Fix link address
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#25825 React_components lesson: Fix grammar mistakes
  react/getting_started_with_react/react_components.md
Labels: Content: React

#25833 Rendering_techniques lesson: Fix headers to sentence case and grammar mistakes
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#25834 Setting Up A React Environment Lesson: Fix spacing between link and brackets
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#25852 Foundations JavaScript basics: Format headings with sentence case
  foundations/README.md
  foundations/javascript_basics/DOM_manipulation_and_events.md
  foundations/javascript_basics/clean_code.md
  foundations/javascript_basics/fundamentals-1.md
  foundations/javascript_basics/fundamentals-2.md
  foundations/javascript_basics/fundamentals-3.md
  foundations/javascript_basics/fundamentals-4.md
  foundations/javascript_basics/fundamentals-5.md
  foundations/javascript_basics/installing_nodejs.md
  foundations/javascript_basics/javascript_developer_tools.md
  foundations/javascript_basics/problem_solving.md
  foundations/javascript_basics/project_calculator.md
  foundations/javascript_basics/project_etch_a_sketch.md
  foundations/javascript_basics/project_rock_paper_scissors.md
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
  foundations/javascript_basics/understanding_errors.md
  foundations/tying_it_all_together/conclusion.md
Labels: Content: Foundations

#25853 Lesson Git Basics: Update headers to sentence case
  git/foundations_git/git_basics.md
  git/foundations_git/introduction_to_git.md
Labels: Content: Git

#25857 Introduction To React Testing: Fix typo
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#25858 Flexbox section: Update headings to be in sentence case
  foundations/html_css/flexbox/flexbox-alignment.md
  foundations/html_css/flexbox/flexbox-axes.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

#25859 CSS Foundations: Updating all headers, using sentence case.
  foundations/html_css/css-foundations/block-and-inline.md
  foundations/html_css/css-foundations/inspecting-html-and-css.md
  foundations/html_css/css-foundations/intro-to-css.md
  foundations/html_css/css-foundations/the-box-model.md
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#25862 HTML Foundations: Format headings with sentence case
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#25863 Style: updated headings to meet Style Guide standards
  getting_hired/preparing_for_job_search/project_portfolio.md
  getting_hired/preparing_for_job_search/starts_with_you.md
  getting_hired/preparing_for_job_search/strategy.md
  getting_hired/preparing_for_job_search/what_companies_want.md
  getting_hired/preparing_for_job_search/what_you_can_do_to_prepare.md
Labels: Content: Getting Hired

#25864 javascript: update heading capitalization
  javascript/introduction/how_this_course_will_work.md
  javascript/organizing_your_javascript_code/classes.md
  javascript/organizing_your_javascript_code/es6_modules.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
  javascript/organizing_your_javascript_code/oop_principles.md
  javascript/organizing_your_javascript_code/project_todo_list.md
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#25870 react/states and effects/how to deal with side effects: Fix knowledge check links
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#25868 Keys in React: Remove example 3 fragment tags
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#25860 Lesson Passing Data Between Components: Update text
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React

#25856 Lesson Keys In React
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#25830 Fix missing {} around animal
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#25874 Ruby Binary Search Trees: Fix link url
  ruby/computer_science/project_binary_search_trees.md
Labels: Content: Ruby

#25875 Clean code: Fix typos
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#25866 Forms and Grid sections: Update headings to follow style guide
  intermediate_html_css/forms/form_basics.md
  intermediate_html_css/forms/form_validations.md
  intermediate_html_css/forms/project_sign_up_form.md
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/grid/creating_a_grid.md
  intermediate_html_css/grid/introduction_to_grid.md
  intermediate_html_css/grid/positioning_grid_elements.md
  intermediate_html_css/grid/project_admin_dashboard.md
  intermediate_html_css/grid/using_flexbox_and_grid.md
Labels: Content: Intermediate HTML/CSS

#25865 React intro: Apply sentence case to headings
  react/getting_started_with_react/passing_data_between_components.md
  react/getting_started_with_react/react_components.md
  react/getting_started_with_react/what_is_jsx.md
  react/introduction/how_this_course_will_work.md
  react/introduction/introduction_to_react.md
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#25879 Change several headings to Sentence case
  javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#25880 Javascript/A Bit of CS: format headings with sentence case
  foundations/installations/command_line_basics.md
  foundations/javascript_basics/fundamentals-1.md
  foundations/javascript_basics/fundamentals-2.md
  foundations/javascript_basics/fundamentals-4.md
  foundations/javascript_basics/javascript_developer_tools.md
  foundations/javascript_basics/problem_solving.md
  foundations/javascript_basics/understanding_errors.md
  javascript/computer_science/a_very_brief_intro_to_cs.md
  javascript/computer_science/common_data_structures_algorithms.md
  javascript/computer_science/project_binary_search_trees.md
  javascript/computer_science/project_linked_lists.md
  javascript/computer_science/project_recursion.md
  javascript/computer_science/recursive_methods.md
  javascript/computer_science/space_complexity.md
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript, Content: Foundations

#25881 Foundations Course: fix CSS selectors in cascade example
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#25888 Foundations_Clean_Code - A good name is descriptive: Fixed a Typo
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#25886 More React Concepts, React and Backend, & Conclusion Lessons - Update sentence case for headers
  react/conclusion/conclusion.md
  react/more_react_concepts/managing_state_with_context_api.md
  react/more_react_concepts/reducing_state.md
  react/more_react_concepts/refs_and_memoization.md
  react/react_and_the_backend/project_messaging_app.md
  react/react_and_the_backend/project_wheres_waldo_a_photo_tagging_app.md
  react/react_and_the_backend/using_nodejs_for_your_backend.md
  react/react_and_the_backend/using_ruby_on_rails_for_your_backend.md
Labels: Content: React

#25889 Clean Code - Tell Why, Not How - Fixed Typo
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#25893 edit headings to sentence case
  nodeJS/authentication/authentication_basics.md
  nodeJS/authentication/security_configuration.md
Labels: Content: NodeJS

#25894 Intermediate HTML and CSS && Intermediate CSS Concepts: Reformatted headers to follow sentence case
  intermediate_html_css/README.md
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
  intermediate_html_css/intermediate_css_concepts/css_functions.md
  intermediate_html_css/intermediate_css_concepts/css_units.md
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
  intermediate_html_css/intermediate_css_concepts/default_styles.md
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
  intermediate_html_css/intermediate_css_concepts/more_css_properties.md
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
  intermediate_html_css/intermediate_css_concepts/positioning.md
  intermediate_html_css/intermediate_html_concepts/emmet.md
  intermediate_html_css/intermediate_html_concepts/svgs.md
  intermediate_html_css/intermediate_html_concepts/tables.md
Labels: Content: Intermediate HTML/CSS

#25891 Fix grammar mistakes
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#25895 Revisiting rock paper scissors: Fix image in assignment section
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations

#25890 Using git in the real world: Additional resources: change link ohsh_t Git to dangit git
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#25884 Join_the_odin_community lesson: Change bullet points to sentence case and rearrange the order of them
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#25892 edit headings to sentence case
  nodeJS/apis/api_basics.md
  nodeJS/apis/api_security.md
  nodeJS/apis/project_blog_api.md
Labels: Content: NodeJS

#25898 Foundations: Update terminal prompts description
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#25907 Node JS - Getting Hired - Applying to & Interviewing for Jobs: Change headers to sentence case
  getting_hired/applying_and_interviewing/applying.md
  getting_hired/applying_and_interviewing/collect_leads.md
  getting_hired/applying_and_interviewing/conclusion.md
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
  getting_hired/applying_and_interviewing/project_resume.md
Labels: Content: Getting Hired

#25906 Foundations - Inspecting HTML & CSS: Add numbered list to assignment section
  foundations/html_css/css-foundations/inspecting-html-and-css.md
Labels: Content: Foundations

#25903 Foundations Course - Clean Code: Fix spelling error
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#25899 Typo in "Bad vs Good Commits" Section
  git/foundations_git/commit_messages.md
Labels: Content: Git

#25910 Rewrite headings
  advanced_html_css/accessibility/wai_aria.md
  nodeJS/final_project/conclusion.md
  nodeJS/final_project/project_odin_book.md
  nodeJS/testing_express/testing_database_operations.md
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: Advanced HTML/CSS, Content: NodeJS

#25911 Foundation - Fix typo in DOM_manipulation_and_events.md
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#25902 Responsive_images: Fix grammar errors and edit texts to be clearer
  advanced_html_css/responsive_design/responsive_images.md
Labels: Content: Advanced HTML/CSS

#25913 React Introduction: Setting up a React env: add CLI prompt and action
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#25918 add escape character quote and note about escape characters
  react/getting_started_with_react/react_components.md
Labels: Content: React

#25920 Command Line Basics lesson: Fix typo
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#25925 Remove unnecessary underscore
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#25924 Node Path - JavaScript course - A Quick Review :Update Exercism url
  javascript/introduction/a_quick_review.md
Labels: Content: JavaScript

#25923 React: What is JSX: Update knowledge check link about 3 rules of JSX
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

#25922 Fix broken link to TypeScript home page
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

#25820 Fixed a couple syntax issues in fetching_data_in_react lesson
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#25912 React effects lesson: Fix react event name
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#25896 Change Headers to use spell-case for React Testing and React Ecosystem Sections
  react/react_testing/introduction_to_react_testing.md
  react/react_testing/mocking_callbacks_and_components.md
  react/the_react_ecosystem/react_router.md
  react/the_react_ecosystem/styling_react_applications.md
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

#25944 Introduction to Git: Remove colon after "Lesson Overview" title
  git/foundations_git/introduction_to_git.md
Labels: Content: Git

#25936 React Router: Fix npm start as npm run dev for new Vite React
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#25938 React: Passing Data between components: Update link in code example
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React

#25807 React Revamp: Move outdated lessons to archive
  archive/javascript/javascript_and_the_backend/project_wheres_waldo_a_photo_tagging_app.md
  archive/javascript/javascript_and_the_backend/using_baas_for_your_backend.md
  archive/javascript/javascript_and_the_backend/using_rails_for_your_backend.md
  archive/javascript/project_javascript_final.md
  archive/javascript/react_js/advanced_concepts.md
  archive/javascript/react_js/handle_inputs_and_render_lists.md
  archive/javascript/react_js/hooks.md
  archive/javascript/react_js/lifecycle_methods.md
  archive/javascript/react_js/project_cv_application.md
  archive/javascript/react_js/project_memory_card.md
  archive/javascript/react_js/project_shopping_cart.md
  archive/javascript/react_js/react_introduction.md
  archive/javascript/react_js/react_introduction/imgs/00.png
  archive/javascript/react_js/react_testing_part_one.md
  archive/javascript/react_js/react_testing_part_two.md
  archive/javascript/react_js/router.md
  archive/javascript/react_js/state_and_props.md
Labels: Type: Chore, Project: React Revamp

#25805 React Revamp: Update javascript conclusion lesson
  javascript/finishing_up_with_javascript/conclusion.md
Labels: Content: JavaScript, Project: React Revamp

#25945 Introduction to NodeJS && MongoDB Reformatted headers to follow sentence case
  nodeJS/introduction_to_nodeJS/debugging_node.md
  nodeJS/introduction_to_nodeJS/getting_started.md
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
  nodeJS/introduction_to_nodeJS/project_basic_informational_site.md
  nodeJS/mongoDB/intro_to_mongoDB.md
  shared/the_back_end/introduction_to_frameworks.md
  shared/the_back_end/introduction_to_the_backend_lesson.md
Labels: Content: NodeJS

#25947 Advanced HTML/CSS-Animation: Move keyframes excersices to assignment section
  advanced_html_css/animation/keyframes.md
Labels: Content: Advanced HTML/CSS

#25946 JS Conclusion lesson in "Finishing Up With Javascript": Fix typos in second para and remove redundant whitespaces
  javascript/finishing_up_with_javascript/conclusion.md
Labels: Content: JavaScript

#25934 How_to_deal_with_side_effects lesson: Simplify some sentences
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#25950 HTML Elements and Tags Lesson: replace element diagram with codeblock
  foundations/html_css/html-foundations/elements-and-tags.md
Labels: Content: Foundations

#25951 HTML Boilerplate lesson: Remove code snipper from lang heading
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#25933 React Components: remove React import in a functional component
  react/getting_started_with_react/react_components.md
Labels: Content: React

#25957 git/javascript: Update heading to sentence case
  git/intermediate_git/a_deeper_look_at_git.md
  git/intermediate_git/using_git_in_the_real_world.md
  javascript/testing_javascript/more_testing.md
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript, Content: Git

#25964 Typo in project_etch_a_sketch.md
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations

#25901 Accessibility_auditing lesson: Rewrite some texts to be clearer
  advanced_html_css/accessibility/accessibility_auditing.md
Labels: Content: Advanced HTML/CSS

#25897 Added react survey for user feedback.
  react/conclusion/conclusion.md
Labels: Content: React

#25952 Update loops.md
  ruby/basic_ruby/loops.md
Labels: Content: Ruby

#25949 Fundamentals Part 5: Add content to Introduction
  foundations/javascript_basics/fundamentals-5.md
Labels: Content: Foundations

#25973 React: Fix wording mistake
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#25900 Wai_aria lesson: Rewrite the text to be clearer and fix grammar errors
  advanced_html_css/accessibility/wai_aria.md
Labels: Content: Advanced HTML/CSS

#25905 Media_queries lesson: Fix grammar errors and add styling to text
  advanced_html_css/responsive_design/media_queries.md
Labels: Content: Advanced HTML/CSS
