Repository TheOdinProject/curriculum, pull requests merged in 2023-02, with the labels that each got.

#25006 Foundations: Installations: Replace images for new VirtualBox instructions
  foundations/installations/installations/imgs/00.png
  foundations/installations/installations/imgs/00_whisker_icon.png
  foundations/installations/installations/imgs/01.png
  foundations/installations/installations/imgs/01_turn_off_python.png
  foundations/installations/installations/imgs/02.png
  foundations/installations/installations/imgs/02_c_install.png
  foundations/installations/installations/imgs/03.png
  foundations/installations/installations/imgs/03_start_screen.png
  foundations/installations/installations/imgs/04.png
  foundations/installations/installations/imgs/04_install_start.png
  foundations/installations/installations/imgs/05.png
  foundations/installations/installations/imgs/05_unattended_install.png
  foundations/installations/installations/imgs/06.png
  foundations/installations/installations/imgs/06_hardware.png
  foundations/installations/installations/imgs/07.png
  foundations/installations/installations/imgs/07_virtual_hard_disk.png
  foundations/installations/installations/imgs/08.png
  foundations/installations/installations/imgs/08_preview_login.png
  foundations/installations/installations/imgs/09.png
  foundations/installations/installations/imgs/09_virtualization_error.png
  foundations/installations/installations/imgs/10.png
  foundations/installations/installations/imgs/10_login_screen.png
  foundations/installations/installations/imgs/11.png
  foundations/installations/installations/imgs/11_users_and_groups.png
  foundations/installations/installations/imgs/12.png
  foundations/installations/installations/imgs/12_sudo_group.png
  foundations/installations/installations/imgs/13.png
  foundations/installations/installations/imgs/13_sudo_properties.png
  foundations/installations/installations/imgs/14.png
  foundations/installations/installations/imgs/14_logout.png
  foundations/installations/installations/imgs/15_restart.png
  foundations/installations/installations/imgs/16_toolbar.png
  foundations/installations/installations/imgs/17_turtle.png
  foundations/installations/installations/imgs/18_vboxV.png
  foundations/installations/installations/imgs/19_vbox_close.png
  foundations/installations/installations/imgs/20_send_shutdown.png
  foundations/installations/installations/imgs/VM_01.png
  foundations/installations/installations/imgs/VM_02.png
Labels: Content: Foundations, Status: Needs Triage

#24982 Foundations: Installations: Update VM instructions to VirtualBox 7, clarify some overall instructions
  foundations/installations/installations.md
Labels: Content: Foundations, Status: Needs Triage

#25081 Factory functions and modules: Expand link text
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript, Status: Needs Triage

#25080 Turbo Drive: remove unnecessary word
  ruby_on_rails/assets_and_navigation/turbo_drive.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25079 Project micro Reddit: remove stray asterisk
  ruby_on_rails/active_record_basics/project_micro_reddit.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25072 Foundations Axes - Reword choppy text
  foundations/html_css/flexbox/flexbox-axes.md
Labels: Content: Foundations, Status: Needs Triage

#25073 JavaScript/Router: Fix missing line of code
  javascript/react_js/router.md
Labels: Content: JavaScript, Status: Needs Triage

#25067 Fix sub-item indents so that they are actually sub-items
  LAYOUT_STYLE_GUIDE.md
Labels: Status: Needs Triage

#25078 Foundations: Installations lesson: Add a link to C++ package to prevent learners from getting stuck
  foundations/installations/installations.md
Labels: Content: Foundations, Status: Needs Triage

#25087 NodeJS/Express course: Add deployment lesson for express, remove remaining heroku instructions from other lessons
  nodeJS/README.md
  nodeJS/express_and_mongoose/deployment.md
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
Labels: Content: NodeJS, Status: Needs Triage

#25086 Rails: Advanced Topics lesson: update routes command
  ruby_on_rails/mailers_advanced_topics/advanced_topics.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25088 Ruby Test Driven Development: Fix link to DHH's "TDD is dead. Long Live Testing"
  ruby/testing_ruby_with_rspec/test_driven_development.md
Labels: Content: Ruby, Status: Needs Triage

#25089 factory_functions_and_module_pattern.md: Fix typo where there was extra "article"
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Status: Awaiting Changes, Content: JavaScript

#25096 Preparing to Interview and Interviewing: Fix coding horror link
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
Labels: Content: Getting Hired, Status: Needs Triage

#25052 JavaScript Classes lesson: Add new MDN docs link
  javascript/organizing_your_javascript_code/classes.md
Labels: Content: JavaScript, Status: Needs Triage

#25051 The Box Model: Use more precise and consistent terminology in definitions of padding…
  foundations/html_css/the-box-model/the-box-model.md
Labels: Content: Foundations, Status: Needs Triage

#25050 Inspecting HTML And CSS: Correct "CSS element" to "CSS declaration"
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
Labels: Content: Foundations, Status: Needs Triage

#25049 Inspecting HTML And CSS: Update "Inspect Element" -> "Inspect" to reflect Chrome right-click menu
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
Labels: Content: Foundations, Status: Needs Triage

#24974 CSS Functions: Distinguish CSS from programming language
  intermediate_html_css/intermediate_css_concepts/css_functions.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#24966 Foundations: Setting Up Git: Add mention of key type for GitHub
  foundations/installations/setting_up_git.md
Labels: Content: Foundations, Status: Needs Triage

#25041 Foundations: Added iframe sandbox options
  foundations/html_css/flexbox/flexbox-alignment.md
  foundations/html_css/flexbox/flexbox-axes.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
  foundations/tying_it_all_together/conclusion.md
Labels: Content: Foundations, Status: Needs Triage

#25062 Rails Forms Project: Fix confusing instruction
  ruby_on_rails/forms_and_authentication/project_forms.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25025 Ruby on Rails: Kittens API: Update use of Flickr API, update JSON API instructions and style
  ruby_on_rails/apis/project_kittens_api.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25065 Tic Tac Toe Project: Add "Building a house from the inside out" article as a resource
  javascript/organizing_your_javascript_code/project_tic_tac_toe.md
Labels: Status: Awaiting Response, Content: JavaScript

#25114 Update installations.md - incorrect command in sudo test section
  foundations/installations/installations.md
Labels: Content: Foundations, Status: Needs Triage

#25107 Html-foundations/Working with text lesson: Add missing inline code styling for em tags
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations, Status: Needs Triage

#25109 Ruby Test Driven Development lesson: Fix link to DHH's "TDD is Dead" in Assignment 2
  ruby/testing_ruby_with_rspec/test_driven_development.md
Labels: Content: Ruby, Status: Needs Triage

#25101 grammar fix : express 101
  nodeJS/express_and_mongoose/express_101.md
Labels: Content: NodeJS, Status: Needs Triage

#25100 Semantic Html Lesson: Fix broken link
  advanced_html_css/accessibility/semantic_html.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#25102 More Text Styles Lesson : Move Additional Resources to the Bottom
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25027 Advanced Ruby: Pattern Matching: Correct pattern matching statement return values
  ruby/advanced_ruby/pattern_matching.md
Labels: Content: Ruby, Status: Needs Triage

#24943 APIs and Building Your Own lesson: Add to #as_json code example
  ruby_on_rails/apis/apis_and_building_your_own.md
Labels: Status: Needs Review, Content: Ruby on Rails

#25121 Update Wikipedia link
  ruby/object_oriented_programming_basics/project_mastermind.md
Labels: Content: Ruby, Status: Needs Triage

#25113 Ruby on Rails Deployment: Fix grammatical errors
  ruby_on_rails/rails_basics/deployment.md
Labels: Status: Awaiting Changes, Content: Ruby on Rails

#25131 Using Flexbox And Grid: Replace "sneak peak" with "sneak peek" on line 41
  intermediate_html_css/grid/using_flexbox_and_grid.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25103 Webpack: additional resources
  javascript/organizing_your_javascript_code/webpack.md
Labels: Status: Awaiting Response, Content: JavaScript

#25127 Working with apis lesson: Fix a minor mistake.
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript, Status: Needs Triage

#25128 Introduction to responsive design: Fix a minor mistake.
  advanced_html_css/responsive_design/introduction_to_responsive_design.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#25129 Project: Binary Search Trees lesson: Fix "Tie it all together" section readability
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript, Status: Needs Triage

#25132 Foundations/Installations lesson: fix typo
  foundations/installations/installations.md
Labels: Content: Foundations, Status: Needs Triage

#25123 Scrimba embed branch
  javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript, Status: Needs Triage

#25133 add a resource in Additional Resource section
  nodeJS/final_project/conclusion.md
Labels: Content: NodeJS, Status: Needs Triage

#25149 remove unnecessary comma
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25144 Links and Images: copy update
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations, Status: Needs Triage
