Repository TheOdinProject/curriculum, pull requests merged in 2023-09, with the labels that each got.

#25968 React: More on state
  react/states_and_effects/more_on_state.md
Labels: Content: React

#26258 Introduction To React: Add note about disabling adblocker at link destination
  react/introduction/introduction_to_react.md
Labels: Content: React

#26260 Added a new resource on lesson 'Keyframes'
  advanced_html_css/animation/keyframes.md
Labels: Content: Advanced HTML/CSS

#26262 rails facebook project: grammar change
  ruby_on_rails/mailers_advanced_topics/project_final.md
Labels: Content: Ruby on Rails

#26263 Databases Introduction: Added link to CS50x SQL lecture by David J. Malan to additional resources
  databases/databases/databases.md
Labels: Content: Databases

#26253 Introduction to React: Fix article link
  react/introduction/introduction_to_react.md
Labels: Content: React

#26273 Update DOM_manipulation_and_events.md
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#26265 DOM Manipulation and Events: Fix links in lesson not rendering properly
  LAYOUT_STYLE_GUIDE.md
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#26276 Add the endpoint definition
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript

#26261 React course - More On State: Fix 4 typos
  react/states_and_effects/more_on_state.md
Labels: Content: React

#26279 Add missing colon
  nodeJS/authentication/project_members_only.md
Labels: Content: NodeJS

#26283 removing unnecessary article
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#26287 Add missing whitespace
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#26289 'Project: Memory Card: Fix typo in introduction'
  react/states_and_effects/project_memory_card.md
Labels: Content: React

#26293 React Class Based Components Lesson: Fix a Broken Knowledge Check Link
  react/class_components/class_based_components.md
Labels: Content: React

#26297 React Router lesson: Fix additional resource link
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#26308 Git Commits Lesson: Convert knowledge links to markdown
  git/foundations_git/commit_messages.md
Labels: Content: Git

#26310 Node auth basics: Use arrow functions over traditional func exp
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#26311 Mocking Callbacks and Components lesson: fix import statement
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#26315 Fetching Data In React lesson: Fix additional resources
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#26321 NodeJS: API Basics - Remove duplicate link to a reading assignment
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS

#26325 Objects and Object Constructors lesson: Fix typos
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#26326 NodeJS, Authentication Basics: Provide specific link
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#26323 git-basics - update lists per layout style guide
  git/foundations_git/git_basics.md
Labels: Content: Git

#26318 Project: Kittens API: Update flickr api endpoint
  ruby_on_rails/apis/project_kittens_api.md
Labels: Content: Ruby on Rails

#26312 Preparing to Interview and Interviewing: Change broken link with it's web.archive.org backup
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
Labels: Content: Getting Hired

#26330 Databases: Fix heading
  databases/databases/databases_and_sql.md
Labels: Content: Databases

#26331 Node - API Security: Additional resources - replace dead link with wayback result.
  nodeJS/apis/api_security.md
Labels: Content: NodeJS

#26334 Git Basic Lesson: Fix knowledge check content
  git/foundations_git/git_basics.md
Labels: Content: Git

#26317 NodeJS, Express 102: Clarify models description
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
Labels: Content: NodeJS

#26350 Getting Started Lesson (Node Course): replace old article links
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

#26349 A Railsy Web Refresher: Replace Broken Link
  ruby_on_rails/introduction/web_refresher.md
Labels: Content: Ruby on Rails

#26348 Foundations - Link and Images
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#26337 Ruby on Rails Testing Lessons: Fix Section Headings
  ruby_on_rails/testing/model_testing.md
  ruby_on_rails/testing/unit_testing.md
Labels: Content: Ruby on Rails

#26346 Foundations - The Cascade: Add descriptive text to html samples
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#26341 React: Update mocking_callbacks_and_components.md props wording in example
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#26354 NodeJS, conclusion: Fix typo
  nodeJS/final_project/conclusion.md
Labels: Content: NodeJS

#26353 HTML Boilerplate lesson: Add 2 lines about 'HTML attributes'
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#26358 Assignment heading of links-and-images from html-foundations from html_css is not showing as heading
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#26356 Intermediate HTML and CSS Course > Default Styles: Added the official website link of Normalize.css
  intermediate_html_css/intermediate_css_concepts/default_styles.md
Labels: Content: Intermediate HTML/CSS

#26309 Introduction to Git-Updated list per layout style guide
  git/foundations_git/introduction_to_git.md
Labels: Content: Git

#26319 Fundamentals Part 2: Additional resources nesting, clarity, addition
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations

#26307 Getting Hired: Social Networking Lesson
  getting_hired/preparing_for_job_search/professional_networking.md
Labels: Content: Getting Hired

#26278 React: Merge "Using NodeJS For Your Backend" lesson with "Conclusion"
  archive/react/using_nodejs_for_your_backend.md
  react/conclusion/conclusion_full_stack_javascript.md
  react/conclusion/conclusion_ruby_on_rails.md
Labels: Type: Chore, Content: React

#26369 Reducing State lesson: Fix error throw statement
  react/more_react_concepts/reducing_state.md
Labels: Content: React

#26328 React Testing-Mocking Callbacks And Components Lesson: Added a note to use vi.mock()
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#26374 Foundations: remove portfolio mention
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations

#26385 Mention the usage of Node's LTS version to avoid errors in React course
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#26359 Working with Text: Fixed Grammar
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#26202 authentication_basics - bcrypt hash example update parameter
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#26380 Chore: Replaces JS DOM & Event assignment.
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#26389 Rendering Techniques: Correct capitalizaiton
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#26360 added more description about screen sizes to wheres-waldo project des…
  react/react_and_the_backend/project_wheres_waldo_a_photo_tagging_app.md
Labels: Content: React

#26233 React Components: Emphasise component capitalisation requirement
  react/getting_started_with_react/react_components.md
Labels: Content: React

#26370 Update more_testing.md
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

#26392 Foundation: Setting up Git
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#26393 Multiple lessons: Update notes to follow note styling guidelines
  foundations/installations/command_line_basics.md
  foundations/installations/setting_up_git.md
  foundations/javascript_basics/problem_solving.md
  foundations/javascript_basics/understanding_errors.md
  git/foundations_git/commit_messages.md
  intermediate_html_css/forms/form_basics.md
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
  intermediate_html_css/intermediate_css_concepts/css_functions.md
  nodeJS/introduction_to_nodeJS/getting_started.md
  ruby/introduction/installing_ruby.md
  ruby_on_rails/introduction/project_installing_rails.md
Labels: Content: Intermediate HTML/CSS, Content: NodeJS, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Content: Git

#26384 Javascript OOP Principles: Rework "Single responsibility" example
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript
