Repository TheOdinProject/curriculum, pull requests merged in 2023-11, with the labels that each got.

#26647 Express 103 Routes and Handlers: Add Missing Fullstop
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
Labels: Content: NodeJS

#26649 Update using_ruby_on_rails_for_your_backend.md
  react/react_and_the_backend/using_ruby_on_rails_for_your_backend.md
Labels: Content: React

#26474 Fix section numbers for 'Assignment
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
Labels: Content: Ruby on Rails

#26626 Corrected all grammatical mistakes in this file
  javascript/computer_science/project_binary_search_trees.md
  ruby/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#26650 Project Express 105 Forms and Deployment: Add Missing Fullstop
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
Labels: Content: NodeJS

#26652 Intro to CSS: Fix 2 typos
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#26655 JS Objects: Add semicolons for consistency across lessons
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

#26654 React: Fix consistency of spacing/indentation/semicolons
  react/class_components/component_lifecycle_methods.md
  react/getting_started_with_react/keys_in_react.md
  react/getting_started_with_react/passing_data_between_components.md
  react/getting_started_with_react/rendering_techniques.md
  react/getting_started_with_react/what_is_jsx.md
  react/states_and_effects/how_to_deal_with_side_effects.md
  react/states_and_effects/more_on_state.md
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#26642 HTML Boilerplate: Fix formatting of code
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#26454 Computer basics: Update sections as per layout style guide
  foundations/installations/computer_basics.md
Labels: Content: Foundations

#26552 Webpack: Emphasise need for --config if no webpack.config.js (e.g. webpack-merge)
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#26569 React Router: change 'default Profile' to `DefaultProfile'
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#26665 Foundations/Prerequisites: Change codeblock delimiters in text_editors.md
  foundations/installations/text_editors.md
Labels: Content: Foundations

#26286 JS Tic-Tac-Toe: Improve instructions order
  javascript/organizing_your_javascript_code/project_tic_tac_toe.md
Labels: Content: JavaScript

#26668 JS Tic-tac-toe: Remove redundant 'for now'
  javascript/organizing_your_javascript_code/project_tic_tac_toe.md
Labels: Content: JavaScript

#26671 HTML Boilerplate: Updated list items per layout style guide (#26664)
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#26554 React-Router: Remove Slash
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#26670 Foundation/HTML foundation: Updated list item spacing in elements-and-tags.md
  foundations/html_css/html-foundations/elements-and-tags.md
Labels: Content: Foundations

#26666 Intro to CSS: Fix 4 typos
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#26672 Lesson Introduction to HTML and CSS: Update lists per layout style guide
  foundations/html_css/html-foundations/intro-to-html-css.md
Labels: Content: Foundations

#26673 The Box Model: Fix 2 typos
  foundations/html_css/css-foundations/the-box-model.md
Labels: Content: Foundations

#26659 Intermediate HTML and CSS section Creating a Grid lesson: Update link question
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

#26661 Javascript: Factory Functions and the Module Pattern
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#26662 Added Passport: The Hidden Manual as an additional resource to the Authentication Basics lesson in the NodeJS path
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#26667 Removes the appendChild sentence and rewrites the DOM sentences
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript

#26602 Update project_etch_a_sketch.md
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations

#26683 Installations: Installing Google chrome on Linux Fix code block formatting for deb file installation
  foundations/installations/installations.md
Labels: Content: Foundations

#26682 working with text: update list items as per layout style guide
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#26684 Foundation's Installations: Fix Code Block Syntex
  foundations/installations/installations.md
Labels: Content: Foundations

#26686 Foundations/Installations: Update codeblocks from ~~~ to ```
  foundations/installations/installations.md
Labels: Content: Foundations

#26685 Foundations/Prerequisites: Change codeblock delimiters in setting_up_git.md
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#26677 Organizing Your Javascript Code: Update note of Factories vs Classes
  javascript/organizing_your_javascript_code/classes.md
Labels: Content: JavaScript

#26674 The Cascade: Fix 5 minor errors
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#26708 HTML Foundations Section: Update codeblock delimiters per layout style guide in working-with-text.md
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#26704 Elements and tags:Updated codeblock delimeters on Elements and tags page
  foundations/html_css/html-foundations/elements-and-tags.md
Labels: Content: Foundations

#26702 Foundation: Edit all codeblocs to use the new Layout_Style_Guide
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#26693 Foundations: fix html-boilerplate tag bug
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#26712 commit-messages.md: Updated the codeblock delimeters from '~' to '`'
  git/foundations_git/commit_messages.md
Labels: Content: Git

#26688 Class Based Components: assignment grammar/direction
  react/class_components/class_based_components.md
Labels: Content: React

#26703 JS/computer_science/recursive_methods.md - Replace additional resource with factorial recursion example
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript

#26707 React - passing_data_between_components: Typo 'destructing'
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React

#26709 Links and images: update codeblocks as per layout style guide
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#26714 HTML foundation: updated lists per layout style guide (#26664)
  foundations/html_css/html-foundations/lists.md
Labels: Content: Foundations

#26681 TODO List Project conclusion: Removes algorithm practice site mention
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
  javascript/organizing_your_javascript_code/project_todo_list.md
Labels: Content: Getting Hired, Content: JavaScript

#26715 Block and Inline: Remove extra space and add full stop
  foundations/html_css/css-foundations/block-and-inline.md
Labels: Content: Foundations

#26718 Refs and Memoization: Fix redundant text and typo
  react/more_react_concepts/refs_and_memoization.md
Labels: Content: React

#26725 JavaScript course factory functions: Reword private variable closure example
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#26726 Ruby Time Complexity: Adds video link in additional resources.
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

#26736 DOM Manipulation and Events lesson: Add clarifying text
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#26734 Ruby loops: Update example text avoid harrassing people
  ruby/basic_ruby/loops.md
Labels: Content: Ruby

#26735 A Deeper Look at Git: Change Sections
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#26728 Advanced Javascript - Recursion. Updated link solution
  javascript/computer_science/project_recursion.md
Labels: Content: JavaScript

#26729 Edited a typo at ruby-how-this-course-will-work
  ruby/introduction/how_this_course_will_work.md
Labels: Content: Ruby

#26733 HTML Foundations/Project Recipes: Update codeblock delimiters #26695
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#26651 Choose Your Path Forward: Fix typos
  foundations/tying_it_all_together/conclusion.md
Labels: Content: Foundations

#26636 Clarify wording about falsy values in JSX
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#26710 too specific instructions for Knights Travails
  javascript/computer_science/project_knights_travails.md
  ruby/computer_science/project_knights_travails.md
Labels: Content: JavaScript

#26745 The cascade lesson : Update clodeblocks to use backticks
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#26746 CSS Foundations & Flexbox: Update codeblock delimiters per layout style guide
  foundations/html_css/flexbox/flexbox-axes.md
Labels: Content: Foundations

#26748 The Box Model lesson: Update codeblock delimiters per layout style guide
  foundations/html_css/css-foundations/the-box-model.md
Labels: Content: Foundations

#26741 Managing State With The Context API: Replace “class” with “className” in Link component
  react/more_react_concepts/managing_state_with_context_api.md
Labels: Content: React

#26740 Node Path Object Constructors: Correct unintended code example behaviour
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#26755 Foundations/CSS Foundations: Update codeblock delimiters per layout style guide in intro-to-css.md
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#26757 common_data_structures_algorithms: Fixed linked in Additional resource section
  javascript/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/common_data_structures_algorithms.md
Labels: Content: JavaScript, Content: Ruby

#26747 Lesson Links and images: Update lists per layout style guide
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#26751 React: add note in keys section
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#26762 [JavaScript - Project: Recursion] : Capitlization of Fibonacci corrected
  javascript/computer_science/project_recursion.md
Labels: Content: JavaScript

#26778 [Ruby: Computer Science - Recursion Project] : Fibonacci Capitalizati…
  ruby/computer_science/project_recursion.md
Labels: Content: Ruby

#26767 Introduction to web development lesson: Fix broken link
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

#26795 Rephrase additional resource text
  git/foundations_git/commit_messages.md
Labels: Content: Git

#26781 Objects and Object Constructors lesson: Fix 1 grammar typo
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#26785 CSS Functions lesson: Fix incorrect name
  intermediate_html_css/intermediate_css_concepts/css_functions.md
Labels: Content: Intermediate HTML/CSS

#26774 React Rendering Techniques lesson: Reorder assignment exercises
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#26765 Update react_components.md
  react/getting_started_with_react/react_components.md
Labels: Content: React

#26764 Rewrite anchors text content to correct order
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#26798 Fundamentals Part 1: Update codeblock delimiters per layout style guide
  foundations/javascript_basics/fundamentals-1.md
Labels: Content: Foundations

#26799 Fundimentals Part 3: Update codeblock delimiters per layout style guide
  foundations/javascript_basics/fundamentals-3.md
Labels: Content: Foundations

#26800 JS Basics, Problem Solving Lesson: Replace tildes with backticks
  foundations/javascript_basics/problem_solving.md
Labels: Content: Foundations

#26802 Recursion:Removes Fibonacci comment
  javascript/computer_science/project_recursion.md
  ruby/computer_science/project_recursion.md
Labels: Content: JavaScript, Content: Ruby

#26766 Etch-a-Sketch: Be more explicit with instruction to use flexbox
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations

#26787 What is JSX?: Mention react challenges explicitly
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

#26804 Understandig Errors-Update codeblock delimeters per layout style guide
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations

#26808 Installing Node.js: Update codeblock delimiters per layout style guide
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations

#26814 Clean Code: Update codeblock delimiters per layout style guide
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#26805 Clean Code lesson in Foundations: Fix typo
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#26813 Fixed typo in git_basics : git_test
  git/foundations_git/git_basics.md
Labels: Content: Git

#26806 JavaScript Developer Tools lesson: Add warning to debug assignment
  foundations/javascript_basics/javascript_developer_tools.md
Labels: Content: Foundations

#26816 DOM Manipulation and Events: updated codeblock delimiters per layout style guide
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#26819 NodeJS databases: Remove unnecessary mentions, move necessary mentions
  nodeJS/authentication/security_configuration.md
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

#26824 Using Git in the Real World lesson: Clarify instruction
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#26825 Foundations/JavaScript Basics: Updated code block deliamiters in rock_paper_scissors project
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#26821 Sessions Cookies and Authentication. Fix wrong information regarding callback.
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

#26822 Fullstack JS, testing practice: replaced Caesar cipher link
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript

#26831 Fundamentals Part 2: Add note about disabling Replit AI
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations

#26827 Clarifying the winning condition and accounting for ties
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#26820 CSS Frameworks & Preprocessors: Clarify stance on framework/preprocessor value during TOP
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
Labels: Content: Intermediate HTML/CSS

#26834 Foundations: HTML/CSS: Flexbox - change CSS properties in 03.png PART II
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations

#26830 Node messaging app: Mention expectations regarding real time functionality
  react/react_and_the_backend/project_messaging_app.md
Labels: Content: React

#26829 Node pathway/Linting: Add section on template repos
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#26833 Full Stack JavaScript / NodeJS: Added note to let users know they can skip installing MongoDB Compass.
  nodeJS/mongoDB/intro_to_mongoDB.md
Labels: Content: NodeJS

#26836 JavaScript/testing_javascript/more_testing.md - move Jest setup to Additional Resources
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

#25402 Foundations / Installation Overview: Preliminary WSL2 Introduction
  foundations/html_css/html-foundations/links-and-images.md
  foundations/installations/command_line_basics.md
  foundations/installations/installation_overview.md
  foundations/installations/installations.md
  foundations/installations/text_editors.md
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Foundations
