Repository TheOdinProject/curriculum, pull requests merged in 2023-01, with the labels that each got.

#25000 Update outdated info
  ruby/advanced_ruby/pattern_matching.md
Labels: Content: Ruby, Status: Needs Triage

#24878 Foundations, Fundamentals II: Fix bad link
  foundations/javascript_basics/fundamentals-2.md
Labels: Status: Awaiting Changes, Content: Foundations

#25002 Ruby on Rails: Flight Booker, remove not-so-additional resource
  ruby_on_rails/advanced_forms_and_activerecord/project_flight_booker.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#24998 JavaScript/Handle Inputs And Render Lists: Remove unnecessary semicolon
  javascript/react_js/handle_inputs_and_render_lists.md
Labels: Content: JavaScript, Status: Needs Triage

#24993 Project: Sign-up Form: Fixed grammatical mistakes
  intermediate_html_css/forms/project_sign_up_form.md
Labels: Status: Accepted, Content: Intermediate HTML/CSS

#24975 Fix broken link what_you_can_do_to_prepare.md
  getting_hired/preparing_for_job_search/what_you_can_do_to_prepare.md
Labels: Content: Getting Hired, Status: Needs Triage

#25005 Foundations/Flexbox/Alignment lesson/aditional resources: remove a link previously suggested
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations, Status: Needs Triage

#25007 Foundations - Understanding Errors: Clarify wording
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations, Status: Needs Triage

#25014 Update text in objects_and_object_constructors.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Status: Accepted, Content: JavaScript

#25003 Foundations/html_css/flexbox/flexbox-alignment: A new additional resource has been added.
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations, Status: Needs Triage

#24825 refactor lesson according to styleguide
  intermediate_html_css/intermediate_css_concepts/default_styles.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25029 How Does The Web Work?: Update packet link URL
  foundations/installations/how_does_the_web_work.md
Labels: Content: Foundations, Status: Needs Triage

#25021 Rails basic, routing - Fix minor typos
  ruby_on_rails/rails_basics/routing.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25019 Project Shopping Cart: Fixed broken link
  javascript/react_js/project_shopping_cart.md
Labels: Content: JavaScript, Status: Needs Triage

#24816 Installing Node.js: Update install nvm command to new version
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations, Status: Needs Triage

#24829 Added additional resources on JavaScript
  javascript/organizing_your_javascript_code/organizing_your_javascript_code_introduction.md
Labels: Content: JavaScript, Status: Needs Triage

#24863 Project: Testing Practice: Fix incomplete requirement
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript, Status: Needs Triage

#25033 Fix punctuation and fix broken SuperAgent links
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS, Status: Needs Triage

#25030 Browser Compatibility lesson: Fix grammar
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25022 CSS Foundations lesson: Change font family name in example
  foundations/html_css/css-foundations.md
Labels: Content: Foundations, Status: Needs Triage

#25018 Intro to HTML lesson: fix knowledge check phrasing
  foundations/html_css/html-foundations/lists.md
Labels: Content: Foundations, Status: Needs Triage

#25024 Activerecord callbacks: Update broken link
  ruby_on_rails/advanced_forms_and_activerecord/active_record_callbacks.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25009 Introduction To Web Development lesson: Update link url
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations, Status: Needs Triage

#25004 Update motivation_and_mindset.md
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#24997 CSS Foundations: Update Specificity Example
  foundations/html_css/css-foundations.md
Labels: Content: Foundations, Status: Needs Triage

#24986 Advanced Forms: Fix numbered list
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25037 Project Recursion: Fix Fibonacci's name spelling
  javascript/computer_science/project_recursion.md
Labels: Content: JavaScript, Status: Needs Triage

#24934 Project: Express 105: Forms And Deployment: Add password risk warning and guidance on environment variables
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
Labels: Content: NodeJS, Status: Needs Triage

#24947 Javascript Final Project: add introductory React and Typescript additional resource
  javascript/finishing_up_with_javascript/project_javascript_final.md
Labels: Content: JavaScript, Status: Needs Triage

#24317 Rails / Sprinkles / Stimulus: Better project for stimulus lesson
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Content: Ruby on Rails

#25043 Update getting_started.md: Fix Typo
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS, Status: Needs Triage

#25044 broken url
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
Labels: Content: JavaScript, Status: Needs Triage

#25046 Update what_companies_want.md : Fix typo
  getting_hired/preparing_for_job_search/what_companies_want.md
Labels: Content: Getting Hired, Status: Needs Triage

#25036 Style guide - Update for easier contributions
  LAYOUT_STYLE_GUIDE.md
Labels: Status: Needs Review

#25048 add "play with exercises" language to flex lesson
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations, Status: Needs Triage

#25032 lesson: create type checking with PropTypes lesson
  react/react-ecosystem/type-checking-with-proptypes.md
Labels: Status: Needs Review, Project: React Revamp

#25042 Feature: New Rails Deployment Lesson
  ruby/introduction/installing_ruby.md
  ruby_on_rails/introduction/preparing_for_deployment.md
  ruby_on_rails/introduction/project_installing_rails.md
  ruby_on_rails/mailers_advanced_topics/mailers.md
  ruby_on_rails/mailers_advanced_topics/project_final.md
  ruby_on_rails/mailers_advanced_topics/project_sending_confirmation_emails.md
  ruby_on_rails/rails_basics/deployment.md
  ruby_on_rails/rails_basics/project_blog_app.md
Labels: Status: Needs Review, Content: Ruby, Content: Ruby on Rails

#25068 Deployment Lesson: Fix typo and inconsistent capitalization
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25069 Update deployment.md
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: Ruby on Rails, Status: Needs Triage
