Repository TheOdinProject/curriculum, pull requests merged in 2023-12, with the labels that each got.

#26858 Update codeblocks delimeters in css functions lesson
  intermediate_html_css/intermediate_css_concepts/css_functions.md
Labels: Content: Intermediate HTML/CSS

#26857 More Text Styles Lesson: Update codeblock delimiters per layout style guide
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

#26852 installation overview: Fix typo
  foundations/installations/installation_overview.md
Labels: Content: Foundations

#26861 The Cascade lesson: Update specificity explanation
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#26845 Node deployment: Add Adaptable.io as PaaS option
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

#26856 git_basics: Fixing typo in image
  git/foundations_git/git_basics/imgs/01.png
Labels: Content: Git

#26866 More Testing: Clarify question
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

#26838 Rails Odinbook: Rewrite in line with NodeJS
  ruby_on_rails/mailers_advanced_topics/project_final.md
Labels: Content: Ruby on Rails

#26871 Semantic HTML lesson: delete confusing windows statement
  advanced_html_css/accessibility/semantic_html.md
Labels: Content: Advanced HTML/CSS

#26872 Remove OpenSSL error instructions from Ruby Debugging lesson
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby

#26377 Getting Hired Professional Networking: Adding link for first ruby friend
  getting_hired/preparing_for_job_search/professional_networking.md
Labels: Content: Getting Hired

#26562 Introduction to Express lesson: Replace anchor tags with markdown links
  nodeJS/express_and_mongoose/introduction_to_express.md
Labels: Content: NodeJS

#26577 Introduction to NodeJS: Remove extra quotation marks and whitespace
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#26876 intermediate_html_css/grid: Add grid terminology video by PeterSommer
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

#26878 Intermediate HTML and CSS course: Updated codeblock delimiters in the SVG lesson
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS

#26886 Intermediate HTML and CSS: Update codeblock delimiters as per layout style guide in Form Basics Lesson
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

#26887 Positioning Grid Elements Lesson: Update code blocks to follow style guide
  intermediate_html_css/grid/positioning_grid_elements.md
Labels: Content: Intermediate HTML/CSS

#26890 intermediate_html_css / grid / advanced_grid_properties: Edit codeblocks to align with style guide
  intermediate_html_css/grid/advanced_grid_properties.md
Labels: Content: Intermediate HTML/CSS

#26889 Custom Properties Lesson: Update codeblocks delimiters per layout style guide
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

#26892 react / getting started... / what is jsx: update Javascript to JavaScript
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

#26896 conclusion.md: Change "I" to "We"
  nodeJS/final_project/conclusion.md
Labels: Content: NodeJS

#26900 A new additional resource (a freecodecamp course) added to JavaScript course/CS section/Recursive Method Lesson.
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript

#26893 feat: Add a line under title tag
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#26899 DOM Manipulation and Events Lesson: Make example code snippets clearer
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#26902 Frameworks and Preprocessors lesson: Fix typo
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
Labels: Content: Intermediate HTML/CSS

#26903 fix: Escape the vertical bar in title subsection
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#26907 databases\databases_and_sql : update codeblocks to follow style guide
  databases/databases/databases_and_sql.md
Labels: Content: Databases

#26906 Advanced Grid Properties lesson: Fix note formatting
  intermediate_html_css/grid/advanced_grid_properties.md
Labels: Content: Intermediate HTML/CSS

#26909 Git Basics: Updated link to image "Create new repo using GitHub"
  git/foundations_git/git_basics.md
Labels: Content: Git

#26911 Fix grammar and add new path for knight in file project_knights_trava…
  javascript/computer_science/project_knights_travails.md
Labels: Content: JavaScript

#26914 Update codeblock delimiters: ES6 Modules lesson
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#26915 Ruby: Custom Enumerables Project: Add example enumerable method before assignment
  ruby/advanced_ruby/project_custom_enumerables.md
Labels: Content: Ruby

#26916 Ruby Course "Using Git in the Real World" Lesson: instructions to encourage follow-along without assigned issues
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#26918 Lesson Factory Functions and the Module Pattern: Update code-block delimiters per layout style guide
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#26920 Objects and Object Constructors Lesson: Update code blocks to follow style guide
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#26919 Git In The Real World: Added code block to long git command
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#26923 Fix: have Knowledge Section's question 3 link target the correct section of the webpage.
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#26925 OOP principles: Code delimiters updated
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

#26924 Computer Science: both paths: Realign ruby and JS knights travails content
  javascript/computer_science/project_knights_travails.md
  ruby/computer_science/project_knights_travails.md
Labels: Content: JavaScript, Content: Ruby

#26926 Project Library: Updating CodeBlock Delimiters
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

#26933 Javascript - webpack lesson: Update codeblock to follow style guide
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#26929 Update project shopping cart - grammatical fixes to introduction
  react/the_react_ecosystem/project_shopping_cart.md
Labels: Content: React

#26932 advanced html/css / responsive design: add additional resource suggestion
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

#26935 'Intro to CSS': Remove trailing slash
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#26943 Using Git in the Real World: Fix knowledge check inconsistency for second question
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#26945 Lesson Async and Await: Update code-block delimiters per layout style guide
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript

#26946 Asynchronous Code: Add video resource
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

#26828 Time Complexity: fix link target and formatting
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript, Content: Ruby

#26947 Asynchronous code layout update
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

#26950 Working with APIs: update code block delimiters
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript

#26952 Typo: Fix "ES6 Modules"'s Lesson Overview section bullet line
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#26951 API Basics: Update wording in Introduction
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS

#26953 Project Landing Page: Add missing word
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

#26957 Form Validation Lesson: Fix countable/uncountable grammar
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS

#26758 OdinBook: Rewrite odin book to be open ended
  nodeJS/final_project/project_odin_book.md
Labels: Content: NodeJS

#26961 ruby_on_rails/rails_sprinkles/turbo: Fix code typo
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#26966 JavaScript Course: Update codeblock delimiters per layout style guide in Project: Binary Search Trees
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#26967 ROR: The Asset Pipeline: Inconsistency of links in the 'Knowledge Check' section with the Assignment
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
Labels: Content: Ruby on Rails

#26971 Lesson More Testing: Update code-block delimiters per layout style guide
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

#26974 Javascript - space complexity lesson: Update codeblock to follow style guide
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript

#26978 Project Testing Practice: Update codeblock delimiters per layout style guide
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript

#26982 Installations lesson: fix typo in a link
  foundations/installations/installations.md
Labels: Content: Foundations

#26980 Typo: fix lesson "ES6 Module" 's Knowledge Check section bullet
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#26985 NodeJs: Authentication Basics => Update code blocks 26983
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#26999 NodeJS Lessons: Update codeblock delimiters in Introduction to NodeJS
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#26998 Lesson Express 101: Update code-block delimiters per layout style guide
  nodeJS/express_and_mongoose/express_101.md
Labels: Content: NodeJS

#26975 DOM Manipulation & Events: Fixed display issue caused by missing class
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#27001 NodeJs: (Project) Mini Message Board => Update code blocks
  nodeJS/express_and_mongoose/project_mini_message_board.md
Labels: Content: NodeJS

#26988 Databases : Remove Words
  databases/databases/databases.md
  databases/databases/databases_and_sql.md
  databases/databases/project_sql_zoo.md
Labels: Content: Databases

#26927 NodeJS: Use uniform wording when referring to the Express tutorial
  nodeJS/express_and_mongoose/express_101.md
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
  nodeJS/express_and_mongoose/express_104_view_templates.md
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
Labels: Content: NodeJS

#26958 React: Reword TS mention away from recommending learning during course
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

#26990 Getting Hired : Remove Words
  getting_hired/applying_and_interviewing/applying.md
  getting_hired/preparing_for_job_search/how_this_course_will_work.md
  getting_hired/preparing_for_job_search/project_portfolio.md
Labels: Content: Getting Hired

#26986 Common Data Structures and Algorithms: Update knowledge check question
  javascript/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/common_data_structures_algorithms.md
Labels: Content: JavaScript

#26993 Javascript : Remove Words
  javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
  javascript/computer_science/common_data_structures_algorithms.md
  javascript/computer_science/project_binary_search_trees.md
  javascript/computer_science/recursive_methods.md
  javascript/computer_science/time_complexity.md
  javascript/introduction/a_quick_review.md
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
  javascript/javascript_in_the_real_world/linting.md
  javascript/javascript_in_the_real_world/what_is_es6.md
  javascript/organizing_your_javascript_code/es6_modules.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
  javascript/organizing_your_javascript_code/organizing_your_javascript_code_introduction.md
  javascript/organizing_your_javascript_code/project_library.md
  javascript/organizing_your_javascript_code/project_restaurant_page.md
  javascript/organizing_your_javascript_code/project_todo_list.md
  javascript/testing_javascript/more_testing.md
  javascript/testing_javascript/project_battleship.md
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript

#27003 Foundations - Landing page: add discord channel hyperlink
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

#26996 Ruby : Remove Words
  ruby/automated_testing/rspec_part_one_basics.md
  ruby/automated_testing/rspec_part_two_code_sharing.md
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/conditional_logic.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/input_and_output.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby_projects/project_caesar_cipher.md
  ruby/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/project_binary_search_trees.md
  ruby/computer_science/recursive_methods.md
  ruby/computer_science/time_complexity.md
  ruby/conclusion/project_ruby_final.md
  ruby/files_and_serialization/project_event_manager.md
  ruby/files_and_serialization/project_hangman.md
  ruby/introduction/how_this_course_will_work.md
  ruby/introduction/installing_ruby.md
  ruby/object_oriented_programming_basics/project_tic_tac_toe.md
  ruby/testing_ruby_with_rspec/introduction_to_rspec.md
  ruby/testing_ruby_with_rspec/project_connect_four.md
Labels: Content: Ruby

#27006 Computer Science: Add merge sort test examples
  javascript/computer_science/project_recursion.md
  ruby/computer_science/project_recursion.md
Labels: Content: JavaScript, Content: Ruby

#26949 Setting Up A React Environment: fix link for guide to React dev tools
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#27010 Node JS > testing_express > Testing Database Operations => Update Code Blocks
  nodeJS/testing_express/testing_database_operations.md
Labels: Content: NodeJS

#27013 NodeJS - testing routes & controllers lesson: Update codeblock to follow style guide
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS

#26970 Ruby Course: Use official Ruby 3.2 documentation (docs.ruby-lang.org) in place of 3rd-party and outdated sources
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby/predicate_enumerable_methods.md
  ruby/files_and_serialization/project_event_manager.md
Labels: Content: Ruby

#26991 Git : Remove Words
  git/foundations_git/git_basics.md
  git/intermediate_git/a_deeper_look_at_git.md
  git/intermediate_git/using_git_in_the_real_world.md
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#27016 Git Lesson : Update codeblock delimiters
  git/intermediate_git/a_deeper_look_at_git.md
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#27024 Ruby, Basic Ruby, Arrays: Rename myArray to my_array
  ruby/basic_ruby/arrays.md
Labels: Content: Ruby

#27022 Basic ruby course: Update codeblock to follow style guide
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/conditional_logic.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/enumerable_exercises.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/input_and_output.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby/predicate_enumerable_methods.md
  ruby/basic_ruby/variables.md
Labels: Content: Ruby
