Repository TheOdinProject/curriculum, pull requests merged in 2023-03, with the labels that each got.

#25118 Foundations path, flexbox, growing and shrinking: fix typos on assignment section
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Content: Foundations, Status: Needs Triage

#25143 'Project: Kittens API lesson: Fix typo'
  ruby_on_rails/apis/project_kittens_api.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25136 Git Basics lesson: Add anchor link to referenced lesson
  git/foundations_git/git_basics.md
Labels: Status: Needs Triage, Content: Git

#25141 Intermediate HTML CSS, Browser Compatibility Lesson: Fix capitalization
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25117 Rails: Members Only: Update information regarding Devise/Turbo compatibility
  ruby_on_rails/forms_and_authentication/project_members_only.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25157 Issue #25146 : replaced methods with names of methods
  ruby/advanced_ruby/blocks.md
Labels: Content: Ruby, Status: Needs Triage

#25158 Update linting.md
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript, Status: Needs Triage

#25163 Update flexbox-alignment.md
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations, Status: Needs Triage

#25120 More CSS Properties Lesson : Move Additional Resources to the Bottom
  intermediate_html_css/intermediate_css_concepts/more_css_properties.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25167 Rails: Installing Postgres: Add note for handling capitalized usernames
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25170 Foundations Course [Join The Odin Community]: Additional Resources & Typos
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations, Status: Needs Triage

#25174 Foundations Course: fix typo
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations, Status: Needs Triage

#25175 Foundations [Setting Up Git]: Links + rRewording
  foundations/installations/setting_up_git.md
Labels: Content: Foundations, Status: Needs Triage

#25156 computer basics video added in additional resources
  foundations/installations/computer_basics.md
Labels: Status: Accepted, Content: Foundations

#25178 added aditional content to foundation/Choose Your Path Forward
  foundations/installations/computer_basics.md
  foundations/tying_it_all_together/conclusion.md
Labels: Content: Foundations, Status: Needs Triage

#25179 JavaScript course: Translate ruby space complexity lesson to js
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25093 add space complexity lesson
  ruby/computer_science/space_complexity.md
Labels: Content: Ruby, Status: Needs Triage

#24888 Add Ruby time complexity lesson
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

#24946 JavaScript: Port the Ruby time complexity lesson to JavaScript course
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25184 Computer Science (both paths): Fix broken time/space complexity knowledge check links
  javascript/computer_science/space_complexity.md
  javascript/computer_science/time_complexity.md
  ruby/computer_science/space_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript, Content: Ruby, Status: Needs Triage

#25181 Ruby on Rails > Rails Basics section: Match "Lesson Overview" to Layout Style Guide
  ruby_on_rails/rails_basics/controllers.md
  ruby_on_rails/rails_basics/deployment.md
  ruby_on_rails/rails_basics/routing.md
  ruby_on_rails/rails_basics/views.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25193 Ruby on Rails > Active Record Basics section: Match "Lesson Overview" to Layout Style Guide
  ruby_on_rails/active_record_basics/active_record_basics.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25177 Update objects_and_object_constructors.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript, Status: Needs Triage

#25155 Ruby Project: Event Manager: Rewrite Initial Setup opening paragraph
  ruby/files_and_serialization/project_event_manager.md
Labels: Status: Awaiting Changes, Content: Ruby

#25145 Update IDE instructions in links-and-images.md
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations, Status: Needs Triage

#25053 Foundations/Installations/Text Editors: Clarification of assignment instruction
  foundations/installations/text_editors.md
Labels: Status: Awaiting Response, Content: Foundations

#24957 JavaScript Fundamentals Part 2: fix a typo in the very first paragraph
  foundations/javascript_basics/fundamentals-2.md
Labels: Status: Awaiting Changes, Status: Awaiting Response, Content: Foundations

#24990 installing_nodejs.md : fix minor mistake
  foundations/javascript_basics/installing_nodejs.md
Labels: Status: Awaiting Changes, Content: Foundations

#25171 JavaScript basics: Update location of solutions
  foundations/javascript_basics/fundamentals-4.md
  foundations/javascript_basics/fundamentals-5.md
Labels: Content: Foundations, Status: Needs Triage

#25200 Javascript space_complexity lesson: fix typo
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25125 React Introduction: fix small factual error
  javascript/react_js/react_introduction.md
Labels: Content: JavaScript, Status: Needs Triage

#25202 Time Complexity lesson: Improve readability
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby, Status: Needs Triage

#25070 Objects And Object Constructors lesson: Remove link to insecure site
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Status: Discussion, Content: JavaScript

#24996 Update form_basics.md
  intermediate_html_css/forms/form_basics.md
Labels: Status: Awaiting Changes, Content: Intermediate HTML/CSS

#25208 Update svgs.md
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25213 Installing NodeJS: Remove Empty Assignment & Knowledge Check headers
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations, Status: Needs Triage

#25189 mongoose 7.0.1 fix, callbacks converted to async/await
  nodeJS/authentication/authentication_basics.md
Labels: Status: In Progress, Status: Awaiting Changes, Content: NodeJS, Status: Needs Triage

#25222 Ruby on Rails > Assets and Navigation section: Match "Lesson Overview" to Layout Style Guide
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
  ruby_on_rails/assets_and_navigation/importmap.md
  ruby_on_rails/assets_and_navigation/turbo_drive.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25219 Hashes: Fix Class Method Symbol
  ruby/basic_ruby/hashes.md
Labels: Content: Ruby, Status: Needs Triage

#25218 Form Basics: Remove Reference to Full Stack JavaScript Course
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25137 Foundations: Installations: Clarify wording in VM instructions so users don't enable EFI
  foundations/installations/installations.md
Labels: Content: Foundations, Status: Needs Triage

#25216 Active Record Associations: Make File Name Singular
  ruby_on_rails/advanced_forms_and_activerecord/active_record_associations.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25217 Active Record Basics: Remove Extraneous Paragraph
  ruby_on_rails/active_record_basics/active_record_basics.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25204 Update react_introduction.md to include information on ReportWebVitals
  javascript/react_js/react_introduction.md
Labels: Content: JavaScript, Status: Needs Triage

#25147 CSS Foundations Introduction: Add the outcome for same specificty
  foundations/html_css/css-foundations.md
Labels: Content: Foundations, Status: Needs Triage

#25139 Foundations, Introduction: Add a note about generative AI to motivation and mindset lesson
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#25230 Foundations, Flexbox Alignment Lesson: Duplicate resource deleted
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations, Status: Needs Triage

#25223 Javascript space_complexity lesson: fix punctuation and wording
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25227 Introduction to MongoDB lesson: removed outdated warning about compatibility
  nodeJS/mongoDB/intro_to_mongoDB.md
Labels: Content: NodeJS, Status: Needs Triage

#25192 Intro to HTML and CSS lesson: Updated the CSS Cheat Sheet link
  intermediate_html_css/intermediate_html_concepts/introduction.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25233 Mindset and Motivation: Add a Khan Academy Additional Resource
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#25201 Javascript time_complexity lesson: fix punctuation
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25234 Ruby time_complexity lesson: fix punctuation to match Javascript changes
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby, Status: Needs Triage

#25111 Change functions to methods
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Status: Awaiting Response, Content: Foundations

#24951 Project - Shopping Cart: updated React Router render instructions for gh-pages
  javascript/react_js/project_shopping_cart.md
Labels: Content: JavaScript, Status: Needs Triage

#24931 Factory Functions And The Module Pattern lesson: Add mention of the prototype
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript, Status: Needs Triage

#25098 React Testing Part One: update first test, use screen.getByRole()
  javascript/react_js/react_testing_part_one.md
Labels: Content: JavaScript, Status: Needs Triage

#25106 working_with_apis: updated API to WeatherAPI
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript, Status: Needs Triage

#25138 DOM Manipulation And Events lesson: recommend .code instead of deprecated .keycode keyboard event
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations, Status: Needs Triage

#25221 NodeJS Deployment: Changed recommended domain name registrar
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS, Status: Needs Triage

#25228 Javascript Binary Search Trees project:
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#25236 Feature: Remove Heroku Instructions from Mini Message Board Project
  nodeJS/express_and_mongoose/project_mini_message_board.md
Labels: Content: NodeJS, Status: Needs Triage

#25224 Foundations Inspecting HTML/CSS: Removed images and verbiage requiring the user to visit TOP homepage
  foundations/html_css/inspecting-html-and-css/imgs/00.png
  foundations/html_css/inspecting-html-and-css/imgs/02.png
  foundations/html_css/inspecting-html-and-css/imgs/04.png
  foundations/html_css/inspecting-html-and-css/inspecting-html-and-css.md
Labels: Status: Awaiting Response, Content: Foundations

#25237 Calculator project: Adds guidance about using variables.
  foundations/javascript_basics/project_calculator.md
Labels: Content: Foundations, Status: Needs Triage

#25238 Ruby on Rails > Forms and Authentication section: Match "Lesson Overview" to Layout Style Guide
  ruby_on_rails/forms_and_authentication/form_basics.md
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25241 Spelling error in factory_functions lesson
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript, Status: Needs Triage

#25243 Fix code comment spacing factory_functions lesson
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript, Status: Needs Triage

#25210 Git Basics: overhaul wording about git commit -m
  git/foundations_git/git_basics.md
Labels: Status: Awaiting Changes, Content: Git

#25245 Deployment: fix grammar
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS, Status: Needs Triage

#24967 First model testing lesson draft.
  ruby_on_rails/testing/model_testing.md
Labels: Content: Ruby on Rails

#25244 Updated the mis-spelled blog web address
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#25239 Update factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript, Status: Needs Triage

#25240 fix/battleship-typo-instructions
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript, Status: Needs Triage

#25248 JavaScript & Ruby Course/ Common Data Structures And Algorithms/ Additional Resources: Fix broken link
  javascript/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/common_data_structures_algorithms.md
Labels: Content: JavaScript, Content: Ruby, Status: Needs Triage

#25250 Ruby on Rails > Advanced Forms and Active Record section: Match "Lesson Overview" to Layout Style Guide
  ruby_on_rails/advanced_forms_and_activerecord/active_record_associations.md
  ruby_on_rails/advanced_forms_and_activerecord/active_record_callbacks.md
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25251 Ruby on Rails > APIs section: Match "Lesson Overview" to Layout Style Guide
  ruby_on_rails/apis/apis_and_building_your_own.md
  ruby_on_rails/apis/working_with_external_apis.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25252 Rock Paper Scissors: Use old instructions for Step 6
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Type: Foundations, Status: Needs Triage

#25254 Rectify typing error
  javascript/organizing_your_javascript_code/organizing_your_javascript_code_introduction.md
Labels: Content: JavaScript, Status: Needs Triage

#25257 Updated Video #1 Link and Description in Introduction to Git
  git/foundations_git/introduction_to_git.md
Labels: Status: Needs Triage, Content: Git

#25259 Feature: Move Backend Lessons From Foundations to Rails and Node Courses
  shared/README.md
  shared/the_back_end/introduction_to_frameworks.md
  shared/the_back_end/introduction_to_the_backend_lesson.md
Labels: Status: Needs Triage

#25265 Location of change: Knowledge Check in Time Complexity Lesson in 'A Bit of Computer Science': Fix single word typo
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25267 Fundamentals Part 2: Move repl links to Odin's account
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations, Status: Needs Triage

#25272 add missing Time and space complexity md
  ruby/README.md
Labels: Content: Ruby, Status: Needs Triage

#25270 Full Stack JavaScript ReactJS Router: Fix typo
  javascript/react_js/router.md
Labels: Content: JavaScript, Status: Needs Triage

#25266 Update video in Introduction to git, section knowledge check
  git/foundations_git/introduction_to_git.md
Labels: Status: Needs Triage, Content: Git

#25247 Etch-a-Sketch in Javascript Basics: remove mention of grid from instructions
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations, Status: Needs Triage

#25195 Javascript/Rails Final Projects: update links to more current resources
  javascript/finishing_up_with_javascript/project_javascript_final.md
  javascript/javascript_and_the_backend/using_rails_for_your_backend.md
  nodeJS/final_project/conclusion.md
Labels: Status: Awaiting Changes, Content: JavaScript

#25274 Fundamentals Part 2: Fix broken bulletpoint format
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations, Status: Needs Triage

#25279 Update project_sql_zoo.md: fix typo
  databases/databases/project_sql_zoo.md
Labels: Content: Databases, Status: Needs Triage

#25277 Ruby on Rails > Rails Sprinkles section: Match "Lesson Overview" to Layout Style Guide
  ruby_on_rails/rails_sprinkles/css_bundling.md
  ruby_on_rails/rails_sprinkles/js_bundling.md
  ruby_on_rails/rails_sprinkles/stimulus_js.md
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25284 Foundations/Choose Your Path Forward: Remove backend and frameworks statement
  foundations/tying_it_all_together/conclusion.md
Labels: Content: Foundations, Status: Needs Triage

#25281 directs learners to first chapter
  foundations/javascript_basics/problem_solving.md
Labels: Content: Foundations, Status: Needs Triage

#25290 Fundamentals Part 2: Change asterisks to hyphens
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations, Status: Needs Triage

#25278 Ruby on Rails > Mailers and Advanced Topics section: Match "Lesson Overview" to Layout Style Guide
  ruby_on_rails/mailers_advanced_topics/advanced_topics.md
  ruby_on_rails/mailers_advanced_topics/mailers.md
  ruby_on_rails/mailers_advanced_topics/websockets_and_actioncable.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25289 CS > Time Complexity: Fix step calculation
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript, Content: Ruby, Status: Needs Triage

#25286 CS > Time Complexity: Fix Typos
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript, Content: Ruby, Status: Needs Triage

#25287 Update css_functions.md
  intermediate_html_css/intermediate_css_concepts/css_functions.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25288 Skip extra section in form-validation article
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS

#25293 Positioning Grid Elements lesson : Change definition of cells
  intermediate_html_css/grid/positioning_grid_elements.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25283 JavaScript Basics: Fundamentals Part 2: Knowledge-Check link text correction
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations, Status: Needs Triage

#25275 Update video to refer content studied
  git/foundations_git/introduction_to_git.md
Labels: Status: Awaiting Changes, Content: Git

#25295 Update loops.md
  ruby/basic_ruby/loops.md
Labels: Content: Ruby, Status: Needs Triage

#25307 remove firebase video from webpack lesson as discussed in #25207
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript, Status: Needs Triage

#25306 Add missing full stop
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript, Status: Needs Triage
