Repository TheOdinProject/curriculum, pull requests merged in 2023-05, with the labels that each got.

#25408 Change h4 to h3 in deployment.md
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS, Status: Needs Triage

#25407 Ruby Course - Debugging: Fix typo
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby, Status: Needs Triage

#25404 ES6_modules: clarify code comment in ES6 Modules Lesson
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript, Status: Needs Triage

#25299 React JS: Linking the new React docs
  javascript/react_js/handle_inputs_and_render_lists.md
  javascript/react_js/hooks.md
  javascript/react_js/lifecycle_methods.md
  javascript/react_js/react_introduction.md
  javascript/react_js/state_and_props.md
Labels: Content: JavaScript

#25410 Ruby On Rails Project: Forms - Add Authenticity Token Reminder
  ruby_on_rails/forms_and_authentication/project_forms.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25409 Update deployment.md
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS, Status: Needs Triage

#25338 React Revamp: Add Project Where's Waldo A Photo Tagging App
  react/react_and_the_backend/project_wheres_waldo_a_photo_tagging_app
Labels: Status: Needs Triage, Project: React Revamp

#25415 A Deeper Look at Git lesson: Move Assignment list items into Assignment div
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Status: Needs Triage, Content: Git

#25417 Foundations/How Does the Web Work?: "Knowledge Check" section links functional & display a consistent appearance
  foundations/installations/how_does_the_web_work.md
Labels: Content: Foundations, Status: Needs Triage

#25418 Foundations/Installation Overview: OS Options (Linux) Section Grammar Correction
  foundations/installations/installation_overview.md
Labels: Content: Foundations, Status: Needs Triage

#25411 Fix broken link
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25420 Foundations Intro To Flexbox: updated article in the additional resources section
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations, Status: Needs Triage

#25421 HTML Foundations, Links and Images: Fix broken link to interneting is hard
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations, Status: Needs Triage

#25423 Project: Landing Page: Replace 02.png to avoid confusion over font weight
  foundations/html_css/project/imgs/02.png
Labels: Content: Foundations, Status: Needs Triage

#25422 Layout Style Guide: Apply Style Guidelines to the Guide and templates, improve consistency
  LAYOUT_STYLE_GUIDE.md
  templates/lesson-example.md
  templates/lesson-template.md
  templates/project-example.md
  templates/project-template.md
Labels: Status: Needs Triage

#25426 A quick review: Correct grammar mistake
  javascript/introduction/a_quick_review.md
Labels: Content: JavaScript, Status: Needs Triage

#25427 Removes info about using AI.
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#25425 ES6 Modules: Add clarifying statement regarded scope
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript, Status: Needs Triage

#25428 HTML Foundations, Links and Images: Fix broken link to interneting is hard under assignment and additional resources.
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations, Status: Needs Triage

#25434 Fixed Typo error : NodeJs Authentication Basics
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS, Status: Needs Triage

#25441 Fix: Knowledge Links on DOM Lesson
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations, Status: Needs Triage

#25436 Fix: Missing Changes
  foundations/html_css/html-foundations/links-and-images.md
  foundations/installations/text_editors.md
  foundations/introduction/introduction_to_web_development.md
  foundations/javascript_basics/fundamentals-2.md
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations, Status: Needs Triage

#25443 Fundamentals part 5 lesson: Fix link to point to correct part of the webpage
  foundations/javascript_basics/fundamentals-5.md
Labels: Content: Foundations, Status: Needs Triage

#25439 Fix whitespace
  advanced_html_css/responsive_design/project_personal_portfolio.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#25440 Changed links to markdown links under forms.
  intermediate_html_css/forms/form_basics.md
  intermediate_html_css/forms/form_validations.md
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/grid/creating_a_grid.md
  intermediate_html_css/grid/introduction_to_grid.md
  intermediate_html_css/grid/positioning_grid_elements.md
  intermediate_html_css/grid/using_flexbox_and_grid.md
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
  intermediate_html_css/intermediate_css_concepts/css_functions.md
  intermediate_html_css/intermediate_css_concepts/css_units.md
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
  intermediate_html_css/intermediate_css_concepts/default_styles.md
  intermediate_html_css/intermediate_css_concepts/more_css_properties.md
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
  intermediate_html_css/intermediate_css_concepts/positioning.md
  intermediate_html_css/intermediate_html_concepts/emmet.md
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25438 Fundamentals 5: Update array section with additional learning resource.
  foundations/javascript_basics/fundamentals-5.md
Labels: Content: Foundations, Status: Needs Triage

#25463 Full Stack Javascript: Within the Project: Weather App, Remind the User of Throttling
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
Labels: Content: JavaScript, Status: Needs Triage

#25461 Flexbox growing and shrinking lesson: Remove an incorrect assignment
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Content: Foundations, Status: Needs Triage

#25459 JS - Project: Testing Practice: Direct reader to the documentation for setting up Jest and Babel
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript, Status: Needs Triage

#25460 Express 104: Remove knowledge check section
  nodeJS/express_and_mongoose/express_104_view_templates.md
Labels: Content: NodeJS, Status: Needs Triage

#25468 Intro to CSS: remove uncoverd resource
  foundations/html_css/intro-to-css.md
Labels: Content: Foundations, Status: Needs Triage

#25464 Fundamentals Part 1: Adding variable illustration img
  foundations/javascript_basics/fundamentals-1/imgs/00.png
Labels: Content: Foundations, Status: Needs Triage

#25467 What Is Node.js lesson: Update link
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS, Status: Needs Triage

#25336 React Revamp: Using Ruby on Rails For Your Backend
  react/react_and_the_backend/using_ruby_on_rails_for_your_backend.md
Labels: Status: Needs Triage, Project: React Revamp

#25480 Foundations: Motivation and Mindset: Update link to `#success-stories` discord channel
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#25474 Foundations: Move Intro to Html & CSS Lesson to Correct Folder
  foundations/html_css/html-foundations/intro-to-html-css.md
Labels: Content: Foundations

#25488 change link to api
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25455 Changed links to markdown links
  javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
  javascript/computer_science/a_very_brief_intro_to_cs.md
  javascript/computer_science/common_data_structures_algorithms.md
  javascript/computer_science/recursive_methods.md
  javascript/computer_science/space_complexity.md
  javascript/computer_science/time_complexity.md
  javascript/javascript_and_the_backend/using_baas_for_your_backend.md
  javascript/javascript_and_the_backend/using_rails_for_your_backend.md
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
  javascript/organizing_your_javascript_code/es6_modules.md
  javascript/organizing_your_javascript_code/oop_principles.md
  javascript/organizing_your_javascript_code/webpack.md
  javascript/react_js/advanced_concepts.md
  javascript/react_js/handle_inputs_and_render_lists.md
  javascript/react_js/hooks.md
  javascript/react_js/lifecycle_methods.md
  javascript/react_js/react_introduction.md
  javascript/react_js/react_testing_part_one.md
  javascript/react_js/react_testing_part_two.md
  javascript/react_js/router.md
  javascript/react_js/state_and_props.md
  javascript/testing_javascript/more_testing.md
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript, Status: Needs Triage

#25477 update this binding explanation in class components
  javascript/react_js/state_and_props.md
Labels: Content: JavaScript

#25484 Update command_line_basics.md fixed a broken link
  foundations/installations/command_line_basics.md
Labels: Content: Foundations, Status: Needs Triage

#25489 Added an typing Practice Website
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#25491 Typing.com link added
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations, Status: Needs Triage

#25487 javascript binary search tree: Add Additional resources
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#25490 Chore: Move introductory CSS lessons into correct Folder.
  foundations/html_css/css-foundations/intro-to-css.md
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations, Status: Needs Triage

#25475 The Box Model: Update contents
  foundations/html_css/the-box-model/the-box-model.md
Labels: Status: Awaiting Changes, Content: Foundations

#25492 Chore: Move inspecting HTML and CSS lesson into correct folder.
  foundations/html_css/css-foundations/inspecting-html-and-css.md
  foundations/html_css/css-foundations/inspecting-html-and-css/imgs/01.png
  foundations/html_css/css-foundations/inspecting-html-and-css/imgs/03.png
Labels: Content: Foundations

#25479 DOM Manipulation and Events: Added clarification to deprecated keyCode event
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#25496 Clarify CSS property formatting description
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25497 intermediate_html_css/grid/advanced_grid_properties: Add additional video resource
  intermediate_html_css/grid/advanced_grid_properties.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25499 Webpack lesson: update wording in the assignment to 'code along' with Webpack guide
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript, Status: Needs Triage

#25493 DOM Manipulation and Events: Add aditional resource
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#25476 Block and Inline: Update contents
  foundations/html_css/block-and-inline.md
Labels: Content: Foundations

#25328 [ feat:react/states_and_effects ] the react side-effects lesson
  react/states_and_effects/how_to_deal_with_side_effects.md
  react/the_react_ecosystem/type-checking-with-proptypes.md
Labels: Status: Awaiting Changes, Project: React Revamp

#25504 Creating a Grid lesson in the "Grid" section: Fix typo
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25508 ReactJS State and Props - Fix link: Knowledge check point 4
  javascript/react_js/state_and_props.md
Labels: Content: JavaScript, Status: Needs Triage

#25494 Flexbox Alignment: Update resources
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations, Status: Needs Triage

#25510 Update DOM_manipulation_and_events.md
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations, Status: Needs Triage

#25512 fix grammar
  javascript/computer_science/project_linked_lists.md
Labels: Content: JavaScript, Status: Needs Triage

#25515 Project Linked List: Fix Grammar
  ruby/computer_science/project_linked_lists.md
Labels: Content: Ruby, Status: Needs Triage

#25517 A Deeper Look At Git lesson: fix spelling error
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Status: Needs Triage, Content: Git

#25509 Chore: Move Landing Page Project to the Correct Folder.
  foundations/html_css/flexbox/project-landing-page.md
  foundations/html_css/flexbox/project-landing-page/imgs/01.png
  foundations/html_css/flexbox/project-landing-page/imgs/02.png
  foundations/html_css/flexbox/project-landing-page/imgs/03.png
Labels: Content: Foundations

#25482 Update router.md for more recent video explanation
  javascript/react_js/router.md
Labels: Content: JavaScript

#25523 Foundations: specify two relative paths with './' for consistency with a suggestion to do this earlier in the lesson
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations, Status: Needs Triage

#25525 Project Linked lists: fixed grammatical error
  ruby/computer_science/project_linked_lists.md
Labels: Content: Ruby, Status: Needs Triage

#25528 Javascript Project Linked List: Add punctuation
  javascript/computer_science/project_linked_lists.md
Labels: Content: JavaScript, Status: Needs Triage

#25529 Javascript Space Complexity: Add punctuations
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25538 Ruby Recursive Methods: Fix grammar
  ruby/computer_science/recursive_methods.md
Labels: Content: Ruby, Status: Needs Triage

#25537 Javascript Recursive Methods: Fix grammar
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript, Status: Needs Triage

#25536 Foundations / Intro to CSS lesson: Use different <p> for each color type example
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations, Status: Needs Triage

#25531 Foundations: clarify statement
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations, Status: Needs Triage

#25535 Foundations / Intro to CSS lesson: Make line consistent in terms of conditional tense
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations, Status: Needs Triage

#25552 Organizing your javascript code introduction: fix typo
  javascript/organizing_your_javascript_code/organizing_your_javascript_code_introduction.md
Labels: Content: JavaScript, Status: Needs Triage

#25550 Ruby Time Complexity: Add punctuations
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby, Status: Needs Triage

#25544 Advanced Selectors: Fix broken link
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25547 Ruby: fix variable typo
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby, Status: Needs Triage

#25542 Getting Hired / Preparing To Interview And Interviewing lesson: Mention JavaScript as well as Ruby here
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
Labels: Content: Getting Hired, Status: Needs Triage

#25549 Javascript Time Complexity: Add punctuations
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25541 Getting Hired / It Starts With You lesson: Fix grammar by adding missing verb
  getting_hired/preparing_for_job_search/starts_with_you.md
Labels: Content: Getting Hired, Status: Needs Triage

#25556 Ruby Time Complexity: Add punctuations
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby, Status: Needs Triage

#25551 Update advanced_concepts.md
  javascript/react_js/advanced_concepts.md
Labels: Content: JavaScript, Status: Needs Triage

#25545 Update block-and-inline.md
  foundations/html_css/block-and-inline.md
Labels: Content: Foundations, Status: Needs Triage

#25540 JavaScript / "Project: Binary Search Trees": Ensure nodes in Step 1 are smaller than 100
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript, Status: Needs Triage

#25558 Ruby time_complexity : Added punctuation
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby, Status: Needs Triage

#25557 JavaScript time_complexity : Add comma
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25555 Javascript Time Complexity: Add punctuations
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25563 corrected an akwardly worded sentence
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations, Status: Needs Triage

#25562 Ruby Time Complexity: Add punctuations
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby, Status: Needs Triage

#25561 Javascript Time Complexity: Add punctuations
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25570 Objects And Object Constructors: Fix Grammar Error
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript, Status: Needs Triage

#25569 Databases Course lesson: Rework awkward sentences in Introduction section
  databases/databases/databases.md
Labels: Content: Databases, Status: Needs Triage

#25568 Foundations Flexbox Alignment: Reword Awkward Sentences.
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations, Status: Needs Triage
