Repository TheOdinProject/curriculum, pull requests merged in 2023-06, with the labels that each got.

#25566 Intro to CSS : Fix link href
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations, Status: Needs Triage

#25575 Chore: Move CSS Foundations Lessons into Correct Folders.
  foundations/html_css/css-foundations/block-and-inline.md
  foundations/html_css/css-foundations/intro_to_css/imgs/00.jpg
  foundations/html_css/css-foundations/the-box-model.md
  foundations/html_css/css-foundations/the-box-model/imgs/box-model.png
  foundations/html_css/css-foundations/the-box-model/imgs/boxes.png
  foundations/html_css/css-foundations/the-box-model/imgs/odin-lined.png
Labels: Content: Foundations, Status: Needs Triage

#25577 Ruby Time Complexity: Add punctuations
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby, Status: Needs Triage

#25581 Update working-with-text.md
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations, Status: Needs Triage

#25576 Javascript Time Complexity: Add punctuations
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25565 A Deeper Look At Git lesson: recreate intended typo
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Status: Needs Triage, Content: Git

#25584 Fix: Broken Markdown Table Rendering
  getting_hired/applying_and_interviewing/collect_leads.md
Labels: Content: Getting Hired, Status: Needs Triage

#25567 JavaScript / React Testing Part 2 lesson: Note that data-testid is the default spelling
  javascript/react_js/react_testing_part_two.md
Labels: Content: JavaScript, Status: Needs Triage

#25579 Router lesson: Remove invalid lesson note
  javascript/react_js/router.md
Labels: Content: JavaScript, Status: Needs Triage

#25560 Javascript Restaurant Project: added small npm tutorial/section after gh pages gist
  javascript/organizing_your_javascript_code/project_restaurant_page.md
Labels: Content: JavaScript, Status: Needs Triage

#25589 Updates to lesson to include embedded scrims
  foundations/html_css/css-foundations/block-and-inline.md
  foundations/html_css/css-foundations/intro-to-css.md
  foundations/html_css/css-foundations/the-box-model.md
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations, Status: Needs Triage

#25591 JavaScript / Project: Binary Search Trees lesson :End assignment steps with full stops
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript, Status: Needs Triage

#25314 JS Project-Shopping Cart: Update texts about Github Pages not supporting BrowserRouter
  javascript/react_js/project_shopping_cart.md
Labels: Content: JavaScript

#25594 Project Restaurant: Fix spelling error
  javascript/organizing_your_javascript_code/project_restaurant_page.md
Labels: Content: JavaScript, Status: Needs Triage

#25597 NodeJS Authentication's Project Members-Only: Fixed link to documentation
  nodeJS/authentication/project_members_only.md
Labels: Content: NodeJS

#25593 JS CS Time Complexity: edit sentence and grammar
  javascript/computer_science/time_complexity.md
  react/states_and_effects/how_to_deal_with_side_effects.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript

#25606 Foundations/the box model: Fix image links
  foundations/html_css/css-foundations/the-box-model.md
Labels: Content: Foundations, Status: Needs Triage

#25610 JS CS: change hash to object for JS CS lesson. Closes issue #25598
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript, Status: Needs Triage

#25608 Intro to CS: Remove spaces
  javascript/computer_science/a_very_brief_intro_to_cs.md
Labels: Content: JavaScript, Status: Needs Triage

#25607 Natural Responsiveness, Using Flex and Grid: Replace don't with doesn't
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS, Status: Needs Triage

#25613 Project: Admin Dashboard: Fix typographical error
  intermediate_html_css/grid/project_admin_dashboard.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25590 Actioncable lesson: Update HTML for Rails 7
  ruby_on_rails/mailers_advanced_topics/actioncable_lesson.md
Labels: Status: Awaiting Changes, Content: Ruby on Rails

#25614 NodeJS Project - Members Only: Fix custom validator link
  nodeJS/authentication/project_members_only.md
Labels: Content: NodeJS, Status: Needs Triage

#25615 Ruby on Rails: Remove Un-Escaping HTML Section From Asset Pipeline Lesson
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
Labels: Content: Ruby on Rails, Status: Needs Triage

#25619 Etch-a-Sketch Project: Fix wording of Extra Credit
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations, Status: Needs Triage

#25622 Project - Todo List : Typo Fix
  javascript/organizing_your_javascript_code/project_todo_list.md
Labels: Content: JavaScript, Status: Needs Triage

#25623 JS Async and Await: remove assignment number 2 outdated article. Closes #25513
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript, Status: Needs Triage

#25632 Update assignment to use relative link
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS, Status: Needs Triage

#25630 CSS Foundations: Intro to CSS lesson - update iframe embed code
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations, Status: Needs Triage

#25637 Handle_inputs_and_render_lists lesson: embed link to the appropriate lesson
  javascript/react_js/handle_inputs_and_render_lists.md
Labels: Content: JavaScript, Status: Needs Triage

#25639 Objects and Object Constructors: Remove unnecessary word
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript, Status: Needs Triage

#25638 Intro to CSS: Fix CSS code block appearance
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations, Status: Needs Triage

#25625 Add missing paragraph at: Intermediate HTML and CSS > Forms > Forms Basics > Additional Resources
  intermediate_html_css/forms/form_basics.md
Labels: Status: Awaiting Changes

#25649 Etch-A-Sketch (Foundations) project: Add closing </div> tag
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations

#25641 Foundation/installations lesson: Explain reason for choosing LTS release
  foundations/installations/installations.md
Labels: Content: Foundations

#25659 Update a_quick_review.md
  javascript/introduction/a_quick_review.md
Labels: Content: JavaScript

#25657 Accessibility Auditing lesson: Add missing link that is referenced within the assignments
  advanced_html_css/accessibility/accessibility_auditing.md
Labels: Content: Advanced HTML/CSS

#25654 Update order of inspecting-html-and-css.md
  foundations/html_css/css-foundations/inspecting-html-and-css.md
Labels: Content: Foundations

#25506 [react/states_and_effects] React revamp - Project Memory Card
  react/states_and_effects/project_memory_card.md
Labels: Project: React Revamp

#25660 Feature: Restructure Rails JS Bundling Lesson
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Content: Ruby on Rails

#25668 Fix typo in browser_compatibility.md
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
Labels: Content: Intermediate HTML/CSS

#25337 React Revamp: Add Using NodeJS For Your Backend lesson
  react/react_and_the_backend/using_nodejs_for_your_backend.md
Labels: Project: React Revamp

#25582 html-foundations project-recipes: Add clarification about public/private repos and Github Pages
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#25672 Intermediate HTML & CSS lesson: Update positioning.md for readability
  intermediate_html_css/intermediate_css_concepts/positioning.md
Labels: Content: Intermediate HTML/CSS

#25677 Fix: allow scrimba iframes to open new tabs
  foundations/html_css/flexbox/flexbox-alignment.md
  foundations/html_css/flexbox/flexbox-axes.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations

#25673 Commit Messages Lesson: Add examples of a good and bad commit message
  git/foundations_git/commit_messages.md
Labels: Content: Git

#25691 JavaScript: Added iframe sandbox options
  javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#25681 Emmet lesson: Add timestamp for video
  intermediate_html_css/intermediate_html_concepts/emmet.md
Labels: Content: Intermediate HTML/CSS

#25692 Style Guide - Foundations/HTML Foundations: Headings and Section Placement
  foundations/html_css/html-foundations/elements-and-tags.md
  foundations/html_css/html-foundations/html-boilerplate.md
  foundations/html_css/html-foundations/intro-to-html-css.md
  foundations/html_css/html-foundations/links-and-images.md
  foundations/html_css/html-foundations/lists.md
  foundations/html_css/html-foundations/project-recipes.md
  git/foundations_git/commit_messages.md
Labels: Content: Foundations, Content: Git

#25701 Installing Ruby: Update installing_ruby.md to change ruby version to 3.2.2
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#25694 Add section on keyboard shortcuts to HTML comments lesson
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#25705 Ruby Course/ Basic Ruby Section/ Arrays Lesson/ Remove redundant paragraph
  ruby/basic_ruby/arrays.md
Labels: Content: Ruby

#25702 Javascript Testing Basics: Remove white spaces and add punctuations
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript

#25709 Forms and Authentication lesson: fix typos
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

#25689 Asking for Help lesson: Add How to Ask community guide
  foundations/introduction/asking_for_help.md
Labels: Content: Foundations
