Repository TheOdinProject/curriculum, pull requests merged in 2023-08, with the labels that each got.

#25993 Working with Text lesson: grammatical error
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#25974 Update arrays.md
  ruby/basic_ruby/arrays.md
Labels: Content: Ruby

#25983 feat: adds fundamentals 4 introduction
  foundations/javascript_basics/fundamentals-4.md
Labels: Content: Foundations

#26011 React Components lesson: Fix capitalization and grammar issues
  react/getting_started_with_react/react_components.md
Labels: Content: React

#26018 Default Styles - Intermediate HTML and CSS Course: Update Assignment #2 in lesson - clarify how to download
  intermediate_html_css/intermediate_css_concepts/default_styles.md
Labels: Content: Intermediate HTML/CSS

#25846 Update fundamentals-1.md
  foundations/javascript_basics/fundamentals-1.md
Labels: Content: Foundations

#25955 React (new) ->Setting Up Environment: Change React.createRoot to ReactDOM.createRoot
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#25965 Setting Up A React Environment lesson: Update setting_up_a_react_environment.md
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#25995 React: Remove mention of challenges
  react/more_react_concepts/refs_and_memoization.md
Labels: Content: React

#26036 Fullstack Javascript - React: Fix typo in "more on state" lesson
  react/states_and_effects/more_on_state.md
Labels: Content: React

#25987 JavaScript - ESS6 Modules: Change verbiage on imports/exports
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#26039 React: Change historical components heading title
  react/class_components/class_based_components.md
Labels: Content: React

#26040 NodeJS: Authentication Basics: Remove paywalled article from Additional Resources
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#25980 react_router.md - fix file extensions.
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#26038 Foundations - Introduction to CSS: Move scrim to additional resources
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#26032 WAI-Aria: Correct grammer
  advanced_html_css/accessibility/wai_aria.md
Labels: Content: Advanced HTML/CSS

#25826 Keys_in_react lesson: Fix typos and grammar mistakes
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#26033 Git basics lesson: Update image to reflect github ui change
  git/foundations_git/git_basics/imgs/01.png
Labels: Content: Git

#26047 Git basics lesson: Update screenshot for creating new github repo
  git/foundations_git/git_basics.md
Labels: Content: Git

#26044 Type Checking With PropTypes: Fix section about warnings
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

#26035 Layout Style Guide: Add note about formatters
  LAYOUT_STYLE_GUIDE.md
Labels: Type: Documentation

#26056 foundations/javascript_basics/clean_code.md: Fix grammatical error
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#26058 Update react_router.md
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#26051 React router lesson: Make sentences clearer
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#26043 React: Update type_checking_with_proptypes.md
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

#26041 Foundations Course, The cascade lesson: interactive screencast (scrim)
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#26067 Introduction to RSpec: Update RSpec docs links
  ruby/testing_ruby_with_rspec/introduction_to_rspec.md
Labels: Content: Ruby

#26066 Installations lesson: Clarify username requirements
  foundations/installations/installations.md
Labels: Content: Foundations

#25997 Rails Advanced Topics: Add RESTful Routing to Advance Topics
  ruby_on_rails/mailers_advanced_topics/advanced_topics.md
Labels: Content: Ruby on Rails

#26059 Introduction_to_react_testing: Remove React importing in code snippet
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#26074 [nodejs/authentication-basics] match changes with bcrypt
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#26070 Mocking_callbacks_and_components: Rewrite a paragraph to be clearer
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#26048 Objects and Object Constructors lesson: Additional resource for this keyword
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#26023 Improves punctuation and sentence structure of "Fundamentals 2" lesson
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations

#26068 async-and-await and asynchronous-code: moving Scrimba from Lesson to Additional Resources
  javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

#25652 Form validation with javascript fix Knowledge Check
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
Labels: Content: JavaScript

#26072 Factory functions and the module patterns, objects and object constructors: Move scrims to Additional Resources
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#26061 Axes, Growing and shrinking, and Introduction to Flexbox : Move scrimbs.
  foundations/html_css/flexbox/flexbox-axes.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations

#26077 Preparing to interview and interviewing: fix syntax error
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
Labels: Content: Getting Hired

#26080 <using_flexbox_and_grid><additional resource for flexbox>
  intermediate_html_css/grid/using_flexbox_and_grid.md
Labels: Content: Intermediate HTML/CSS

#26062 The Box Model, Block and Inline, Alignment Lessons: Move scrims to Additional Resources
  foundations/html_css/css-foundations/block-and-inline.md
  foundations/html_css/css-foundations/the-box-model.md
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations

#26065 foundations/html_css/html-foundations/html-boilerplate.md: Edit text for better clarity
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#26083 project_calculator.md: Fix step 6 instructions && positioning_grid_elements.md: Added oxford comma
  foundations/javascript_basics/project_calculator.md
  intermediate_html_css/grid/positioning_grid_elements.md
Labels: Content: Intermediate HTML/CSS, Content: Foundations

#26084 nodejs/authentication/authentication_basics.md: Fix syntax regarding to a javascript snippet
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#26089 Advanced HTML/CSS - Form Validation: Update regex article in additional resources
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS

#26096 Semantic HTML: Fixed missing space
  advanced_html_css/accessibility/semantic_html.md
Labels: Content: Advanced HTML/CSS

#26098 JS library project: Add <dialog> tag mention to step 4
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

#26078 Remove unused query
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#26100 fix: The unexpected infinite loop
  react/states_and_effects/more_on_state.md
Labels: Content: React

#25680 OOP Principles: Improved SOLID resources under assignments.
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

#26110 Intro to CSS (CSS Foundations): Remove order matters section
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#26093 Update time_complexity.md (#1)
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

#26102 Installing Node.js: Update NVM download command to latest version (v0.39.4)
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations

#26115 Javascript Classes lesson: Revise wording surrounding refactoring library project
  javascript/organizing_your_javascript_code/classes.md
Labels: Content: JavaScript

#26111 added new keyword to error in reducer function
  react/more_react_concepts/reducing_state.md
Labels: Content: React

#26113 JS Library Project: Change let to const in code example
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

#26123 Object Oriented Programming lesson: Update Zetcode's second OOP section link to correct URL
  ruby/object_oriented_programming_basics/object_oriented_programming.md
Labels: Content: Ruby

#26136 Changed 4th question
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript

#26144 What is ES6? lesson: Fix grammar typo
  javascript/javascript_in_the_real_world/what_is_es6.md
Labels: Content: JavaScript

#26153 Foundations - Clean code - Remove broken link
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#26152 Foundations - Intro to Flexbox: Remove old scrim reference
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations

#26154 Objects and Object Constructors - fixed typo
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#26149 Update problem_solving.md
  foundations/javascript_basics/problem_solving.md
Labels: Content: Foundations

#26148 Project: Members Only: updated deployment details, point 10.
  nodeJS/authentication/project_members_only.md
Labels: Content: NodeJS

#26138 Update introduction_to_web_development.md
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

#26139 Asynchronous Code: Better Promises video
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

#26155 The Cascade: Move Scrimba to Additional Resources #26145
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#26164 Update revisiting rock paper scissors
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations

#26159 NodeJs: Clarify assignment scope
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#26160 Collecting Job Leads lesson: Fixed horizontal overflow
  getting_hired/applying_and_interviewing/collect_leads.md
Labels: Content: Getting Hired

#26174 Active Record Basics && Assets and Navigation: Rewrite headings to follow sentence case Style Guide
  ruby_on_rails/active_record_basics/active_record_basics.md
  ruby_on_rails/active_record_basics/project_micro_reddit.md
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
  ruby_on_rails/assets_and_navigation/importmap.md
  ruby_on_rails/assets_and_navigation/turbo_drive.md
Labels: Content: Ruby on Rails

#26165 React router: Replace mention of microwave with oven
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#26171 databases: rewrite headings to follow sentence case Style Guide
  databases/README.md
  databases/databases/databases.md
  databases/databases/databases_and_sql.md
  databases/databases/project_sql_zoo.md
Labels: Content: Databases

#26170 Ruby/Rails Path: Introduction && Basic Ruby sections: Rewrite headings following the Style Guide
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/conditional_logic.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/enumerable_exercises.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/input_and_output.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby/predicate_enumerable_methods.md
  ruby/basic_ruby/variables.md
  ruby/introduction/how_this_course_will_work.md
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#26175 Command Line Basics: Duplicate "the"
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#26179 Ruby/Rails Path: Object Oriented Programming Basics && Files and Serialization: Rewrite headings to follow sentence case
  ruby/files_and_serialization/files_and_serialization.md
  ruby/files_and_serialization/project_event_manager.md
  ruby/object_oriented_programming_basics/object_oriented_programming.md
  ruby/object_oriented_programming_basics/project_mastermind.md
  ruby/object_oriented_programming_basics/project_tic_tac_toe.md
Labels: Content: Ruby

#26178 Ruby on Rails: Rewrite headings to follow sentence case Style Guide
  ruby_on_rails/apis/apis_and_building_your_own.md
  ruby_on_rails/apis/project_flickr_api.md
  ruby_on_rails/apis/project_kittens_api.md
  ruby_on_rails/apis/working_with_external_apis.md
  ruby_on_rails/mailers_advanced_topics/advanced_topics.md
  ruby_on_rails/mailers_advanced_topics/conclusion.md
  ruby_on_rails/mailers_advanced_topics/mailers.md
  ruby_on_rails/mailers_advanced_topics/project_final.md
  ruby_on_rails/mailers_advanced_topics/project_sending_confirmation_emails.md
  ruby_on_rails/mailers_advanced_topics/websockets_and_actioncable.md
  ruby_on_rails/rails_sprinkles/css_bundling.md
  ruby_on_rails/rails_sprinkles/js_bundling.md
  ruby_on_rails/rails_sprinkles/stimulus_js.md
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#26180 Advanced Ruby and A Bit of CompSci Lessons: Switch headings to sentence case
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
  ruby/computer_science/a_very_brief_intro_to_cs.md
  ruby/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/project_linked_lists.md
  ruby/computer_science/project_recursion.md
  ruby/computer_science/recursive_methods.md
  ruby/computer_science/space_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

#26183 Ruby/Rails Path: Intermediate Git, Testing Ruby with RSpec, Conclusion: Rewrite headings to follow sentence case Style Guide
  git/intermediate_git/a_deeper_look_at_git.md
  ruby/conclusion/conclusion.md
  ruby/conclusion/project_ruby_final.md
  ruby/testing_ruby_with_rspec/introduction_to_rspec.md
  ruby/testing_ruby_with_rspec/project_connect_four.md
  ruby/testing_ruby_with_rspec/test_driven_development.md
Labels: Content: Ruby, Content: Git

#26173 Ruby on Rails Course - Introduction && Basic Ruby sections: Fix headings to sentence case
  ruby_on_rails/introduction/how_this_course_will_work.md
  ruby_on_rails/introduction/project_installing_rails.md
  ruby_on_rails/introduction/web_refresher.md
  ruby_on_rails/rails_basics/controllers.md
  ruby_on_rails/rails_basics/deployment.md
  ruby_on_rails/rails_basics/project_blog_app.md
  ruby_on_rails/rails_basics/routing.md
  ruby_on_rails/rails_basics/views.md
Labels: Content: Ruby on Rails

#26185 Rails Sprinkles: Consistent naming for SPA
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#26193 Routing: Remove or Update Link to CodeSchools video #26130
  ruby_on_rails/rails_basics/routing.md
Labels: Content: Ruby on Rails

#26191 Forms and Authentication && Advanced Forms and Active Record: Change headings sentence case
  ruby_on_rails/advanced_forms_and_activerecord/active_record_associations.md
  ruby_on_rails/advanced_forms_and_activerecord/active_record_callbacks.md
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
  ruby_on_rails/advanced_forms_and_activerecord/project_flight_booker.md
  ruby_on_rails/advanced_forms_and_activerecord/project_private_events.md
  ruby_on_rails/forms_and_authentication/form_basics.md
  ruby_on_rails/forms_and_authentication/project_forms.md
  ruby_on_rails/forms_and_authentication/project_members_only.md
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

#26194 Conclusion: Ruby Best Practices book by Gregory Brown link opens a blank Page
  ruby/conclusion/conclusion.md
Labels: Content: Ruby

#26196 JS Bundling lession: Fix </span> visible in paragraph
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Content: Ruby on Rails

#26199 How This Course Will Work lesson: Update list markdown style
  foundations/introduction/how_this_course_will_work.md
Labels: Content: Foundations

#26203 Introduction to web development: update list markdown style
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

#26209 Motivation and Mindset lesson: fixed list styling and grammar related to #26189
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#26211 JavaScript Basics/Fundamentals part 2: Fix links to MDN Strings article
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations

#26208 Fundamentals Understanding Errors: Improve wording to be more consistent with course order
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations

#26140 JS ES6 modules/webpack - improve intro to bundlers
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#26215 Update working_with_apis.md
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript

#26216 Ruby on Rails Deployment: Fix section header typo
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: Ruby on Rails

#26227 change order of export/import MDN docs(ES6Modules)
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#26220 Added a note saying - publishing a private repo requires paid account
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#26228 Ruby on Rails, Rails Basics, Views: fix incorrectly formed erb example
  ruby_on_rails/rails_basics/views.md
Labels: Content: Ruby on Rails

#26218 Join The Odin Community lesson: fixed list styling, spacing and punctuation issues
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#26236 JS and Ruby On Rails CS Section: Add new image for knights travails
  javascript/computer_science/project_knights_travails.md
  ruby/computer_science/project_knights_travails.md
Labels: Content: JavaScript, Content: Ruby

#26237 Better reference for CodePen
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS, Content: Foundations

#26242 Remove paywall article
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

#26229 Advanced CSS - Transform: Move additional resources below knowledge check
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS

#26212 JS Battleships: Reword instructions for choice between class/factory
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript

#26197 API Basics: note to flag deprecated function in linked article, point 1.
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS

#26223 Foundations: Clarify how much users should polish their projects
  foundations/html_css/html-foundations/project-recipes.md
  foundations/introduction/motivation_and_mindset.md
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#26247 Foundations Course: Update TOP GitHub assignments to consistent structure
  foundations/html_css/css-foundations/block-and-inline.md
  foundations/html_css/css-foundations/intro-to-css.md
  foundations/html_css/css-foundations/the-cascade.md
  foundations/html_css/flexbox/flexbox-alignment.md
  foundations/javascript_basics/fundamentals-4.md
  foundations/javascript_basics/fundamentals-5.md
Labels: Content: Foundations

#26230 Update predicate_enumerable_methods.md: #none is the opposit of #any, not of #all
  ruby/basic_ruby/predicate_enumerable_methods.md
Labels: Content: Ruby
