Repository TheOdinProject/curriculum, pull requests merged in 2023-10, with the labels that each got.

#26396 A Very Brief Intro to CS: changed quora link to avoid confusing answer
  javascript/computer_science/a_very_brief_intro_to_cs.md
  ruby/computer_science/a_very_brief_intro_to_cs.md
Labels: Content: JavaScript, Content: Ruby

#26394 HTML boilerplate lesson: fix typos
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#26118 A Deeper Look Into Git: turning remote section into lesson
  git/intermediate_git/a_deeper_look_at_git.md
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#26403 foundations: links-and-images: Typo fix
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#26395 React: Add space in code - Mocking CBs
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#26399 Installing Node.js: Update the nvm download links to the latest version
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations

#26269 Update turbo.md
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#26404 Advanced HTML CSS readme: Changed grammar in one line
  advanced_html_css/README.md
Labels: Content: Advanced HTML/CSS

#26407 Fix testing_routes_and_controllers sections
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS

#26015 Update motivation_and_mindset.md
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#26415 Installing PostgreSQL: Update installation page link
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#26412 Objects and Object Constructors lesson: Align curly bracket
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#26420 Active Record Queries: Fix layout style
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
Labels: Content: Ruby on Rails

#26425 Foundations: Intro to CSS - Rephrasing Sentence about css ancestors
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#26429 Changed a minor typo
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#26434 Active Record Associations: Fix layout style
  ruby_on_rails/advanced_forms_and_activerecord/active_record_associations.md
Labels: Content: Ruby on Rails

#26017 React: Fix correct directory for _redirects (Netlify only)
  react/the_react_ecosystem/project_shopping_cart.md
Labels: Content: React

#26365 Nodejs project_blog_api.md : Remove mention of Thunderclient due to move to freemium model
  nodeJS/apis/project_blog_api.md
Labels: Content: NodeJS

#26339 javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md - revamps the lesson
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#26438 More Text Styles lesson: Fix grammar
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

#26444 Multiple Courses: Remove READMEs
  advanced_html_css/README.md
  databases/README.md
  foundations/README.md
  getting_hired/README.md
  git/README.md
  intermediate_html_css/README.md
  javascript/README.md
  nodeJS/README.md
  react/README.md
  ruby/README.md
  ruby_on_rails/README.md
  shared/README.md
Labels: Content: Advanced HTML/CSS, Content: Databases, Content: Getting Hired, Content: Intermediate HTML/CSS, Content: JavaScript, Content: NodeJS, Content: Ruby, Content: Ruby on Rails, Content: Foundations, Content: Git, Content: React

#26443 Open links in new tabs
  react/getting_started_with_react/react_components.md
Labels: Content: React

#26449 React: Class Based Components: fix grammar #2
  javascript/organizing_your_javascript_code/es6_modules.md
  react/class_components/class_based_components.md
  ruby/automated_testing/rspec_part_one_basics.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby_on_rails/rails_basics/views.md
Labels: Content: React

#26416 Foundations: Installations - Rephrase Suggestion
  foundations/installations/how_does_the_web_work.md
Labels: Content: Foundations

#26426 Restructure lesson layout to fit layout style guide
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#26445 Multiple Lessons: Update notes
  databases/databases/databases_and_sql.md
  foundations/installations/installations.md
  foundations/installations/text_editors.md
Labels: Content: Databases, Content: Foundations

#26462 Installation Overview: update lists per layout style guide
  foundations/installations/installation_overview.md
Labels: Content: Foundations

#26468 Factory Functions and the Module Pattern: fix example
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#26424 Change anchor tags to markdown links.
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS

#26458 Rails/Controllers: Amend references in assignment section
  ruby_on_rails/rails_basics/controllers.md
Labels: Content: Ruby on Rails

#26464 Git / Intermediate Git : Editorial changes for consistency in document
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#26471 Factory Functions and the Module Pattern: Added blank line
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#26473 Knights Travails Lesson : Add clarifying examples
  javascript/computer_science/project_knights_travails.md
Labels: Content: JavaScript

#26475 Changing anchor tags to markdown links.
  react/more_react_concepts/reducing_state.md
Labels: Content: React

#26476 Opens Links in New Tab.
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#26477 Update motivation_and_mindset.md
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#26453 Text Editors lesson: Update lists per layout style guide
  foundations/installations/text_editors.md
Labels: Content: Foundations

#26461 How does the web work? Lesson: Update lists per layout style guide
  foundations/installations/how_does_the_web_work.md
Labels: Content: Foundations

#26481 Open links in new tab.
  ruby_on_rails/active_record_basics/active_record_basics.md
Labels: Content: Ruby on Rails

#26483 Open links in new tab.
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#26484 opens link in new tab
  react/class_components/class_based_components.md
Labels: Content: React

#26485 Changing anchor tags to markdown links.
  nodeJS/apis/api_security.md
Labels: Content: NodeJS

#26488 open links in new tab
  ruby_on_rails/rails_basics/routing.md
Labels: Content: Ruby on Rails

#26489 changing anchor tags to markdown links
  ruby_on_rails/rails_basics/views.md
Labels: Content: Ruby on Rails

#26490 opens links in new Tab
  react/class_components/component_lifecycle_methods.md
Labels: Content: React

#26491 Conversion of anchor tags to markdown links.
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#26496 JS Recursive Methods: Fix typo in the additional resources section
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript

#26499 Advanced Selectors: adding a disclaimer on the usage of single colon vs double
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#26503 Foundations - Fundamentals Part 1: Change const variable to uppercase.
  foundations/javascript_basics/fundamentals-1.md
Labels: Content: Foundations

#26505 NodeJS/Authentication - Update authentication_basics.md
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#26381 JS Webpack: Add webpack lesson content
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#26509 Advanced Forms: Fix layout style
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
Labels: Content: Ruby on Rails

#26514 Update fundamentals-1.md
  foundations/javascript_basics/fundamentals-1.md
Labels: Content: Foundations

#26463 Setting up Git: Update sections per layout style guide
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#26521 Changing a tags to markdown links
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#26520 Conversion of anchor tags to markdown links.
  ruby/advanced_ruby/blocks.md
Labels: Content: Ruby

#25743 A Deeper Look at Git: Expanded upon when it would be appropriate to use git reset
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#26451 JS Classes: Add mention of private class features
  javascript/organizing_your_javascript_code/classes.md
Labels: Content: JavaScript

#26512 Installing Ruby lesson: Update VS Code Extension Recommendation
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#26486 Form Basics Assignment: Added links to MDN introductory guides
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

#26531 React Class Based Components: Fixes typo in intro sentence
  react/class_components/class_based_components.md
Labels: Content: React

#26529 Update downloads to 700 million times
  ruby/testing_ruby_with_rspec/introduction_to_rspec.md
Labels: Content: Ruby

#26535 Join the Odin Community: Update discord command syntax
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#26534 conversion of anchor tags to markdown links
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
  nodeJS/mongoDB/intro_to_mongoDB.md
Labels: Content: NodeJS

#26536 Changed to markdown links
  ruby_on_rails/rails_basics/controllers.md
Labels: Content: Ruby on Rails

#26540 form_validations.md: replace twitter with threadreaderapp
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS

#26546 A Deeper Look at Git: Fix Code Syntax
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#26455 Installations - update lists to match style guide
  foundations/installations/installations.md
Labels: Content: Foundations

#26448 Lesson Command Line Basics : Update lists per layout style guide
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#26550 Basic data types in Ruby: Update ruby-doc links
  ruby/basic_ruby/basic_data_types.md
Labels: Content: Ruby

#26526 Intro to HTML & CSS lesson | The cascade course: Rephrase sentence
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#26547 anchor tags to markdown links
  nodeJS/testing_express/testing_database_operations.md
Labels: Content: NodeJS

#26543 Introduction to React lesson: Replace anchor tags with markdown links
  react/introduction/introduction_to_react.md
Labels: Content: React

#26541 Websockets and Actioncable lesson: update info about boilerplate
  ruby_on_rails/mailers_advanced_topics/websockets_and_actioncable.md
Labels: Content: Ruby on Rails

#26538 a tag to markdown links
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#26539 react/react_and_the_backend: Wheres waldo direction update
  react/react_and_the_backend/project_wheres_waldo_a_photo_tagging_app.md
Labels: Content: React

#26549 Deployment lesson: Update railway's free plan details
  nodeJS/express_and_mongoose/deployment.md
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: NodeJS

#26556 Basic Ruby Loops lesson: Recommend skipping recursion in assignment
  ruby/basic_ruby/loops.md
Labels: Content: Ruby

#26555 Update project_flickr_api.md
  ruby_on_rails/apis/project_flickr_api.md
Labels: Content: Ruby on Rails

#26561 changing anchor tags to markdown links
  nodeJS/authentication/security_configuration.md
  nodeJS/express_and_mongoose/express_101.md
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
Labels: Content: NodeJS

#26570 Join the Odin Community: Fix Capitalization of "Level"
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#26571 Introduction to Web Development: Fix Capitalization of "The Odin Project"
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

#26564 Installation guide: Clarified need to login
  foundations/installations/installations.md
Labels: Content: Foundations

#26574 Working with text lesson: fix grammatical error
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#26584 Managing State With The Context API: Added Missing Fullstop
  react/more_react_concepts/managing_state_with_context_api.md
Labels: Content: React

#26608 Personal Portfolio: Reframe project to be less "personal"
  advanced_html_css/responsive_design/project_homepage.md
Labels: Content: Advanced HTML/CSS

#26583 Refs and memoization: Added missing colon
  react/more_react_concepts/refs_and_memoization.md
Labels: Content: React

#26585 Updated js_bundling.md
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Content: Ruby on Rails

#26588 JavaScript Course: Improve instructions for 'Binary Search Trees' project.
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#26594 Command Line Basics: Fix 4 typos
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#26598 JavaScript: Clarify Battleship project's confusing assignment instruction
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript

#26606 OOP Principles Lesson: Add additional resource
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

#26607 What is NodeJS: Fix broken link
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#26612 Homepage project: Add note on discrepancy between past submissions and project goal
  advanced_html_css/responsive_design/project_homepage.md
Labels: Content: Advanced HTML/CSS

#26614 Typo in git basics repo naming is corrected
  git/foundations_git/git_basics.md
Labels: Content: Git

#26619 Update git_basics.md
  git/foundations_git/git_basics.md
Labels: Content: Git

#26631 Update project_basic_informational_site.md
  nodeJS/introduction_to_nodeJS/project_basic_informational_site.md
Labels: Content: NodeJS

#26621 'form_basics.md': Fix minor grammar usage error.
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

#26620 Update active_record_queries.md
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
Labels: Content: Ruby on Rails

#26596 Replace broken NodeJS docs links with the markdown files on nodejs.dev's GitHub repository
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

#26623 Fixed typo: project_binary_search_trees.md and Update files_and_serialization.md
  javascript/computer_science/project_binary_search_trees.md
  ruby/files_and_serialization/files_and_serialization.md
Labels: Content: Ruby

#26628 Fix #26579: Corrected inaccuracies in HTML Encoding Reference article
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations
