Repository TheOdinProject/curriculum, pull requests merged in 2024-12, with the labels that each got.

#28947 ES6 Classes: General language/structure touch-up
  javascript/organizing_your_javascript_code/classes.md
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

#29132 Class Based Components lesson fix for issue #29048
  react/class_components/class_based_components.md
Labels: Content: React

#29146 Ruby: Working With Remotes: Remove extra new lines from the command snippets
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#29127 Rails Course: Update strong params to use new Rails 8 method
  ruby_on_rails/forms_and_authentication/form_basics.md
  ruby_on_rails/forms_and_authentication/project_forms.md
  ruby_on_rails/mailers_advanced_topics/actioncable_lesson.md
  ruby_on_rails/rails_basics/controllers.md
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#29151 Foundations/Join the Odin Community - add guideline to observe before jumping in
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#29149 Rails - Advanced Forms and Active Record: Update wording and section numbers indicated in the assignment
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
Labels: Content: Ruby on Rails

#29114 Added notes to resume versions
  getting_hired/applying_and_interviewing/applying.md
Labels: Content: Getting Hired

#29137 Keys in react: Fix typo
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#29138 [Foundations] Variables and Operators: Fix typo
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#29140 Object Basics lesson: Fix grammatical error
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#29142 More On State: Separate –s for plural from console.log
  react/states_and_effects/more_on_state.md
Labels: Content: React

#29150 Foundations/Join the Odin Community: adds language to not intrude on 1:1 help to discord guideline
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#29144 DOM Manipulation and Events: Change first assignment link
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#29170 Routes lesson: Put query parameters example on a new line
  nodeJS/express/routing.md
Labels: Content: NodeJS

#29178 NodeJS Project Inventory Application: Moved assignment step to extra credit section
  nodeJS/express/project_inventory_application.md
Labels: Content: NodeJS

#29179 project_calculator: Add new bug to watch out for in "Gotchas" section
  foundations/javascript_basics/project_calculator.md
Labels: Content: Foundations

#28479 Reducing State: additional resource
  react/more_react_concepts/reducing_state.md
Labels: Content: React

#29199 Update time_complexity.md
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

#29194 Webpack: Fix reference to past lesson
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#29184 More Text Styles: Fix incorrect capitalization
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

#29167 project_sql_zoo.md: update sqlzoo link
  databases/databases/project_sql_zoo.md
Labels: Content: Databases

#29101 Sign-up form: Remove password match validation message from image
  intermediate_html_css/forms/project_sign_up_form/imgs/sign-up-form.png
Labels: Content: Intermediate HTML/CSS

#29100 Media Queries: Clarify that max/min-width include the specified value
  advanced_html_css/responsive_design/media_queries.md
Labels: Content: Advanced HTML/CSS

#29139 [Foundations] Links And Images: Fixed Text
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#29209 Fix incorrect book link in time_complexity.md
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

#29211 Sign-up Form: Replace design image href
  intermediate_html_css/forms/project_sign_up_form.md
Labels: Content: Intermediate HTML/CSS

#29219 Forms and Data Handling: fix broken link for form diagram
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#29221 Component Lifecycle Methods: Fix typos
  react/class_components/component_lifecycle_methods.md
Labels: Content: React

#29225 Project: Hangman - Fix the cause of confusion
  ruby/files_and_serialization/project_hangman.md
Labels: Content: Ruby

#29231 Setting Up Git: Remove sentence under Step 2.5
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#29165 RoR forms project - Update CSRF token related sections
  ruby_on_rails/forms_and_authentication/form_basics.md
  ruby_on_rails/forms_and_authentication/project_forms.md
Labels: Content: Ruby on Rails
