Repository TheOdinProject/curriculum, pull requests merged in 2024-09, with the labels that each got.

#28730 Project: Blog API: Remove portfolio reference in page
  nodeJS/apis/project_blog_api.md
Labels: Content: NodeJS

#28175 Set default content and fix lint issues
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS

#28729 Installation Overview: Emphasise specifics and instructions are in the next lesson
  foundations/installations/installation_overview.md
Labels: Content: Foundations

#28720 Deployment: Add a note about PaaS default nodejs version
  nodeJS/express/deployment.md
Labels: Content: NodeJS

#28731 Function Basics: Add question to Knowledge Check
  foundations/javascript_basics/function_basics.md
Labels: Content: Foundations

#28646 Add an additional resource to javascript classes lesson
  javascript/organizing_your_javascript_code/classes.md
Labels: Content: JavaScript

#27590 feat(react/shopping cart): add requirement to type check props with PropTypes
  react/the_react_ecosystem/project_shopping_cart.md
Labels: Content: React

#28755 CSS Transform: Replace link text and source
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS

#28758 Foundations Data Types and Conditionals lesson: Clarify replit usage
  foundations/javascript_basics/data_types_and_conditionals.md
Labels: Content: Foundations

#27811 Asynchronous Code: Visualization Vids of Event Loop and Promises
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

#28767 HTML Foundations/Project Recipes: Remove malicious link
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#28754 Update intro-to-css.md
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#28769 Webpack: Note about restarting webpack-dev-server on config change
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#28778 Form Validation: remove broken link
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS

#28794 Modified words in the request's journey section for clarity
  nodeJS/express/introduction_to_express.md
Labels: Content: NodeJS

#28793 Update the 3rd assignment in the project_memory_card.md to ease off confusion.
  react/states_and_effects/project_memory_card.md
Labels: Content: React

#28787 Node Deployment Lesson: Removed Fly.io References
  nodeJS/express/deployment.md
Labels: Content: NodeJS

#28791 RoR: Conditional Logic: remove inappropriate metaphor
  ruby/basic_ruby/conditional_logic.md
Labels: Content: Ruby

#28806 A Very Brief Intro to CS: Fix typo in assignment section
  ruby/computer_science/a_very_brief_intro_to_cs.md
Labels: Content: Ruby

#28810 Ruby Debugging: Fix grammatically incorrect sentence
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby

#28802 Object Basics: Fix Link Text
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#28804 A Very Brief Intro to CS: Fix typo in assignment section
  javascript/computer_science/a_very_brief_intro_to_cs.md
Labels: Content: JavaScript

#28803 Preparing to Interview and Interviewing: adding new resource peerfect
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
Labels: Content: Getting Hired

#28812 Ruby: Fix link wording
  ruby/basic_ruby/conditional_logic.md
Labels: Content: Ruby

#28813 Async and Await: fix minor grammar
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript

#28814 Ruby: Object Oriented Programming: Update reference to section
  ruby/object_oriented_programming_basics/object_oriented_programming.md
Labels: Content: Ruby

#28818 Ruby: Project Management: Change method name in description
  ruby/object_oriented_programming_basics/managing_ruby_projects.md
Labels: Content: Ruby

#28826 NodeJS Deployment lesson: remove adaptable.io
  nodeJS/express/deployment.md
Labels: Content: NodeJS

#28808 Fixed Issue #28747 Rendering Techniques React Course: Update eslint.config.js configuaration instructions
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#28824 Mention that arrays are not required for random RPS choices
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#28830 Add missing link for variables
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#28829 Int HTML & CSS : Added "which can be whatever name we want"
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS

#28805 Foundations Course/Variables and Operators: fixing assignment instruction
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#28840 Authentication Basics lesson: Fix undefined user error
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#28837 Recursive Methods: update assignment #1's instructions
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript

#28841 landing-page : add image for styles & fonts used
  foundations/html_css/flexbox/project-landing-page/imgs/02.png
Labels: Content: Foundations

#28846 landing-page : update image link to point to the new image
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

#28844 Restaurant page: Inhouse deployment instructions
  javascript/organizing_your_javascript_code/project_restaurant_page.md
Labels: Content: JavaScript

#28842 Added Additional resources for Image carousel
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
Labels: Content: JavaScript

#28843 GH Workflows: Fix path filtering for projects
  .github/workflows/markdownlint-lessons.yml
  .github/workflows/markdownlint-projects.yml
Labels: Type: Bug

#28856 Form Basics: Fixes grammatical error
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

#28858 Update controllers.md
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#28746 ES6 Modules: Add warning about opening directly in browser
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#28864 Setting Up Git: Clarify git email options
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#28868 Getting Started: Remove outdated Knowledge check questions
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

#28782 feat(mdlint): improve error message for TOP005
  markdownlint/TOP005_blanksAroundMultilineHtmlTags/TOP005_blanksAroundMultilineHtmlTags.js
Labels: Content: Markdownlint

#28859 A Bit of Computer Science: Update second assignment watch instruction.
  javascript/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/common_data_structures_algorithms.md
Labels: Content: JavaScript

#28872 Async and Await: Add link to try...catch
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript

#28869 Commit Messages Lesson: Minor grammar change in commit message recommendation
  git/foundations_git/commit_messages.md
Labels: Content: Git

#28874 Time Complexity: Fix subject-verb agreement in introduction section
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

#28877 Node Odinbook: Remove mention of express-generator
  nodeJS/final_project/project_odin_book.md
Labels: Content: NodeJS
