Repository TheOdinProject/curriculum, pull requests merged in 2024-03, with the labels that each got.

#27444 Objects and Object Constructors: Remove Object.create
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#27509 ES6 Modules: Make Comment Thread Reference Explicit
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#27474 More Testing lesson: Replace question with two
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

#27275 JavaScript basics, Clean code: List style updated according to style guide.
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#27488 Upload image for semantic HTML
  advanced_html_css/accessibility/semantic_html.md
Labels: Content: Advanced HTML/CSS

#27514 Clean code: replaces forEach with a more appropriate example
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#27516 Using Git in the Real World lesson: Fix list spacing
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#27515 Transitions: Move an additional resource to assignment, and move an assignment item to additional resource
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS

#27520 Custom Properties: Add a new resource that goes into custom properties
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS

#27526 Factory Functions and the Module Pattern: Reword step 4 in the Assignment section
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#27528 Library: Clarify what is meant by "Storage"
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

#27465 React States and Effects lessons: Convert triple tildes to triple backticks for codeblocks
  react/states_and_effects/how_to_deal_with_side_effects.md
  react/states_and_effects/introduction_to_state.md
  react/states_and_effects/more_on_state.md
  react/states_and_effects/project_cv_application.md
  react/states_and_effects/project_memory_card.md
Labels: Content: React

#27541 Transition guide linked fixed.
  advanced_html_css/animation/transitions.md
Labels: Content: Advanced HTML/CSS

#27536 Motivation and Mindset: Add /stuck diagram to the repository
  foundations/introduction/motivation_and_mindset/imgs/00.png
Labels: Content: Foundations

#27544 More on state lesson: Clarifies what setState stands for
  react/states_and_effects/more_on_state.md
Labels: Content: React

#27543 Update introduction_to_react_testing.md
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#27538 Curriculum: Replace mentions of twitter with X instead #27537
  advanced_html_css/responsive_design/project_homepage.md
  getting_hired/preparing_for_job_search/what_you_can_do_to_prepare.md
  intermediate_html_css/forms/form_validations.md
  nodeJS/express_and_mongoose/deployment.md
  nodeJS/final_project/project_odin_book.md
  nodeJS/mongoDB/intro_to_mongoDB.md
  ruby_on_rails/active_record_basics/active_record_basics.md
  ruby_on_rails/apis/apis_and_building_your_own.md
  ruby_on_rails/apis/working_with_external_apis.md
  ruby_on_rails/mailers_advanced_topics/project_final.md
  ruby_on_rails/rails_basics/deployment.md
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Type: Chore, Content: Advanced HTML/CSS, Content: Getting Hired, Content: Intermediate HTML/CSS, Content: NodeJS, Content: Ruby, Content: Ruby on Rails

#27534 Add valuable resource: Slaying The Dragon's tutorial on box model fun…
  foundations/html_css/css-foundations/the-box-model.md
Labels: Content: Foundations

#27524 React/Class Components: Update codeblocks in the section's files
  react/class_components/class_based_components.md
  react/class_components/component_lifecycle_methods.md
Labels: Content: React

#27550 Rendering Techniques: Add instructions how to disable prop-types eslint rule
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#27490 Reword restaurant page instrctions
  javascript/organizing_your_javascript_code/project_restaurant_page.md
Labels: Content: JavaScript

#27557 Refs And Memoization: Fix typo in first assignment
  react/more_react_concepts/refs_and_memoization.md
Labels: Content: React

#27559 Update mocking_callbacks_and_components.md
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#27562 Add link to assignment section Ruby Test Driven Development
  ruby/testing_ruby_with_rspec/test_driven_development.md
Labels: Content: Ruby

#27530 Javascript Course: Testing Basics added resource to lesson
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript

#27563 Introduction Join the Odin Community: Update Discord Server Link
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#27571 Natural Responsiveness: Info that the meta viewport tag is already supplied with emmet
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

#27566 Natural Responsiveness lesson: Add note to assignment.
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

#27567 Fetching Data In React: Adds link to lesson referenced and add clarification to assignment
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#27565 Introduction To React Testing: Remove redundant section
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#27574 DOM Manipulation and Events: fix comments position and improve lesson overall clarity
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#27569 Javascript/ES6 Modules: Fix Knowledge Check same-page links
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#27575 Node Odinbook/Inventory App: Suggest Cloudinary for image storage
  nodeJS/express_and_mongoose/project_inventory_application.md
  nodeJS/final_project/project_odin_book.md
Labels: Content: NodeJS

#27589 [Ruby] Basic Data Types: Remove nested lists from the knowledge check section
  ruby/basic_ruby/basic_data_types.md
Labels: Content: Ruby

#27584 Common Data Structures and Algorithms lesson: replace Assignment link 3
  javascript/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/common_data_structures_algorithms.md
Labels: Content: JavaScript

#27596 Restaurant project: Incorrect directory
  javascript/organizing_your_javascript_code/project_restaurant_page.md
Labels: Content: JavaScript

#27588 Rails: Flight Booker: Mention `db:seed:replant` task
  ruby_on_rails/advanced_forms_and_activerecord/project_flight_booker.md
Labels: Content: Ruby on Rails

#27350 Rails: JS Bundling: update instructions for migrating away from importmaps
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Content: Ruby on Rails

#27579 Updated pitfall note about && operator
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#27598 Ruby Course Project HashMap lesson: Fix grammar mistake
  ruby/computer_science/project_hash_map.md
Labels: Content: Ruby

#27556 Motivation and Mindset: Add image for /stuck diagram
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#27587 The Cascade: Remove additional resource
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#27609 Git -> Intermediate Git (within JavaScript Course): Correct grammatical error
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#27613 Introduction to MongoDB: Give definition for acronym
  nodeJS/mongoDB/intro_to_mongoDB.md
Labels: Content: NodeJS

#27527 Getting Started With React: Update tildes to backticks for style guide
  react/getting_started_with_react/passing_data_between_components.md
  react/getting_started_with_react/react_components.md
  react/getting_started_with_react/rendering_techniques.md
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

#27606 Active Record Basics section of Rails path: Add Basic Associations lesson
  ruby_on_rails/active_record_basics/active_record_basics.md
  ruby_on_rails/active_record_basics/basic_associations.md
Labels: Status: Do Not Merge, Content: Ruby on Rails

#27586 Function Basics: Add image that describes how parameters are passed to a function and returned from it
  foundations/javascript_basics/function_basics.md
Labels: Content: Foundations

#27510 Working With APIs lesson: Added link to additional resource section
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript

#27617 Rendering techniques lesson: Adapts the lesson note to the lesson content
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#27630 Preparing to Interview and Interviewing lesson: Fix broken link to blog post
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
Labels: Content: Getting Hired

#27628 Fund5 - Object Basis - Update the verbiage in Assignment part
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#27636 Codeblock delimeters update
  react/more_react_concepts/managing_state_with_context_api.md
  react/more_react_concepts/reducing_state.md
  react/more_react_concepts/refs_and_memoization.md
Labels: Content: React

#27637 HTML Foundations assignments: Update links and fix style
  foundations/html_css/html-foundations/elements-and-tags.md
  foundations/html_css/html-foundations/html-boilerplate.md
  foundations/html_css/html-foundations/links-and-images.md
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#27633 Etch-a-Sketch: Adds a hint to the second optional credit assignment
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations

#27645 Project Express 105: Update assignment to mention Glitch
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
Labels: Content: NodeJS

#27629 Update rendering_techniques.md
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#27656 Motivation and Mindset lesson: Remove duplicate "Monkeytype" link
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#27519 Tables: Add assignment item that goes very in-depth on tables
  intermediate_html_css/intermediate_html_concepts/tables.md
Labels: Content: Intermediate HTML/CSS

#27657 Foundations DOM and events: Streamline assignment
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#27648 Intermediate HTML and CSS - Positioning Grid Elements: Move CSS Tricks link to advanced lesson
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/grid/positioning_grid_elements.md
Labels: Content: Intermediate HTML/CSS

#27663 Foundations links and images: Update codepen link to TOP account
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#27659 installing_nodejs.md: update nvm install command in both Linux and macOS
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations

#27666 Chore: add note for codesandbox being not visible
  react/states_and_effects/introduction_to_state.md
Labels: Content: React

#27594 Update asynchronous_code.md
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
  lesson.markdownlint-cli2.jsonc
Labels: Content: JavaScript

#27487 Foundations: Add notes on password usage in terminals
  foundations/installations/command_line_basics.md
  foundations/installations/installations.md
  foundations/installations/setting_up_git.md
  foundations/installations/text_editors.md
Labels: Content: Foundations

#27667 Object Basics: Show that the filter, map and reduce methods return a new array
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#27678 Node path: Remove portfolio mention from ToDo
  javascript/organizing_your_javascript_code/project_todo_list.md
Labels: Content: JavaScript

#27683 Project Inventory Application: Fix Typo
  nodeJS/express_and_mongoose/project_inventory_application.md
Labels: Content: NodeJS

#27651 Active Record Basics section of Rails course: Add Basic Validations lesson
  ruby_on_rails/active_record_basics/active_record_basics.md
  ruby_on_rails/active_record_basics/basic_associations.md
  ruby_on_rails/active_record_basics/basic_validations.md
Labels: Content: Ruby on Rails

#27688 Sign-up Form: Fix unclear tips/instructions
  intermediate_html_css/forms/project_sign_up_form.md
Labels: Content: Intermediate HTML/CSS

#27686 Installations lesson: Provide descriptive link text
  foundations/installations/installations.md
Labels: Content: Foundations

#27689 Update link text (#27681)
  foundations/installations/how_does_the_web_work.md
Labels: Content: Foundations

#27235 React/Setting Up A React Environment: Add additional resources
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#27660 Computer Science: Recursion Project: Adjust headings, ordering and linked resources
  javascript/computer_science/project_recursion.md
  ruby/computer_science/project_recursion.md
Labels: Content: JavaScript, Content: Ruby

#27677 Restaurant project: Note on gitignores
  javascript/organizing_your_javascript_code/project_restaurant_page.md
Labels: Content: JavaScript

#27697 Installation Overview: Provide descriptive link text
  foundations/installations/installation_overview.md
Labels: Content: Foundations

#27700 Foundations/Command Line Basics/text change within line 58
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#27692 Active Record Basics section of Rails course: Add Migrations lesson
  ruby_on_rails/active_record_basics/active_record_basics.md
  ruby_on_rails/active_record_basics/basic_associations.md
  ruby_on_rails/active_record_basics/migrations.md
Labels: Content: Ruby on Rails

#27706 Fix typo in Step 1
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

#27698 Open link in new tab
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#27696 Intro to Web Development && Motivation and Mindset && Join the Odin Community: Provided descriptive link texts
  foundations/introduction/introduction_to_web_development.md
  foundations/introduction/join_the_odin_community.md
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#27621 React Router: Introduce outlet context and remove component-based router
  react/more_react_concepts/managing_state_with_context_api.md
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#27366 React/Proptypes: Add additional video resource
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

#27713 Introduction to Git: Provide descriptive linked text
  git/foundations_git/introduction_to_git.md
Labels: Content: Git

#27711 Foundations/Setting Up Git/text replacement on line 67, 112, and 222
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#27712 Git Basics: Provide descriptive linked text
  git/foundations_git/git_basics.md
Labels: Content: Git

#27714 Rails: Installing PostgreSQL: Fixed broken section links
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#27708 Fix link text
  foundations/html_css/css-foundations/block-and-inline.md
  foundations/html_css/css-foundations/inspecting-html-and-css.md
  foundations/html_css/css-foundations/intro-to-css.md
  foundations/html_css/css-foundations/the-box-model.md
Labels: Content: Foundations

#27719 Accessible Colors lesson: Clarify devtools paragraph
  advanced_html_css/accessibility/accessible_colors.md
Labels: Content: Advanced HTML/CSS

#27725 Rearranged instruction, Changed position of the instruction
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#27718 Foundations Installing Node.js lesson and Arrays and Loops lesson: Provide descriptive link text #27681
  foundations/javascript_basics/arrays_and_loops.md
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations

#27726 Clean Code lesson: missing semicolon in code example A #27724
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations
