Repository TheOdinProject/curriculum, pull requests merged in 2024-04, with the labels that each got.

#27641 Websockets and Actioncable: Add instructions in case of error messages when generating a channel.
  ruby_on_rails/mailers_advanced_topics/websockets_and_actioncable.md
Labels: Content: Ruby on Rails

#27736 Update how_this_course_will_work.md
  javascript/introduction/how_this_course_will_work.md
Labels: Content: JavaScript

#27739 CSS Block-and-inline section: Edited additional resources
  foundations/html_css/css-foundations/block-and-inline.md
Labels: Content: Foundations

#27738 Foundations Course/Data Types and Conditionals/rephrased the section that references the upcoming exercises
  foundations/javascript_basics/data_types_and_conditionals.md
Labels: Content: Foundations

#27746 Passing Data Between Components lesson: Fix incorrect use of the word parameter
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React

#27750 Objects and Object Constructors: Fix ellipsis formatting
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#27749 Links and Images && Project: Recipes: Provided descriptive link texts #27681
  foundations/html_css/html-foundations/links-and-images.md
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#27755 Node React: When not to use them
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#27754 Project: Calculator lesson: Update project_calculator.md updating mdn link
  foundations/javascript_basics/project_calculator.md
Labels: Content: Foundations

#27535 Setting up Git: 3 improvements
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#27759 More On State lesson: Fix reference to Object.is() method
  react/states_and_effects/more_on_state.md
Labels: Content: React

#27757 RoR Installing PostgreSQL: Update formatting (#27680)
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#27760 Foundations: Update descriptive links (#27681)
  foundations/javascript_basics/object_basics.md
  foundations/javascript_basics/project_calculator.md
  foundations/tying_it_all_together/conclusion.md
Labels: Content: Foundations

#27761 Change the paragraph and remove bullet point
  nodeJS/introduction_to_nodeJS/getting_started.md
  nodeJS/introduction_to_nodeJS/project_basic_informational_site.md
Labels: Content: NodeJS

#27763 React Introduction to State: Remove CodeSandbox critical note
  react/states_and_effects/introduction_to_state.md
Labels: Content: React

#27764 Update setting_up_git.md
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#27765 React environment set up: Update React DevTools resource (#26853)
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#27767 Building Your Personal Website: deleted broken link
  getting_hired/preparing_for_job_search/project_portfolio.md
Labels: Content: Getting Hired

#27649 Intermediate HTML and CSS -Multiple lessons: Style guide and GDPR updates
  intermediate_html_css/grid/project_admin_dashboard.md
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

#27647 Foundations HTML boilerplate: Mention meta viewport tag
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#27774 Working with Remotes lesson: Remove dollar signs from code snippets
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#27783 Foundations Installations lesson: Fix incorrect external resource link
  foundations/installations/installations.md
Labels: Content: Foundations

#27780 Turbo: improve the commands of creation of the quote-editor project
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#27786 Project Rails Installation: Update lesson introduction
  ruby_on_rails/introduction/project_installing_rails.md
Labels: Content: Ruby on Rails

#27778 NodeJS conclusion: Update additional resources section
  nodeJS/final_project/conclusion.md
Labels: Content: NodeJS

#27773 Update form replacement directions in actioncable_lesson.md
  ruby_on_rails/mailers_advanced_topics/actioncable_lesson.md
Labels: Content: Ruby on Rails

#27789 Clean Code lesson: Ammend variable/function names
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#27669 Intermediate CSS & HTML - Default Styles: Rewrite lesson
  intermediate_html_css/intermediate_css_concepts/default_styles.md
Labels: Content: Intermediate HTML/CSS

#27791 Clean Code: Amend array verbiage
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#27772 Introduction to Flexbox lesson: fix first image
  foundations/html_css/flexbox/imgs/03.png
Labels: Content: Foundations

#27792 Default Styles lesson: Add missing word
  intermediate_html_css/intermediate_css_concepts/default_styles.md
Labels: Content: Intermediate HTML/CSS

#27770 Project Battleship: Clarify instructions
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript

#27800 Node Battleships: Remove mobile device reference
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript

#27797 Change link text to be descriptive
  intermediate_html_css/intermediate_css_concepts/positioning.md
Labels: Content: Intermediate HTML/CSS

#27807 Battleship Project: Update sentence to clarify use of Ship class/factory in the Gameboard class
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript

#27813 React testing: Replace incorrect Jest reference with Vitest
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#27815 Intro to CSS lesson: Fix HTML portion of example
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#27810 Add lesson overview and knowledge check
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations

#27817 Introduction to Flexbox lesson: fix first image
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations

#27635 Understanding Errors: Slightly improve lesson and move articles to assignment
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations

#27822 Intermediate HTML and CSS: Update descriptive links
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
  intermediate_html_css/intermediate_css_concepts/more_css_properties.md
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

#27820 Foundations: Add section on why this course does not cover everything
  foundations/introduction/how_this_course_will_work.md
Labels: Content: Foundations

#27823 NodeJS: Remove redundant npm introduction
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

#27824 React lessons: Add descriptive link text
  react/getting_started_with_react/keys_in_react.md
  react/getting_started_with_react/react_components.md
  react/getting_started_with_react/what_is_jsx.md
  react/states_and_effects/more_on_state.md
Labels: Content: React

#27828 React Testing: Grammar fix, missing article
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#27827 Git basics: Make warning into warning box
  git/foundations_git/git_basics.md
Labels: Content: Git

#27826 React: Update descriptive link texts
  react/introduction/introduction_to_react.md
  react/introduction/setting_up_a_react_environment.md
  react/more_react_concepts/reducing_state.md
Labels: Content: React

#27829 Classes Lesson: Fix link text
  javascript/organizing_your_javascript_code/classes.md
Labels: Content: JavaScript

#27830 ES6 Modules lesson: Provided Descriptive Link Text
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#26037 Rewrite "rock paper scissors" project
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#27832 Object and Object Constructors: Fix Format Inconsistency with Markdown.
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#27834 Node Linting & Webpack lessons: Update descriptive links
  javascript/javascript_in_the_real_world/linting.md
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#27733 Node Blog API: Add JWT authentication as a project requirement
  nodeJS/apis/project_blog_api.md
Labels: Content: NodeJS

#27837 fix_media_query_mention
  intermediate_html_css/grid/advanced_grid_properties.md
Labels: Content: Intermediate HTML/CSS

#27838 Transforms and Transitions lessons: Provided descriptive link text.
  advanced_html_css/animation/transforms.md
  advanced_html_css/animation/transitions.md
Labels: Content: Advanced HTML/CSS

#27835 Fix lint errors
  intermediate_html_css/intermediate_html_concepts/emmet.md
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS

#27843 Form Basics: Corrected the link and provided more accessible, descriptive links
  intermediate_html_css/forms/form_basics.md
  intermediate_html_css/forms/form_validations.md
  intermediate_html_css/forms/project_sign_up_form.md
  intermediate_html_css/grid/introduction_to_grid.md
Labels: Content: Intermediate HTML/CSS

#27676 Styling React Applications - Add additional resource
  react/the_react_ecosystem/styling_react_applications.md
Labels: Content: React

#27846 Dynamic User Interface: updating lesson for course structure, and refactor to meet lesson structure standard
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
Labels: Content: JavaScript

#27841 Knights Travails Project && Using Git in the Real World Lesson: Fix link text
  git/intermediate_git/using_git_in_the_real_world.md
  javascript/computer_science/project_knights_travails.md
Labels: Content: JavaScript, Content: Git

#27847 Object Basics: Define the function separately
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#27851 React fetching: Reorder loading and error guard clauses
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#27845 JavaScript lessons: Add descriptive link text
  javascript/introduction/a_quick_review.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#27850 Common Data Structures and Algorithms && HashMap Data Structure && Project: Binary Search Trees: Fix link text
  javascript/computer_science/common_data_structures_algorithms.md
  javascript/computer_science/hash_map_data_structure.md
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#27848 JS Course Common Data Structures and Algorithms: Update dead link in knowledge check
  javascript/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/common_data_structures_algorithms.md
Labels: Content: JavaScript

#27858 Authentication Basics: Change link address to mongoose documentation
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#27854 Intermediate HTML and CSS: Provide descriptive link text
  intermediate_html_css/intermediate_css_concepts/css_functions.md
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
Labels: Content: Intermediate HTML/CSS

#27863 Linting lesson: Fix typo/grammar error
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#27855 Foundations-Flexbox: Updating Lessons
  foundations/html_css/flexbox/flexbox-axes.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations

#27856 Javascript Lesson - Replace external review resources with messaging regarding forgetting
  javascript/introduction/a_quick_review.md
Labels: Content: JavaScript

#27859 Patch foundation js basics
  foundations/javascript_basics/javascript_developer_tools.md
  foundations/javascript_basics/problem_solving.md
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations

#27842 NodeJS/Express: Update descriptive links text
  nodeJS/express_and_mongoose/express_101.md
  nodeJS/express_and_mongoose/introduction_to_express.md
Labels: Content: NodeJS

#27857 Intermediate HTML and CSS lessons adding descriptive link text
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/grid/creating_a_grid.md
  intermediate_html_css/grid/using_flexbox_and_grid.md
Labels: Content: Intermediate HTML/CSS

#27878 Setting Up A React Environment: Remove additional resource
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#27877 The Box Model lesson: Fix grammar
  foundations/html_css/css-foundations/the-box-model.md
Labels: Content: Foundations

#27875 CV App Project and Refs&Memoization: add descriptive links
  react/more_react_concepts/refs_and_memoization.md
  react/states_and_effects/project_cv_application.md
Labels: Content: React

#27884 Advanced HTML and CSS: Updated links description of three lessons
  advanced_html_css/animation/keyframes.md
  advanced_html_css/responsive_design/natural_responsiveness.md
  advanced_html_css/responsive_design/project_homepage.md
Labels: Content: Advanced HTML/CSS

#27889 Intro to Flexbox lesson: Remove rogue </span> text
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations

#27888 Introduction To React Testing: add "Testing Implementation Details" article by Kent C. Dodds
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#27892 React lesson: Fix numbering typo
  react/introduction/introduction_to_react.md
Labels: Content: React

#27896 NodeJS: Add descriptive link text
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
  nodeJS/express_and_mongoose/express_104_view_templates.md
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
Labels: Content: NodeJS

#27897 How this course will work: Removed duplicate word 'the'
  foundations/introduction/how_this_course_will_work.md
Labels: Content: Foundations

#27899 Express Local-library: Broken link
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
Labels: Content: NodeJS

#27900 NodeJS Getting Started Lesson: Add Descriptive Link Text
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

#27902 NodeJS / Project: Mini Message Board : Remove unnecessary link
  nodeJS/express_and_mongoose/project_mini_message_board.md
Labels: Content: NodeJS

#27903 Foundation - Flexbox - Axes: fix shows code before code - Fix issue #27901
  foundations/html_css/flexbox/flexbox-axes.md
Labels: Content: Foundations
