Repository TheOdinProject/curriculum, pull requests merged in 2024-10, with the labels that each got.

#28887 Views: Change href of link to point to Express 4 docs
  nodeJS/express/views.md
Labels: Content: NodeJS

#28883 Intermediate HTML and CSS, advanced selectors: fix broken css-tricks.com links
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#28879 Active Record Associations lesson: Fix grammar and spelling
  ruby_on_rails/advanced_forms_and_activerecord/active_record_associations.md
Labels: Content: Ruby on Rails

#28893 Objects and Object Constructors: Clarified project reference in Objects and Object Constructors lesson
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#28889 Time Complexity: Update link to Big Omega section
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

#28907 Time Complexity: Fix grammatical error in theta notation section
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

#28905 Time Complexity: Fix grammatical error in omega notation section
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

#28904 Time Complexity: Fix grammatical error in omega notation section
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

#28899 Time Complexity: Fix grammatical error in explanation of logarithmic complexity
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

#28898 Time Complexity: Fix grammatical error in explanation of logarithmic complexity
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

#28896 Project Flight Booker: Fix Stripe broken hyperlink
  ruby_on_rails/advanced_forms_and_activerecord/project_flight_booker.md
Labels: Content: Ruby on Rails

#28892 Rails: Active Record Associations: Fix lint issues
  ruby_on_rails/advanced_forms_and_activerecord/active_record_associations.md
Labels: Content: Ruby on Rails

#28882 Installing Node.js: update nvm version
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations

#28801 Installations: Update Chrome instructions for WSL
  foundations/html_css/html-foundations/html-boilerplate.md
  foundations/installations/installations.md
  foundations/javascript_basics/variables_and_operators.md
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: Foundations

#27977 feat(mdlint): add rule TOP009 to ensure lesson overview items start with a capital letter and end with a period
  .markdownlint-cli2.jsonc
  markdownlint/TOP009_lessonOverviewItemsSentenceStructure/TOP009_lessonOverviewItemsSentenceStructure.js
  markdownlint/TOP009_lessonOverviewItemsSentenceStructure/tests/TOP009_capital_letter.md
  markdownlint/TOP009_lessonOverviewItemsSentenceStructure/tests/TOP009_invalid_punctuation.md
  markdownlint/TOP009_lessonOverviewItemsSentenceStructure/tests/TOP009_test_valid.md
  markdownlint/docs/TOP008.md
  markdownlint/docs/TOP009.md
Labels: Content: Markdownlint

#28909 Intermediate HTML and CSS: Media query
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS

#28827 Event Manager project: Update google apis installation instruction
  ruby/files_and_serialization/project_event_manager.md
Labels: Content: Ruby

#28915 Time Complexity: Update the worst-case scenario example
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript, Content: Ruby

#28914 Time Complexity: Update the definition of a factorial
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript, Content: Ruby

#28913 Time Complexity: Update binary search example explanation
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript, Content: Ruby

#28906 Advanced Selectors: edit code comments
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#28921 javascript course webpack lesson: make first paragraph easier to read
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#28923 Sessions Cookies and Authentication lesson: fix grammar error "they says" to "they say"
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

#28922 All HTML/CSS assignments: Update lessons to reflect restructured css-exercises repo
  advanced_html_css/animation/keyframes.md
  foundations/html_css/css-foundations/block-and-inline.md
  foundations/html_css/css-foundations/intro-to-css.md
  foundations/html_css/css-foundations/the-cascade.md
  foundations/html_css/flexbox/flexbox-alignment.md
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/grid/positioning_grid_elements.md
Labels: Content: Advanced HTML/CSS, Content: Intermediate HTML/CSS, Content: Foundations

#28919 Ruby/Event manager project: fix formatting issues
  ruby/files_and_serialization/project_event_manager.md
Labels: Content: Ruby

#28926 transforms.md: qhmit.com typo
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS

#28929 [javascript/project_library.md] Updates phrasing for point 1 of the assignment
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

#28925 Introduction To State: Fix grammar mistake
  react/states_and_effects/introduction_to_state.md
Labels: Content: React

#28933 DOM Manipulation and Events: Clarify element selection by using variables and console.log
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#28939 Ruby : Event Manager : Valid Html Checks Fixed
  ruby/files_and_serialization/project_event_manager.md
Labels: Content: Ruby

#28934 Ruby Course - Project: Event Manager: Fix a broken link
  ruby/files_and_serialization/project_event_manager.md
Labels: Content: Ruby

#28946 Advanced Selectors: Edit link text
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#28937 Correctly serve asset
  nodeJS/express/views.md
Labels: Content: NodeJS

#28948 Webpack: Make bash formatting in install statements consistent
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#28942 Clarifying instructions on step 4.1 for VMs
  foundations/installations/installations.md
Labels: Content: Foundations

#28763 Node Routes: Restructure routers section with task
  nodeJS/express/introduction_to_express.md
  nodeJS/express/routing.md
Labels: Content: NodeJS

#28665 NodeJS Controllers: Update lesson to flow with the previous lesson
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#28949 Library: Clarify importance of separating concerns
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

#28963 'Working with Text lesson: Fix link'
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#28962 Project Knights Travails: Adding additional information about the Graphs data structure
  ruby/computer_science/project_knights_travails.md
Labels: Content: Ruby

#28955 HashMap Data Structure: Fix grammar in bucket growth section
  javascript/computer_science/hash_map_data_structure.md
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript, Content: Ruby

#28968 Project Knights Travails: Adding additional information about the Graphs data structure
  javascript/computer_science/project_knights_travails.md
Labels: Content: JavaScript

#28970 Easy Fix: add Linux/Windows shortcut to emmet.md
  intermediate_html_css/intermediate_html_concepts/emmet.md
Labels: Content: Intermediate HTML/CSS

#28979 Use "scheme" term over "protocol" in links-and-images.md
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#28980 Form Validation with JavaScript: Change to questions in Knowledge Check
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
Labels: Content: JavaScript

#28983 HTML Foundations Update: Clarify GitHub account requirements for publishing private repos
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#28992 Fix typo in Routes course
  nodeJS/express/routing.md
Labels: Content: NodeJS

#28994 Update arrays_and_loops.md
  foundations/javascript_basics/arrays_and_loops.md
Labels: Content: Foundations

#29004 project_calculator: Removed the "make it look nice" text.
  foundations/javascript_basics/project_calculator.md
Labels: Content: Foundations

#29002 Using Git in the Real World: Replace "forwards" with "forward"
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#28975 Setting up Git lesson: remove git color.ui auto manual setting
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#28995 RoR: Micro-Reddit: fix broken link with archive link
  ruby_on_rails/active_record_basics/project_micro_reddit.md
Labels: Content: Ruby on Rails

#29009 Form Basics: Correct backticks
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

#29006 WAI-ARIA: Improve paragraph about aria-labelledby
  advanced_html_css/accessibility/wai_aria.md
Labels: Content: Advanced HTML/CSS

#29017 Updated browser names in Update browser_compatibility.md
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
Labels: Content: Intermediate HTML/CSS

#29011 Calculator: Improve expressions and sentences
  foundations/javascript_basics/project_calculator.md
Labels: Content: Foundations

#29027 Library: Remove mention of 'user input' in initial instruction
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

#29029 Calculator: Fix "operate" function consistency
  foundations/javascript_basics/project_calculator.md
Labels: Content: Foundations

#29028 Tic-tac-toe: Explicit the game's independence from user input
  javascript/organizing_your_javascript_code/project_tic_tac_toe.md
Labels: Content: JavaScript

#29025 Javascript Time Complexity: Fix Typo
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript

#29030 Remove DOM Enlightenment from the additional resources for the DOM Manipulation and Events lesson
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#29034 Fix typo in factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#29000 Use path to help locate views/
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#29032 Passing Data Between Components: Remove hardcoded URL from Button
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React
