Repository TheOdinProject/curriculum, pull requests merged in 2024-01, with the labels that each got.

#26777 HTML foundation: update lists per layout style guide (#26664)
  git/foundations_git/commit_messages.md
Labels: Content: Git

#27029 Rails APIs Lesson: Fix Layout Style
  ruby_on_rails/apis/apis_and_building_your_own.md
Labels: Content: Ruby on Rails

#27031 Ruby Course: Basic Ruby Projects: Codeblock delimiters updated to backticks
  ruby/basic_ruby_projects/project_bubble_sort.md
  ruby/basic_ruby_projects/project_caesar_cipher.md
  ruby/basic_ruby_projects/project_stock_picker.md
  ruby/basic_ruby_projects/project_sub_strings.md
Labels: Content: Ruby

#27030 Foundations: Command Line Basics: Clarify instructions for download files section
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#27028 Objects and Object Constructors: Fix heading typo
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#27033 Foundations: Installations and Text Editors: Remove extra characters
  foundations/installations/installations.md
  foundations/installations/text_editors.md
Labels: Content: Foundations

#27021 Node Odinbook: Remove omniauth mention
  nodeJS/final_project/project_odin_book.md
  ruby_on_rails/mailers_advanced_topics/project_final.md
Labels: Content: NodeJS, Content: Ruby on Rails

#27036 Debugging Node lesson: Replace broken link
  nodeJS/introduction_to_nodeJS/debugging_node.md
Labels: Content: NodeJS

#26680 Factory Functions and Module Pattern Lesson: Fix wording in Closures section
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#27039 Removed Duplicate Link web_refresher.md
  ruby_on_rails/introduction/web_refresher.md
Labels: Content: Ruby on Rails

#27041 Ruby Course: Update Code Block Delimiters
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
Labels: Content: Ruby

#27002 Foundations - HTML Elements and Tags: Clarify void tags
  foundations/html_css/html-foundations/elements-and-tags.md
Labels: Content: Foundations

#27046 Revert "Removed Duplicate Link web_refresher.md"
  ruby_on_rails/introduction/web_refresher.md
Labels: Content: Ruby on Rails

#27050 Fix: Incorrectly formatted inline code snippets
  foundations/html_css/html-foundations/elements-and-tags.md
Labels: Content: Foundations

#27049 Update space_complexity.md
  ruby/computer_science/space_complexity.md
Labels: Content: Ruby

#27047 Update project_knights_travails.md
  ruby/computer_science/project_knights_travails.md
Labels: Content: Ruby

#27011 More On State: Change code snippet
  react/states_and_effects/more_on_state.md
Labels: Content: React

#26940 Remove redundant <> and </> tags, format <svg> tags
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

#26944 Testing basics & More Testing lesson: Clarify instruction
  javascript/testing_javascript/more_testing.md
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript

#26894 React Introduction: Update Vite version
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#27054 Ruby Project Event Manager lesson: update code block delimiters
  ruby/files_and_serialization/project_event_manager.md
Labels: Content: Ruby

#27058 Join the Odin Community lesson: Fix broken link
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#27055 Foundations: Intro to CSS - Add directions to read the README in the css-exercises repo
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#26959 Ruby Files and Serialization lesson: Fix Assignment 5 (File, Dir) and references
  ruby/files_and_serialization/files_and_serialization.md
Labels: Content: Ruby

#27043 React Router: Add note for /profile functionality and updates assignment
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#26518 Computer Science: HashMap Project
  javascript/computer_science/hash_map_data_structure.md
  javascript/computer_science/hash_map_data_structure/imgs/00.png
  javascript/computer_science/hash_map_data_structure/imgs/01.png
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

#27062 HashMap lesson : Replace relative links with static ones
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

#27069 Update introduction_to_rspec.md
  ruby/testing_ruby_with_rspec/introduction_to_rspec.md
Labels: Content: Ruby

#27068 Update object_oriented_programming.md
  ruby/object_oriented_programming_basics/object_oriented_programming.md
Labels: Content: Ruby

#27065 Update installing_ruby.md
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#27057 Ruby: Computer Science: Hash Map content
  ruby/computer_science/hash_map_data_structure.md
  ruby/computer_science/hash_map_data_structure/00.png
  ruby/computer_science/hash_map_data_structure/01.png
  ruby/computer_science/project_hash_map.md
Labels: Content: Ruby

#27073 Chore: fix note indentation in project_hash_map.md
  ruby/computer_science/project_hash_map.md
Labels: Content: Ruby

#27071 Introduction to React: Replace Reading Assignment
  react/introduction/introduction_to_react.md
Labels: Content: React

#27070 Advanced HTML and CSS: Clarify purpose of the Homepage Project
  advanced_html_css/responsive_design/project_homepage.md
Labels: Content: Advanced HTML/CSS

#27067 Update css_functions.md
  intermediate_html_css/intermediate_css_concepts/css_functions.md
Labels: Content: Intermediate HTML/CSS

#27077 Hash maps: Fix punctuation and grammar
  javascript/computer_science/hash_map_data_structure.md
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript, Content: Ruby

#26904 Update lists per layout style guide
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#27087 HashMap Data Structure Lesson Ruby: Update link explanatory verbiage
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: Ruby

#27085 HashMap Data Structure Lesson JS: update assignment link verbiage
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

#27088 Installing PostgreSQL: Change the word "Ubuntu" to "Linux"
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#27089 Computer Science Hashes: Clarify existence of non-probabilistic collisions
  javascript/computer_science/hash_map_data_structure.md
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript, Content: Ruby

#27052 Update predicate_enumerable_methods.md
  ruby/basic_ruby/predicate_enumerable_methods.md
Labels: Content: Ruby

#27063 JavaScript Basics - Fundamentals Part 1: Added JavaScript description and MDN article link
  foundations/javascript_basics/fundamentals-1.md
Labels: Content: Foundations

#27095 Fix a typo in commit_messages.md
  git/foundations_git/commit_messages.md
Labels: Content: Git

#27056 Deployment: Note Adaptable.io credit card requirement
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

#27060 CSS bundling - Ruby on Rails Course
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
  ruby_on_rails/rails_sprinkles/css_bundling.md
Labels: Content: Ruby on Rails

#27086 Organizing your javascript code: Move JSON lesson
  javascript/organizing_your_javascript_code/json.md
  javascript/organizing_your_javascript_code/project_todo_list.md
Labels: Status: Do Not Merge, Content: JavaScript

#26989 Foundations : Remove words
  foundations/html_css/css-foundations/block-and-inline.md
  foundations/html_css/css-foundations/intro-to-css.md
  foundations/html_css/css-foundations/the-cascade.md
  foundations/html_css/flexbox/flexbox-alignment.md
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
  foundations/html_css/flexbox/flexbox-intro.md
  foundations/html_css/flexbox/project-landing-page.md
  foundations/html_css/html-foundations/html-boilerplate.md
  foundations/html_css/html-foundations/links-and-images.md
  foundations/html_css/html-foundations/project-recipes.md
  foundations/html_css/html-foundations/working-with-text.md
  foundations/installations/installation_overview.md
  foundations/installations/installations.md
  foundations/installations/setting_up_git.md
  foundations/introduction/how_this_course_will_work.md
  foundations/introduction/join_the_odin_community.md
  foundations/introduction/motivation_and_mindset.md
  foundations/javascript_basics/DOM_manipulation_and_events.md
  foundations/javascript_basics/fundamentals-1.md
  foundations/javascript_basics/fundamentals-2.md
  foundations/javascript_basics/fundamentals-4.md
  foundations/javascript_basics/fundamentals-5.md
  foundations/javascript_basics/installing_nodejs.md
  foundations/javascript_basics/problem_solving.md
  foundations/javascript_basics/project_calculator.md
  foundations/javascript_basics/project_etch_a_sketch.md
  foundations/javascript_basics/project_rock_paper_scissors.md
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations

#27113 JS HashMap Data Structure: Fix minor mistakes to improve readability
  javascript/computer_science/hash_map_data_structure.md
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

#27100 Foundations - Flexbox alignment - Clarify what parts of CSS Tricks article to review
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations

#27098 Foundations - Box Model: Prefer outline over border
  foundations/html_css/css-foundations/the-box-model.md
Labels: Content: Foundations

#27097 Foundations - Intro to CSS: Clarify image dimension info
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#27105 Advanced HTML and CSS Course (Transforms): Remove the incorrect article
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS

#27108 Setting up Git: Reminder for MacOS users to copy/paste commands into terminal
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#27078 Update Prototypal inheritance with factories section
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#27109 React Intro: Clarify component capitalisation explanation
  react/getting_started_with_react/react_components.md
Labels: Content: React

#27114 Default Styles Lesson: Add another css reset in additional resources
  intermediate_html_css/intermediate_css_concepts/default_styles.md
Labels: Content: Intermediate HTML/CSS

#27120 Fix: Correct lesson "Space Complexity"'s explanation on O(1)
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript

#27122 Fix 2: Improve wording on FS RoR's "Space Complexity" lesson
  ruby/computer_science/space_complexity.md
Labels: Content: Ruby

#27121 Comp Sci: Hash Map Project: modify instructions for `remove` method
  javascript/computer_science/project_hash_map.md
  ruby/computer_science/project_hash_map.md
Labels: Content: JavaScript, Content: Ruby

#27129 fix(typo): correct a typo in the react router lesson
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#26987 Advanced HTML CSS : Remove Words
  advanced_html_css/accessibility/meaningful_text.md
  advanced_html_css/accessibility/the_web_content_accessibility_guidelines_wcag.md
  advanced_html_css/animation/keyframes.md
  advanced_html_css/animation/transforms.md
  advanced_html_css/animation/transitions.md
  advanced_html_css/responsive_design/media_queries.md
  advanced_html_css/responsive_design/natural_responsiveness.md
  advanced_html_css/responsive_design/project_homepage.md
  advanced_html_css/responsive_design/responsive_images.md
Labels: Content: Advanced HTML/CSS

#27125 Typo: clarify minor redundancy on FS JS Space Complexity lesson
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript

#27135 Fix typo in turbo.md
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#27138 Recipes Project: Emphasise git instructions
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#27130 Foundations: unify descriptions replacing WSL with WSL2 to be specific
  foundations/html_css/html-foundations/links-and-images.md
  foundations/installations/command_line_basics.md
  foundations/installations/installation_overview.md
  foundations/installations/text_editors.md
Labels: Content: Foundations

#27080 NodeJS Course Getting Started: Add a reading assignment for createserver
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

#27141 Fundamentals Part 1: Update list items to layout styling guide
  foundations/javascript_basics/fundamentals-1.md
Labels: Content: Foundations

#27153 Box model lesson: list layout updated
  foundations/html_css/css-foundations/the-box-model.md
Labels: Content: Foundations

#27151 Intro to CSS lesson: Fix markdown styling
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#27093 Update deployment.md
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

#27146 Installation Lessons: Ignore lint rules regarding heading structure
  foundations/installations/installations.md
  foundations/installations/setting_up_git.md
  foundations/installations/text_editors.md
  foundations/javascript_basics/installing_nodejs.md
  ruby/introduction/installing_ruby.md
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby, Content: Ruby on Rails, Content: Foundations

#27159 Foundations/CSS Foundations: Update lists per layout style guide
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#27167 Foundations: Replace knowledge checks in links and images
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#27177 Deployment: Fix spelling mistake
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

#27180 HashMap Data Structure: Fix Inconsistent Capitalization and Syntax Error
  javascript/computer_science/hash_map_data_structure.md
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript, Content: Ruby

#27166 JavaScript Developer Tools: Update lists per layout style guide
  foundations/javascript_basics/javascript_developer_tools.md
Labels: Content: Foundations

#27169 clean code aditional resource
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#27176 Advanced HTML and CSS - Advanced Selectors: Clarify sibbling selectors
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#27185 JS Restaurant Page: Reword instructions to make static/dynamic elements clearer
  javascript/organizing_your_javascript_code/project_restaurant_page.md
Labels: Content: JavaScript

#27187 More Text Styles: improved readability
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

#27157 Foundations/JS basics part 2: Updated list styles
  foundations/javascript_basics/fundamentals-2.md
Labels: Content: Foundations

#27188 Project: Restaurant Page: Fix broken link by replacing it with a wayback machine version
  javascript/organizing_your_javascript_code/project_restaurant_page.md
Labels: Content: JavaScript

#27184 Flexbox Alignment: Mention to not focus on media queries in linked article's examples
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations

#27149 Natural Responsiveness Adv. HTML / CSS: Information behind a separate link
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

#27161 Testing Database Operations: Remove Deprecated Option from Mongoose Connection
  nodeJS/testing_express/testing_database_operations.md
Labels: Content: NodeJS

#27197 Update time_complexity.md: Improve paragraph mentioning merge sort project
  javascript/computer_science/time_complexity.md
  ruby/computer_science/time_complexity.md
Labels: Content: JavaScript

#27201 Recursive Methods: Add link to corrected solution
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript

#27203 JS HashMap project: Make the assignment's methods follow the default format
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

#27207 Block and inline: Foundations/CSS Foundations: Update lists per layout style guide
  foundations/html_css/css-foundations/block-and-inline.md
Labels: Content: Foundations

#27212 Setting up Git: <change link on ssh test>
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#27223 Foundations: Installations: Brand WSL2 as advanced
  foundations/installations/installation_overview.md
  foundations/installations/installations.md
Labels: Content: Foundations

#27222 Foundations/Text editors - Fix numbering typo
  foundations/installations/text_editors.md
Labels: Content: Foundations

#27209 Fix: Typo on lesson Natural Responsiveness's subtopic
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

#27196 Fundamentals-3: Update lists per layout style guide
  foundations/javascript_basics/fundamentals-3.md
Labels: Content: Foundations

#27215 Foundations: understanding errors list style
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations

#27132 Intermediate HTML and CSS Course - Custom Properties lesson: fix inaccurate statement about codepen configuration
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS

#27099 Foundations - RPS Project: Remove recursion
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#27228 Intermediate HTML and CSS - More Text Styles: Add tip about imported fonts
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

#27231 Factory Functions and the Module Pattern lesson: Fix grammar
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#27234 Project: Recursion C-like code warning
  javascript/computer_science/project_recursion.md
  ruby/computer_science/project_recursion.md
Labels: Content: JavaScript, Content: Ruby

#27243 real world git - reminder of commit messages
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#27244 Change assignment link
  javascript/computer_science/a_very_brief_intro_to_cs.md
  ruby/computer_science/a_very_brief_intro_to_cs.md
Labels: Content: JavaScript, Content: Ruby

#27245 Working with Text lesson: small grammar changes
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#27236 Paragraph re-write stimulus_js.md
  ruby_on_rails/rails_sprinkles/stimulus_js.md
Labels: Content: Ruby on Rails
