Repository TheOdinProject/curriculum, pull requests merged in 2024-08, with the labels that each got.

#28543 fix typo forms_and_data_handling.md
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#28541 NodeJS Controllers lesson: Fix inconsistency and add clarifying sentence
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#28537 NodeJS Controllers lesson: Fix grammar
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#28539 Fix sentence grammar in Positioning lesson
  intermediate_html_css/intermediate_css_concepts/positioning.md
Labels: Content: Intermediate HTML/CSS

#28534 Node JS Course: small rewording
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#28544 NodeJs Forms and Data Handling: Fix createUser path
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#28549 Update keys_in_react.md: fix typo in line 82
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#28517 Express Routes: Added additional video
  nodeJS/express/routing.md
Labels: Content: NodeJS

#28107 Feature: Add instructions for connecting new Vite React project to git repo
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#28515 feat(styling react): add guide on using icons in React
  react/the_react_ecosystem/styling_react_applications.md
Labels: Content: React

#28555 Webpack lesson: Fix Outdated Link
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#28559 Elements and tag: updated link (#28151)
  foundations/html_css/html-foundations/elements-and-tags.md
Labels: Content: Foundations

#28560 Testing JavaScript: Necessary changes in testing module of javascript
  javascript/testing_javascript/more_testing.md
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript

#28535 Views: Make writing style more imperative throughout
  nodeJS/express/views.md
Labels: Content: NodeJS

#28567 Forms and Data Handling: Remove asyncHandler references
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#28572 HTML Boilerplate Foundations Course: change "HTML validator" link
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#28577 React Conclusion: Fix "Using a backend" typo
  react/conclusion/conclusion_full_stack_javascript.md
  react/conclusion/conclusion_ruby_on_rails.md
Labels: Content: React

#28587 NodeJS Using PostgreSQL lesson: Add missing word
  nodeJS/express/using_postgresql.md
Labels: Content: NodeJS

#28576 NodeJS Controllers: Fixed typo
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#28162 Fix lint issues
  foundations/html_css/html-foundations/lists.md
Labels: Content: Foundations

#28588 Objects and Object Constructors & Classes: Changes to questions in Knowledge Check and Reordering assignments
  javascript/organizing_your_javascript_code/classes.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#28590 Installing PostgreSQL: Fix inconsistent Postgres syntax style
  nodeJS/express/installing_postgresql.md
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: NodeJS, Content: Ruby on Rails

#28591 curriculum/nodeJS/apis/api-basics.md | Fixed the link in 4th paragraph so now it refers to the lesson (Routes) and rewrited paragraph so it connects to the lesson
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS

#28594 consistent `app.METHOD` usage
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#28596 change sentence in databases_and_sql lesson
  databases/databases/databases_and_sql.md
Labels: Content: Databases

#28604 How This Course Will Work: Replace 'documentations' with 'documentation'
  foundations/introduction/how_this_course_will_work.md
Labels: Content: Foundations

#28605 Introduction to Web Development: Replace 'I' with 'We'
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

#28599 Update links-and-images.md
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#28603 Object Basics: update and reorder assignment instructions
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#28600 Introduction to Flexbox: Added slaying the dragon tutorial on flexbox
  foundations/html_css/flexbox/flexbox-intro.md
Labels: Content: Foundations

#28606 https://www.theodinproject.com/lessons/nodejs-api-basics: Fix broken link to CRUD explanation
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS

#28608 Motivation and Mindset: Replace 'checkout' with 'check out'
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#28602 React: Remove redundant default imports of React from code examples
  react/class_components/class_based_components.md
  react/more_react_concepts/refs_and_memoization.md
  react/react_testing/introduction_to_react_testing.md
  react/states_and_effects/how_to_deal_with_side_effects.md
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

#28611 Working With APIs: Clarify visual crossing key location
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript

#27962 Webpack: New second lesson after Project Restaurant Page
  javascript/javascript_in_the_real_world/linting.md
  javascript/organizing_your_javascript_code/revisiting_webpack.md
Labels: Type: New Lesson, Status: Do Not Merge, Content: JavaScript

#27961 Webpack: Rewrite lesson with in-house tutorial (alongside ES6 Modules rewrite)
  javascript/organizing_your_javascript_code/project_restaurant_page.md
  javascript/organizing_your_javascript_code/webpack.md
Labels: Type: Existing Lesson, Status: Do Not Merge, Content: JavaScript

#27953 ES6 Modules: Rewrite lesson (alongside separate PR for Webpack rewrite)
  javascript/organizing_your_javascript_code/es6_modules.md
  javascript/organizing_your_javascript_code/npm.md
Labels: Type: Existing Lesson, Content: JavaScript

#28616 Linting lesson: Fix link href
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#28609 Dynamic User Interface Interactions lesson: Fix grammar in dropdown menu description
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
Labels: Content: JavaScript

#28614 Installing Ruby: : correct rbenv install instructions
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#28575 Update transitions.md
  advanced_html_css/animation/transitions.md
Labels: Content: Advanced HTML/CSS

#28617 Ruby: Add Homebrew verification step
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#28622 Working with Remotes lesson: Reword a knowledge check item
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#28629 fix(ruby): Fix typo in Knights Travails
  ruby/computer_science/project_knights_travails.md
Labels: Content: Ruby

#28628 Update forms_advanced.md
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
Labels: Content: Ruby on Rails

#28627 Update forms_advanced.md
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
Labels: Content: Ruby on Rails

#28634 Intro to CSS: Update a term from "self-closing" to "void" for link element
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#28624 Installing Ruby: Update installing_ruby.md
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#28636 Update project_restaurant_page.md
  javascript/organizing_your_javascript_code/project_restaurant_page.md
Labels: Content: JavaScript

#28644 Update lesson text to more inclusive language
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

#28467 Links and Images lesson: Clarify Content Fix
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#28640 Forms and Data Handling: Use single GET request and req.query for Search functionality
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#28645 Installing Ruby: ruby -v
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#28650 intermediate_html_css/intermediate_css_concepts/default_styles.md: Fixes markdown syntax for code element
  intermediate_html_css/intermediate_css_concepts/default_styles.md
Labels: Content: Intermediate HTML/CSS

#28653 Project_mini_message_board: brief description change
  nodeJS/express/project_mini_message_board.md
Labels: Content: NodeJS

#28648 Clean Code: Reframe lesson to focus on conventions over absolutes
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#28656 Webpack: Fix HtmlWebpackPlugin script tag reference
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#28654 Webpack: Improve clarity in lesson overview
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#28655 Commit Message: Add section how to create commit message with subject
  git/foundations_git/commit_messages.md
Labels: Content: Git

#28176 Set default content and fix lint issues
  intermediate_html_css/grid/introduction_to_grid.md
Labels: Content: Intermediate HTML/CSS

#28662 ES6 Modules: Clarify examples won't work without next section
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#28666 OOP Principles: Change Knowledge Check to questions and amend link in #2. Also, reword Assignment #1.
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

#28668 Refactor: Improve the sentence on line 31
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#28674 ES6 Modules lesson: Remove variable's name in export default examples and edit description
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#28678 Ruby: Fix broken link in the 'Additional Resources' section of the Conditional Logic lesson
  ruby/basic_ruby/conditional_logic.md
Labels: Content: Ruby

#28660 Variables and Operators lesson: Fix link from one of the Knowledge Check
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#27624 feat(foundations/variables and operators): add several examples and clarify a few points
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#28679 Include warning about Prisma not supporting identity columns
  nodeJS/orms/prisma_orm.md
Labels: Content: NodeJS

#28686 HTML Boilerplate lesson - Adjust the display sequence under Head element section
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#28688 JS basics - Variables and Operators: Fix typo
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#28690 React: Update React boilerplate
  react/getting_started_with_react/react_components.md
  react/introduction/setting_up_a_react_environment.md
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#28697 Setting Up A React Environment: Update import explanations of main.jsx
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#28691 Foundations: Remove reference to the show Silicon Valley (tabs vs spaces)
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#28694 Ruby: Update knowledge check href
  ruby/basic_ruby/basic_enumerable_methods.md
Labels: Content: Ruby

#28698 Fix: Comments in code
  ruby/basic_ruby/basic_enumerable_methods.md
Labels: Content: Ruby

#28700 Feat: Keys in React: Replace mentions of uuid with crypto.randomUUID
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#28703 (Basic Enumerable Methods) Chore: Fix Markdownlint Errors
  ruby/basic_ruby/basic_enumerable_methods.md
Labels: Content: Ruby

#28704 Fix: Keys in React: Add missing word
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#28671 NodeJS Deployment Lesson: Update Render free plan informations
  nodeJS/express/deployment.md
Labels: Content: NodeJS

#28706 Foundations: Landing page image fix
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

#28705 Databases and SQL: Update SQL assignments
  databases/databases/databases_and_sql.md
Labels: Content: Databases

#28707 Fix typo in style guides
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#28710 Installations: Update official ubuntu flavor wiki link to official ubuntu link
  foundations/installations/installations.md
Labels: Content: Foundations

#28670 Preparing to Interview and Interviewing: Update Pramp to exponent
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
Labels: Content: Getting Hired

#28712 Data Types and Conditionals: Edit a Knowledge check question
  foundations/javascript_basics/data_types_and_conditionals.md
Labels: Content: Foundations

#28715 Linked List Project: Update Node class wording
  javascript/computer_science/project_linked_lists.md
  ruby/computer_science/project_linked_lists.md
Labels: Content: JavaScript, Content: Ruby
