Repository TheOdinProject/curriculum, pull requests merged in 2024-11, with the labels that each got.

#29035 Intermediate HTML and CSS: Update outdated resources in the Browser Compatibility lesson
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
Labels: Content: Intermediate HTML/CSS

#29038 React Router: Clarify instructions for accessing sub-pages
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#29045 foundations: block-and-inline: clarify introduction text
  foundations/html_css/css-foundations/block-and-inline.md
Labels: Content: Foundations

#29050 Function Basics: Fix typo in assignment section
  foundations/javascript_basics/function_basics.md
Labels: Content: Foundations

#29033 RoR: fix broken link - Private Events
  ruby_on_rails/advanced_forms_and_activerecord/project_private_events.md
Labels: Content: Ruby on Rails

#29047 React : Fixed overview
  react/class_components/component_lifecycle_methods.md
  react/getting_started_with_react/keys_in_react.md
  react/getting_started_with_react/react_components.md
  react/introduction/introduction_to_react.md
  react/states_and_effects/how_to_deal_with_side_effects.md
  react/the_react_ecosystem/react_router.md
  react/the_react_ecosystem/styling_react_applications.md
Labels: Content: React

#29021 Conditional Logic: Correct ternary operator syntax
  ruby/basic_ruby/conditional_logic.md
Labels: Content: Ruby

#29046 RoR: Update link in Active Record Associations
  ruby_on_rails/advanced_forms_and_activerecord/active_record_associations.md
Labels: Content: Ruby on Rails

#28973 Ruby Course: Installing Ruby - Update ruby version
  ruby/introduction/installing_ruby.md
Labels: Status: Do Not Merge, Content: Ruby

#29055 Installing PostgreSQL : Fix typo
  nodeJS/express/installing_postgresql.md
Labels: Content: NodeJS

#29060 Commit Messages: Fix punctuation
  git/foundations_git/commit_messages.md
Labels: Content: Git

#29067 Update importmap.md
  ruby_on_rails/assets_and_navigation/importmap.md
Labels: Content: Ruby on Rails

#29070 Importmap: Fix fenced code block languages and linting
  ruby_on_rails/assets_and_navigation/importmap.md
Labels: Content: Ruby on Rails

#29068 Introduction to Web Development: Tools of the Trade: Added links to Tools of the Trade section
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

#29013 Project HashMap: Improve requirement clarity
  javascript/computer_science/project_hash_map.md
  ruby/computer_science/project_hash_map.md
Labels: Content: JavaScript

#29080 chore: remove broken link | rails | advanced topics
  ruby_on_rails/mailers_advanced_topics/advanced_topics.md
Labels: Content: Ruby on Rails

#29086 fix: bulma instructions | rails | actioncable
  ruby_on_rails/mailers_advanced_topics/actioncable_lesson.md
Labels: Content: Ruby on Rails

#29087 Ruby on Rails Installing Postgresql: Fix link to rails source code on GH
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#29094 Natural Responsiveness: Improve clarity and grammar in fixed width explanation
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

#29093 WAI-ARIA: Use consistent en-US spelling for labelling and labelled
  advanced_html_css/accessibility/wai_aria.md
Labels: Content: Advanced HTML/CSS

#29091 WAI-ARIA: Simplify ARIA label description to reduce redundancy
  advanced_html_css/accessibility/wai_aria.md
Labels: Content: Advanced HTML/CSS

#29103 RoR: fix broken url with archived link - Conclusion
  ruby_on_rails/mailers_advanced_topics/conclusion.md
Labels: Content: Ruby on Rails

#29096 ruby-on-rails-advanced-forms: Add link to docs on checkbox gotcha
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
Labels: Content: Ruby on Rails

#29110 Ruby on rails apis_and_building_your_own.md: Remove dead link
  ruby_on_rails/apis/apis_and_building_your_own.md
Labels: Content: Ruby on Rails

#29117 Ruby on Rails: Update turbo.md
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#29107 Ruby: Project: Caesar Cipher: Fix Ruby Caesar Cipher code example
  ruby/basic_ruby_projects/project_caesar_cipher.md
Labels: Content: Ruby

#29125 Project: Sub Strings: Remove unnecessary note
  ruby/basic_ruby_projects/project_sub_strings.md
Labels: Content: Ruby

#28978 Deployment: Fly.io Hobby plan pricing update
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: Ruby on Rails

#29113 Databases and SQL: Refactor SQL queries
  databases/databases/databases_and_sql.md
Labels: Content: Databases

#29130 Rails - JS Bundling: Rephraseing a sentence for more clarity
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Content: Ruby on Rails

#29133 Setting Up A React Environment: Improve grammar and clarity
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#29131 Keys In React: Improve grammar and punctuation
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React
