Repository TheOdinProject/curriculum, pull requests merged in 2024-05, with the labels that each got.

#27891 Recursive Methods && Project: Recursion && Space complexity: Provided descriptive link texts and updated list with lazy numbering
  javascript/computer_science/project_recursion.md
  javascript/computer_science/recursive_methods.md
  javascript/computer_science/space_complexity.md
Labels: Content: JavaScript

#27908 NodeJS / Deployment : It provides better descriptive names for links for different deployment services
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

#27769 What is JSX?: Remove ordered list from examples to prevent a markdown issue
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

#27816 Keyframes: Animate transform instead of width and height
  advanced_html_css/animation/keyframes.md
Labels: Content: Advanced HTML/CSS

#27914 Getting Hired: Add descriptive link text
  getting_hired/applying_and_interviewing/conclusion.md
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
  getting_hired/applying_and_interviewing/project_resume.md
  getting_hired/applying_and_interviewing/qualify_leads.md
Labels: Content: Getting Hired

#27912 Authentication Basics && Security Configuration && Project: Members Only: Add descriptive link texts
  nodeJS/authentication/authentication_basics.md
  nodeJS/authentication/project_members_only.md
  nodeJS/authentication/security_configuration.md
Labels: Content: NodeJS

#27918 Websockets and Actioncable: Remove unnecessary word in actioncable_lesson.md
  ruby_on_rails/mailers_advanced_topics/actioncable_lesson.md
Labels: Content: Ruby on Rails

#27920 Websockets and Actioncable: Update actioncable_lesson.md with dartsass installation instructions
  ruby_on_rails/mailers_advanced_topics/actioncable_lesson.md
Labels: Content: Ruby on Rails

#27922 Motivation and Mindset: Reword bullet about typing speed
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#27597 Node revamp: Introduction to Express
  nodeJS/express/introduction_to_express.md
Labels: Status: Do Not Merge, Content: NodeJS, Project Node Revamp

#27618 Views: Write Draft For Introduction
  nodeJS/express/views.md
Labels: Content: NodeJS, Project Node Revamp

#27796 Node revamp: Routing
  nodeJS/express/routing.md
Labels: Content: NodeJS, Project Node Revamp

#27921 Update api_basics.md
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS

#27931 Ruby Course HashMap Project: Update method name has(key) to has?(key)
  ruby/computer_science/project_hash_map.md
Labels: Content: Ruby

#27935 Update express_102_crud_and_mvc.md
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
Labels: Content: NodeJS

#27932 Ruby on Rails JS Bundling Lesson: Typo Update
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Content: Ruby on Rails

#27929 Using Git in the Real World: Added a hyperlink to "curriculum" repository.
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#27936 Ruby Basics - Replace Ruby Extension VSC link with Ruby LSP
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby

#27944 HashMap Project: Add option for factory function for HashSet
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

#27943 Intermediate HTML and CSS: Positioning: Fix typo
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#27939 Linting: Update instructions for ESLint v9
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#27946 Command Line Basics lesson: Move "Assignment" Section
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#27948 Working With Text lesson: Added start time to videos to skip series plug
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#27954 Node revamp Intro to Express: Replace Nodemon section with Node built-in watch mode
  nodeJS/express/introduction_to_express.md
Labels: Content: NodeJS, Project Node Revamp

#27952 Update testing_database_operations.md
  nodeJS/testing_express/testing_database_operations.md
Labels: Content: NodeJS

#27874 Styling React Applications: Update styling recommendations
  react/the_react_ecosystem/styling_react_applications.md
Labels: Content: React

#27555 Introduction to React Testing: Remove unnecessary mention of FireEvent
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#27956 Node Pathway: Update descriptive link text (API Security)
  nodeJS/apis/api_security.md
Labels: Content: NodeJS

#27959 Assignment section Rock Paper Scissors project: Fix grammar adding "and"
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#27957 Node Pathway: Update descriptive link text (Conclusion)
  nodeJS/final_project/conclusion.md
Labels: Content: NodeJS

#27964 Changed the order of appearance of padding, margin and border
  foundations/html_css/css-foundations/the-box-model.md
Labels: Content: Foundations

#27963 Introduction to Express: Updated brad traversy express crash course.md
  nodeJS/express_and_mongoose/introduction_to_express.md
Labels: Content: NodeJS

#27969 Ruby on Rails course, Installing PostgreSQL lesson: Remove extra word in sentence
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#27743 Getting Hired - Removes sentence.
  getting_hired/applying_and_interviewing/applying.md
Labels: Content: Getting Hired

#27978 Using Git in the Real World: Fix step 5 in "Ongoing workflow"
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#27987 Update type_checking_with_proptypes.md
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

#27989 Rock Paper Scissors: Fix ambiguous parameter
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#27973 Project: Restaurant Page: Added section on .gitignore templates
  javascript/organizing_your_javascript_code/project_restaurant_page.md
Labels: Content: JavaScript

#27983 Files and Serialization in Ruby: Add read and write videos to additional resources
  ruby/files_and_serialization/files_and_serialization.md
Labels: Content: Ruby

#27995 Transforms: Reword outdated paragraph
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS

#27996 Javascript Course Classes section -> Fix typo in assigment links
  javascript/organizing_your_javascript_code/classes.md
Labels: Content: JavaScript

#28001 Patch ./javascript/: Improve links description. Related to issue 27819
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
  javascript/computer_science/a_very_brief_intro_to_cs.md
  javascript/javascript_in_the_real_world/what_is_es6.md
Labels: Content: JavaScript

#27994 Ruby: Event Manager: Run markdownlint autofixer
  markdownlint/TOP005_blanksAroundMultilineHtmlTags/TOP005_blanksAroundMultilineHtmlTags.js
  markdownlint/TOP005_blanksAroundMultilineHtmlTags/tests/TOP005_test.md
  ruby/files_and_serialization/project_event_manager.md
Labels: Content: Ruby

#28005 Update how_to_deal_with_side_effects.md
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#28006 Update class_based_components.md
  react/class_components/class_based_components.md
Labels: Content: React

#28008 Update mocking_callbacks_and_components lesson links
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#28010 Reducing State lesson: Change reference to Object.is() method
  react/more_react_concepts/reducing_state.md
Labels: Content: React

#28012 Etch-a-Sketch Project: Fix extra credit typo
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations

#27998 Form Basics: add hidden input
  ruby_on_rails/forms_and_authentication/form_basics.md
Labels: Content: Ruby on Rails

#27972 Update from legacy doc
  react/class_components/component_lifecycle_methods.md
Labels: Content: React

#27990 Project Testing Practice: added examples to caesar cipher test cases
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript

#28011 Understanding Errors lesson: New paragraph in the Assigment section.
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations

#27999 hashmaps: rearrange overwriting instructions
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

#28023 Frameworks and Preprocessors: Change Knowledge Check questions and links
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
Labels: Content: Intermediate HTML/CSS

#28025 Ruby Course: Update Ruby Version to 3.3.0
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby/predicate_enumerable_methods.md
  ruby/files_and_serialization/project_event_manager.md
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#28019 Understanding Errors lesson: Remove the repeated video from the Assignment section and add an explanatory video to the Additional resources section
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations

#28020 Revisiting Rock Paper Scissors: Add additional resource
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations

#28035 JavaScript classes lesson: Remove Ruby mentions, update knowledge check link
  javascript/organizing_your_javascript_code/classes.md
Labels: Content: JavaScript

#28024 Project: Testing Practice: Fix indentations of last item
  javascript/testing_javascript/project_testing_practice.md
Labels: Content: JavaScript

#28034 Project: Rails Final Project lesson: Fix "cloudinary" link
  ruby_on_rails/mailers_advanced_topics/project_final.md
Labels: Content: Ruby on Rails

#27128 wip: add Ruby project management lesson
  ruby/basic_ruby/debugging.md
  ruby/introduction/installing_ruby.md
  ruby/object_oriented_programming_basics/managing_ruby_projects.md
Labels: Content: Ruby

#27794 wip: add Rubocop and Linting lesson
  ruby/object_oriented_programming_basics/linting_and_rubocop.md
  ruby/object_oriented_programming_basics/linting_and_rubocop/imgs/quickfixrubocop.png
  ruby/object_oriented_programming_basics/linting_and_rubocop/imgs/rubocopinvsc.png
  ruby/object_oriented_programming_basics/linting_and_rubocop/imgs/rubohover.png
  ruby/object_oriented_programming_basics/object_oriented_programming.md
Labels: Content: Ruby

#28038 Foundation Basics: Extend note on not doing MDN excercises to second article
  foundations/javascript_basics/function_basics.md
Labels: Content: Foundations

#28040 Ruby: Linting and RuboCop: Add statically links to images
  ruby/object_oriented_programming_basics/linting_and_rubocop.md
Labels: Content: Ruby

#28037 React Rendering Techniques: Prevent markdown issue/inconsistency
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#28043 React Rendering Techniques: fix remaining codeblock languages
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#28046 Component Lifecycle Methods: Fix link
  react/class_components/component_lifecycle_methods.md
Labels: Content: React

#28007 Update component_lifecycle_methods.md
  react/class_components/component_lifecycle_methods.md
Labels: Content: React

#28047 Project: Battleship: Fix typo
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript

#27695 Node revamp: Controllers Lesson
  nodeJS/express/controllers.md
Labels: Content: NodeJS, Project Node Revamp

#27576 JS Form Validation: Clarify form validation requirements
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
Labels: Content: JavaScript

#28051 ES6 Modules: Clarified string declaration in import statements
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#28056 Intermediate HTML/CSS - Signup form project: discourage JS use
  intermediate_html_css/forms/project_sign_up_form.md
Labels: Content: Intermediate HTML/CSS

#28052 Testing Basics: Update link text
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript

#28060 Factory Functions and the Module Pattern: Fix Scrimba link
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#28062 Managing Ruby Projects: Fix file name in example
  ruby/object_oriented_programming_basics/managing_ruby_projects.md
Labels: Content: Ruby

#28058 Ruby Course:: Debugging lesson: Fix typo
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby

#28066 Node revamp: Intro to Express - Fix lesson overview item
  nodeJS/express/introduction_to_express.md
Labels: Content: NodeJS, Project Node Revamp

#28053 Ruby on Rails Routers lesson: Update outdated information about Postman Chrome Extension
  ruby_on_rails/rails_basics/routing.md
Labels: Content: Ruby on Rails

#28073 Homepage project: Remove submission warning note box
  advanced_html_css/responsive_design/project_homepage.md
Labels: Content: Advanced HTML/CSS

#28067 Basic Informational Site: Change instruction order
  nodeJS/introduction_to_nodeJS/project_basic_informational_site.md
Labels: Content: NodeJS

#28036 deployment: update Fly.io pricing info
  nodeJS/express_and_mongoose/deployment.md
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: NodeJS, Content: Ruby on Rails

#28077 Inventory: changes "collection" to "database" when telling user to create a new one for this project.
  nodeJS/express_and_mongoose/project_inventory_application.md
Labels: Content: NodeJS

#28057 React Course/Mocking Callbacks And Components/Add new article
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#28084 Project: Rock Paper Scissors: Change wording of JS link check step
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#27955 Update the-box-model lesson. Add hint on how to use Dev Tool to perform the suggested change from the curriculum.
  foundations/html_css/css-foundations/the-box-model.md
Labels: Content: Foundations

#27868 Update intermediate HTML CSS/ CSS positioning lesson/Additional resources section: Adding a video
  intermediate_html_css/intermediate_css_concepts/positioning.md
Labels: Content: Intermediate HTML/CSS

#28086 Introduction to Git: Change controversial video link to GitHub docs link
  git/foundations_git/introduction_to_git.md
Labels: Content: Git
