Repository TheOdinProject/curriculum, pull requests merged in 2024-06, with the labels that each got.

#28088 Express 105: Remove unnecessary "create new database" wording
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
Labels: Content: NodeJS

#28075 Various lessons: Fix linting issues
  getting_hired/preparing_for_job_search/starts_with_you.md
  nodeJS/express_and_mongoose/project_mini_message_board.md
  react/the_react_ecosystem/project_shopping_cart.md
  ruby/computer_science/project_linked_lists.md
  ruby_on_rails/forms_and_authentication/project_forms.md
Labels: Content: Getting Hired, Content: NodeJS, Content: Ruby, Content: Ruby on Rails, Content: React

#28092 Working with Remotes lesson: Replace amend with commit --amend
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#28100 React More on State lesson: revise assignment wording
  react/states_and_effects/more_on_state.md
Labels: Content: React

#27860 Advanced HTML and CSS transitions: add additional article
  advanced_html_css/animation/transitions.md
Labels: Content: Advanced HTML/CSS

#28101 Qualifying Job Leads: Fix link typo
  getting_hired/applying_and_interviewing/qualify_leads.md
Labels: Content: Getting Hired

#28105 Ruby On Rails Installing Postgres Lesson: Fix a typo
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#28108 Foundations: Fix typo in Variables & Operators lesson
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#28109 Passing Data Between Components lesson: Change http to https
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React

#28111 Async and Await: Add blog post to Additional Resources
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript

#28002 Git Basics: replaced screenshots with equivalent text and code snippets
  README.md
  git/foundations_git/git_basics.md
  git/foundations_git/git_basics/imgs/00.png
  git/foundations_git/git_basics/imgs/01.png
  git/foundations_git/git_basics/imgs/02.png
  git/foundations_git/git_basics/imgs/03.png
  git/foundations_git/git_basics/imgs/04.png
  git/foundations_git/git_basics/imgs/05.png
  git/foundations_git/git_basics/imgs/06.png
  git/foundations_git/git_basics/imgs/07.png
  git/foundations_git/git_basics/imgs/08.png
  git/foundations_git/git_basics/imgs/09.png
  git/foundations_git/git_basics/imgs/10.png
  git/foundations_git/git_basics/imgs/11.png
  git/foundations_git/git_basics/imgs/12.png
  git/foundations_git/git_basics/imgs/13.png
  git/foundations_git/git_basics/imgs/14.png
  git/foundations_git/git_basics/imgs/15.png
  git/foundations_git/git_basics/imgs/16.png
  git/foundations_git/git_basics/imgs/17.png
  git/foundations_git/git_basics/imgs/18.png
  git/foundations_git/git_basics/imgs/19.png
  git/foundations_git/git_basics/imgs/20.png
Labels: Content: Git

#28113 Linting and RuboCop: Fix typo of "whoa"
  ruby/object_oriented_programming_basics/linting_and_rubocop.md
Labels: Content: Ruby

#28118 Working with External APIs: Add Mention of OmniAuth Via Devise
  ruby_on_rails/apis/working_with_external_apis.md
Labels: Content: Ruby on Rails

#28123 Maintain react syntax
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

#28128 Int HTML/CSS Form Basics: Use level 4 headings instead of emphasis
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

#28135 CSS: Update scrim link for The Cascade (Additional Resources)
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#28141 Installations: Clarify phrasing around the correct Ubuntu version number
  foundations/installations/installations.md
Labels: Content: Foundations

#28132 Surround html tag with lines to follow lint
  foundations/installations/how_does_the_web_work.md
Labels: Content: Foundations

#28134 React: Update project CV application specifications
  react/states_and_effects/project_cv_application.md
Labels: Content: React

#28143 Installations: Remove extra sections in CLI Basics lesson
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#28148 Correct grammar
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#27980 Passing Data Between Components: Remove unnecessary note
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React

#27886 Git Basics: Added a beginner-friendly git handbook to additional resources
  git/foundations_git/git_basics.md
Labels: Content: Git

#28127 Command Line Basics: Add note in case of missing Desktop folder
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#28149 Fix lint: Sections have default content
  foundations/installations/computer_basics.md
Labels: Content: Foundations

#28146 Make Knowledge Check section have default content and Improve grammar
  foundations/introduction/asking_for_help.md
Labels: Content: Foundations

#28150 Nodejs: Update for a more readable text for Event Loop video
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#28137 Improve grammar
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

#28154 Correct grammar and Improve clarity
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#28190 Ruby: Linting and Rubocop: Fix syntax for inherit_from:
  ruby/object_oriented_programming_basics/linting_and_rubocop.md
Labels: Content: Ruby

#28191 CSS: Update link for Additional Resource section
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#28188 Set default content
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#28187 Set default content
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

#28185 Update linting_and_rubocop.md - Problem with ~ directory and rubocop
  ruby/object_oriented_programming_basics/linting_and_rubocop.md
Labels: Content: Ruby

#28130 Hash Map Lesson: Clarify fullness
  javascript/computer_science/hash_map_data_structure.md
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript, Content: Ruby

#28166 NodeJS Getting Started: Fix grammar
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

#28159 Set default content and correct grammar
  foundations/html_css/html-foundations/elements-and-tags.md
Labels: Content: Foundations

#28183 Set default content
  javascript/computer_science/a_very_brief_intro_to_cs.md
Labels: Content: JavaScript

#28167 Set default content and fix lint issues
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Content: Foundations

#28160 Correct grammar and Improve clarity
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#28199 Deployment Lessons Rails/Node Change Fly.io free allowance pricing info
  nodeJS/express_and_mongoose/deployment.md
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: NodeJS, Content: Ruby on Rails

#28168 Set default content and fix lint issues
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations

#28153 Correct grammar and improve clarity
  foundations/installations/text_editors.md
Labels: Content: Foundations

#28161 Correct grammar and improve clarity
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#28174 Set default content
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
Labels: Content: Intermediate HTML/CSS

#28136 Improve clarity
  foundations/introduction/how_this_course_will_work.md
Labels: Content: Foundations

#28202 JavaScript: How This Course Will Work: Change sentence formation
  javascript/introduction/how_this_course_will_work.md
Labels: Content: JavaScript

#28152 Correct grammar and Improve clarity
  foundations/installations/installation_overview.md
Labels: Content: Foundations

#28157 Correct grammar and Improve clarity
  git/foundations_git/git_basics.md
Labels: Content: Git

#28155 Correct grammar and Improve clarity
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#28201 Ruby Space Complexity: Add article and video to additional resources
  ruby/computer_science/space_complexity.md
Labels: Content: Ruby

#28158 Set default content
  foundations/html_css/html-foundations/intro-to-html-css.md
Labels: Content: Foundations

#28163 Fix lint issues
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#28195 Set default content
  nodeJS/introduction_to_nodeJS/debugging_node.md
Labels: Content: NodeJS

#28182 Set default content
  javascript/computer_science/time_complexity.md
Labels: Content: JavaScript

#28181 Set default content
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#27583 Update installations.md
  foundations/installations/installations.md
Labels: Content: Foundations

#28186 Fix lint issues
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

#28193 Set default content
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#28184 Fix lint issues
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript

#28178 Fix lint issues
  advanced_html_css/responsive_design/introduction_to_responsive_design.md
Labels: Content: Advanced HTML/CSS

#28180 Set default content
  advanced_html_css/accessibility/introduction_to_web_accessibility.md
Labels: Content: Advanced HTML/CSS

#28165 Correct grammar and fix lint issues
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#28169 Set default content
  foundations/javascript_basics/arrays_and_loops.md
Labels: Content: Foundations

#28213 Ruby on Rails Flight Booker Project: Fix broken link
  ruby_on_rails/advanced_forms_and_activerecord/project_flight_booker.md
Labels: Content: Ruby on Rails

#28214 remove link that returns 503
  getting_hired/preparing_for_job_search/project_portfolio.md
Labels: Content: Getting Hired

#28170 Set default content and fix lint issues
  intermediate_html_css/intermediate_css_concepts/css_units.md
Labels: Content: Intermediate HTML/CSS

#28172 Set default content
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#28173 Set default content
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
Labels: Content: Intermediate HTML/CSS

#28177 Set default content
  advanced_html_css/responsive_design/responsive_images.md
Labels: Content: Advanced HTML/CSS

#28179 Fix lint issues
  advanced_html_css/accessibility/accessibility_auditing.md
Labels: Content: Advanced HTML/CSS

#28206 Order sections according to convention
  nodeJS/apis/api_basics.md
Labels: Content: NodeJS

#28207 Order sections according to convention
  nodeJS/apis/api_security.md
Labels: Content: NodeJS

#28210 Set default content
  nodeJS/final_project/conclusion.md
Labels: Content: NodeJS

#28209 Set default content
  nodeJS/testing_express/testing_database_operations.md
Labels: Content: NodeJS

#28208 Set default content and fix lint
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS

#27784 Foundations/Growing and Shrinking/Provide descriptive link text
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Content: Foundations

#28212 Set default content
  ruby/basic_ruby/input_and_output.md
Labels: Content: Ruby

#28225 Set default content and fix lint issues
  ruby/basic_ruby/conditional_logic.md
Labels: Content: Ruby

#28228 Set default content and fix lint issues
  ruby/basic_ruby/hashes.md
Labels: Content: Ruby

#28227 Set default content and fix lint issues
  ruby/basic_ruby/arrays.md
Labels: Content: Ruby

#28226 Set default content and fix lint issues
  ruby/basic_ruby/loops.md
Labels: Content: Ruby

#28233 Ruby mastermind: Update how to play guide from Wikipedia to wikiHow
  ruby/object_oriented_programming_basics/project_mastermind.md
Labels: Content: Ruby

#28171 Set default content and fix lint issues
  intermediate_html_css/intermediate_css_concepts/more_css_properties.md
Labels: Content: Intermediate HTML/CSS

#28242 Flexbox Growing and Shrinking lesson: Fix broken link in additional resources
  foundations/html_css/flexbox/flexbox-growing-and-shrinking.md
Labels: Content: Foundations

#28240 Foundations HTML-Boilerplate: Update options for opening an html file from the command line.
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#28234 Ruby I/O: Fix repetitive link text
  ruby/basic_ruby/input_and_output.md
Labels: Content: Ruby

#28231 feat: project file uploader
  nodeJS/orms/project_file_uploader.md
Labels: Content: NodeJS, Project Node Revamp

#28244 Keys in React lesson: Change JS comment to JSX comment
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#28211 Set default content
  ruby/basic_ruby/variables.md
Labels: Content: Ruby

#27603 Update installing_nodejs.md
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations

#28252 Project Etch-a-Sketch: Clarify Extra credit instructions
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations

#28254 React: Add import to functions from vitest && Note about globals needing extra config
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#28255 Passing Data Between Components lesson: Fix typo in example quote
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: JavaScript, Content: React

#28245 Project HashMap: Added new section to test user hash map
  javascript/computer_science/project_hash_map.md
Labels: Content: JavaScript

#28256 Battleship: Include reference to react testing
  javascript/testing_javascript/project_battleship.md
Labels: Content: JavaScript

#28258 Event Manager Project: Add lesson note about API key security
  ruby/files_and_serialization/project_event_manager.md
Labels: Content: Ruby

#28220 Using Flexbox and Grid lesson: Add note on second assignment
  intermediate_html_css/grid/using_flexbox_and_grid.md
Labels: Content: Intermediate HTML/CSS

#28251 Update setting_up_git.md
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#28261 JS Linting: Add ESLint v9/flatconfig support warning and eslint-config-prettier mention
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#28074 DOM Manipulation and Events: More clearly describe the relationship between nodes and elements.
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#28262 Setting Up Git: Restore accidentally deleted lesson content
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#28264 NodeJS Course, Getting Started lesson: Add link to http.createServer
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

#28265 Ruby on Rails External APIs Lesson: Change link text
  ruby_on_rails/apis/working_with_external_apis.md
Labels: Content: Ruby on Rails

#28270 React: Update vitest imports
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#28263 Added hash map tests for Ruby
  ruby/computer_science/project_hash_map.md
Labels: Content: Ruby

#28268 Ruby: Linting and RuboCop: Fix code blocks
  ruby/object_oriented_programming_basics/linting_and_rubocop.md
Labels: Content: Ruby

#28275 Variables and Operators lesson: Fix typo in introduction paragraph
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#28274 Keys in react: Reword paragraph about importance of keys to improve readability.
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#28282 More on state: Reword sentence about asynchronous state updates to better fit Odin Project writing style.
  react/states_and_effects/more_on_state.md
Labels: Content: React

#28284 Edit working-with-text.md, small wording adjustment
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#28286 Using Git in the Real World: Add assignment section
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#28283 Building Your Resume Project: Update link for Career Cup example
  getting_hired/applying_and_interviewing/project_resume.md
Labels: Content: Getting Hired

#28277 Project: Custom Enumerables: Added link to Additional resources list
  ruby/advanced_ruby/project_custom_enumerables.md
Labels: Content: Ruby

#28224 Javascript/Objects and Object Constructors lesson: Simplify Assignment and Additional Resources
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#28280 Introduction to state: Update 3rd assignment to make it easier for learners to understand.
  react/states_and_effects/introduction_to_state.md
Labels: Content: React

#28291 Foundations: Amend sentence
  foundations/installations/installation_overview.md
Labels: Content: Foundations

#28296 Git: Update git reset command from HEAD^ to HEAD~
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#28289 JS Linting: Remove release version-specific note box
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#28295 asset_pipeline.md: Removed a outdated learning objective
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
Labels: Content: Ruby on Rails

#28293 Rails: Update link texts to improve accessibility
  ruby_on_rails/mailers_advanced_topics/actioncable_lesson.md
  ruby_on_rails/mailers_advanced_topics/conclusion.md
  ruby_on_rails/mailers_advanced_topics/project_final.md
  ruby_on_rails/mailers_advanced_topics/websockets_and_actioncable.md
Labels: Content: Ruby on Rails

#28302 A Deeper Look at Git: Restructure code block
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#28303 Ruby: Update descriptive links in first three lessons
  ruby/basic_ruby/basic_data_types.md
  ruby/introduction/how_this_course_will_work.md
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#28301 Installations: Update more resources on Windows support statement
  foundations/installations/installation_overview.md
Labels: Content: Foundations

#28305 Inspecting HTML and CSS : Fix typo in introduction
  foundations/html_css/css-foundations/inspecting-html-and-css.md
Labels: Content: Foundations

#28306 Setting Up A React Environment: Remove mention of eslint-config-prettier
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#27634 React Router: Add additional resources talking about loaders
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#28311 Ruby Project Management: Adjust link of first assignment
  ruby/object_oriented_programming_basics/managing_ruby_projects.md
Labels: Content: Ruby

#28308 JavaScript Developer Tools: Fix grammar
  foundations/javascript_basics/javascript_developer_tools.md
Labels: Content: Foundations

#28307 Ruby: Add wikiHow blog for game reference
  ruby/files_and_serialization/project_hangman.md
Labels: Content: Ruby

#28309 Introduction to state: Update 3rd assignment step with a guide for how to fork the codesandbox
  react/states_and_effects/introduction_to_state.md
Labels: Content: React

#28310 Methods lesson: Provide descriptive link text
  ruby/basic_ruby/methods.md
Labels: Content: Ruby

#28314 Ruby: Update link texts to clearly describe it's content
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby_projects/project_caesar_cipher.md
Labels: Content: Ruby

#28299 Linting and RuboCop: Update extension installation instructions
  ruby/object_oriented_programming_basics/linting_and_rubocop.md
Labels: Content: Ruby

#28316 How This Course Will Work: Emphasise projects are not tests of memory but practice points
  foundations/introduction/how_this_course_will_work.md
Labels: Content: Foundations

#28315 Ruby: Make links in CS section more descriptive
  ruby/computer_science/a_very_brief_intro_to_cs.md
  ruby/computer_science/project_recursion.md
  ruby/computer_science/recursive_methods.md
Labels: Content: Ruby

#28319 Foundations Block and Inline Lesson: Fix typo
  foundations/html_css/css-foundations/block-and-inline.md
Labels: Content: Foundations

#28320 Dynamic User Interface Interactions: Fix outdated instructions
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
Labels: Content: JavaScript
