Repository TheOdinProject/curriculum, pull requests merged in 2024-07, with the labels that each got.

#28317 Ruby on Rails Databases Course: Improve link text accessiblity
  databases/databases/databases.md
  databases/databases/project_sql_zoo.md
Labels: Content: Databases

#28326 Project: Odin-Book - Fix missing link.
  nodeJS/final_project/project_odin_book.md
Labels: Content: NodeJS

#28327 Factory Functions and the Module Pattern lesson: Change broken link
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#28329 Installations: Add chrome shortcuts in additional resources section
  foundations/installations/installations.md
Labels: Content: Foundations

#28338 Linting and RuboCop lesson: Fix weird phrasing
  ruby/object_oriented_programming_basics/linting_and_rubocop.md
Labels: Content: Ruby

#28312 Ruby On Rails: Update link text
  ruby_on_rails/apis/working_with_external_apis.md
Labels: Content: Ruby on Rails

#28322 Ruby: Provide descriptive link text
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/predicate_enumerable_methods.md
Labels: Content: Ruby

#28346 Join the Odin Community: Add missing LO/KC sections and fix google bot command
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#28345 JS Recursive Methods: Change incorrect to incomplete
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript

#28348 Update project_cv_application.md with React.StrictMode warning
  react/states_and_effects/project_cv_application.md
Labels: Content: React

#28339 Data structures algorithms
  ruby/computer_science/common_data_structures_algorithms.md
Labels: Content: Ruby

#28354 Hash Map Data Structure lesson in Ruby: Fix two link texts
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: Ruby

#28360 Ruby Object Oriented Programming Basics: Remove unnecessary link
  ruby/object_oriented_programming_basics/object_oriented_programming.md
Labels: Content: Ruby

#28350 Rails Pathway: Provide descriptive link text
  ruby/conclusion/conclusion.md
  ruby/testing_ruby_with_rspec/introduction_to_rspec.md
Labels: Content: Ruby

#28144 Correct grammar and Improve clarity
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#27554 Component Lifecycle Methods: Add link to canvas element
  react/class_components/component_lifecycle_methods.md
Labels: Content: React

#28362 Added descriptive text to the links of the lessons and projects Bubbl…
  ruby/basic_ruby_projects/project_bubble_sort.md
  ruby/files_and_serialization/files_and_serialization.md
  ruby/object_oriented_programming_basics/object_oriented_programming.md
  ruby/object_oriented_programming_basics/project_tic_tac_toe.md
Labels: Content: Ruby

#28363 Advanced Ruby : Changed some descriptive link texts
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
  ruby/advanced_ruby/project_custom_enumerables.md
Labels: Content: Ruby

#28371 Rails basics : Change link texts
  ruby_on_rails/rails_basics/deployment.md
  ruby_on_rails/rails_basics/project_blog_app.md
  ruby_on_rails/rails_basics/routing.md
Labels: Content: Ruby on Rails

#28365 Rails pathway: link fix for Advanced Forms & Project: Flight Booker lessons
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
  ruby_on_rails/advanced_forms_and_activerecord/project_flight_booker.md
Labels: Content: Ruby on Rails

#28230 feat: prisma lesson
  nodeJS/orms/prisma_orm.md
Labels: Content: NodeJS, Project Node Revamp

#28378 HTML: Use note box for note
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#28377 Javascript: Update link for knowledge check section
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#28347 Switching from WeatherAPI to Visual Crossing in the API lessons
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
Labels: Content: JavaScript

#28356 Sub step about closing TOP in Windows and reminder to follow Linux instructions.
  foundations/installations/installations.md
Labels: Content: Foundations

#28392 Ruby Course (various): Link updates as per Issue 28290
  ruby/conclusion/project_ruby_final.md
  ruby/testing_ruby_with_rspec/project_connect_four.md
  ruby/testing_ruby_with_rspec/test_driven_development.md
Labels: Content: Ruby

#28393 React: Remove the rogue orange dot from console log img
  react/states_and_effects/more_on_state/imgs/00.png
Labels: Content: React

#28394 React: Add updated image href for the rogue orange dot
  react/states_and_effects/more_on_state.md
Labels: Content: React

#28376 Rails Advanced Forms: Fix code block languages
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
Labels: Content: Ruby on Rails

#28399 Class Based Components: Replace a link href with the correct site
  react/class_components/class_based_components.md
Labels: Content: React

#28398 Project: Connect Four: Reverse the order of the first two assignments, as per issue #28385
  ruby/testing_ruby_with_rspec/project_connect_four.md
Labels: Content: Ruby

#28402 Ruby on Rails: update link text
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
  ruby_on_rails/advanced_forms_and_activerecord/project_private_events.md
Labels: Content: Ruby on Rails

#28406 Passing Data Between Components lesson: Refeactor `DefaultProps` Section to Use Default Parameters
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React

#28405 JS Linting: Remove "use flat config" setting mention
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#28381 Node revamp: Environment Variables lesson
  nodeJS/introduction_to_nodeJS/environment_variables.md
Labels: Content: NodeJS, Project Node Revamp

#28411 turbo: update broken link
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#28413 Update data_types_and_conditionals.md
  foundations/javascript_basics/data_types_and_conditionals.md
Labels: Content: Foundations

#28366 feat(hashmap data structure): add additional resource on hash functions
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

#28340 Advanced HTML and CSS Course: Adds A11y Project as Additional Resource
  advanced_html_css/accessibility/the_web_content_accessibility_guidelines_wcag.md
Labels: Content: Advanced HTML/CSS

#28408 React Conclusion: Update wording in regards to metaframeworks
  react/conclusion/conclusion_full_stack_javascript.md
  react/conclusion/conclusion_ruby_on_rails.md
Labels: Content: React

#28380 Ruby course: Add example results for two projects
  ruby/computer_science/project_knights_travails.md
  ruby/computer_science/project_linked_lists.md
  ruby/computer_science/project_recursion.md
Labels: Content: Ruby, Content: Git

#28418 Fetching Data In React: Add resource to Additional Resources section
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#28416 JS Comp Sci: Provide example results (translation from Ruby version)
  javascript/computer_science/project_linked_lists.md
  javascript/computer_science/project_recursion.md
Labels: Content: JavaScript

#28422 Ruby & JavaScript (A very brief intro to CS): Enhancement of resource #28417
  javascript/computer_science/a_very_brief_intro_to_cs.md
  ruby/computer_science/a_very_brief_intro_to_cs.md
Labels: Content: JavaScript, Content: Ruby

#28424 Update closure paragraph and knowledge check
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
Labels: Content: JavaScript

#28425 Landing Page: Fix typo
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

#27984 Feat node revamp deployment
  nodeJS/express/deployment.md
Labels: Content: NodeJS, Project Node Revamp

#28429 Members Only project: Fix Devise link texts
  ruby_on_rails/forms_and_authentication/project_members_only.md
Labels: Content: Ruby on Rails

#28442 Revamp Express Routes: Fix typos
  nodeJS/express/routing.md
Labels: Content: NodeJS

#28443 Update function_basics.md
  foundations/javascript_basics/function_basics.md
Labels: Content: Foundations

#28428 Sessions Cookies and Authentication lesson: Fix link text
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

#28446 Advanced HTML and CSS Transforms lesson: Provide better explanation for transform order.
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS

#28447 Transforms lesson: Fix "assignment" section link
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS

#28390 Node revamp: Add Express forms and validation lesson
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS, Project Node Revamp

#27965 feat: path agnostic sql course
  databases/databases/databases_and_sql.md
Labels: Content: Databases, Project Node Revamp

#27974 feat: update testing db instructions lesson
  nodeJS/testing_express/testing_database_operations.md
Labels: Content: NodeJS, Project Node Revamp

#28095 Node Revamp: Update Authentication Basics Lesson
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS, Project Node Revamp

#28448 Express Forms: Fix spacing and link text accessibility
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#28449 Update installing_postgresql.md
  nodeJS/express/installing_postgresql.md
Labels: Content: NodeJS

#28450 Databases: Remove mention of server side
  databases/databases/databases.md
Labels: Content: Databases

#28454 Node: Express Controllers Lesson Small User.Controller Typo Fix
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#28431 Fix link name and lint errors
  ruby/computer_science/project_binary_search_trees.md
  ruby/computer_science/project_knights_travails.md
  ruby/computer_science/space_complexity.md
Labels: Content: Ruby

#28427 Form Basics lesson: Update link text for better accessibility
  ruby_on_rails/forms_and_authentication/form_basics.md
Labels: Content: Ruby on Rails

#28459 Installations Foundations Course: add "the" for grammar
  foundations/installations/installations.md
Labels: Content: Foundations

#28458 Command Line Basics Foundations Course: add full stop
  foundations/installations/command_line_basics.md
Labels: Content: Foundations

#28434 Ruby lesson: update ruby patch version
  ruby/introduction/installing_ruby.md
  ruby/object_oriented_programming_basics/managing_ruby_projects.md
Labels: Content: Ruby, Content: Ruby on Rails

#28438 How This Course Will Work lesson: Fix annotations
  ruby/introduction/how_this_course_will_work.md
Labels: Content: Ruby

#28461 Time Complexity lesson: Fix Knowledge Check link
  javascript/computer_science/time_complexity.md
  package-lock.json
Labels: Content: JavaScript

#28437 Installing Ruby: Update instructions
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#28465 NodeJS: Getting Started: Remove env bullet point
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

#28462 Databases and SQL: Remove Suggestion that Causes Error
  databases/databases/databases_and_sql.md
Labels: Content: Databases

#28464 NodeJS Authentication Basics Lesson: Fix LocalStrategy
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#28455 Node Env lesson: Fix punctuation and article
  nodeJS/introduction_to_nodeJS/environment_variables.md
Labels: Content: NodeJS

#28475 NodeJS/Express/views.md: NodeJS views lesson: Fix head elem closing tag on EJS example
  nodeJS/express/views.md
Labels: Content: NodeJS

#28477 NodeJS course, Conclusion: Replace the relational data recommendation with the non-relational one
  nodeJS/final_project/conclusion.md
Labels: Content: NodeJS

#28476 Intro to React testing: Create note from assignment list
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#28480 NodeJS forms and data handling lesson: add input elements id's
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#28482 JS BST: Amend traversal functions requirements
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#28485 SQLZoo: Change Engine to PostgreSQL
  databases/databases/project_sql_zoo.md
Labels: Content: Databases

#28490 Revert "SQLZoo: Change Engine to PostgreSQL"
  databases/databases/project_sql_zoo.md
Labels: Content: Databases

#28494 Intermediate HTML/CSS: Reword responsive layout statement for sign-up form project
  intermediate_html_css/forms/project_sign_up_form.md
Labels: Content: Intermediate HTML/CSS

#28492 Introduction to Git Foundations Course: add question mark
  git/foundations_git/introduction_to_git.md
Labels: Content: Git

#28493 Elements and Tags Foundations Course: proper capitalization
  foundations/html_css/html-foundations/elements-and-tags.md
Labels: Content: Foundations

#28497 Refs And Memoization: fix sentence
  react/more_react_concepts/refs_and_memoization.md
Labels: Content: React

#28499 Rails Pathway: Provide descriptive link text.
  ruby_on_rails/mailers_advanced_topics/mailers.md
  ruby_on_rails/mailers_advanced_topics/project_sending_confirmation_emails.md
  ruby_on_rails/rails_sprinkles/stimulus_js.md
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#28468 Basic Data Types: Add clarification
  ruby/basic_ruby/basic_data_types.md
Labels: Content: Ruby

#28495 Ruby - Advanced topic: Updated links to become more descriptive
  ruby_on_rails/mailers_advanced_topics/advanced_topics.md
Labels: Content: Ruby on Rails

#28430 Ruby on Rails Websockets And ActionCable: Replace outdated event name
  ruby_on_rails/mailers_advanced_topics/websockets_and_actioncable.md
Labels: Content: Ruby on Rails

#28504 Ruby Advanced Topics: Fix language tags
  ruby_on_rails/mailers_advanced_topics/advanced_topics.md
Labels: Content: Ruby on Rails

#28506 Deployment: Remove mentions about the MDN tutorial.
  nodeJS/express/deployment.md
Labels: Content: NodeJS

#28483 Views: Update views with locals information
  nodeJS/express/views.md
Labels: Content: NodeJS

#28466 Project Sending Confirmations: Add WSL instructions for Letter Opener
  ruby_on_rails/mailers_advanced_topics/project_sending_confirmation_emails.md
Labels: Content: Ruby on Rails

#28440 Primitives vs object
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#28513 Node Postgres: Consistent casing convention
  nodeJS/express/using_postgresql.md
Labels: Content: NodeJS

#28509 Node views: Split static asset path from call
  nodeJS/express/views.md
Labels: Content: NodeJS

#28508 Node forms: fix typo
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#28514 NodeJS Databases: remove ebook reference
  databases/databases/databases.md
Labels: Content: Databases

#28502 Ruby on Rails: Update JS Bundling lesson & Flickr/Kittens API projects to use descriptive link text.
  ruby_on_rails/apis/project_flickr_api.md
  ruby_on_rails/apis/project_kittens_api.md
  ruby_on_rails/rails_sprinkles/js_bundling.md
Labels: Content: Ruby on Rails

#28523 Databases and SQL: change wording
  databases/databases/databases_and_sql.md
Labels: Content: Databases

#28525 NodeJS Controllers: Fix spelling error in curriculum
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#28518 Javascript Controllers: Fix small typo in lesson.
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#28521 project_members_only.md : Fix link to PasS deployment
  nodeJS/authentication/project_members_only.md
Labels: Content: NodeJS

#28520 Authentication Basics: Fix Typos/Syntax
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#28456 Ruby on Rails: Add descriptive link text
  ruby_on_rails/apis/apis_and_building_your_own.md
Labels: Content: Ruby on Rails

#28481 Express Forms: Fix code-along consistency and structure
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#28532 Node course: Update links in lessons
  nodeJS/apis/project_blog_api.md
  nodeJS/express/deployment.md
Labels: Content: NodeJS

#28533 chore: cleanup after node revamp milestone 1
  archive/nodeJS/authentication/security_configuration.md
  archive/nodeJS/express_and_mongoose/deployment.md
  archive/nodeJS/express_and_mongoose/express_101.md
  archive/nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
  archive/nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
  archive/nodeJS/express_and_mongoose/express_104_view_templates.md
  archive/nodeJS/express_and_mongoose/introduction_to_express.md
  archive/nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
  archive/nodeJS/express_and_mongoose/project_inventory_application.md
  archive/nodeJS/express_and_mongoose/project_mini_message_board.md
  archive/nodeJS/mongoDB/intro_to_mongoDB.md
Labels: Type: Chore

#28505 Weather App: Remove temporary note box re API change
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
Labels: Content: JavaScript
