Repository TheOdinProject/curriculum, pull requests merged in 2024-02, with the labels that each got.

#27250 Correct 3 instances of small grammar errors when using "a" instead of "an" within the Working With Text and the Links and Images lessons
  foundations/html_css/html-foundations/links-and-images.md
  foundations/html_css/html-foundations/working-with-text.md
Labels: Content: Foundations

#27254 Project: Linked Lists fix misleading wording error
  javascript/computer_science/project_linked_lists.md
Labels: Content: JavaScript

#27257 BST project: parameter definitions for methods with args
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#27147 React - CV-Application - #27092 regarding chosing a site to deploy the project on
  react/states_and_effects/project_cv_application.md
Labels: Content: React

#27259 Block and Inline lesson: fix link description
  foundations/html_css/css-foundations/block-and-inline.md
Labels: Content: Foundations

#27260 Installing Node.js: Update file per layout style guide
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations

#27261 Update nested lists indentation
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#27262 Javascript basics, fundamentals 4 lesson: updated style of lists
  foundations/javascript_basics/fundamentals-4.md
Labels: Content: Foundations

#27220 Problem solving/Foundations: Update lists per layout style guide
  foundations/javascript_basics/problem_solving.md
Labels: Content: Foundations

#27270 Recursive Methods: Add video resource on recursion problems
  javascript/computer_science/recursive_methods.md
Labels: Content: JavaScript

#27101 JS Linked Lists: Add mention of ES6 modules with Node
  javascript/computer_science/project_linked_lists.md
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#27226 Foundations: Installations: Update instructions for dealing with scrolling issues
  foundations/installations/installations.md
Labels: Content: Foundations

#27280 HashMap Data Structure Lesson: Improve formatting and clarify a key point
  javascript/computer_science/hash_map_data_structure.md
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

#27287 Fix typo in opening sentence of lesson for Project: Knights Travails. Closes #27285.
  javascript/computer_science/project_knights_travails.md
Labels: Content: JavaScript

#27277 JS HashMap project: clarify a few parts of the assignment, which were discussed in an issue
  javascript/computer_science/project_hash_map.md
  ruby/computer_science/project_hash_map.md
Labels: Content: JavaScript, Content: Ruby

#27290 Binary Search Trees: Make array use code tag
  javascript/computer_science/project_binary_search_trees.md
  ruby/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#27269 DOM Manipulation and Events: Update lists per layout style guide
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#27315 Clean Code Lesson: Fix grammatical error
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#27251 React/Update keys_in_react.md: fix comment styling inconsistency
  react/getting_started_with_react/keys_in_react.md
Labels: Content: React

#27303 Advanced HTML and CSS/Semantic HTML: Update codeblocks as per style-guide
  advanced_html_css/accessibility/semantic_html.md
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Advanced HTML/CSS, Content: Foundations

#27294 Foundations/Revisiting Rock Paper Scissors: Update ordered list as per style guide
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations

#26995 React : Remove Words
  react/class_components/class_based_components.md
  react/getting_started_with_react/keys_in_react.md
  react/getting_started_with_react/react_components.md
  react/getting_started_with_react/rendering_techniques.md
  react/getting_started_with_react/what_is_jsx.md
  react/more_react_concepts/managing_state_with_context_api.md
  react/more_react_concepts/refs_and_memoization.md
  react/react_and_the_backend/project_wheres_waldo_a_photo_tagging_app.md
  react/react_testing/mocking_callbacks_and_components.md
  react/states_and_effects/how_to_deal_with_side_effects.md
  react/states_and_effects/introduction_to_state.md
  react/the_react_ecosystem/fetching_data_in_react.md
  react/the_react_ecosystem/react_router.md
  react/the_react_ecosystem/type_checking_with_proptypes.md
Labels: Content: React

#27312 [Part 4] Ruby: Additional resources section to comply with the style guide
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
  ruby/advanced_ruby/project_custom_enumerables.md
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/conditional_logic.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/input_and_output.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby/predicate_enumerable_methods.md
  ruby/basic_ruby/variables.md
  ruby/computer_science/a_very_brief_intro_to_cs.md
  ruby/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/hash_map_data_structure.md
  ruby/computer_science/project_recursion.md
  ruby/computer_science/recursive_methods.md
  ruby/computer_science/space_complexity.md
  ruby/conclusion/conclusion.md
  ruby/conclusion/project_ruby_final.md
  ruby/files_and_serialization/files_and_serialization.md
  ruby/introduction/installing_ruby.md
  ruby/object_oriented_programming_basics/object_oriented_programming.md
  ruby/object_oriented_programming_basics/project_mastermind.md
  ruby/object_oriented_programming_basics/project_tic_tac_toe.md
  ruby/testing_ruby_with_rspec/introduction_to_rspec.md
  ruby/testing_ruby_with_rspec/test_driven_development.md
Labels: Content: Ruby

#27301 Corrected key calculation in hashmap section
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript

#27313 [Part 5] Ruby on Rails: Additional resources section to comply with the style guide
  ruby_on_rails/active_record_basics/active_record_basics.md
  ruby_on_rails/active_record_basics/project_micro_reddit.md
  ruby_on_rails/advanced_forms_and_activerecord/active_record_callbacks.md
  ruby_on_rails/advanced_forms_and_activerecord/project_flight_booker.md
  ruby_on_rails/advanced_forms_and_activerecord/project_private_events.md
  ruby_on_rails/apis/project_flickr_api.md
  ruby_on_rails/apis/project_kittens_api.md
  ruby_on_rails/apis/working_with_external_apis.md
  ruby_on_rails/assets_and_navigation/asset_pipeline.md
  ruby_on_rails/assets_and_navigation/importmap.md
  ruby_on_rails/assets_and_navigation/turbo_drive.md
  ruby_on_rails/forms_and_authentication/form_basics.md
  ruby_on_rails/forms_and_authentication/project_members_only.md
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
  ruby_on_rails/introduction/how_this_course_will_work.md
  ruby_on_rails/mailers_advanced_topics/advanced_topics.md
  ruby_on_rails/mailers_advanced_topics/conclusion.md
  ruby_on_rails/mailers_advanced_topics/mailers.md
  ruby_on_rails/mailers_advanced_topics/project_final.md
  ruby_on_rails/mailers_advanced_topics/project_sending_confirmation_emails.md
  ruby_on_rails/mailers_advanced_topics/websockets_and_actioncable.md
  ruby_on_rails/rails_basics/controllers.md
  ruby_on_rails/rails_basics/deployment.md
  ruby_on_rails/rails_basics/project_blog_app.md
  ruby_on_rails/rails_basics/routing.md
  ruby_on_rails/rails_basics/views.md
  ruby_on_rails/rails_sprinkles/css_bundling.md
  ruby_on_rails/rails_sprinkles/js_bundling.md
  ruby_on_rails/rails_sprinkles/stimulus_js.md
  ruby_on_rails/rails_sprinkles/turbo.md
  ruby_on_rails/testing/model_testing.md
  ruby_on_rails/testing/unit_testing.md
Labels: Content: Ruby on Rails

#26992 Intermediate HTML CSS : Remove Words
  intermediate_html_css/forms/form_basics.md
  intermediate_html_css/forms/form_validations.md
  intermediate_html_css/forms/project_sign_up_form.md
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/grid/creating_a_grid.md
  intermediate_html_css/grid/introduction_to_grid.md
  intermediate_html_css/grid/project_admin_dashboard.md
  intermediate_html_css/grid/using_flexbox_and_grid.md
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
  intermediate_html_css/intermediate_css_concepts/default_styles.md
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
  intermediate_html_css/intermediate_css_concepts/more_css_properties.md
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
  intermediate_html_css/intermediate_css_concepts/positioning.md
  intermediate_html_css/intermediate_html_concepts/svgs.md
  intermediate_html_css/intermediate_html_concepts/tables.md
Labels: Content: Intermediate HTML/CSS

#27308 [Part 2] NodeJS: Additional resources section to comply with the style guide
  nodeJS/introduction_to_nodeJS/debugging_node.md
  nodeJS/mongoDB/intro_to_mongoDB.md
  nodeJS/testing_express/testing_database_operations.md
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS

#27307 [Part 1] Advanced CSS & HTML: Additional resources section to comply with the style guide
  advanced_html_css/accessibility/the_web_content_accessibility_guidelines_wcag.md
  advanced_html_css/animation/keyframes.md
  advanced_html_css/animation/transitions.md
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

#27321 Advanced HTML and CSS/Accessibility: Update lesson as per layout style guide
  advanced_html_css/accessibility/keyboard_navigation.md
  advanced_html_css/accessibility/meaningful_text.md
  advanced_html_css/accessibility/wai_aria.md
Labels: Content: Advanced HTML/CSS

#27310 [Part 3] JavaScript: Additional resources section to comply with the style guide
  javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
  javascript/computer_science/space_complexity.md
  javascript/computer_science/time_complexity.md
  javascript/introduction/a_quick_review.md
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
  javascript/javascript_in_the_real_world/linting.md
  javascript/javascript_in_the_real_world/what_is_es6.md
  javascript/organizing_your_javascript_code/json.md
  javascript/organizing_your_javascript_code/organizing_your_javascript_code_introduction.md
  javascript/organizing_your_javascript_code/webpack.md
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

#27322 [Part 1] Advanced/Intermediate HTML & CSS: Fix 'Lesson overview' section to align with the layout guide.
  advanced_html_css/accessibility/accessibility_auditing.md
  advanced_html_css/accessibility/accessible_colors.md
  advanced_html_css/accessibility/introduction_to_web_accessibility.md
  advanced_html_css/accessibility/semantic_html.md
  advanced_html_css/accessibility/the_web_content_accessibility_guidelines_wcag.md
  advanced_html_css/animation/keyframes.md
  advanced_html_css/animation/transforms.md
  advanced_html_css/animation/transitions.md
  intermediate_html_css/intermediate_css_concepts/default_styles.md
Labels: Content: Advanced HTML/CSS, Content: Intermediate HTML/CSS

#27115 Classes lesson: Add an additional resource
  javascript/organizing_your_javascript_code/classes.md
Labels: Content: JavaScript

#27297 nodejs-deployment: update render free plan details
  nodeJS/express_and_mongoose/deployment.md
Labels: Content: NodeJS

#26867 Authentication Basics: Add passport explanation
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#27335 Foundations/Revisiting Rock Paper Scissors: Fix lint errors
  .markdownlint-cli2.jsonc
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Advanced HTML/CSS, Content: Foundations

#27334 [Ruby] Basic Data Types: Update link from web archive to the new one
  ruby/basic_ruby/basic_data_types.md
Labels: Content: Ruby

#27351 React Fetching Data: Clarify what a custom hook actually is
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#27352 'Importmaps' lesson in the 'Ruby on Rails' course: Update content to reflect recent changes in 'importmap-rails'
  ruby_on_rails/assets_and_navigation/importmap.md
Labels: Content: Ruby on Rails

#27331 [Part 10] Ruby: Fix 'Lesson overview' section to align with the layout guide.
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/conditional_logic.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/input_and_output.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby/predicate_enumerable_methods.md
  ruby/basic_ruby/variables.md
Labels: Content: Ruby

#27323 [Part 2] Several sections: Fix 'Lesson overview' section to align with the layout guide.
  getting_hired/preparing_for_job_search/professional_networking.md
  intermediate_html_css/intermediate_css_concepts/default_styles.md
  intermediate_html_css/intermediate_css_concepts/positioning.md
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
  ruby_on_rails/testing/model_testing.md
  ruby_on_rails/testing/unit_testing.md
Labels: Content: Getting Hired, Content: Intermediate HTML/CSS, Content: Ruby, Content: Ruby on Rails

#27274 Advanced_html_css ,the_web_content_accessibility_guidelines_wcag.md:
  advanced_html_css/accessibility/the_web_content_accessibility_guidelines_wcag.md
Labels: Content: Advanced HTML/CSS

#27330 [Part 9] React & Ruby: Fix 'Lesson overview' section to align with the layout guide.
  react/getting_started_with_react/keys_in_react.md
  react/getting_started_with_react/passing_data_between_components.md
  ruby/computer_science/a_very_brief_intro_to_cs.md
  ruby/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/hash_map_data_structure.md
  ruby/computer_science/recursive_methods.md
  ruby/computer_science/space_complexity.md
  ruby/files_and_serialization/files_and_serialization.md
  ruby/files_and_serialization/project_event_manager.md
  ruby/object_oriented_programming_basics/object_oriented_programming.md
  ruby/testing_ruby_with_rspec/introduction_to_rspec.md
  ruby/testing_ruby_with_rspec/test_driven_development.md
Labels: Content: Ruby, Content: React

#27329 [Part 8] NodeJS & React: Fix 'Lesson overview' section to align with the layout guide.
  nodeJS/apis/api_basics.md
  nodeJS/apis/api_security.md
  nodeJS/authentication/authentication_basics.md
  nodeJS/authentication/security_configuration.md
  react/getting_started_with_react/rendering_techniques.md
  react/introduction/introduction_to_react.md
  react/introduction/setting_up_a_react_environment.md
  react/more_react_concepts/managing_state_with_context_api.md
  react/more_react_concepts/refs_and_memoization.md
  react/react_and_the_backend/using_ruby_on_rails_for_your_backend.md
  react/react_testing/introduction_to_react_testing.md
  react/react_testing/mocking_callbacks_and_components.md
  react/states_and_effects/how_to_deal_with_side_effects.md
  react/states_and_effects/introduction_to_state.md
Labels: Content: NodeJS, Content: React

#27328 [Part 7] NodeJS: Fix 'Lesson overview' section to align with the layout guide.
  nodeJS/express_and_mongoose/deployment.md
  nodeJS/express_and_mongoose/express_101.md
  nodeJS/express_and_mongoose/express_102_crud_and_mvc.md
  nodeJS/express_and_mongoose/express_103_routes_and_controllers.md
  nodeJS/express_and_mongoose/express_104_view_templates.md
  nodeJS/express_and_mongoose/introduction_to_express.md
  nodeJS/express_and_mongoose/project_express_105_forms_and_deployment.md
  nodeJS/introduction_to_nodeJS/debugging_node.md
  nodeJS/introduction_to_nodeJS/getting_started.md
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
  nodeJS/mongoDB/intro_to_mongoDB.md
  nodeJS/testing_express/testing_database_operations.md
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS

#27327 [Part 6] JavaScript / Intermediate HTML & CSS: Fix 'Lesson overview' section to align with the layout guide.
  intermediate_html_css/forms/form_basics.md
  intermediate_html_css/forms/form_validations.md
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/grid/creating_a_grid.md
  intermediate_html_css/grid/introduction_to_grid.md
  intermediate_html_css/grid/positioning_grid_elements.md
  intermediate_html_css/grid/using_flexbox_and_grid.md
  javascript/asynchronous_javascript_and_apis/async_and_await.md
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
  javascript/asynchronous_javascript_and_apis/working_with_apis.md
  javascript/computer_science/hash_map_data_structure.md
  javascript/testing_javascript/more_testing.md
Labels: Content: Intermediate HTML/CSS, Content: JavaScript

#27326 [Part 5] Intermediate HTML & CSS: Fix 'Lesson overview' section to align with the layout guide.
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
  intermediate_html_css/intermediate_css_concepts/browser_compatibility.md
  intermediate_html_css/intermediate_css_concepts/css_functions.md
  intermediate_html_css/intermediate_css_concepts/css_units.md
  intermediate_html_css/intermediate_css_concepts/custom_properties.md
  intermediate_html_css/intermediate_css_concepts/frameworks_and_preprocessors.md
  intermediate_html_css/intermediate_css_concepts/more_css_properties.md
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
  intermediate_html_css/intermediate_html_concepts/emmet.md
  intermediate_html_css/intermediate_html_concepts/svgs.md
  intermediate_html_css/intermediate_html_concepts/tables.md
Labels: Content: Intermediate HTML/CSS

#27359 Ruby Final Project: Extra credit section
  ruby/conclusion/project_ruby_final.md
Labels: Content: Ruby

#27042 Deployment: Reword Railway free plan description
  nodeJS/express_and_mongoose/deployment.md
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: NodeJS, Content: Ruby on Rails

#27356 Linting: Move lesson overview section to be the 2nd section and add an extra point to it
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#27349 Foundations/Git Basics: Fix inconsistency in numbering and other lint errors
  git/foundations_git/git_basics.md
Labels: Content: Git

#27344 JavaScript Fundamentals 5: Give better example of reduce, map and filter methods.
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#27357 JSON: Add lesson overview section
  javascript/organizing_your_javascript_code/json.md
Labels: Content: JavaScript

#27194 Advanced Grid Properties: Add Josh Comeau's article about grid as an extra resource
  intermediate_html_css/grid/advanced_grid_properties.md
Labels: Content: Intermediate HTML/CSS

#27367 Object basics: Refer to filter and map method in reduce section
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#27364 Rails Basics/Express & Mongoose Deployment Lesson: Update costs associated with Fly.io (they updated their pricing)
  nodeJS/express_and_mongoose/deployment.md
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: NodeJS, Content: Ruby on Rails

#27395 Ruby-on-Rails: Fix various linting errors in the Turbo and Stimulus JS lessons
  ruby_on_rails/rails_sprinkles/stimulus_js.md
  ruby_on_rails/rails_sprinkles/turbo.md
Labels: Content: Ruby on Rails

#27398 Fix: Deployment lesson headings to align with style guide
  nodeJS/express_and_mongoose/deployment.md
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: NodeJS, Content: Ruby on Rails

#27400 JavaScript - How this course works: Seperate Ruby and JS intros
  javascript/introduction/how_this_course_will_work.md
Labels: Content: JavaScript

#27403 JavaScript How This Course Will Work: Remove duplication
  javascript/introduction/how_this_course_will_work.md
Labels: Content: JavaScript

#27373 fix: add space between two sentences in the WCAG section
  advanced_html_css/accessibility/the_web_content_accessibility_guidelines_wcag.md
Labels: Content: Advanced HTML/CSS

#27404 JavaScript: Cleanup intro for clarity and to remove duplications
  javascript/introduction/how_this_course_will_work.md
Labels: Content: JavaScript

#27420 Update function_basics.md link name
  foundations/javascript_basics/function_basics.md
Labels: Content: Foundations

#27291 Update introduction_to_react_testing.md
  react/react_testing/introduction_to_react_testing.md
Labels: Content: React

#27365 Advanced HTML and CSS/Responsive Design: Update lesson as per layout style guide
  advanced_html_css/responsive_design/media_queries.md
Labels: Content: Advanced HTML/CSS

#27407 Advanced HTML & CSS: Exercises in assignment section to be in-line with the exercises in the object basics lesson.
  advanced_html_css/animation/keyframes.md
Labels: Content: Advanced HTML/CSS

#27411 Advanced HTML & CSS Meaningful Text: Add assignment section
  advanced_html_css/accessibility/meaningful_text.md
Labels: Content: Advanced HTML/CSS

#27425 Update project_admin_dashboard.md
  intermediate_html_css/grid/project_admin_dashboard.md
Labels: Content: Intermediate HTML/CSS

#27426 Files and Serialization: Fix link to thoughtbot io in ruby under Assignment 1
  ruby/files_and_serialization/files_and_serialization.md
Labels: Content: Ruby

#27416 Foundations Data Types: Warn about DOM manipulation code before taught
  foundations/javascript_basics/data_types_and_conditionals.md
Labels: Content: Foundations

#27429 Objects and Object Constructors: Remove Misleading Comment in Example Code on Prototypes
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#27431 NodeJS: Fix Repetition of sub-heading in the Getting Started Lesson.
  nodeJS/introduction_to_nodeJS/getting_started.md
Labels: Content: NodeJS

#27139 React Introduction section: Improve readability and style
  react/introduction/how_this_course_will_work.md
  react/introduction/introduction_to_react.md
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#27267 DOM Manipulation and Events: Altering #2 of Assignment's Wording
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#27412 Transitions: Adds assignment section
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS

#27432 Moved 'Missing Props Validation' error info to earlier lesson
  react/getting_started_with_react/passing_data_between_components.md
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#27428 Project: Binary Search Trees : Changes reserved word function name
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#27413 Intermediate HTML & CSS Fonts: Remove mention of Google Fonts and Add warning
  intermediate_html_css/intermediate_css_concepts/more_text_styles.md
Labels: Content: Intermediate HTML/CSS

#27433 (Ruby & Node) Deployment: Change h4 headings to h3 for providers
  nodeJS/express_and_mongoose/deployment.md
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: NodeJS, Content: Ruby on Rails

#27391 Advanced HTML and CSS - Animation: Update codeblock delimiters
  advanced_html_css/animation/transforms.md
  advanced_html_css/animation/transitions.md
Labels: Content: Advanced HTML/CSS

#27445 Project: Etch-a-Sketch: Fix 'Extra Credit' wording
  foundations/javascript_basics/project_etch_a_sketch.md
Labels: Content: Foundations

#27446 Variables and operators: Reword assignment question
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#27434 Node Authentication Basics: Provide accessible link descriptions
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#27442 [Ruby on Rails] Active Record Basics: Grammar Update
  ruby_on_rails/active_record_basics/active_record_basics.md
Labels: Content: Ruby on Rails

#27450 Knight Travails: Add link to the khanacademy representing graphs article
  javascript/computer_science/project_knights_travails.md
Labels: Content: JavaScript

#27452 Update motivation_and_mindset.md
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#27454 Introduction What is NodeJS: Fix link direction; Testing Basics: Improve sentence connection between modules.
  javascript/testing_javascript/testing_basics.md
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: JavaScript, Content: NodeJS

#27455 Update function_basics.md
  foundations/javascript_basics/function_basics.md
Labels: Content: Foundations

#27463 Building Your Resume lesson: Replace dead link with archived copy
  getting_hired/applying_and_interviewing/project_resume.md
Labels: Content: Getting Hired

#27240 Update the source of Pomodoro technology use
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#27437 Keyframes: Add Josh Comeau's article on keyframes to assignment
  advanced_html_css/animation/keyframes.md
Labels: Content: Advanced HTML/CSS

#27438 Transitions: Add Josh Comeau's article on transitions to assignment
  advanced_html_css/animation/transitions.md
Labels: Content: Advanced HTML/CSS

#27300 JavaScript/webpack: Add important note about WebPack fonts
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#27469 How This Course Will Work: Add assignment section
  foundations/introduction/how_this_course_will_work.md
Labels: Content: Foundations

#27372 React Side Effects lesson: Reword explanation of counter
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#27458 Node Authentication Basics: Add assignment section
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#27478 How This Course Will Work: Fix typo
  foundations/introduction/how_this_course_will_work.md
Labels: Content: Foundations

#27466 Introduction to Web Development: Adds assignment section
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

#27467 Motivation and Mindset: Add assignment section
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#27480 Installing Node.js Foundations Course : Fix wrong acronym
  foundations/javascript_basics/installing_nodejs.md
Labels: Content: Foundations

#27486 Installations paste copy note
  foundations/installations/installations.md
Labels: Content: Foundations

#27497 Resolves #27389: DOM_manipulation_kebab_cases_fix
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#27504 Form Basics lesson: Remove link anchor from assignment link
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

#27410 Advanced HTML & CSS: Add example of how to use semantic HTML by considering this page.
  advanced_html_css/accessibility/semantic_html.md
  advanced_html_css/accessibility/semantic_html/imgs/semantic_html_example.png
Labels: Content: Advanced HTML/CSS

#27423 Setting Up A React Environment: Link to prettier and eslint config
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React
