Repository TheOdinProject/curriculum, pull requests merged in 2025-09, with the labels that each got.

#30056 Updates ruby documentation links from 3.3 to 3.4 version in ruby course
  ruby/advanced_ruby/blocks.md
  ruby/advanced_ruby/pattern_matching.md
  ruby/basic_ruby/arrays.md
  ruby/basic_ruby/basic_data_types.md
  ruby/basic_ruby/basic_enumerable_methods.md
  ruby/basic_ruby/debugging.md
  ruby/basic_ruby/hashes.md
  ruby/basic_ruby/loops.md
  ruby/basic_ruby/methods.md
  ruby/basic_ruby/nested_collections.md
  ruby/basic_ruby/predicate_enumerable_methods.md
Labels: Content: Ruby

#30057 Markdownlint: New descriptive headings rule
  .markdownlint-cli2.jsonc
  LAYOUT_STYLE_GUIDE.md
  markdownlint/TOP013_descriptiveHeadings/TOP013_descriptiveHeadings.js
  markdownlint/TOP013_descriptiveHeadings/tests/TOP013.md
  markdownlint/docs/TOP013.md
Labels: Content: Markdownlint

#30059 TOP013: Fix rule not accounting for indented headings
  markdownlint/TOP013_descriptiveHeadings/TOP013_descriptiveHeadings.js
  markdownlint/TOP013_descriptiveHeadings/tests/TOP013.md
Labels: Content: Markdownlint

#30060 Markdownlint: Fix TOP009 errors in existing custom rule test files
  markdownlint/TOP001_descriptiveLinkTextLabels/tests/TOP001_test.md
  markdownlint/TOP002_noCodeInHeadings/tests/TOP002_test.md
  markdownlint/TOP003_defaultSectionContent/tests/TOP003_test_content-around-list.md
  markdownlint/TOP003_defaultSectionContent/tests/TOP003_test_incorrect-content.md
  markdownlint/TOP003_defaultSectionContent/tests/TOP003_test_missing-wrapper.md
  markdownlint/TOP003_defaultSectionContent/tests/TOP003_test_nested-and-ordered-list.md
  markdownlint/TOP004_lessonHeadings/tests/TOP004_test_valid.md
  markdownlint/TOP005_blanksAroundMultilineHtmlTags/tests/TOP005_test.md
  markdownlint/TOP006_fullFencedCodeLanguage/tests/TOP006_test.md
  markdownlint/TOP007_useMarkdownLinks/tests/TOP007_test.md
  markdownlint/TOP008_useBackticksForFencedCodeBlocks/tests/TOP008_test.md
Labels: Content: Markdownlint

#30004 Forms and Data Handling: Fix code snippet
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#30028 Databases and SQL lesson: Update anchor id from foreign-key to primary-key
  databases/databases/databases_and_sql.md
Labels: Content: Databases

#29923 Motivation and Mindset: Update Assignment Orders.md
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#30070 Add: else statement in evaluateGuess function
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

#30077 Landing Page Project: Update Styling
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

#30003 Reducing State : Fix grammatical error
  react/more_react_concepts/reducing_state.md
Labels: Content: React

#30080 Remove second assignment
  foundations/html_css/flexbox/flexbox-alignment.md
Labels: Content: Foundations

#30079 Introduction: What is NodeJS?: Repetition of Assignments
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#30081 Project Todo List: Fix formatting and indentation
  javascript/organizing_your_javascript_code/project_todo_list.md
Labels: Content: JavaScript

#30083 Foundations - Loops and Arrays: Update Styling
  foundations/javascript_basics/loops_and_arrays.md
Labels: Content: Foundations

#30038 Managing state with the Context API & refs and memoization: updated outdated method of context provider declaration
  react/more_react_concepts/managing_state_with_context_api.md
  react/more_react_concepts/refs_and_memoization.md
Labels: Content: React

#30090 Update webpack.md
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#30100 Foundations/Nodejs: fix broken discord link
  foundations/javascript_basics/project_etch_a_sketch.md
  getting_hired/applying_and_interviewing/conclusion.md
  nodeJS/express/controllers.md
  nodeJS/express/introduction_to_express.md
Labels: Content: Getting Hired, Content: NodeJS, Content: Foundations

#30102 Introduction: What is NodeJS: Remove Assignment #3
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#30099 Text Editors: Add note about Microsoft VSCode repository option for Linux
  foundations/installations/text_editors.md
Labels: Content: Foundations, Status: Need Team Input

#30101 Intermediate HTML Concepts - SVGs: Add supplementary SVG resource
  intermediate_html_css/intermediate_html_concepts/svgs.md
Labels: Content: Intermediate HTML/CSS, Status: Need Team Input

#30121 clarify form validation exercise relating to library project
  javascript/javascript_in_the_real_world/form_validation_with_javascript.md
Labels: Content: JavaScript

#30123 Add Ubuntu screenshot instructions to Computer Basics lesson
  foundations/installations/computer_basics.md
Labels: Content: Foundations

#30133 Styling React Applications: Remove CSS-in-JS recommendation from warning box
  react/the_react_ecosystem/styling_react_applications.md
Labels: Content: React

#30131 File Uploader: Add File Type Validation Requirement
  nodeJS/orms/project_file_uploader.md
Labels: Content: NodeJS

#30136 Linting and RuboCop: Modified a few sentences
  ruby/object_oriented_programming_basics/linting_and_rubocop.md
Labels: Content: Ruby

#30143 Semantic HTML: remove broken video reference and add alternate d…
  advanced_html_css/accessibility/semantic_html.md
Labels: Content: Advanced HTML/CSS

#30145 Semantic HTML: Fix formatting issues
  advanced_html_css/accessibility/semantic_html.md
Labels: Content: Advanced HTML/CSS

#30150 Understanding Errors: Remove console note and clarify `script.js` usage
  foundations/javascript_basics/understanding_errors.md
Labels: Content: Foundations

#30153 Prisma ORM : Add note tip to download extension on VS Code
  nodeJS/orms/prisma_orm.md
Labels: Content: NodeJS

#30162 Preparing to Interview and Interviewing : Added a fullstop
  getting_hired/applying_and_interviewing/preparing_to_interview_and_interviewing.md
Labels: Content: Getting Hired

#30159 Async and Await: Knowledge Check
  javascript/asynchronous_javascript_and_apis/async_and_await.md
Labels: Content: JavaScript

#30172 Creating a Grid: Missing space
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

#30093 Hashmap Project: Specify initial capacity
  javascript/computer_science/project_hash_map.md
  ruby/computer_science/project_hash_map.md
Labels: Content: JavaScript, Content: Ruby

#30189 Project Recursion: Update merge sort URL
  javascript/computer_science/project_recursion.md
  ruby/computer_science/project_recursion.md
Labels: Content: JavaScript, Content: Ruby
