Repository TheOdinProject/curriculum, pull requests merged in 2025-03, with the labels that each got.

#29471 Form Basics: Fix link name in assignment
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

#29477 Webpack: Use consistent command style for `npx webpack serve`
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#29485 Project RPS: Clarify reprompting behaviour not required
  foundations/javascript_basics/project_rock_paper_scissors.md
Labels: Content: Foundations

#29463 Library: Refactor instructions to use unique book IDs using `crypto.randomUUID()` instead of array indices
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

#29446 docs: Add workflow diagram to working_with_remotes.md assignment.
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#29486 Binary Search Trees project lesson : Add a video resource link
  javascript/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript

#29487 Binary Search Trees project lesson : Add a video resource link
  ruby/computer_science/project_binary_search_trees.md
Labels: Content: Ruby

#29491 Webpack lesson: Fix module.rules typos
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#29489 Project: CV Application lesson: fix steps for Cloudflare deployment
  react/states_and_effects/project_cv_application.md
Labels: Content: React

#29186 How to deal with side effects: clarify the effect of StrictMode on the SetInterval hook
  react/states_and_effects/how_to_deal_with_side_effects.md
Labels: Content: React

#29430 Factory functions: Clarify issues of constructors
  javascript/organizing_your_javascript_code/factory_functions_and_module_pattern.md
  javascript/organizing_your_javascript_code/objects_and_object_constructors.md
Labels: Content: JavaScript

#29464 Weather App: Add note about dynamic import()
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
Labels: Content: JavaScript

#29501 Asking For Help: Convert knowledge check statements to questions
  foundations/introduction/asking_for_help.md
Labels: Content: Foundations

#29525 Introduction to Web Development: Update link for archived article
  foundations/introduction/introduction_to_web_development.md
Labels: Content: Foundations

#29511 HTML Boilerplate: Add a new item in Additional Resource on charset encoding
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#29532 Updated to correct section for custom validators
  ruby_on_rails/active_record_basics/basic_validations.md
Labels: Content: Ruby on Rails

#29539 foundations/data types and conditions: update exercise 4 link
  foundations/javascript_basics/data_types_and_conditionals.md
Labels: Content: Foundations

#29550 Rails Basics: Add tip on viewing rails routes
  ruby_on_rails/rails_basics/routing.md
Labels: Content: Ruby on Rails

#29545 Basic Validations: Section 8 -> 9 typo fix
  ruby_on_rails/active_record_basics/basic_validations.md
Labels: Content: Ruby on Rails

#29540 Files and Serialization: Archive Event Manager Project
  archive/ruby/files_and_serialization/event_attendees.csv
  archive/ruby/files_and_serialization/event_attendees_full.csv
  archive/ruby/files_and_serialization/project_event_manager.md
Labels: Type: Chore

#29557 Git Basics: Fix list item child indentation
  git/foundations_git/git_basics.md
Labels: Content: Git

#29556 Update intro-to-css.md: Fix description of '*' selector
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#29567 Getting Hired lesson: Fix grammar and phrasing in recruiters section
  getting_hired/applying_and_interviewing/collect_leads.md
Labels: Content: Getting Hired

#29566 Foundations Installations Lesson: Fix grammatical error in documentation
  foundations/installations/installations.md
Labels: Content: Foundations

#29564 JavaScript Course: Project Weather App - fix typo
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
Labels: Content: JavaScript
