Repository TheOdinProject/curriculum, pull requests merged in 2025-05, with the labels that each got.

#29652 Update Ruby installation instructions to version 3.4.2
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#29636 Data Types and Conditionals: Simplify string methods step and remove assignment jump
  foundations/javascript_basics/data_types_and_conditionals.md
Labels: Content: Foundations

#29661 Remove dead link in additional resources section of debugging lesson
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby

#29467 Introduction to Git: Additional Resources.md
  git/foundations_git/introduction_to_git.md
Labels: Content: Git

#29663 Deployment lesson: Correct 'setup' -> 'set up' (verb usage)
  nodeJS/express/deployment.md
Labels: Content: NodeJS

#29161 JavaScript Basics Course: Replace Replit exercises
  foundations/javascript_basics/arrays_and_loops.md
  foundations/javascript_basics/data_types_and_conditionals.md
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#29667 Tables lesson: Clarify scope of CSS-Tricks Table guide in assignment
  intermediate_html_css/intermediate_html_concepts/tables.md
Labels: Content: Intermediate HTML/CSS

#29668 Testing Basics: improve readability.md
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript

#29672 Update git_basics.md
  git/foundations_git/git_basics.md
Labels: Content: Git

#29674 Knights Travails: Address gramatical error in assignment
  javascript/computer_science/project_knights_travails.md
  ruby/computer_science/project_knights_travails.md
Labels: Content: JavaScript, Content: Ruby

#29675 A Deeper Look at Git: Add reminder about default git branch name change
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#29521 Object Basics: Move array content to "Arrays and Loops" lesson
  foundations/javascript_basics/arrays_and_loops.md
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#29686 New feature
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#29690 Fix : a minor typo
  foundations/javascript_basics/clean_code.md
Labels: Content: Foundations

#29691 Ruby, Files and Serialization: Fix a grammatical error
  ruby/files_and_serialization/files_and_serialization.md
Labels: Content: Ruby

#29692 Controllers lesson: Improve wording in controller redirect explanation
  ruby_on_rails/rails_basics/controllers.md
Labels: Content: Ruby on Rails

#29695 Knights Travails: Clarify knightMoves usage examples
  javascript/computer_science/project_knights_travails.md
  ruby/computer_science/project_knights_travails.md
Labels: Content: JavaScript

#29696 Getting Hired: fix broken link
  getting_hired/applying_and_interviewing/applying.md
Labels: Content: Getting Hired

#29697 More On State : Fix broken discord invite link
  react/states_and_effects/more_on_state.md
Labels: Content: React

#29709 What is JSX: fix grammatical error
  react/getting_started_with_react/what_is_jsx.md
Labels: Content: React

#29720 Update installing_ruby.md, add lesson note on common install error message
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#29713 Update natural_responsiveness.md
  advanced_html_css/responsive_design/natural_responsiveness.md
Labels: Content: Advanced HTML/CSS

#29710 Project Library: update lesson note
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

#29707 Wording fix to resolve issue #29613
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#29723 Links and Images: Update additional resources to resolve #29717
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#29705 Loops and Arrays: Flip order of sections on arrays and loops
  foundations/javascript_basics/loops_and_arrays.md
Labels: Content: Foundations

#29732 Join the Odin Community: Specify that linking GitHub account to Discord account is optional
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#29734 Project SQL Zoo: Fix broken link
  databases/databases/project_sql_zoo.md
Labels: Content: Databases

#29736 Project: Binary Search Trees: fix indentation in markdown
  javascript/computer_science/project_binary_search_trees.md
  ruby/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript, Content: Ruby

#29730 Revert "Update installing_ruby.md, add lesson note on common install error message"
  ruby/introduction/installing_ruby.md
Labels: Content: Ruby

#29673 Update responsive_images.md: Add to additional resources section
  advanced_html_css/responsive_design/responsive_images.md
Labels: Content: Advanced HTML/CSS

#29612 Testing Basics: Add an additional resource
  javascript/testing_javascript/testing_basics.md
Labels: Content: JavaScript

#29063 Update section Using node-postgres in Express in the Using PostgreSQL course
  nodeJS/express/using_postgresql.md
Labels: Content: NodeJS

#29516 JS Linting: Restructure content on VSCode extensions
  javascript/javascript_in_the_real_world/linting.md
Labels: Content: JavaScript

#29420 React Router: Replace article linked to under additional resources
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#28565 Project: Recipe : Add note about image usage and licensing
  foundations/html_css/html-foundations/links-and-images.md
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#29611 Databases and SQL: Fix grammar and clarify SQL concepts
  databases/databases/databases_and_sql.md
Labels: Content: Databases

#29561 Webpack: Reintroduce `npm init -y` and instruct to remove `"type"` field
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#29592 Express Routes: Migrate to v5 pathing (breaking changes)
  nodeJS/express/routing.md
Labels: Content: NodeJS

#29755 Fix: Add missing role_name and role_password in PostgreSQL lesson
  nodeJS/express/using_postgresql.md
Labels: Content: NodeJS
