Repository TheOdinProject/curriculum, pull requests merged in 2025-06, with the labels that each got.

#29768 NodeJS - Views: Adding filenames to code snippets
  nodeJS/express/views.md
Labels: Content: NodeJS

#29769 Update transforms.md
  advanced_html_css/animation/transforms.md
Labels: Content: Advanced HTML/CSS

#29760 Common Data Structures and Algorithms lesson: Replace binary search video
  javascript/computer_science/common_data_structures_algorithms.md
  ruby/computer_science/common_data_structures_algorithms.md
Labels: Content: JavaScript, Content: Ruby

#29746 Rails path - React course - Lesson 'Using Ruby On Rails For Your Backend': Restructuring of lesson content to shift focus on key topics
  react/react_and_the_backend/using_ruby_on_rails_for_your_backend.md
Labels: Content: React

#29788 Object Basics: Remove `arguments` object additional resource
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#29781 Ruby, Time Complexity: Fix a formatting error
  ruby/computer_science/time_complexity.md
Labels: Content: Ruby

#29801 Project forms - Ruby on Rails course: typo fix
  ruby_on_rails/forms_and_authentication/project_forms.md
Labels: Content: Ruby on Rails

#29807 Creating a Grid: Add missing comma
  intermediate_html_css/grid/creating_a_grid.md
Labels: Content: Intermediate HTML/CSS

#29770 ESM: Clarify wording around necessary lesson sections
  javascript/organizing_your_javascript_code/es6_modules.md
Labels: Content: JavaScript

#29771 JavaScript - Webpack lesson: Adds filenames to code snippets that were missing
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#29772 variables and operators lesson: clarify where code is run
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#29747 Node Controllers: Remove express-async-handler content
  nodeJS/express/controllers.md
Labels: Content: NodeJS

#29794 Links and Images: Fix missing brackets
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#29812 Rails Form Basics: Fix broken knowledge check links
  ruby_on_rails/forms_and_authentication/form_basics.md
Labels: Content: Ruby on Rails

#29816 Project: Recipes: correct grammar
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#29813 Revisiting Rock Paper Scissors: Remove broken link
  foundations/javascript_basics/revisiting_rock_paper_scissors.md
Labels: Content: Foundations
