Repository TheOdinProject/curriculum, pull requests merged in 2025-02, with the labels that each got.

#29362 Update project_sql_zoo.md to remove redundant link
  databases/databases/project_sql_zoo.md
Labels: Content: Databases

#29378 Update methods.md
  ruby/basic_ruby/methods.md
Labels: Content: Ruby

#29383 Intro to CSS: Fix assignment file names
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#29380 CSS Units lesson: Added supplementary video
  intermediate_html_css/intermediate_css_concepts/css_units.md
Labels: Content: Intermediate HTML/CSS

#29385 Update mailers.md to fix section numberings and links for assignment
  ruby_on_rails/mailers_advanced_topics/mailers.md
Labels: Content: Ruby on Rails

#29387 Form Basics - Intermediate HTML and CSS: Fix assignment link destination
  intermediate_html_css/forms/form_basics.md
Labels: Content: Intermediate HTML/CSS

#29389 Forms and Data Handling: Fix small typo in code
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#29396 JavaScript | A Quick Review: Incorrect usage of transitive verb 'refresh'
  javascript/introduction/a_quick_review.md
Labels: Content: JavaScript

#29391 Setting up Git: Update SSH passphrase explanation
  foundations/installations/setting_up_git.md
Labels: Content: Foundations

#29371 OOP Principles: Swap article URL for better source
  javascript/organizing_your_javascript_code/oop_principles.md
Labels: Content: JavaScript

#29405 ruby course, nested collections lesson: fix grammatical error
  ruby/basic_ruby/nested_collections.md
Labels: Content: Ruby

#29401 HTML Boilerplate Lesson: Update utf-8 to uppercase
  foundations/html_css/html-foundations/html-boilerplate.md
Labels: Content: Foundations

#29373 Markdownlint: Fix TOP003 error reporting with empty default content sections
  markdownlint/TOP003_defaultSectionContent/TOP003_defaultSectionContent.js
  markdownlint/TOP003_defaultSectionContent/tests/TOP003_test_empty-section.md
Labels: Content: Markdownlint

#29409 A Deeper Look at Git: Fix typo in a code snippet
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#29403 Update elements-and-tags.md
  foundations/html_css/html-foundations/elements-and-tags.md
Labels: Content: Foundations

#29406 Ruby Basic Data Types lesson: fix possible typo
  ruby/basic_ruby/basic_data_types.md
Labels: Content: Ruby

#29421 Prisma ORM lesson: fix broken link in assignment
  nodeJS/orms/prisma_orm.md
Labels: Content: NodeJS

#29411 What is Node.js?: Rephrase info about leaving out React for later
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#29424 Revert typo fix in git/intermediate_git/a_deeper_look_at_git.md lesson
  git/intermediate_git/a_deeper_look_at_git.md
Labels: Content: Git

#28828 Ruby: Linting and RuboCop: Add minor clarifications and improvements
  ruby/object_oriented_programming_basics/linting_and_rubocop.md
Labels: Content: Ruby

#29427 Working with Remotes lesson: Fix assignment link and rephrase instructions
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#29429 Ruby on Rails - Controllers: Fix wrong method usage
  ruby_on_rails/rails_basics/controllers.md
Labels: Content: Ruby on Rails

#28897 Ruby : Files and Serialization : Format unreadable article in assignment
  ruby/files_and_serialization/files_and_serialization.md
Labels: Content: Ruby

#29437 motivation_and_mindset: Update verbiage to join server before trying to navigate to success-stories in the server.
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#29416 fix: remove version from the express urls
  nodeJS/apis/api_basics.md
  nodeJS/express/introduction_to_express.md
  nodeJS/express/routing.md
  nodeJS/express/views.md
Labels: Content: NodeJS

#29448 Project: Calculator: Add assignment bullet point to avoid possible bug
  foundations/javascript_basics/project_calculator.md
Labels: Content: Foundations

#29450 Refs And Memoization: Fix grammar, missing space, and singular-to-plural correction
  react/more_react_concepts/refs_and_memoization.md
Labels: Content: React

#29136 passing data between components: add punctuation and improve grammar
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React

#29469 fix: add comma in RoomChannel.broadcast_to("room", @message)
  ruby_on_rails/mailers_advanced_topics/websockets_and_actioncable.md
Labels: Content: Ruby on Rails
