Repository TheOdinProject/curriculum, pull requests merged in 2025-10, with the labels that each got.

#30192 Links and Images: Ensure consistency with American English standards
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#30180 JavaScript Course Project Recursion: Add and Reformat Test Examples
  javascript/computer_science/project_recursion.md
  ruby/computer_science/project_recursion.md
Labels: Content: JavaScript

#30200 JavaScript Course: Ensure consistency with American English standards
  javascript/computer_science/project_linked_lists.md
  javascript/computer_science/space_complexity.md
  javascript/computer_science/time_complexity.md
  javascript/javascript_in_the_real_world/what_is_es6.md
Labels: Content: JavaScript

#30204 Fix small grammar #30179 (Improve styling_react_applications.md)
  react/the_react_ecosystem/styling_react_applications.md
Labels: Content: React

#30196 SQLZoo: Clarify inclusion of +/- tutorials
  databases/databases/project_sql_zoo.md
Labels: Content: Databases

#30113 Update advanced_selectors.md: remove redundant expression "finely grained"
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#30214 Forms and Data Handling: Use matchedData() To Read from req.body
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS
