Repository TheOdinProject/curriculum, pull requests merged in 2025-08, with the labels that each got.

#29950 Active Record Callbacks lesson: Fix likely incorrect mention of before_rollback
  ruby_on_rails/advanced_forms_and_activerecord/active_record_callbacks.md
Labels: Content: Ruby on Rails

#29953 Asynchronous Code lesson: Fix grammar ("Lets" -> "Let's")
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

#29974 Modify React rerendering explanation
  react/states_and_effects/introduction_to_state.md
Labels: Content: React

#29938 CSS Foundations lesson: Fix class name in selectors discussion
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#29955 Using Git in the Real World: Fix grammatical error
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#29984 Node.js testing lesson: Update superagent and supertest links
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS

#29988 DOM_manipulation_and_events: update assgnment text
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#29934 Fix spelling
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#29929 Express: Include error handling in `app.listen` callback
  nodeJS/authentication/authentication_basics.md
  nodeJS/express/forms_and_data_handling.md
  nodeJS/express/introduction_to_express.md
  nodeJS/express/routing.md
  nodeJS/testing_express/testing_routes_and_controllers.md
Labels: Content: NodeJS

#29936 The Cascade: Use level 4 heading for note box
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#29937 The Cascade: Move Formal Definition additional resource to main lesson
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#29991 Intro to Ruby Predicate and Enumerable Methods Lesson: add `#one?` method
  ruby/basic_ruby/predicate_enumerable_methods.md
Labels: Content: Ruby

#28372 Markdownlint: `note-box-headings` custom rule
  .markdownlint-cli2.jsonc
  CONTRIBUTING.md
  markdownlint/TOP012_noteBoxHeadings/TOP012_noteBoxHeadings.js
  markdownlint/TOP012_noteBoxHeadings/tests/TOP012_test.md
  markdownlint/docs/TOP012.md
Labels: Content: Markdownlint

#28759 Markdownlint: Move required heading structure into TOP004 rule directly
  .github/workflows/markdownlint-lessons.yml
  .github/workflows/markdownlint-projects.yml
  CONTRIBUTING.md
  javascript/organizing_your_javascript_code/npm.md
  lesson.markdownlint-cli2.jsonc
  markdownlint/TOP004_lessonHeadings/TOP004_lessonHeadings.js
  markdownlint/TOP004_lessonHeadings/tests/TOP004_test_missing_heading.md
  markdownlint/TOP004_lessonHeadings/tests/TOP004_test_wrong_wildcard_level.md
  markdownlint/TOP004_lessonHeadings/tests/project-TOP004-test-invalid.md
  markdownlint/TOP004_lessonHeadings/tests/project-TOP004-test-valid.md
  markdownlint/TOP004_lessonHeadings/tests/project_TOP004_test_invalid.md
  markdownlint/TOP004_lessonHeadings/tests/project_TOP004_test_valid.md
  markdownlint/docs/TOP005.md
  markdownlint/docs/TOP010.md
  package.json
  project.markdownlint-cli2.jsonc
Labels: Content: Markdownlint

#29997 Installations: Use note box for supported hardware/software warning
  foundations/installations/installations.md
Labels: Content: Foundations

#29998 Installations: Add headings to headingless note boxes
  foundations/installations/installations.md
Labels: Content: Foundations

#29996 Intro to HTML and CSS lesson: Replace outdated Codecademy link
  foundations/html_css/html-foundations/intro-to-html-css.md
Labels: Content: Foundations

#30001 More Testing: Move assigned reading to assignment section
  javascript/testing_javascript/more_testing.md
Labels: Content: JavaScript

#30012 Deployment: Add Neon's Free Tier Specification
  nodeJS/express/deployment.md
Labels: Content: NodeJS

#30016 introduction_what_is_nodeJS.md: changed "front-end" to "back-end"
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#30045 Webpack: Specify type property is referring to a top-level property
  javascript/organizing_your_javascript_code/webpack.md
Labels: Content: JavaScript

#29990 Positioning Grid Elements: Add CSS grid cheatsheet to additional resources
  intermediate_html_css/grid/positioning_grid_elements.md
  intermediate_html_css/grid/using_flexbox_and_grid.md
Labels: Content: Intermediate HTML/CSS

#30051 React router: fixed outdated import name
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#30055 Landing Page: Replace CDN Link For New Image
  foundations/html_css/flexbox/project-landing-page.md
Labels: Content: Foundations

#30052 DOM Manipulation and Events: Switch order of Assignments #29305
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations
