Repository TheOdinProject/curriculum, pull requests merged in 2025-01, with the labels that each got.

#29238 Project: Recipes: Add creation of backlink to recipes tutorial
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#29267 Update basic_associations.md
  ruby_on_rails/active_record_basics/basic_associations.md
Labels: Content: Ruby on Rails

#29266 Form Basics: Update Assignment Due to Changes in Rails Guide
  ruby_on_rails/forms_and_authentication/form_basics.md
Labels: Content: Ruby on Rails

#29148 Add Neon and Koyeb to list of PaaS options in Rails deployment lesson
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: Ruby on Rails

#29116 feat: rails | AR queries | enums (#29099)
  ruby_on_rails/advanced_forms_and_activerecord/active_record_queries.md
Labels: Content: Ruby on Rails

#29282 Javascript and Ruby project-hashmap fix: replace wrong examples with correct ones in collision section
  javascript/computer_science/project_hash_map.md
  ruby/computer_science/project_hash_map.md
Labels: Content: JavaScript, Content: Ruby

#29286 Installation Overview: Update lesson overview items
  foundations/installations/installation_overview.md
Labels: Content: Foundations

#29285 Using git in the real world lesson: Clearer and More Understandable Instructions
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#29281 Object Basics Lesson: Rework paragraph to fix typo and improve readability
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#29280 Change wording - project_weather_app.md
  javascript/asynchronous_javascript_and_apis/project_weather_app.md
Labels: Content: JavaScript

#29278 Node Blog API: Remove redundant additional resources section
  nodeJS/apis/project_blog_api.md
Labels: Content: NodeJS

#29277 Intermediate HTML and CSS Course-Advanced Selectors-add note #29241
  intermediate_html_css/intermediate_css_concepts/advanced_selectors.md
Labels: Content: Intermediate HTML/CSS

#29275 Prisma ORM: update assignment link to typeSQL lesson
  nodeJS/orms/prisma_orm.md
Labels: Content: NodeJS

#29263 JS Linked Lists: Update note about Node/ESM
  javascript/computer_science/project_linked_lists.md
Labels: Content: JavaScript

#29218 Intro to HTML and CSS lesson: Fix link text
  intermediate_html_css/forms/form_validations.md
Labels: Content: Intermediate HTML/CSS

#29191 Motivation and Mindset: added typing resource
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#29160 Admin Dashboard: Remove step on color palettes
  intermediate_html_css/grid/project_admin_dashboard.md
Labels: Content: Intermediate HTML/CSS

#29220 NodeJS - Authentication Basics: Place file name in backticks
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#29271 NodeJS Deployment: Add Aiven and Free For Developers repository
  nodeJS/express/deployment.md
Labels: Content: NodeJS

#29295 Setting Up A React Environment: Reword 'Creating a React app' section for clarity
  react/introduction/setting_up_a_react_environment.md
Labels: Content: React

#29304 Ruby course, loops lesson: Fix tiny grammar error
  ruby/basic_ruby/loops.md
Labels: Content: Ruby

#29299 Media Queries: Remove link to kevin powell's conquering responsive layout course
  advanced_html_css/responsive_design/media_queries.md
Labels: Content: Advanced HTML/CSS

#29298 Sessions Cookies and Authentication: Update Rails Guide Reading Assignment
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

#29311 Ruby: Debugging: make link point to readme
  ruby/basic_ruby/debugging.md
Labels: Content: Ruby

#29312 Commit Messages: Add missing period to the body of commit message example
  git/foundations_git/commit_messages.md
Labels: Content: Git

#29242 React Router: Correct terminology and fix punctuation
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#29198 Using postgreSQL: Add section on local and prod db differences
  nodeJS/express/using_postgresql.md
Labels: Content: NodeJS

#29057 Updated_noopener_noreferrer_definitions.md
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#29222 NodeJS Course - Authentication Basics: Shifting from callback to promises approach
  nodeJS/authentication/authentication_basics.md
Labels: Content: NodeJS

#29333 Passing Data Between Components: Remove unnecessary indentation in code block
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React

#29331 HashMap Data Structure: Update introduction paragraph
  javascript/computer_science/hash_map_data_structure.md
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript, Content: Ruby

#29302 Ruby on Rails Deployment: Fixed typo and added Aiven and Free for dev Repository
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: Ruby on Rails

#29342 Ruby on rails apis_and_building_your_own.md: fix incorrect link
  ruby_on_rails/apis/apis_and_building_your_own.md
Labels: Content: Ruby on Rails

#29340 Library: Use clearer wording for some instruction steps
  javascript/organizing_your_javascript_code/project_library.md
Labels: Content: JavaScript

#29337 Professional Networking lesson: Fix typo
  getting_hired/preparing_for_job_search/professional_networking.md
Labels: Content: Getting Hired

#29320 Fetching Data In React: Improve phrasing
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React

#29348 Introduction: What is NodeJS?: Correct wording
  nodeJS/introduction_to_nodeJS/introduction_what_is_nodeJS.md
Labels: Content: NodeJS

#29310 fix typo in links-and-images.md in html-foundations
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#29276 Ruby on Rails, Blog app project: Updated link to most recent Rails blog tutorial
  ruby_on_rails/rails_basics/project_blog_app.md
Labels: Content: Ruby on Rails

#29355 Multiple lessons: Fix spelling errors (transferrable, punctuations)
  javascript/testing_javascript/project_testing_practice.md
  react/react_testing/introduction_to_react_testing.md
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
Labels: Content: JavaScript, Content: Ruby on Rails, Content: React

#29344 DOM manipulation lesson: add detail about event callback parameter
  foundations/javascript_basics/DOM_manipulation_and_events.md
Labels: Content: Foundations

#29236 Installing PostgreSQL : Complete the command for WSL2 in Step 2
  nodeJS/express/installing_postgresql.md
Labels: Content: NodeJS

#29358 Motivation and Mindset lesson: Remove unnecesary "and"
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#29359 Variables and Operators: Use consistent assignment instructions for running code
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#29353 JavaScript Developer Tools: Replace en dash with em dash in Assignment opening paragraph
  foundations/javascript_basics/javascript_developer_tools.md
Labels: Content: Foundations

#29361 Full Curriculum: Capitalize Google (#29308)
  foundations/html_css/flexbox/project-landing-page.md
  foundations/installations/installations.md
  foundations/introduction/join_the_odin_community.md
  intermediate_html_css/grid/advanced_grid_properties.md
  intermediate_html_css/grid/positioning_grid_elements.md
  ruby_on_rails/apis/project_kittens_api.md
Labels: Content: Intermediate HTML/CSS, Content: Ruby on Rails, Content: Foundations

#29363 Rails Controllers lesson: Update assigned Rails Guides sections to read
  ruby_on_rails/rails_basics/controllers.md
Labels: Content: Ruby on Rails

#29365 Prisma ORM: Update Data Migration link
  nodeJS/orms/prisma_orm.md
Labels: Content: NodeJS

#29357 Introduction to React Testing & Fetching Data In React: Fix typos
  react/react_testing/introduction_to_react_testing.md
  react/the_react_ecosystem/fetching_data_in_react.md
Labels: Content: React
