Repository TheOdinProject/curriculum, pull requests merged in 2025-07, with the labels that each got.

#29822 Ruby Blocks Lesson: Make explanation of `proc` return behavior more accurate
  ruby/advanced_ruby/blocks.md
Labels: Content: Ruby

#29577 Replace flickr with pexels
  archive/ruby_on_rails/project_flickr_api.md
  ruby_on_rails/apis/project_flickr_api.md
  ruby_on_rails/apis/project_pexels_api.md
Labels: Type: Chore, Content: Ruby on Rails

#29832 Rails Sessions Cookies and Authentication: Update HTTP auth resource in assignment
  ruby_on_rails/forms_and_authentication/sessions_cookies_authentication.md
Labels: Content: Ruby on Rails

#29831 Ruby: Additional resource for extra ruby methods
  ruby/basic_ruby/methods.md
Labels: Content: Ruby

#29854 Remove link from additional resources
  javascript/javascript_in_the_real_world/dynamic_user_interface_interactions.md
Labels: Content: JavaScript

#29856 Getting Hired course: networking lesson. Update professional_networking.md
  getting_hired/preparing_for_job_search/professional_networking.md
Labels: Content: Getting Hired

#29839 Intro to CSS lesson: Clarify explanation of CSS rule syntax
  foundations/html_css/css-foundations/intro-to-css.md
Labels: Content: Foundations

#29855 Basic Informational Site: Remove a sentence that references W3 tutorial which was removed
  nodeJS/introduction_to_nodeJS/project_basic_informational_site.md
Labels: Content: NodeJS

#29851 Text Editors - Foundation: add link to VSCode shortcuts for windows
  foundations/installations/text_editors.md
Labels: Content: Foundations

#29861 Mocking Callbacks And Components: resolve awkward grammar in react mocking and callbacks
  react/react_testing/mocking_callbacks_and_components.md
Labels: Content: React

#29827 Project Knight Travails: add helpful BFS concepts to Knight’s Travails lesson
  javascript/computer_science/project_knights_travails.md
  ruby/computer_science/project_knights_travails.md
Labels: Content: JavaScript

#29876 Inspecting HTML and CSS: Add homepage link
  foundations/html_css/css-foundations/inspecting-html-and-css.md
Labels: Content: Foundations

#29875 Recipes: Add heading to submissions note box
  foundations/html_css/html-foundations/project-recipes.md
Labels: Content: Foundations

#29881 Markdownlint: Document script-fixable rules
  CONTRIBUTING.md
  markdownlint/docs/TOP001.md
  markdownlint/docs/TOP002.md
  markdownlint/docs/TOP003.md
  markdownlint/docs/TOP004.md
  markdownlint/docs/TOP005.md
  markdownlint/docs/TOP006.md
  markdownlint/docs/TOP007.md
  markdownlint/docs/TOP008.md
  markdownlint/docs/TOP009.md
  markdownlint/docs/TOP010.md
Labels: Content: Markdownlint

#29886 Fix: removed broken link in async lesson
  javascript/asynchronous_javascript_and_apis/asynchronous_code.md
Labels: Content: JavaScript

#29836 Git Basics Lesson: Fixing a hyperlink that could send users to Windows Instructions
  git/foundations_git/git_basics.md
Labels: Content: Git

#29825 React Router lesson: Fix link to useOutletContext documentation
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#29829 Rails Deployment lesson: Update Railway info, reorder services
  ruby_on_rails/rails_basics/deployment.md
Labels: Content: Ruby on Rails

#29888 Update applying.md: capitalize for better specificity "excel" -> "Excel"
  getting_hired/applying_and_interviewing/applying.md
Labels: Content: Getting Hired

#29890 Markdownlint: Change TOP001 rule name
  markdownlint/TOP001_descriptiveLinkText/TOP001_descriptiveLinkText.js
  markdownlint/docs/TOP001.md
Labels: Content: Markdownlint

#29889 Markdownlint: New custom heading indent rule
  .markdownlint-cli2.jsonc
  CONTRIBUTING.md
  markdownlint/TOP011_headingIndentation/TOP011_headingIndentation.js
  markdownlint/TOP011_headingIndentation/tests/TOP011_test.md
  markdownlint/docs/TOP011.md
Labels: Content: Markdownlint

#29897 Foundations calculator project: Replace student project, expand description
  foundations/javascript_basics/project_calculator.md
Labels: Content: Foundations

#29860 Ruby/CS/HashMap Data Structure: Clarify hashmap expansion process
  ruby/computer_science/hash_map_data_structure.md
Labels: Content: Ruby

#29895 Rendering Techniques lesson: Added note clarifying about the syntax to pass props into components
  react/getting_started_with_react/rendering_techniques.md
Labels: Content: React

#29907 Views: Add note for reader
  nodeJS/express/views.md
Labels: Content: NodeJS

#29905 Git Basics: Improve clarity of `cd git_test` command
  git/foundations_git/git_basics.md
Labels: Content: Git

#29906 Working With Remotes lesson: moved workflow diagram to the next lesson
  git/intermediate_git/using_git_in_the_real_world.md
  git/intermediate_git/working_with_remotes.md
Labels: Content: Git

#29924 Forms and Data Handling: Fix knowledge check link
  nodeJS/express/forms_and_data_handling.md
Labels: Content: NodeJS

#29904 Rails Advanced Forms: Fix assignment link
  ruby_on_rails/advanced_forms_and_activerecord/forms_advanced.md
Labels: Content: Ruby on Rails

#29862 Rails Turbo Drive: Add knowledge check section with 7 questions
  ruby_on_rails/assets_and_navigation/turbo_drive.md
Labels: Content: Ruby on Rails

#29928 Rails Basic Associations: Update assignment reading range and knowledge check link
  ruby_on_rails/active_record_basics/basic_associations.md
Labels: Content: Ruby on Rails

#29902 HashMap Data Structure : Fixing grammatical error in text
  javascript/computer_science/hash_map_data_structure.md
Labels: Content: JavaScript
