Repository TheOdinProject/curriculum, pull requests merged in 2025-04, with the labels that each got.

#29572 Installing PostgreSQL: Remove outdated systemctl warning for WSL2
  ruby_on_rails/advanced_forms_and_activerecord/installing_psql.md
Labels: Content: Ruby on Rails

#29534 Variables and Operators: readability improved
  foundations/javascript_basics/variables_and_operators.md
Labels: Content: Foundations

#29574 Links and Images: Make code blocks clearer
  foundations/html_css/html-foundations/links-and-images.md
Labels: Content: Foundations

#29576 Remove duplicate "Revisiting Recipes" assignments
  foundations/html_css/css-foundations/block-and-inline.md
  foundations/html_css/css-foundations/the-cascade.md
Labels: Content: Foundations

#29584 NodeJS Routes lesson: Fix broken knowledge check link
  nodeJS/express/routing.md
Labels: Content: NodeJS

#29583 Foundations Text Editors: add instruction to disable Copilot AI code completion
  foundations/installations/text_editors.md
Labels: Content: Foundations

#29581 Binary Tree BST - JS/Ruby| Pass value instead of node in the height, depth methods
  javascript/computer_science/project_binary_search_trees.md
  ruby/computer_science/project_binary_search_trees.md
Labels: Content: JavaScript, Content: Ruby

#29582 Object basics: fix code clarity
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#29580 BST put more emphasize that balanced
  javascript/computer_science/project_binary_search_trees.md
  ruby/computer_science/project_binary_search_trees.md
Labels: Content: Ruby

#29595 docs(Objects_basics): modify grammar for more clarity
  foundations/javascript_basics/object_basics.md
Labels: Content: Foundations

#29601 ruby course, project management: fix a couple of grammatical errors
  ruby/object_oriented_programming_basics/managing_ruby_projects.md
Labels: Content: Ruby

#29625 Using Git in the Real World: Improve visibility for warning to not open practice PRs
  git/intermediate_git/using_git_in_the_real_world.md
Labels: Content: Git

#29609 Project Installing Rails: Add rails console tip
  ruby_on_rails/introduction/project_installing_rails.md
Labels: Content: Ruby on Rails

#29607 Data Types and Conditionals: Fix grammar
  foundations/javascript_basics/data_types_and_conditionals.md
Labels: Content: Foundations

#29599 React Router lesson: Fix catch-all question ambiguity
  react/the_react_ecosystem/react_router.md
Labels: Content: React

#29626 Foundations Installations Lesson: Add one resource link on "Additional Resources" section
  foundations/installations/installation_overview.md
Labels: Content: Foundations

#29135 Passing Data Between Components: Improve grammar and punctuation
  react/getting_started_with_react/passing_data_between_components.md
Labels: Content: React

#29654 Update installations.md
  foundations/installations/installations.md
Labels: Content: Foundations

#29649 Join The Odin Community: Clarified Github <> Discord instructions
  foundations/introduction/join_the_odin_community.md
Labels: Content: Foundations

#29648 Motivation and Mindset: Fix discord link
  foundations/introduction/motivation_and_mindset.md
Labels: Content: Foundations

#29633 Setting up Git: Changed the quotes on the email for the GIT
  foundations/installations/setting_up_git.md
Labels: Content: Foundations
